<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuanyi.vjwealth.wallet.mobile.rqjf.server.mapper.IAuctionMapper">

      <select id="queryProductList" parameterType="java.lang.String"  resultType="java.util.HashMap" >
			SELECT
				T.product_id as  productId,
				T.product_name as  title,
				T.current_price/10000 AS currentPrice,
				T.sold_out as  soldOut,
				T.home_pic_url as productPicUrl,
				DATE_FORMAT( T.end_date,'%Y-%m-%d')	as  endDate
			FROM rqb_auction_product_info T
			where T.is_shelves='yes'
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(productType)">
				AND T.product_Type in (${productType})
			</if>
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(auction)">
				AND T.auction in (${auction})
			</if>
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(location)">
				AND T.location in (${location})
			</if>
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(buyType)">
				AND T.buy_Type in (${buyType})
			</if>
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(auctionStatus)">
				AND T.auction_Status in (${auctionStatus})
			</if>
			
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(sort) and sort=='default'">
				order by t.sold_out asc,T.create_date desc
			</if>
			
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(sort) and sort=='price_desc'">
				order by t.sold_out asc,T.current_price desc
			</if>
			
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(sort) and sort=='price_asc'">
				order by t.sold_out asc,T.current_price asc 
			</if>
			
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(sort) and sort=='date_desc'">
				order by t.sold_out asc,T.create_date desc
			</if>
			
			<if test="@org.apache.commons.lang.StringUtils@isBlank(sort)">
				order by t.sold_out asc
			</if>
			LIMIT #{page},10
	</select>
	
	
	
	 <select id="queryProductDetail" parameterType="java.lang.String"  resultType="java.util.HashMap" >
			SELECT
				T.product_id AS productId,
				T.product_name AS title,
				T.pic_url as productPicList,
				get_city_name(T.location) AS location,
				T.current_price/10000 AS currentPrice,
				DATE_FORMAT(T.end_date, '%Y-%m-%d') AS endDate,
				T.raise_price AS raisePrices,
				T.guarantee_price AS guaranteePrice,
				T.evaluate_price AS evaluatePrices,
				T.start_price AS startPrice,
				T.auction_cycle AS auctionCycle,
				T.term,
				T.delayed_term AS delayTerm,
				T.auction_type AS auctionType,
				T.preferred_purchaser AS preferredPurchaser,
				T.bid_rules AS bidRules,
				T.disposal_unit AS disposalUnit,
				T.consultation_method AS consultationMethod,
				CONCAT(QUERY_PARAM_VALUE('rqb_project_url','rqb_param'),'/api/auction/product/bidAnnouncement/v1.0','?productId=',T.product_id) as bidAnnouncement,
				CONCAT(QUERY_PARAM_VALUE('rqb_project_url','rqb_param'),'/api/auction/product/introductionSubjectMatter/v1.0','?productId=',T.product_id) as introductionSubjectMatter,
				(SELECT	COUNT(1) FROM 	rqb_auction_apply t WHERE 	t.product_id = #{productId}) as reservationRecord,
				CASE WHEN T.sold_out = 'yes' THEN 	'over' WHEN canApply = 'no' THEN	'process'  ELSE 	'init' END AS applyStatus
			FROM
				rqb_auction_product_info T
			LEFT JOIN 
			(
				SELECT
					aa.product_id, CASE
				WHEN aa.apply_status = 'success'
				OR apply_status = 'process' THEN
					'no'
				ELSE
					'yes'
				END AS canApply
				FROM
					rqb_auction_apply aa
				WHERE
					aa.user_id = #{userId}
				AND aa.product_id = #{productId}
				order by aa.id desc
				limit 0,1
			) AS aply ON t.product_id = aply.product_id
			where t.product_id=#{productId}

	</select>
	
	
	 <select id="checkCanApply" parameterType="java.lang.String"  resultType="java.lang.Integer" >
			SELECT
				COUNT(1)
			FROM
				rqb_auction_apply aa
			WHERE
				aa.user_id = #{userId}
			AND aa.product_id = #{productId}
			and aa.apply_status in ('success','process')
	</select>
	
	
	
	 <select id="applyInit" parameterType="java.lang.String"  resultType="java.util.HashMap" >
			SELECT
				m.real_name AS realName,
				m.indentity_no AS idNo,
				m.phone AS phone
			FROM
				wj_user_info m
			WHERE
				m.id = #{userId}
	</select>
	
	
	
	<insert id="doApply" parameterType="com.zhuanyi.vjwealth.wallet.mobile.rqjf.server.dto.AuctionApplyDTO">
		INSERT INTO
		rqb_auction_apply(
			product_id,
			trade_no,
			apply_time,
			real_name,
			user_id,
			id_no,
			phone,
			apply_status,
			recommender_id,
			create_by,
			create_date
		)
		VALUES(
		 	#{productId},
		 	get_full_seq_nextval('AA','rqb_auction_apply_trade_no'),
		 	now(),
		 	#{realName},
		 	#{userId},
		 	#{idNo},
		 	#{phone},
		 	'process',
		 (SELECT w.recommended_user_id from wj_user_invite_info w where w.user_id=#{userId}),
			'SYSTEM',
			now()
		)
		
	</insert>
	
	<insert id="doApplyV2" parameterType="com.zhuanyi.vjwealth.wallet.mobile.rqjf.server.dto.AuctionApplyDTO">
		INSERT INTO
		rqb_auction_apply(
			product_id,
			trade_no,
			apply_time,
			real_name,
			user_id,
			id_no,
			phone,
			apply_status,
			recommender_id,
			create_by,
			create_date
		)
		VALUES(
		 	#{productId},
		 	get_full_seq_nextval('AA','rqb_auction_apply_trade_no'),
		 	now(),
		 	#{realName},
		 	#{userId},
		 	#{idNo},
		 	#{phone},
		 	'process',
			(select w.id from wj_user_info w where w.phone=#{recommendPhone}),
			'SYSTEM',
			now()
		)
		
	</insert>
	
	<select id="queryBannerInfo"   resultType="java.util.HashMap" >
			SELECT
				T.img_url AS imgUrl,
				T.webp_img_url AS webpImgUrl,
				T.is_click AS isClick,
				T.link_url AS linkUrl,
				T.content AS content,
				T.link_title AS linkTitle,
				T.type AS type,
				T.action_type AS actionType,
				T.sort AS sort,
				T.banner_type AS bannerType,
				T.mark AS mark
			FROM
				wj_advertisement_info T
			WHERE
				t.is_valid = 'yes'
			AND t.banner_type = 'auction'

	</select>
	
	
	
	
	<select id="queryBidAnnouncement"  parameterType="java.lang.String" resultType="java.lang.String" >
			SELECT
				t.bid_announcement AS content
			FROM
				rqb_auction_product_info t
			WHERE
				t.product_id = #{productId}

	</select>
	
	<select id="queryIntroductionSubjectMatter"  parameterType="java.lang.String" resultType="java.lang.String" >
			SELECT
				t.introduction_subject_matter AS content
			FROM
				rqb_auction_product_info t
			WHERE
				t.product_id = #{productId}

	</select>
</mapper>