<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuanyi.vjwealth.wallet.mobile.rqjf.server.mapper.IRqbCommonSequenceMapper">

	 <select id="getNextSequence" parameterType="java.lang.String"  resultType="java.lang.String" >
			
		select 	get_full_seq_nextval(#{pre},#{sequenceName})  		


	</select>
	
	
</mapper>