<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuanyi.vjwealth.wallet.mobile.rqjf.server.mapper.IFinanceMapper">
	
	

	<select id="queryPackageList" parameterType="java.lang.String" resultType="java.util.HashMap" >
		SELECT
			t.package_id as packageId,
			t.start_amount as startAmount,
			CONCAT('单笔投资',t.start_amount,'元即可使用'	) as brief,
			t.package_amount as packageAmount,
			CONCAT(t.start_time,'--',	t.end_time) AS validateTime,
			t.rel_order_no as relationOrder,
			CONCAT('在',TIMESTAMPDIFF(DAY,t.start_time,t.end_time),'天内有效, 任意标地均可使用') as description
		FROM
			rqb_package_info t
		WHERE
			t.user_id = #{userId}
		and t.is_valid='Y'
		
		<if test="@org.apache.commons.lang.StringUtils@isNotBlank(packageType) and packageType=='used'">
				and t.is_use='Y'
		</if>
		
		<if test="@org.apache.commons.lang.StringUtils@isNotBlank(packageType) and packageType=='nouse'">
				and t.is_use='N'
				and DATE_FORMAT(t.end_time,'%Y-%m-%d') &gt;= DATE_FORMAT(now(),'%Y-%m-%d') 
		</if>
		
		<if test="@org.apache.commons.lang.StringUtils@isNotBlank(packageType) and packageType=='old'">
				and t.is_use='N'
				and DATE_FORMAT(t.end_time,'%Y-%m-%d') &lt; DATE_FORMAT(now(),'%Y-%m-%d')
		</if>
		LIMIT #{page},10
	</select>
	
	<select id="queryCouponsList" parameterType="java.lang.String" resultType="java.util.HashMap" >
		SELECT
			t.coupons_id as couponsId,
			t.start_period_start as startPeriodStart,
			CONCAT('理财标的',t.start_period_start,'个月以上,任意金额,即可使用'	) as brief,
			t.add_profit as accrual,
			CONCAT(t.start_time,'--',	t.end_time) AS validateTime,
			t.rel_order_no as relationOrder,
			CONCAT('在',TIMESTAMPDIFF(DAY,t.start_time,t.end_time),'天内有效, 任意标地均可使用') as description
		FROM
			rqb_coupons_info t
		WHERE
			t.user_id = #{userId}
		and t.is_valid='Y'
		
		<if test="@org.apache.commons.lang.StringUtils@isNotBlank(couponType) and couponType=='used'">
				and t.is_use='Y'
		</if>
		
		<if test="@org.apache.commons.lang.StringUtils@isNotBlank(couponType) and couponType=='nouse'">
				and t.is_use='N'
				and DATE_FORMAT(t.end_time,'%Y-%m-%d') &gt;= DATE_FORMAT(now(),'%Y-%m-%d') 
		</if>
		
		<if test="@org.apache.commons.lang.StringUtils@isNotBlank(couponType) and couponType=='old'">
				and t.is_use='N'
				and DATE_FORMAT(t.end_time,'%Y-%m-%d') &lt; DATE_FORMAT(now(),'%Y-%m-%d')
		</if>
		LIMIT #{page},10
	</select>
	

	
	
</mapper>