<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuanyi.vjwealth.wallet.mobile.rqjf.server.mapper.IGreenMapper">
	
	

	<select id="countPackageRecord"  resultType="java.lang.Integer" >
			SELECT
				count(1)
			FROM
				rqb_package_info tt
			WHERE
				tt.user_id = #{userId}
			AND tt.channel_from = 'green'
	</select>
	

	<select id="countCouponsRecord"  resultType="java.lang.Integer" >
		select count(1) from rqb_coupons_info tt
		where tt.user_id=#{userId}
		  AND tt.channel_from = 'green'
	</select>
	
	<insert id="insertRqbPackageInfo" parameterType="java.lang.Object">
		INSERT INTO
		rqb_package_info(
			user_id,
			package_id,
			package_amount,
			start_amount,
			start_time,
			end_time,
			is_use,
			is_valid,
			channel_from,
			create_by,
			create_date
		)
		VALUES(
		 	#{userId},
			get_full_seq_nextval('PI','rqb_package_info_package_id'),
		 	#{packageAmount},
		 	#{startAmount},
		 	#{startTime},
		 	#{endTime},
		 	'N',
		 	'Y',
		 	#{channelFrom},
			'SYSTEM',
			now()
		)
	</insert>
	
	<insert id="insertCouponsInfo" parameterType="java.lang.Object">
		INSERT INTO
		rqb_coupons_info(
			user_id,
			coupons_id,
			add_profit,
			start_period_start,
			start_time,
			end_time,
			is_use,
			is_valid,
			channel_from,
			create_by,
			create_date
			)
		VALUES(
		 	#{userId},
		 	get_full_seq_nextval('CI','rqb_coupons_info_coupons_id'),
		 	#{addProfit},
		 	#{startPeriodStart},
		 	#{startTime},
		 	#{endTime},
		 	'N',
		 	'Y',
		 	#{channelFrom},
			'SYSTEM',
			now()
		)
	</insert>
	
	
	
	<select id="countLuckTimesRecord"  resultType="java.lang.Integer" >
		select  case when 
		-- 如果不存在 返回0
		(select COUNT(1) from rqb_lottery_user t where t.user_id=#{userId}) = 0 then '0'
		-- 存在返回真实次数
		ELSE  (select l.luck_times from rqb_lottery_user l where l.user_id=#{userId}) 
		END as lotteryTimes FROM dual
	</select>
	
	
	<select id="queryLotteryList"  resultType="java.util.HashMap" >
		select t.lottery_number,t.lottery_probability from rqb_lottery_info t
		where t.lottery_probability>0
		ORDER BY t.lottery_number asc
	</select>
	
	
	<update id="reduceLuckTimesByUserId" parameterType="java.lang.String">
		update rqb_lottery_user
		set luck_times=luck_times-1
		where user_id=#{userId}
	</update>
	
	
	<insert id="insertLotteryRecord" parameterType="java.lang.Object">
		INSERT INTO rqb_lottery_record (
			user_id,
			lottery_number,
			create_date,
			create_by
		)
		VALUES
		(
			#{userId},
			#{lotteryNumber},
			now(),
			'SYSTEM'
		)
	</insert>
	

	
	
	<select id="queryPackageList" parameterType="java.lang.String" resultType="java.util.HashMap" >
		SELECT
			t.package_id,
			t.start_amount,
			CONCAT('单笔投资',t.start_amount,'元即可使用'	) as brief,
			t.package_amount,
			CONCAT(t.start_time,'--',	t.end_time) AS validateTime,
			t.rel_order_no,
			CONCAT('在',TIMESTAMPDIFF(DAY,t.start_time,t.end_time),'天内有效, 任意标地均可使用') as description
		FROM
			rqb_package_info t
		WHERE
			t.user_id = #{userId}
		and t.is_valid='Y'
		and t.is_use=#{isUse}
	</select>
	

	
	
</mapper>