<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuanyi.vjwealth.wallet.mobile.rqjf.server.mapper.ILoanMapper">
	
	
	<select id="applyInit"  parameterType="java.lang.String" resultType="java.util.HashMap">
		SELECT
			m.real_name AS realName,
			m.indentity_no AS idNo,
			m.phone AS phone,
		   IFNULL(apply.apply_status ,'init')as applyStatus,
		   case when IFNULL(apply.apply_status ,'init') = 'init' then ''
		   when apply.apply_status='process' then '尊敬的用户|您已成功申请,工作人员将会与你联系'
			when apply.apply_status='fail'  then message
			end as 
		   message
		FROM
			wj_user_info m LEFT JOIN (
			SELECT
				aa.user_id,aa.apply_status,aa.error_message as message
			FROM
				rqb_loan_apply aa
			WHERE
				aa.user_id =#{userId}
			AND aa.product_type=#{productType}
		ORDER BY aa.id desc
		LIMIT 0,1
		)  apply
		on m.id=apply.user_id
		where m.id=#{userId}
	</select>
	
	 <select id="checkCanApply" parameterType="java.lang.String"  resultType="java.lang.Integer" >
				SELECT
					COUNT(1)
				FROM
					rqb_loan_apply aa
				WHERE
					aa.user_id = #{userId}
				AND aa.product_type = #{productType}
				and aa.apply_status in ('process')
	</select>
	
	<insert id="doApply" parameterType="com.zhuanyi.vjwealth.wallet.mobile.rqjf.server.dto.LoanApplyDTO">
		INSERT INTO
		rqb_loan_apply(
			trade_no,
			user_id,
			product_type,
			apply_time,
			real_name,
			id_no,
			phone,
			loan_amt,
			apply_status,
			recommender_id,
			error_message,
			remark,
			create_by,
			create_date
		)
		VALUES
		(
			get_full_seq_nextval('LA','rqb_loan_apply_trade_no'),
		 	#{userId},
		 	#{productType},
		 	now(),
		 	#{realName},
		 	#{idNo},
		 	#{phone},
		 	#{loanAmt},
		 	'process',
		 	(SELECT w.recommended_user_id from wj_user_invite_info w where w.user_id=#{userId}),
		 	#{errorMessage},
		 	#{remark},
			'SYSTEM',
			now()
		)
	</insert>
	
	<!-- 新增推荐人 -->
	<insert id="doApplyV2" parameterType="com.zhuanyi.vjwealth.wallet.mobile.rqjf.server.dto.LoanApplyDTO">
		INSERT INTO
		rqb_loan_apply(
			trade_no,
			user_id,
			product_type,
			apply_time,
			real_name,
			id_no,
			phone,
			loan_amt,
			apply_status,
			recommender_id,
			error_message,
			remark,
			create_by,
			create_date
		)
		VALUES
		(
			get_full_seq_nextval('LA','rqb_loan_apply_trade_no'),
		 	#{userId},
		 	#{productType},
		 	now(),
		 	#{realName},
		 	#{idNo},
		 	#{phone},
		 	#{loanAmt},
		 	'process',
		 	(select w.id from wj_user_info w where w.phone=#{recommendPhone}),
		 	#{errorMessage},
		 	#{remark},
			'SYSTEM',
			now()
		)
	</insert>
	
	<select id="queryBorrowList" parameterType="java.lang.Object"  resultType="java.util.HashMap" >
			SELECT
<!-- 				T.trade_no as  tradeNo, -->
<!-- 				T.user_id as  userId, -->
				T.loan_id as  loanId,
				T.loan_amt as  borrowAmt,
				T.loan_term as  term,
<!-- 				T.repay_type as  repayType, -->
			 	DATE_FORMAT( T.start_date,'%Y-%m-%d')	as  startTime,
			 	DATE_FORMAT( T.end_date,'%Y-%m-%d')	as  endTime
<!-- 				T.is_valid as  isValid -->
			FROM rqb_loan_info T
			WHERE T.user_id= #{userId}
			  and T.is_valid='Y'
			LIMIT #{page},10
	</select>
	
	
	<select id="queryRepayPlan" parameterType="java.lang.String"  resultType="java.util.HashMap" >
			SELECT
				T.principal as  borrowAmt,
				T.interest as  interest,
				T.term as  term,
			 	DATE_FORMAT( T.repay_date,'%Y-%m-%d')	as  repayDate
			FROM rqb_loan_repay T
			WHERE T.loan_id= #{loanId}
	</select>
	
	<select id="queryBannerInfo"   resultType="java.util.HashMap" >
			SELECT
				T.img_url AS imgUrl,
				T.webp_img_url AS webpImgUrl,
				T.is_click AS isClick,
				T.link_url AS linkUrl,
				T.content AS content,
				T.link_title AS linkTitle,
				T.type AS type,
				T.action_type AS actionType,
				T.sort AS sort,
				T.banner_type AS bannerType,
				T.mark AS mark
			FROM
				wj_advertisement_info T
			WHERE
				t.is_valid = 'yes'
			AND t.banner_type = 'loan'
	</select>

</mapper>