<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuanyi.vjwealth.wallet.mobile.paymentpassword.server.mapper.PaymentPasswordMapper">

		
		<!-- 查询支付密码状态 -->
		<select id="queryPaymentPasswordState" parameterType="java.lang.String" resultType="com.zhuanyi.vjwealth.wallet.mobile.paymentpassword.server.dto.FilterValidatorPaymentPasswrodDTO">
		    
		    SELECT 
			    if(count(rr.id) = 0 or QUERY_PARAM_VALUE('vj_payment_password_switch','wallet_payment_password') = 'close','close',rr.state) as state,
				QUERY_PARAM_VALUE('vj_payment_password_max_input_frequency','wallet_payment_password')-rr.payment_validation_failures as validationLeftTimes,
				QUERY_PARAM_VALUE('vj_authorization_form_validation_max_input','wallet_payment_password')-rr.authorization_form_validation_failures	as authorizationLeftTimes 
			from wj_payment_password rr
			where 
			rr.user_id = #{userId}
			AND rr.switch = 'open'
		   
		</select>
		
		
		<!-- 校验支付密码 -->
		<select id="checkPaymentPassword" parameterType="java.lang.String" resultType="com.zhuanyi.vjwealth.wallet.mobile.paymentpassword.server.dto.CheckPaymentPasswordDTO">
		   SELECT
				CASE WHEN password = #{password} THEN 'true'
			    ELSE 'false' END as result,
			    payment_validation_failures as failures,
			    -- 根据失败次数及可尝试次数，判断是否锁定账户
                (QUERY_PARAM_VALUE('vj_payment_password_max_input_frequency','wallet_payment_password')-(payment_validation_failures+1)) as lockFlag
			FROM
				wj_payment_password
			WHERE
				user_id = #{userId}
		   
		</select>
		
		<!-- 校验用户，安全卡卡号，身份证号是否匹配 -->
		<select id="validatorPaymentPasswrodAuthorize" parameterType="java.lang.String" resultType="com.zhuanyi.vjwealth.wallet.mobile.paymentpassword.server.dto.ValidatorPaymentPasswrodAuthorizeDTO">
		
			select 
	        if(rr.result > 0 AND rr.failures &lt; QUERY_PARAM_VALUE('vj_authorization_form_validation_max_input','wallet_payment_password') ,'true','false') as  result,
				  rr.failures as failures,		  
				  (QUERY_PARAM_VALUE('vj_authorization_form_validation_max_input','wallet_payment_password')-rr.failures-1) as lockFlag	     
				from 
				(SELECT count(1) as  result,
	                    IFNULL((SELECT authorization_form_validation_failures from wj_payment_password where user_id = #{userId}),'0') as failures
							FROM
								wj_user_info wi,
								wj_trade_account_card tc
							WHERE
								wi.id = #{userId}
							AND wi.indentity_no = #{identityNo}
							AND tc.user_id = wi.id
							AND tc.bank_card_no = #{paymentCardNo}
							AND tc.card_type = 'security'
	              
				) rr
		
		</select>
		
		<!-- 查询用户手机号 -->
		<select id="queryUserPhoneByUserId" parameterType="java.lang.String" resultType="java.lang.String">
		    SELECT
				phone
			FROM
				wj_user_info 
			WHERE
				id = #{userId}
			
		</select>
		
		<!-- 查询是否启用支付密码 -->
		<select id="queryUserPaymentPasswordSwitch" parameterType="java.lang.String" resultType="java.lang.String">
		   select 
			  CASE WHEN (SELECT COUNT(1) from wj_payment_password where user_id = #{userId} AND switch = 'open') > 0 THEN 'yes'
			  ELSE 'no'
			  END
		   from DUAL
			
		</select>
		
		
		
		<!-- 查询用户支付密码信息 -->
		<select id="queryUserPaymentPasswordInfo" parameterType="java.lang.String" resultType="java.util.Map">
		    
		   SELECT 
			
			CASE WHEN count(rr.id) > 0 AND rr.state = 'normal' THEN '201200'								
                WHEN count(rr.id) > 0 AND rr.state = 'lock' AND (QUERY_PARAM_VALUE('vj_authorization_form_validation_max_input','wallet_payment_password')-rr.authorization_form_validation_failures=0) THEN '201203'
								WHEN count(rr.id) > 0 AND rr.state = 'lock' AND (QUERY_PARAM_VALUE('vj_payment_password_max_input_frequency','wallet_payment_password')-rr.payment_validation_failures=0) THEN '201202'								
								ELSE '201201' END AS paymentPasswordStatusCode,
			CASE WHEN count(rr.id) > 0 AND rr.state = 'normal' THEN '已设置'
								WHEN count(rr.id) > 0 AND rr.state = 'lock' THEN '已锁定'
								ELSE '未设置' END AS paymentPasswordStatusDescription,
			CASE WHEN count(rr.id) > 0 AND rr.state = 'lock' AND (QUERY_PARAM_VALUE('vj_authorization_form_validation_max_input','wallet_payment_password')-rr.authorization_form_validation_failures=0) THEN '支付密码已经锁定，请联系客服 | 关闭  | 联系客服'        
								WHEN count(rr.id) > 0 AND rr.state = 'lock' AND (QUERY_PARAM_VALUE('vj_payment_password_max_input_frequency','wallet_payment_password')-rr.payment_validation_failures=0) THEN '支付密码已经锁定 |  关闭  | 解锁支付密码'								
								ELSE '' END AS paymentPasswordDialog
			from wj_payment_password rr
			where 
			rr.user_id = #{userId}
			AND rr.switch = 'open'
		   
		</select>
		
		

</mapper>
