<script type="text/template" data-tpl="tpl-main-view">
	<#
		
		var singleData = self.initData.singleData;
		var personData = singleData.basicPersonalInformation;
		var jobData = singleData.jobInformation;
		var detailData = singleData.detailPersonalInformation;
		var cacheFormData = self.initData.cacheFormData;
		var cacheSocial = self.initData.cacheSocial;
		var cacheFund = self.initData.cacheFund;
		
		var formData = $.extend({
			name : personData.name,
			identity : personData.identity,
			gender : personData.gender,
			education : personData.education,
			maritalStatus : personData.maritalStatus,
			
			workCity : jobData.workCity,
			workUnit : jobData.workUnit,
			monthlyIncome : jobData.monthlyIncome,
			
			bankCardNumber : detailData.bankCardNumber,
			fundAccount : detailData.fundAccount,
			fundAccountPassword : detailData.fundAccountPassword,
			socialSecurityAccount : detailData.socialSecurityAccount,
			socialSecurityAccountPassword : detailData.socialSecurityAccountPassword,
			
			borrowCode : singleData.borrowCode,
			
			//自动获取，无需用户输入填写
			equipmentNumber : "",
			equipmentIp : "",
			osType : platform.os.family,
			osVersion : platform.os.version,
			isAgent : "0",
			agentIp : ""
			
		}, cacheFormData, cacheFund, cacheSocial);
		console.log(formData);
		
		
	#>
	<!--V信贷完善个人资料-->
	<section class="completeInfor border-box pt10">
		<form id="improveForm">
			<input type="hidden" name="name" value="<# print(formData.name); #>">
			<input type="hidden" name="identity" value="<# print(formData.identity); #>">
			<input type="hidden" name="gender" value="<# print(formData.gender); #>">
			
			<input type="hidden" name="equipmentNumber" value="<# print(formData.equipmentNumber); #>">
			<input type="hidden" name="equipmentIp" value="<# print(formData.equipmentIp); #>">
			<input type="hidden" name="osType" value="<# print(formData.osType); #>">
			<input type="hidden" name="osVersion" value="<# print(formData.osVersion); #>">
			<input type="hidden" name="isAgent" value="<# print(formData.isAgent); #>">
			<input type="hidden" name="agentIp" value="<# print(formData.agentIp); #>">
			
			<input type="hidden" name="fundAccount" <# if(formData.fundAccount != "请输入公积金信息"){ #> value="<# print(formData.fundAccount); #>" <# } #>>
			<input type="hidden" name="fundAccountPassword" value="<# print(formData.fundAccountPassword); #>">
			<input type="hidden" name="borrowCode" value="<# print(formData.borrowCode); #>">
			<input type="hidden" name="socialSecurityAccount" <# if(formData.socialSecurityAccount != "请输入社保信息"){ #> value="<# print(formData.socialSecurityAccount); #>" <# } #>>
			<input type="hidden" name="socialSecurityAccountPassword" value="<# print(formData.socialSecurityAccountPassword); #>">
			
			
			
			<div class="ulwrap">
				<ul class="commonLinkUl smallpadul ">
					<li class="noborder">
						<p class="tt">
							<# print(singleData.basicPersonalInformationTitle); #>
							<span class="stepicon"></span>
						</p>
						<p class="line-dot"></p>
					</li>
					<li class="multirows">
						<div class="table">
							<div class="cell">
								<P><# print(personData.nameLabel); #></P>
								<P><# print(personData.identityLabel); #></P>
								<P><# print(personData.genderLabel); #></P>
							</div>
							<div class="cell ta-r">
								<p class="color_blue"><# print(formData.name); #></p>
								<p class="color_blue"><# print(formData.identity); #></p>
								<p class="color_blue"><# print(formData.gender); #></p>
							</div>
						</div>
					</li>
					<li class="hasarrow" id="handle-education"> 
						<div class="table">
							<div class="cell">
								<p><# print(personData.educationLabel); #></p>
							</div>
							<div class="cell ta-r">
								<input 
									readonly="readonly"
									id="inp-education" 
									name="education"
									type="text"
									data-empty="请选择"
									class="color_gray" 
									value="<# print(formData.education); #>"
								>
							
								
							</div>
						</div>
					</li>
					<li class="hasarrow" id="handle-maritalStatus">
						<div class="table">
							<div class="cell">
								<p><# print(personData.maritalStatusLabel); #></p>
							</div>
							<div class="cell ta-r">
								<input 
									readonly="readonly"
									id="inp-maritalStatus" 
									name="maritalStatus"
									type="text"
									data-empty="请选择"
									class="color_gray" 
									value="<# print(formData.maritalStatus); #>"
								>
								 
							</div>
						</div>
					</li>
				</ul>
				<p class="leftline"> </p>
			</div>
			<div class="ulwrap">
				<ul class="commonLinkUl smallpadul mt10">
					<li class="noborder">
						<p class="tt">
							<# print(singleData.jobInformationTitle); #>
							<span class="stepicon step2 step2_dis"></span><!--当激活时请去掉step2_dis-->
						</p>
						<p class="line-dot"></p>
					</li>
					<li class="hasarrow" id="handle-workCity">
						<div class="table">
							<div class="cell">
								<P><# print(jobData.workCityLabel); #></P>
							</div>
							<div class="cell ta-r">
								<input 
									readonly="readonly"
									id="inp-workCity" 
									name="workCity"
									type="text"
									data-empty="请选择"
									class="color_gray" 
									value="<# print(formData.workCity); #>"
								>
							</div>
						</div>
					</li>
					<li>
						<label class="table" for="inp-workUnit">
							<div class="cell ul_tt">
								<p><# print(jobData.workUnitLabel); #></p>
							</div>
							<div class="cell ta-r ul_inputwrap">
								<input type="text" class="color_gray" id="inp-workUnit" name="workUnit" value="<# print(formData.workUnit); #>" placeholder="请输入您的工作单位" />
							</div>
						</label>
					</li>
					<li class="hasarrow edit">
						<label class="table" for="inp-monthlyIncome">
							<div class="cell ul_tt">
								<p><# print(jobData.monthlyIncomeLabel); #></p>
							</div>
							<div class="cell ta-r ul_inputwrap">
								<input type="text" class="color_gray"  id="inp-monthlyIncome" name="monthlyIncome"  value="<# print(formData.monthlyIncome); #>" placeholder="<# print(jobData.monthlyIncomeInputTip); #>" />
							</div>
						</label>
					</li>
				</ul>
				<p class="leftline"> </p>
			</div>
			<div class="ulwrap">
				<ul class="commonLinkUl smallpadul mt10">
					<li class="noborder">
						<p class="tt">
							<# print(singleData.detailPersonalInformationTitle); #>
							<span class="stepicon step3 step3_dis"></span><!--当激活时请去掉step3_dis-->
						</p>
						<p class="line-dot"></p>
					</li>
					<# if(detailData.isShowAddBankCard == "true"){ #>
					<li  class="hasarrow"  id="handle-bankCardNumber"  >
						<div class="table">
							<div class="cell">
								<p><# print(detailData.bankCardNumberLabel); #></p>
							</div>
							<div class="cell ta-r">

								<input 
									readonly="readonly"
									id="inp-bankCardNumber" 
									name="bankCardNumber"
									type="text"
									data-empty="<# print(detailData.bankCardNumber); #>"
									value="<# print(formData.bankCardNumber); #>"
									class="color_gray <# if(formData.bankCardNumber == "此银行卡不支持借款，请重新绑卡"){#> f11 <# } #>" 
								>
							
							</div>
						</div>
					</li>
					<# }else{ #>
					<li>
						<div class="table">
							<div class="cell">
								<p><# print(detailData.bankCardNumberLabel); #></p>
							</div>
							<div class="cell ta-r">
								<input readonly="readonly" class="color_gray"  name="bankCardNumber" value="<# print(self.getBankName(detailData.bankCardNumber)); #>">
							</div>
						</div>
					</li>					
					<# } #>
					<li class="hasarrow" id="handle-fundAccount">
						<div class="table">
							<div class="cell">
								<P><# print(detailData.fundAccountLabel); #></P>
							</div>
							<div class="cell ta-r">
								<input 
									readonly="readonly"
									id="inp-fundAccount" 
									name="fundAccount"
									type="text"
									data-empty="请输入公积金信息"
									class="color_gray" 
									value="<# print(formData.fundAccount); #>"
								>

							</div>
						</div>
					</li>
					<li class="hasarrow" id="handle-socialSecurityAccount">
						<div class="table">
							<div class="cell">
								<P><# print(detailData.socialSecurityAccountLabel); #></P>
								
							</div>
							<div class="cell ta-r">
								<input 
									readonly="readonly"
									id="inp-socialSecurityAccount" 
									name="socialSecurityAccount"
									type="text"
									data-empty="请输入公积金信息"
									class="color_gray" 
									value="<# print(formData.socialSecurityAccount); #>"
								>
							
							</div>
						</div>
					</li>
				</ul>
			</div>
			<p class="f12 color_blue mt10 pl10"><# print(singleData.dataFillTip); #></p>
			<div class="downbtn">
				<input type="submit" class="ui-button" id="btnSubmit" g-act-tap="true" value="确认提交" disabled="disabled">
			</div>
		</form>
	</section>
	
	<ul id="maritalStatusList" style="display:none">
		<# $.each(personData.maritalStatusSelection, function(i, o){ #>
		<li data-name="<# print(o.value); #>"><# print(o.value); #></li>
		<# }); #>
	</ul>	
	
	 
	<ul id="areaList" style="display:none">
		<# $.each(jobData.workCitySelection, function(i, o){ #>
		<li data-name="<# print(o.value); #>"><# print(o.value); #></li>
		<# }); #>
	</ul>	
	
	<ul id="educationList" style="display:none">
		<# $.each(personData.educationSelection, function(i, o){ #>
		<li data-name="<# print(o.value); #>"><# print(o.value); #></li>
		<# }); #>
	</ul>	

	<ul id="bankList" style="display:none">
		<# $.each(detailData.bankCards, function(i, o){ #>
		<li data-name="<# print(o.bankName); #>" data-status="maintain" data-bank-code="<# print(o.bankCode); #>" data-val="<# print(o.bankCardNumber); #>"></li>
		<# }); #>
		<# if(detailData.isShowAddBankCard == "true"){ #>
		<li data-name="添加银行卡" data-val="add"></li>
		<# } #>
	</ul>	
	
	
</script>
<div class="page"></div>