<script type="text/template" data-tpl="tpl-main-view">
	<#
		var list = self.initData.records;
	#>
	<section class="navlistwrap border-box">
		<ul class="navlist">
			<!--
			<li>
				<a class="inner">
					<img src="static/img/goldfish/fish_banner1.jpg">
					<p class="downbox"> 立即使用 </p>
				</a>
			</li>
			-->
			<# $.each(list, function(i, o){ #>
				<# if(o.productTypeCode == "P2016061200010001"){ #>
				<li data-tap-path="<# print(self.createURL("goldFish/index", {productTypeCode : o.productTypeCode})); #>" data-json="<# print ( self.htmlspecialchars(self.json_encode(o)) ); #>">
					<a class="inner">
						<img src="<# print(o.productTypeIntroductionPictureURL); #>">
						<p class="downbox"> <# print(o.buttonTextMessage); #> </p>
					</a>
				</li>
				<# } #>
			<# }); #>
		</ul>
		<div class="mt15 ta-c f12" data-tap-path="<# print(self.aboutTimeWalletPath); #>">
			<em class="icon_tips"></em>
			<span class="color_orange">
				<# print(self.initData.timeWalletLabel); #>
			</span>
		</div>
	</section>
</script>
<div class="page"></div>