<script type="text/template" data-tpl="tpl-main-view">
	<#
		var o = self.initData;
	#>
	<!--V信贷首页-->
	<section class="loan">
		<div class="about" id="aboutBtn">
			<img src="<# print(o.applyStepPictureURL); #>">
		</div>
		<# if(o.code == "201703"){ #>
		<span class="firstcome color_blue" ><# print(o.applyFeedbackInformation); #></span>
		<# }else if(o.code == "201701"){ #>
		<span class="firstcome color_orange"   id="applyErrorBtn"><# print(o.applyFeedbackInformation); #></span>
		<# }else if(o.code == "201702"){#>
		<span class="firstcome color_gray2"><# print(o.applyFeedbackInformation); #></span>
		<# } #>
		
		<p class="mt10 ta-c f12"><# print(o.protocolSpecification); #></p>
		<p class="ta-c f12 mt2">
			<a class="color_blue2" id="protocolBtn"><# print(o.protocolName); #></a>
		</p>
		<p class="downbtn">
			<input type="submit" id="applyBtn" <# if(o.code == "201702"){ #>disabled="disabled"<# } #>  class="ui-button" g-act-tap="true" value="<# print(o.buttonTextMessage); #>">
		</p>
	</section>
</script>
<div class="page"></div>