<script type="text/template" data-tpl="tpl-main-view">
	<div class="inforSubmit-response">
		<div class="msg-wrap">
			<div class="state " style="background:url('<# print(self.getParam("iconURL")); #>') center center no-repeat; background-size:100% 100%;">
				 
			</div>
			<div class="f16 color_black ta-c mt20"><# print(self.getParam("message")); #></div>
			<div class="color_gray ta-c mt10"><# print(self.getParam("feedbackInformation")); #></div>
		</div>
		<div class="btn-bar">
			<span g-act-tap="true" id="btnSubmit" class="btn ui-button">完成</span>
		</div>
	</div>
</script>
<div class="page"></div>
