<script type="text/template" data-tpl="tpl-main-view">
	
	<div class="recharge-bind">
		<form id="bind-form">
			<p class="amount-bar">
				请输入验证信息，设定新的支付密码
			</p>
			
			
			<div class="b-box">
			
				<label class="item" for="f-paymentCardNo">
					<div class="item-wrap fix">
						<div class="col-r">
							<div class="con">
								<div class="gray-tip"><input name="paymentCardNo" id="f-paymentCardNo" maxlength="24" placeholder="请输入完整的银行卡号" type="tel" class="inp-text"></div>
							</div>
						</div>
						
						<div class="col-l">
							<span class="text bank">安全卡卡号</span>
						</div>
					</div>
				</label>
				
				<label class="item" for="f-identityNo">
					<div class="item-wrap fix">
						<div class="col-r">
							<div class="con">
								<div class="gray-tip"><input name="identityNo"  placeholder="请输入本人身份证号" maxlength="18" type="text" class="inp-text"></div>
							</div>
						</div>
						
						<div class="col-l">
							<span class="text bank">身份证号</span>
						</div>
					</div>
				</label>
				
				<label class="item" for="f-cardBindMobilePhoneNo">
					<div class="item-wrap fix">
						<div class="col-r">
							<div class="con">
								<span class="tip"><# print(self.initData.phone); #><span>
							</div>
						</div>
						
						<div class="col-l">
							<span class="text bank">您绑定的手机号为</span>
						</div>
					</div>
				</label>
				
				<div class="item" >
					<div class="item-wrap fix">
						<div class="col-r">
							<div class="con">
								<div class="gray-tip"><input name="code" maxlength="6" type="tel" id="f-code" placeholder="请输入验证码" type="text" class="inp-text"></div>
								<span class="code-btn" id="code-btn"  g-act-tap="true">发送验证码</span>
							</div>
						</div>
						
						<div class="col-l">
							<span class="text bank">验证码</span>
						</div>
					</div>
				</div>
			</div>
			
			<div class="tip-bar">
				如无法收到手机验证码，请选择<span id="code-btn2" class="code-btn2">语音验证码</span>
			</div>
			
			
			<div class="btn-bar">
				<input type="submit" value="验证信息" g-act-tap="true" id="btn-submit" class="ui-button">
			</div>
		</form>
	</div>
</script>
<div class="page"></div>
