<script type="text/template" data-tpl="tpl-main-view">
	<div class="passwd-box">
		<div class="handle">支付密码</div>
		<div class="item">
			<div class="item-wrap fix">
				<span class="text">支付密码</span>
				<span class="state-wrap" id="stateBtn">
					<span class="state  <# if(self.initData.isSetted){ #>state-on<# }else{ #>state-off<# } #>"></span>
				</span>
			</div>
		</div>
	</div>
	
	<div class="passwd-box" id="passwdMenuList" style="display: <# if(self.initData.isSetted) {#> block <# }else{ #> none  <# } #>;">
		<div class="handle">修改支付密码</div>
		<div class="item" g-act-tap="true" data-act="editPayPasswd">
			<div class="item-wrap fix">
				<span class="text">我记得原支付密码</span>
				<span class="arrow-r"></span>
			</div>
		</div>
		<div class="item" g-act-tap="true" data-tap-path="account/payPasswdForget">
			<div class="item-wrap fix">
				<span class="text">我不记得原支付密码</span>
				<span class="arrow-r"></span>
			</div>
		</div>
	</div>
</script>
<div class="page"></div>