<script type="text/template" data-tpl="tpl-main-view">
	<div class="passwd-input-bar">
		<p class="tip" id="tip-0">请输入6位数字支付密码</p>
		<p class="tip" style="display:none;" id="tip-1">请再次输入6位数字支付密码</p>
		<div class="show-input fix" id="showInput">
			<div class="box">
				<div class="box-wrap">
					<span style="display:none;" class="dot"></span>
					<span class="split"></span>
				</div>
			</div>
			<div class="box">
				<div class="box-wrap">
					<span style="display:none;"  class="dot"></span>
					<span class="split"></span>
				</div>
			</div>
			<div class="box">
				<div class="box-wrap">
					<span style="display:none;"  class="dot"></span>
					<span class="split"></span>
				</div>
			</div>
			<div class="box">
				<div class="box-wrap">
					<span style="display:none;"  class="dot"></span>
					<span class="split"></span>
				</div>
			</div>
			<div class="box">
				<div class="box-wrap">
					<span style="display:none;"  class="dot"></span>
					<span class="split"></span>
				</div>
			</div>
			<div class="box">
				<div class="box-wrap">
					<span style="display:none;"  class="dot"></span>
				</div>
			</div>
		</div>
	</div>
	
	<div class="passwd-keybox" id="passwdKeybox">
		
		<div class="list list-1 fix">
			<div class="item item-1" data-number="1" data-act="input">
				<div class="item-wrap fix">
					<span class="number">1</span>
					<span class="split"></span>
				</div>
			</div>	
			<div class="item item-2" data-number="2" data-act="input">
				<div class="item-wrap fix">
					<span class="number">2</span>
					<span class="split"></span>
				</div>
			</div>	
			<div class="item item-3" data-number="3" data-act="input">
				<div class="item-wrap fix">
					<span class="number">3</span>
				</div>
			</div>	
		</div>
		
		<div class="list list-2 fix">
			<div class="item item-1" data-number="4" data-act="input">
				<div class="item-wrap fix">
					<span class="number">4</span>
					<span class="split"></span>
				</div>
			</div>	
			<div class="item item-2" data-number="5" data-act="input">
				<div class="item-wrap fix">
					<span class="number">5</span>
					<span class="split"></span>
				</div>
			</div>	
			<div class="item item-3" data-number="6" data-act="input">
				<div class="item-wrap fix">
					<span class="number">6</span>
				</div>
			</div>	
		</div>
		
		<div class="list list-3 fix">
			<div class="item item-1" data-number="7" data-act="input">
				<div class="item-wrap fix">
					<span class="number">7</span>
					<span class="split"></span>
				</div>
			</div>	
			<div class="item item-2" data-number="8" data-act="input">
				<div class="item-wrap fix">
					<span class="number">8</span>
					<span class="split"></span>
				</div>
			</div>	
			<div class="item item-3" data-number="9" data-act="input">
				<div class="item-wrap fix">
					<span class="number">9</span>
				</div>
			</div>	
		</div>
		
		<div class="list list-4 fix">
			<div class="item item-1  delete-wrap" data-act="delete">
				<div class="item-wrap fix">
					<span class="split"></span>
				</div>
			</div>	
			<div class="item item-2" data-number="0" data-act="input">
				<div class="item-wrap fix">
					<span class="number">0</span>
					<span class="split"></span>
				</div>
			</div>	
			<div class="item item-3 submit-wrap" >
				<input class="btn" type="button" id="submitBtn" disabled="disabled" value="确定">
			</div>	
		</div>
		
	</div>	
</script>
<script type="text/template" data-tpl="successTip">
	<div class="success-dialog">
		<div class="success-icon"></div>
		<div class="text">
			<# print(msg); #>
		</div>
	</div>
</script>

<div class="page"></div>