<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhuanyi.vjwealth.wallet.mobile.common.server.mapper.IResourceVersionMapper">

	<select id="queryCurrentAppVersion" parameterType="java.lang.String"  resultType="com.zhuanyi.vjwealth.wallet.mobile.common.dto.AppVersionDTO" useCache="false">
		SELECT
			T.is_update as  isUpdate,
			T.is_force_update as  isForceUpdate
		FROM wj_device_version T
		WHERE version=#{appVersion}
		and type=#{type}
	</select>
	
	<select id="queryNewestAppVersion" parameterType="java.lang.String"  resultType="com.zhuanyi.vjwealth.wallet.mobile.common.dto.AppVersionDTO" useCache="false">
		SELECT
			T.content as  content,
			T.url as  url,
			T.version
		FROM wj_device_version T
		WHERE
			t.type =#{type}
		ORDER BY create_date DESC
		LIMIT 0, 1
	</select>

	<select id="queryCurrentAppVersionForSHQB" parameterType="java.lang.String"  resultType="com.zhuanyi.vjwealth.wallet.mobile.common.dto.AppVersionDTO" useCache="false">
		SELECT
		is_update as  isUpdate,
		is_force_update as  isForceUpdate
		FROM shqb_device_version
		WHERE version = #{appVersion}
		and type = #{type}
		and app_type = #{appType}
	</select>

	<select id="queryNewestAppVersionForSHQB" parameterType="java.lang.String"  resultType="com.zhuanyi.vjwealth.wallet.mobile.common.dto.AppVersionDTO" useCache="false">
		SELECT
		content as  content,
		url as  url
		FROM shqb_device_version
		WHERE
		type = #{type}
		and app_type = #{appType}
		ORDER BY create_date DESC
		LIMIT 0, 1
	</select>

    
</mapper>