<script type="text/template" data-tpl="tpl-main-view">
	<section class="passport-wrap">
		<div class="intro">
			<img src="<# print(_g_dir.static_dir); #>img/passport/intro.png">
		</div>
		<article class="money-text">您可根据自身条件提供各类不动产抵押物（住宅、商铺、写字楼），满足不同额度的借款或资金周转需求。</article>
	</section>
	<div class="middle">
		<section class="loan-middle">
			<div class="middle-title">工资易贷申请流程</div>
			<div class="fix">	
				<div class="middle-img"><img src="<# print(_g_dir.static_dir); #>img/passport/interview.png"><p>预约到店</p><p>10分钟速审</p></div>
				<div class="middle-logo"><img src="<# print(_g_dir.static_dir); #>img/passport/span.png"></div>
				<div class="middle-img"><img src="<# print(_g_dir.static_dir); #>img/passport/big.png"><p>标准化</p><p>审批流程</p></div>
				<div class="middle-logo"><img src="<# print(_g_dir.static_dir); #>img/passport/span.png"></div>
				<div class="middle-img"><img src="<# print(_g_dir.static_dir); #>img/passport/hand.png"><p>审批成功</p><p>立刻放款</p></div>
			</div>
		</section>
	</div>
	<div class="bottom">
		<section class="bottom-loan">
			<ul>
				<li class="fix">
					<span class="bottom-loan-img"><img src="<# print(_g_dir.static_dir); #>img/passport/money1.png"></span>
					<span class="bottom-loan-list">超低费率：</span>
					<span class="bottom-loan-list1">月综合费率低至1.25%</span>
				</li>
				<li class="fix">
					<span class="bottom-loan-img"><img src="<# print(_g_dir.static_dir); #>img/passport/shine.png"></span>
					<span class="bottom-loan-list">闪电放款：</span>
					<span class="bottom-loan-list1">审批成功后2小时内放款到账</span>
				</li>
				<li class="fix">
					<span class="bottom-loan-img"><img src="<# print(_g_dir.static_dir); #>img/passport/clock2.png"></span>
					<span class="bottom-loan-list">期限灵活：</span>
					<span class="bottom-loan-list1">支持多种借款期限&nbsp;随借随还</span>
				</li>
				<li class="fix">
					<span class="bottom-loan-img"><img src="<# print(_g_dir.static_dir); #>img/passport/room.png"></span>
					<span class="bottom-loan-list">二次抵押：</span>
					<span class="bottom-loan-list1">支持房产二次抵押</span>
				</li>
				
			</ul>
		</section>
	</div>
	<div class="btn-bar">
		<a g-act-tap="true" class="btn" href="#salaryLoan/reserve">在线预约</a>
		<!--
		<input type="button" class="btn" g-act-tap="true"  data-tap-path="salaryLoan/reserve" value="在线预约">
		-->
	</div>
</script>
<div class="page"></div>