<script type="text/template" data-tpl="tpl-main-view">
	<form id="regform">
		<input type="hidden" name="userId" value="<# print(self.appUserId ? self.appUserId : ( self.userData ? self.userData.userId : "" )); #>">
		<section class="container-1">
			<div class="container-text">
				<img src="<# print(_g_dir.static_dir); #>img/passport/char.png">
			</div>
		</section>
		<div class="container-atitle1">
			<div class="middledou">
				<div class="container-atitle">*目前该产品只支持上海区域</div>
			</div>	
		</div>	
		<section class="container-mid fix">
			<div class="middledou">
				<div class="logo2"><img src="<# print(_g_dir.static_dir); #>img/passport/telphone.png"></div>
				<div class="logo-text">
					<ul>
						<li class="li">如有疑问，请直接联系财富顾问</li>
						<li>联系电话：<a href="tel:4000078655">400-0078-655</a></li>
					</ul>
				</div>
				<div class="logo-img"><img src="<# print(_g_dir.static_dir); #>img/passport/money.png"></div>
			</div>
		</section>
		<section class="container-middle">
			<div class="middle row-2 fix">
				<div class="middledou">
					<img src="<# print(_g_dir.static_dir); #>img/passport/person1.png">
					<div class="middle1">姓名</div>
					<input  class="intext" name="userName" type="text" maxlength="20" placeholder="请输入姓名">
				</div>	
			</div>
			<div class="middle fix ">
				<div class="middledou">
					<img  id="phone" src="<# print(_g_dir.static_dir); #>img/passport/phone.png">
					<div class="middle1">联系电话</div>
					<input  class="intext" name="phone" type="tel" maxlength="11" placeholder="请输入手机号码">
					
				</div>	
			</div>
			<div class="middle fix top">
				<div class="middledou">
					<img  id="letter" src="<# print(_g_dir.static_dir); #>img/passport/letter.png">
					<div class="middle1">验证码</div>
					<input class="intext" name="code" type="tel" maxlength="6" placeholder="请输入验证码">
					<span id="code-btn" g-act-tap="true" class="verification-code">发送验证码</span>
				</div>	
			</div>
			<div  class="btn-bar">
				<input class="ui-button btn" id="btn-submit" g-act-tap="true" type="submit" value="马上申请">
			</div>
		</section> 
	</form>

		
		
	
</script>
<script type="text/template" data-tpl="successDialog">
	<div class="window" >
		<div class="window-logo">
			<img src="<# print(_g_dir.static_dir); #>img/passport/yes.png">
		</div>
		<p class="window-logo1">预约成功</p>
		<p class="window-logo2">客服人员会在稍后与您电话联系</p>
	</div>
</script>
<div class="page"></div>