@charset "utf-8";

.focus-container{ position:fixed;left:0;top:0; width:100%; z-index:10; padding-top:31.406%; }
.focus-container .wrap{width:100%; height:100%; padding-top:0;  position:absolute; left:0;top:0; }
.focus-container-blank{padding-top:31.406%; margin-bottom:7px;}


.picture{width: 90%;margin:0px auto;padding-top: 31.406%;position: relative;}
.picture img{width: 100%;height: 100%;position: absolute;left:15px;top:30px}
.investinvest{width: 100%;height:174px;margin-top: 7px;border-top: 2px solid #ccc;border-bottom: 2px solid #ccc; position: relative;}
.command{width:100%;height:187px;}
.invest{width: 100%;height:163px;margin-top: 7px;border-top: 2px solid #ccc;border-bottom: 2px solid #ccc;}
.investment{width: 100%;height:33px;line-height: 33px;float:left;}
.leftstart{width:78px ;height:24px;float:left;}
.left{width:78px ;height:24px;margin-left:18px;font-size:14px;color:#4AC0F0;padding-left: 4px ;font-weight:bold;}
.shu{height:16px;border-left:3px solid #4AC0F0;float:left;margin:8px 0 0 8px;}
.right{width: 72px;height:24px;margin-right: 13px; float:right;color:#9B9B9B;}
.right1{width: 56px;height: 24px;float: left;line-height: 24px;}
.right2{width:12px;height:24px;float:right;}
.right2 img{width:10px;height:17px;}

.platform-intro{background:url(../../../img/index/bg.png) 0 0 repeat; padding:0 40px;border-top:1px solid #F2F2F2; border-bottom:1px solid #F2F2F2; padding:20px 40px;}
.platform-intro ul{}
.platform-intro li{margin-bottom:20px; }
.platform-intro .thumb{float:left;width:106px; margin-left:-100%;}
.platform-intro .desc{float:left;width:100%; }
.platform-intro .desc .con{ padding-top:4px; margin-left:106px;}
.platform-intro .desc .title{line-height:21px; font-size:14px;color:#5d7a8d; }
.platform-intro .desc .text{line-height:17px;font-size:12px; color:#9b9b9b; }
.blank{height:17px;}


.recommend{border-top:1px solid #f2f2f2; border-bottom:1px solid #f2f2f2;  background:#fff; padding:0 20px 10px; margin-bottom:6px;}
.recommend .handle{height:34px; line-height:34px; overflow:hidden; position:relative;}
.recommend .handle .split{width:3px; height:15px; overflow:hidden; background:#4AC0F0;position:absolute; left:0; top:9px;}
.recommend .handle .title{color:#4ac0f0; padding-left:15px;}
.recommend .handle .more{position:absolute;right:0; top:0; height:34px; line-height:34px; color:#b1b1b1; padding-right:16px; background:url(../../../img/arrow-r.png) right center no-repeat; background-size:7px 15px; }

.recommend .content{}
.recommend .con-1{ position:relative; padding-top:31.25%; }
.recommend .con-1 img{position:absolute; left:0; top:0; width:100%; height:100%; }

.recommend-container{z-index:9;margin-bottom:20px;border-top:1px solid #f2f2f2; border-bottom:1px solid #f2f2f2;padding-top:0; height:164px; position:relative;}
.recommend-container .wrap .pagination{bottom:-17px}
.recommend-container .wrap .pagination span{width:4px; height:4px; overflow:hidden; border-radius:2px;}
.recommend-container .wrap .pagination .swiper-active-switch{background:#4AC0F0;}

.recommend-container .content{height:130px;}
.recommend-container .recommend{border:0;}
.recommend-container .con{box-shadow:0 0 5px #E5E5E5; padding:6px 10px; }
.recommend-container  .c-handle{ margin-bottom:8px; height:40px; font-size:15px; padding-left:20px; color:#fff; line-height:40px; border-radius:5px 5px 0 0;}
.recommend-container  .c-handle-red{background:#fc6876;}
.recommend-container  .c-handle-orange{background:#ffbe30;}
.recommend-container  .c-handle-gray{background:#c3c3c3;}

.recommend-container .col{float:left;}
.recommend-container .col-l{width:38%;box-sizing:border-box; padding-left:20px;}
.recommend-container .col-m{width:30%;}
.recommend-container .col-r{width:32%;float:right;}

.recommend-container .attr{font-size:12px;line-height:22px;  }
.recommend-container .value{font-size:14px;line-height:36px; color:#9b9b9b;}
.recommend-container .percent{font-size:18px!important; color:#ffbd30; }


@media only screen and (max-width:350px){
	.recommend-container .value{font-size:12px;}
}

