<script type="text/template" data-tpl="tpl-main-view">
	<div class="page-invest-recordList">
		<# if(self.recordList.length == 0){ #>
		<div class="no-data">暂无投资记录</div>
		<# }else{ #>
		<ul class="list">
			<# $.each(self.recordList, function(i, o){ #> 
			<li>
				<div class="item-wrap fix">
					<div class="col-l">
						<p class="phone"><# print(o.phone); #></p>
						<p class="time"><# print(o.investmentTime); #></p>
					</div>
					<div class="col-r"><# print(o.investmentAmount); #></div>
				</div>
			</li>
			<# }) #>
		</ul>
		<# } #>
	</div>
</script>


<div class="page">
	<div class="main-view"></div>
</div>

