@charset "utf-8";
/**
 * e账户首页new
*/
.border-box{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.flex-box{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex}
.f12{font-size: 12px;}
.f16{font-size: 16px;}
.f24{font-size: 24px;}
.f40{font-size: 40px;}
.spcialpad{padding:15px 20px;}
.color_blue{ color:#5d7a8d; }
.color_orange{color:#f5a623;}
.color_blue3{color:#b8cdd6;}
.color_gray{color:#9b9b9b;}
.mt10{margin-top:10px;}
.mt5{margin-top: 5px;}
.mr5{margin-right: 5px;}
.qaul{margin-top: 10px;}
.qaul li{background: #fff;border-bottom: solid 1px #f2f2f2;border-top: solid 1px #f2f2f2;}
.qatt{height: 50px;line-height: 50px;padding-left: 20px;position: relative;color: #000;}
/*
.qatt:after{content: ""; background:url(../../../img/arrow-down.png) 0 100% no-repeat; width:14px; height:7px; background-size:100% 100%; position: absolute;right:20px; top:50%;margin-top: -3px; }
.about .qatt:after{background:none;}
.turnup:after{transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg)}
*/
.answer{}
.answer .inner{margin-left:20px;padding: 15px 0 10px 0;}
.answer dl{width:100%;display: table; padding-right: 20px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.answer dl dt,.answer dl dd{display: table-cell;color:#5d7a8d; vertical-align:top;}
.answer dl dt{width:100px;}
.answer dl dt p,.answer dl dd p{margin-bottom:10px;}
.solidline{border-top: solid 1px #f2f2f2; height: 0;font-size: 0; margin-left:20px;}
.answer dl dt p{ color:#4a4a4a; }
.cqghomett{background:url(../../../img/icon_page.png) no-repeat 20px 50%;background-size:18px 19px;padding-left: 50px; font-size: 16px;}
.cqghomett2{background:url(../../../img/icon_guan.png) no-repeat 20px 50%;background-size:20px 18px;padding-left: 50px; font-size: 16px;}
.cqghomett3{background:url(../../../img/icon_book2.png) no-repeat 20px 50%;background-size:18px 19px;padding-left: 50px; font-size: 16px;}

.midicon{width:100%;padding-bottom: 20px;}
.midicon .block{width:25%; text-align: center; float: left;color:#5d7a8d;font-size: 12px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.midicon .block img{max-width: 80px;}
.midicon .block:nth-child(1){text-align: right;}
.midicon .block:nth-child(4){text-align: left;}
.midicon .block span{display: inline-block; width:80px;text-align: center;}
.topshow{background: url(../../../img/hometop_bg.jpg) no-repeat 50% 0; height: 204px;background-size: 100% 204px; position: relative;color:#fff;}
.topshow .billlist{position:absolute; left: 0; top:0;display: block;width:90px;height:70px;padding:20px 0 0 20px; color:#fff;}
.topshow .bigprice{padding:40px 0; text-align: center;}
.topshow .downprice{padding:0 20px; width:100%; display: table; position: absolute;bottom:0;}
.topshow .downprice .cell{display: table-cell;width:50%; padding:15px 0; vertical-align: middle;font-size: 16px; text-align: center;}
.topshow .downprice .cell .f14{font-size: 14px;}
.topshow .line_col{border-left: solid 1px #6ddefc; height: 30px; width:0;font-size: 0;position: absolute;left: 50%;bottom:20px;}
.commonitems{padding:20px;width:100%;display:table;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background: #fff; border-bottom: solid 1px #f2f2f2;border-top:solid 1px #f2f2f2;}
.commonitems .cell{display: table-cell;vertical-align: middle;}
.arrowWrap{position: relative;padding:19px 40px 19px 20px; background-color:#fff;border-bottom: solid 1px #f2f2f2;}
.arrowWrap.g-act-taped{background:#f6f6f6;}
.arrowWrap .icon_arrow{background:url(../../../img/arrow-r.png) 100% 0 no-repeat; width:7px; height:15px; background-size:100% 100%; position: absolute;right:20px; top:50%;margin-top: -8px;}
.percent{height: 32px;background: url(../../../img/percent.png) no-repeat 50% 50%; background-size: 9px 10px;width:11px;}
.rightPercent{color:#5d7a8d; font-size: 0;}
.rightPercent *{vertical-align: middle;display: inline-block; height: 32px; line-height: 32px;margin-left: 2px;}
.rightPercent .pNum{width:20px; height: 32px; background:url(../../../img/percent_bg.png) repeat-x; border-radius: 3px;font-size: 24px; text-align: center;}
.eAccounthome{ /*padding-bottom: 48px;*/ }
.bottom-bar{ padding:15px 20px;}
.bottom-bar .btn{ text-align:center; display:block; border-radius:5px; line-height:40px; height:40px; box-sizing:border-box; font-size:17px;}
.bottom-bar .transfer-in{background:#4AC0F0;color:#fff; margin-bottom:12px;}
.bottom-bar .transfer-out{background:#fff; color:#43c0f2; border:1px solid #42C0F2;}


.answer .ouradvwrap{margin-right: 20px;padding:15px 0;}
.ouradv_table{width: 100%;border-left: solid 1px #c4eff8; border-top: sold 1px #c4eff8;}
.ouradv_table th ,.ouradv_table td{text-align: center;border-right: solid 1px #c4eff8;border-bottom: solid 1px #c4eff8;font-size: 12px;}
.ouradv_table th{background: #d3f5ff;color:#5d7a8d;font-weight: normal;padding:5px 8px; text-align: left;}
.ouradv_table th.col1{padding:5px 5px;}
.ouradv_table td{padding:5px 0;white-space: nowrap;}
.ouradv_table .tt{background: #f0fcff;color:#5d7a8d;padding:5px 5px;}
.company_intro{padding: 15px 20px;color: #5d7a8d;line-height: 1.5em;}

@media only screen and (max-width: 320px)
{
.midicon .block:nth-child(1){position: relative;left: 7px;}
.midicon .block:nth-child(2){position: relative;left: 1px;}
.midicon .block:nth-child(3){position: relative;right: 1px;}
.midicon .block:nth-child(4){position: relative;right:7px;}
.ouradv_table th.col1,.ouradv_table th.col2{width:23%;}
}
@media (min-width:320px) and (max-width:414px){
.midicon .block:nth-child(2){padding-left: 1%;}
.midicon .block:nth-child(3){padding-right: 1%;}
}
@media only screen and (min-width: 390px){
.ouradv_table th{text-align:center;}
}
@media only screen and (min-width: 414px){
.midicon .block:nth-child(1){text-align: center;}
.midicon .block:nth-child(2){text-align: center;}
.midicon .block:nth-child(3){text-align: center;}
.midicon .block:nth-child(4){text-align: center;}
}
