@charset "utf-8";
/**
 * e账户首页
*/
.preview,.list,.list .item-wrap{border-bottom:1px solid #f2f2f2;}
.preview{background:#fff;padding-top:20px;box-sizing:border-box; height:170px; /* position:fixed; left:0;top:0;width:100%; */}
.preview .con{ overflow:hidden; height:126px; text-align:center; background:url(../../../img/receive.png) center center no-repeat; background-size:auto 126px;} 
.preview .con .tip{line-height:26px;font-size:14px;margin-top:21px; height:26px; overflow:hidden; color:#5d7a8d;}
.preview .con .text{line-height:39px; height:39px; overflow:hidden; font-size:31px; color:#4AC0F0; }

.eaccount{font-size: 14px;padding-bottom:48px;}
.eaccount *, .eaccount *:before,.eaccount *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.color-blue{ color:#5d7a8d; }
.color-gray{ color:#c5c3c3; }
.mt8{ margin-top: 8px; }
.mb8{margin-bottom: 8px;}
.ml8{margin-left: 8px;}
.ml10{margin-left: 10px;}
.f16{font-size: 16px;}
.f12{font-size: 12px;}
em,i{font-style: normal; }
.preview-salary{ position:relative;}
.preview-salary .toplink{ position:absolute; left: 0; top:0;display: block;width:90px;height:70px;padding:20px 0 0 20px;}
.preview-salary .toplink *{ vertical-align: middle; line-height: 15px; }
.icon-bill{display: inline-block;width:16px; height: 15px; background: url(../../../img/zhangdan.png) no-repeat; background-size: 100% auto;}
.icon-bill2{display: inline-block;width:23px;height:23px; background:url(../../../img/icon_gongzi.png) no-repeat; background-size: 100% auto;}
.billitems{ width:100%; display: table; border-bottom: solid 1px #f2f2f2; border-bottom: solid 1px #f2f2f2; position:relative; padding-right:40px; padding-left: 20px; background-color: #fff;}
.billitems.g-act-taped{background:#f6f6f6;}
.billitems .cell{ display: table-cell; vertical-align: middle; height:58px; }
.hasarrow:after{content: ""; background:url(../../../img/arrow-r.png) 0 0 no-repeat; width:7px; height:15px; background-size:100% 100%; position: absolute;right:20px; top:50%;margin-top: -8px; }
.billitems2{border-top: solid 1px #f2f2f2;}
.salaryrow *{ display: inline-block; line-height: 23px; vertical-align: middle; }
.salaryul{padding: 8px 0;display: table;width:100%;border-top: solid 1px #f2f2f2;border-bottom: solid 1px #f2f2f2;background-color: #fff; margin-top: 8px;}
.salaryul li{width:50%; display:table-cell; height:42px;text-align: center; vertical-align: middle;}
.salaryul li:nth-child(2n+1){border-right:solid 1px #f2f2f2;}
.bottom-bar{border-top:1px solid #f2f2f2;}
.bottom-bar{height:48px; line-height:48px; position:fixed; left:0;bottom:0;width:100%; z-index: 1000; background:#fff; }
.bottom-bar .btn{width:50%;float:left; height:48px; position:relative; text-align:center;color:#4ac0f0; font-size:16px;}
.bottom-bar .split{background:#f2f2f2;width:1px; position:absolute;top:8px; bottom:8px; right:0; overflow:hidden;}
.bottom-bar-blank{height:49px;}
.angle-top{display:inline-block;border:solid 4px #4ac0f0; line-height: 0; border-width:4px 5px; border-color:#fff #fff #4ac0f0 #fff;}
hr {display: block;height: 1px;border: 0;border-top: 1px solid #f2f2f2;padding: 0;}
.tabnav{ width:100%;border-bottom: solid 1px #f2f2f2;background-color: #fff;display: table;}
.tabnav a{ display:table-cell; width:50%; text-align: center; vertical-align:middle; height:58px;vertical-align: middle; position: relative;color:#d8d8d8;}
.tabnav a .inner{ display: block; position: relative;z-index: 1000;}
.tabnav a .inner em{display: block;}
.tabnav a .tt{font-size: 12px;}
.tabnav a hr{ display: none;border-top:solid 2px #4ac0f0; position: absolute; bottom: 0; left: 0;width:100%; }
.tabnav a .angle-top{display:none; position: absolute; left: 50%;bottom:2px; margin-left:-2px;}
.tabnav a.active{color: #4a4a4a; }
.tabnav a.active hr{ display: block; }
.tabnav a.active .angle-top{display:inline-block;}
.tabnav a.active .tt{color:#5d7a8d;}
.cartwrap, .cartwrap *{box-sizing:content-box!important;}
.cartwrap{ height: 240px; /*padding:35px 35px 75px;*/ padding-top:16px; background-color: #fff; /*position: relative;*/ }
.cartwrap .chart-wrap{position:relative; width:100%; padding-top:50%; margin-bottom:16px; }
.cartwrap .chart-wrap iframe{position:absolute; left:0;top:0;width:100%; height:100%; }
.cartwrap .cart{height: 100%; width: 100%;}
.cartwrap .downtabnav{ text-align: center; font-size: 0; /* position: absolute; bottom: 35px; left:0; */ width: 100%; }
.cartwrap .downtabnav a{ display: inline-block;width:70px; height: 16px;line-height: 16px; font-size: 9px; color:#4AC0F0; background-color: #f2f2f2;  }
.cartwrap .downtabnav a:nth-child(2){ margin:0 6px; }
.cartwrap .downtabnav a.active{ background-color: #4ac0f0; color:#f2f2f2; }
