@charset "utf-8";
/**
 * 累计收益 昨日收益
*/
.preview,.list,.list .item-wrap{border-bottom:1px solid #f2f2f2;}
.preview{background:#fff;padding-top:20px;box-sizing:border-box; height:170px; /* position:fixed; left:0;top:0;width:100%; */}
/*.preview .con{ overflow:hidden; height:126px; text-align:center; background:url(../../../img/receive.png) center center no-repeat; background-size:auto 126px;} */
.preview .con{ overflow:hidden; height:126px; text-align:center;} 
.preview .con .tip{line-height:26px;font-size:14px;margin-top:21px; height:26px; overflow:hidden; color:#5d7a8d;}
.preview .con .text{overflow:hidden; font-size:44px; color:#4AC0F0; }
.preview-blank{height:170px; }
.list{background:#fff;}
.list .item{padding-left:14px;}
.list .item:last-child .item-wrap{border-bottom:0;}
.list .item-wrap{ height:70px; overflow:hidden; padding:0 22px 0 5px;}
.list .item  .col-l{float:left;}
.list .item  .date{font-size:14px;color:#9b9b9b;display:block; line-height:70px;}
.list .item .money{float:right;font-size:24px; line-height:70px; }