<script type="text/template" data-tpl="tpl-main-view">
	<#
		var detail = self.initData.detail;
		 
	#>
	<section class="border-box">
		<div class="getmoneytop">
			<a class="backToTask" data-tap-path="<# print(self.createURL("goldFish/taskCard")) #>">
				<span class="icon_task"></span>
				<span class="color_blue2">任务卡</span>
			</a>
			<div class="inner">
				<div class="ta-c">
					<a href="#goldFish/about" class="about-fish color_blue">
						<span><# print(detail.availableCreditLabel); #></span>
						<span class="icon_qa"></span>
					</a>
				</div>
				<div class="topprice <# if(detail.availableCreditStatus == "false"){ #> turngray <# } #>">   <!-- 蓝色文字去掉turngray -->
					<span class="unit">￥</span>
					<span><# print(detail.availableCredit); #></span>
				</div>
				<div class="mt10 ta-c f12">  <!-- 已完成任务时候显示 -->
					<em class="icon_tips"></em>
					<span class="color_blue">
						<# print(detail.availableCreditDescription); #>
					</span>
					<# if(detail.availableCreditStatus == "true"){ #> 
					<font class="color_orange">
						<# print(Number(( Number(detail.dailyInterestRate) * 100).toFixed(3)) ); #>%
					</font>
					<# } #>
				</div>
			</div>
			<div class="downnav border-box" data-tap-path="<# print(self.createURL("goldFish/taskCard")) #>">
				<div class="table">
					<# $.each(detail.taskList, function(i, o){ #>
					<div class="cell <# if(o.taskState == "completion" && o.isRepeatTask != "true"){ #> turngray  <# } #>  ">  <!-- 当未达成时候去掉turngray -->
						<div class="innerblock">
							<span class="icon_nav"><img src="<# print(o.taskIcon); #>" style="width:20px; height:16px; "></span>
							<p>+<# print(o.taskPrize); #></p>
							<# if(o.isRepeatTask != "true"){ #>
							<p class="done" style="background-image:url('<# print(o.taskCompletionMarkURL); #>');"></p>
							<# } #>
							<# if(o.taskCode == "social_security_fund" && (o.taskState == "completeMedium" || o.taskState == "completeFail" ) ){ #>
							<p class="redCircle"></p>
							<# } #>
							<# if(o.isRepeatTask == "true" && o.taskCompletionTimes != "0"){ #>
							<p class="roundNum"><# print(o.taskCompletionTimes); #></p>
							<# } #>
						</div>
					</div>
					<# }); #>
					
				</div>
			</div>
		</div>
		<# if(detail.isHaveInvertmentRecord == "true"){ #>
		<div class="commonitems mt10 hasarrow" g-act-tap="true" data-tap-path="goldFish/myInvest">
			<div class="table">
				<div class="cell">
					<span class="icon_fish"></span>
					<span>我的小金鱼</span>
				</div>
			</div>
		</div>
		<# } #>
		<div class="product-view">
			<div id="page-data" class="list-wrap">
				<# print(self.render("investList", {
					list : self.investList,
					init : true
				})); #>
			
			</div>
		</div>
		
	</section>

</script>

<script type="text/template" data-tpl="investList">
	<# if(list.length > 0){ #>
		<# if(init){ #>
		<div class="widget-task-list list">
		<# }; #>
		
			<# $.each(list, function(i, o){ 
				var id = o.productId;
			#>
			<div  class="invest-item" data-invest-id="<# print(id); #>">
				<div class="top">
					<div class="title"><span><# print(o.productCode); #></span></div>
					<div class="con">
						<div class="rate-bar fix">
							<span class="rate">
								<# print(Number(( Number(o.annualYield) * 100).toFixed(2)) ); #>%
							</span>
							<span class="text">年化收益</span>
							<# if(o.insuranceCompanyURL){ #>
							<span class="icon_insurance" style="background-image:url('<# print(o.insuranceCompanyURL); #>');"></span>
							<# } #>
						</div>
						
						<div class="meta-1">
							<# print(o.remainTermAndAmount); #>
						</div>
						<div class="meta-2 fix">
							<span class="col icon-1"><# print(o.interestDate); #></span>
							<span class="col icon-2"><# print(o.repayment); #></span>
						</div>
					</div>
					<div class="progress-bar" id="progress-bar-<# print(id); #>">
						<canvas id="cvs-<# print(id); #>" width="80" height="80" class="cvs"></canvas>
						<div class="alpha">
							<div class="text-bar">
								<div class="s-1 s-percent">0%</div>
								<div class="s-2 ">已认购</div>
							</div>
						</div>
					</div>
				</div>
				<div class="bottom"></div>
				<span class="state" style="background:url('<# print(o.productSalesOrNewPersonMarkURL); #>')  0 0 no-repeat ; background-size:76px 71px;">
					&nbsp;
				</span>
			</div>
			<#  });  #>
		<# if(init){ #>
		</div>
		<# } #>
			
	<# }else{ #>
		<# if(init){ #>
		<div class="widget-no-data">
			<div class="img"></div>
			<p class="text">暂无投资项目</p>
		</div>
		<# } #>
	<# } #>
</script>

<div class="page"></div>