<script type="text/template" data-tpl="tpl-main-view">
	<#
		var o = self.initData;
	#>
	<section class="border-box invest" id="initInvest">
		<form id="f-form">
			<div class="commonitems">
				<div class="table">
					<div class="cell">投资金额</div>
					<div class="cell">
						<input type="number" class="inputtxt" name="investmentAmount" id="f-investmentAmount" data-max="<# print(o.availableBalance); #>" data-min="<# print(o.fromInvestmentAmount); #>" data-mol="<# print(o.incrementAmount); #>" min="0.01"  step="0.01" placeholder="<# print(o.availableBalancePlaceholderTip); #>" />
					</div>
				</div>
			</div>
			<div class="plr20 mt2">
				<span class="icon_tips"></span>
				<span class="color_blue f12" id="t-inputBottomTipContents"><# print(o.inputBottomTipContents); #></span>
			</div>
			<div class="bg_fff mt15">
				
				<div class="mid_tablewrap" id="t-product">
					<# 
						print(self.render("renderProduct", {
							product : o.product
						})); 
					#>
				

				</div>
				
				
				<p class="line_dot mt15"></p>
				<div class="down_tablewrap" id="t-detailInformation">
					<# print(self.render("renderDetailInformation", { list : o.detailInformation})); #>
				</div>
			</div>
			<div class="down_tips" id="t-investmentTip"><# print(o.investmentTip); #></div>
			<div class="downbtn border-box mt20">
				<input type="submit" id="btn-submit" disabled="disabled" value="确认" g-act-tap="true" class="ui-button">
			</div>
			<div class="ta-c contract color_orange" id="t-contractLabel" data-tap-path="<# print(self.createURL("goldFish/investmentContractTemplate", {productId : self.productId, contractTitle : o.contractTitle})); #>" data-url="<# print(o.contractURL); #>"><# print(o.contractLabel); #></div>
			<input type="hidden" name="token" id="f-token" value="<# print(o.token); #>">
			<input type="hidden" name="productId" id="f-productId" value="<# print(self.productId); #>">
		</form>			
	</section>
</script>
<script type="text/template" data-tpl="renderDetailInformation">
	<# $.each(list, function(i, o){ #>
	<div class="table">
		<div class="cell">
			<p><# print(o.label); #></p>
		</div>
		<div class="cell color_blue ta-r">
			<p><# print(o.value); #></p>
		</div>
	</div>
	<# }); #>

</script>
<script type="text/template" data-tpl="renderProduct">
	<div class="items">
		<div class="leftcell">
			<p class="f18 color_blue" id="t-productName"><# print(product.productName); #></p>
		</div>
		<div class="rightcell">
			<p class="color_blue" id="t-remainingInvestmentLabel"><# print(product.remainingInvestmentLabel); #></p>
		</div>
	</div>
	<div class="items">
		<div class="leftcell">
			<p class="color_blue"  id="t-productCode"><# print(product.productCode); #></p>
		</div>
		<div class="rightcell">
			<p class="color_orange f18"  id="t-remainingInvestment"><# print(product.remainingInvestment); #>元</p>
		</div>
	</div>
</script>
<div class="page">
	
	<div class="main-view"></div>
</div>

