<script type="text/template" data-tpl="tpl-main-view">
	<section class="taskCard border-box" id="page-data-wrap">
		<div class="billlist" id="page-data">
			<# print(self.render("investList", {
				list : self.investList,
				init : true
			})); #>

		</div>
	</section>
</script>


<script type="text/template" data-tpl="investList">
	<# if(list.length > 0){ #>
		<# if(init){ #>
		
		<ul class="billul">
		<# }; #>
			
			<# $.each(list, function(i, o){ #>
			<li>
				<div class="table">
					<div class="cell">
						<p><#print(o.phone)#></p>
						<p class="time"><#print(o.investmentTime)#></p>
					</div>
					<div class="cell">
						<p class="price"><#print(o.investmentAmount)#></p>
					</div>
				</div>
			</li>

			<# }); #>
			
			
		<# if(init){ #>
		</ul>
		<# } #>
		
	<# }else{ #>
		<# if(init){ #>
			<div class="widget-no-data">
				<div class="img"></div>
				<p class="text">暂无记录</p>
			</div>
		<# }else{ #>
		<# } #>
	<# } #>
</script>

<div class="page">
	<div class="main-view"></div>
</div>

