<script type="text/template" data-tpl="tpl-main-view">
	<#
		var o = self.initData;
	#>
	<div class="topinforwrap">
		<div class="topinfor fix">
			<div class="lefttt">
				<p>投资项目</p>
				<p>保险凭证</p>
			</div>
			<div class="rightwords">
				<p><# print(o.productCode); #></p>
				<p><# print(o.insurancePolicyNumber); #></p>
			</div>
		</div>
	</div>
	<div class="wuliu">
		<# if(o.dynamicList.length>0){ #>
			<# $.each(o.dynamicList,function(i,v){ #>
			<div class="dylamic-item">
				<p class="wuliu_tt">
					<span class="icon_rmb <# if(i>0){ #> icon_rmbGray <# } #>"></span>
				</p>
				<div class="block <# if(i + 1 == o.dynamicList.length && o.dynamicList.length != 1){ #> block_last <# } #>">
					<p class="tt <# if(i==0){ #> color_blue2 <# } #>"><# print(v.information); #></p>
					<p class="smallwords"><# print(v.time); #></p>
					<p class="smallwords"><# print(v.dynamicDescription); #></p>
				</div>
			</div>
			<#	}); #>	
		<# }else{ #>
			<div class="widget-no-data">
				<div class="img"></div>
				<p class="text">暂无记录</p>
			</div>
		<# } #>
	</div>

</script>
<div class="page"></div>

