<script type="text/template" data-tpl="tpl-main-view">
	<#
		var o = self.initData;
	
		var  dynamictUrl = self.createURL("goldFish/myInvestDynamic", {
			orderId : self.orderId
		});
		
		var  projectUrl = self.createURL("goldFish/investProject", {
			productId : o.product.productId	
		});

		var  repaymentPlanUrl = self.createURL("goldFish/myInvestRepaymentPlan", {
			orderId : self.orderId
		});

		var investmentContractUrl = self.createURL("goldFish/investmentContract", {
			orderId : self.orderId
		});


	#>

	<div class="investDetail border-box">

		<div class="topinforwrap">
			<p class="line-dot2" style="display:none;"></p>
			<div class="topinfor fix">
				<span class="icon_dolar"></span>
				<div class="top_right">
					<p class="tt"><#print(o.investmentStatusDescription)#></p>
					<p>投资本金：<#print(o.investmentPrincipal)#>元</p>
					<p>待收利息：<#print(o.interestReceived)#>元</p>
				</div>
			</div>
		</div>

		<ul class="commonLinkUl dynamicwrap">
			<li g-act-tap="true" data-tap-path="<# print(dynamictUrl); #>">
				<div class="table">
					<div class="cell">
						<p class="dynamictt">投资动态</p>
						<div class="dynamic">
							<p class="color_blue2"><#print(o.dynamicInformation)#></p>
							<p class="f12 color_gray mt2"><#print(o.dynamicTime)#></p>
							<span class="moneyicon"></span>
						</div>
					</div>
				</div>
				<span class="icon_arrow"></span>
			</li>
		</ul>

		<ul class="commonLinkUl downwarp">
			<li class="multirows">
				<div class="downtt arrowwrap" g-act-tap="true" data-tap-path="<# print(projectUrl); #>">
					<div class="inner">
						<p><#print(o.product.productCode)#></p>
						<span class="icon_arrow"></span>
					</div>
					<p class="line-dot"></p>
				</div>
				<div class="downinfor">
					<div class="table">
						<div class="cell">
							<p>年化收益</p>
							<p>项目期限</p>
							<p>回款方式</p>
						</div>
						<div class="cell ta-r color_blue">
							<p><#print(Number(( Number(o.product.annualYield) * 100).toFixed(2)) ); #>%</p>
							<p><#print(o.product.projectTerm)#></p>
							<p><#print(o.product.paymentWay)#></p>
						</div>
					</div>
					<div class="table">
						<div class="cell">
							<p>起息时间</p>
							<p>到期时间</p>
						</div>
						<div class="cell ta-r color_blue">
							<p><#print(o.product.fromInterestTime)#></p>
							<p><#print(o.product.expirationDate)#></p>
						</div>
					</div>

				</div>

				<#
					var type = o.insurancePolicyNumberShowActionType;
				#>
				<div class="outer safe <# if(type == "redirect_page" || type == "alert_tip"){  #> hasAarrow <# } #>" <# if(type == "redirect_page" || type == "alert_tip"){  #> g-act-tap="true" <# } #>>
					<div class="inner">
						<p><#print(o.insurancePolicyNumberTitle)#></p>
						<p class="f12 color_blue mt2"><# print(o.insurancePolicyNumberLabel); #>&nbsp;<# print(o.insurancePolicyNumber) #></p>
					</div>
				</div>

			</li>
		</ul>

		<ul class="commonLinkUl smallpadul mt10">
			<li  g-act-tap="true" data-tap-path="<# print(repaymentPlanUrl); #>">
				<div class="table">
					<div class="cell">
						回款计划
						<span class="icon_arrow"></span>
					</div>
				</div>
			</li>
			<li  g-act-tap="true" data-tap-path="<# print(investmentContractUrl); #>">
				<div class="table">
					<div class="cell">
						查看合同
						<span class="icon_arrow"></span>
					</div>
				</div>
			</li>
		</ul>
	</div>

</script>
<div class="page"></div>

