<script type="text/template" data-tpl="tpl-main-view">
	<#
		var o = self.initData;
		var contractPath = self.createURL("goldFish/loanContract", {
			url : o.contractURL,
			title : o.contractTitle,
			contractCode : o.contractCode,
			borrowCode : o.borrowCode
		});
	#>
	<!--借款详情-->
	<section class="loan nodownnav border-box">
		<ul class="commonLinkUl ">
			<li>
				<div class="table">
					<div class="cell">
						<P><# print(o.borrowAmountLabel); #></P>
					</div>
					<div class="cell ta-r">
						<p class="f24"><# print(o.borrowAmount); #></p>
					</div>
				</div>
			</li>
		</ul>
		<ul class="commonLinkUl loanDetail mt10">
			<li class="noborder">
				<# $.each(o.loanInfos, function(i,v){ #>
				<div class="table">
					<div class="cell"><# print(v.label); #></div>
					<div class="cell ta-r color_blue"><# print(v.value); #></div>
				</div>
				<# }); #>
			</li>
			<li class="loandetail">
				<p class="line-dot"></p>
				<p class="mb5"><# print(o.paymentRecordsLabel); #></p>
				<# $.each(o.paymentRecords, function(i,v){ #>
				<div class="table table_loanList">
					<div class="cell"><# print(v.repaymentDate); #></div>
					<div class="cell ta-r"><# print(v.repaymentAmount); #></div>
				</div>
				<# }); #>
			</li>
		</ul>
		<p data-tap-path="<# print(contractPath); #>" class="downtips"><span class="icon_tips"></span><span class="color_orange"><# print(o.contractLabel); #></span></p>
	</section>
</script>
<div class="page"></div>

