@charset "utf-8";
/**
 * v信贷借款
*/
.border-box{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.flex-box{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex}
.f9{font-size: 0.5625rem;}
.f10{font-size: 0.625rem;}
.f11{font-size: 0.6875rem;}
.f12{font-size: 0.75rem;}
.f16{font-size: 1.0rem;}
.f18{font-size: 1.125rem;}
.f20{font-size: 1.25rem;}
.f24{font-size:1.5rem;}
.fb{font-weight: bold;}
.color_blue{ color:#5d7a8d; }
.color_blue2{color:#4ac0f0; }
.color_gray2{ color:#c5c3c3; }
.color_gray{color: #a7a7a7;}
.color_gray3{color: #9b9b9b;}
.color_gray4{color:#f1f1f1;}
.color_orange{color:#f5a623;}
.color_black{color:rgb(74,74,74,1);}
.mt2{margin-top:0.125rem;}
.mt5{margin-top: 0.3125rem;}
.mt10{margin-top: 0.625rem;}
.mt15{margin-top: 0.9375rem;}
.mt20{margin-top: 1.25rem;}
.mb50{margin-bottom: 3.125rem;}
.mb80{margin-bottom: 5.0rem;}
.mb100{margin-bottom: 6.25rem;}
.plr20{padding: 0 1.25rem;}
.pb10{padding-bottom: 0.625rem;}
.pt10{padding-top: 0.625rem;}
.pt15{padding-top: 0.9375rem;}
.vm{vertical-align: middle;}
.loan{min-height: 100%;border-top: solid 1px #f2f2f2;font-size:0.875rem;padding-bottom:5.375rem;color:rgb(74,74,74,.8);}
.loan *{line-height: 1.5em;}
.nodownnav{padding-bottom: 0;}
.getmoneytop{background-color: #fff;position: relative;padding:1.875rem 1.25rem 4.6875rem;border-bottom: solid 1px #f2f2f2;}
.topprice{background: url(../../../img/line_six.png) repeat-x; background-size: auto 100%;text-align: center; overflow: hidden;margin-top: 0.625rem; }
.topprice,.priceInput input{ line-height: 2.75rem; font-size:2.75rem;color: #4ac0f0;}
.topprice{font-size:0;}
.topprice span{display: inline-block;line-height:4.25rem; vertical-align: bottom;font-size:2.75rem;}
.topprice .unit{font-size:1.875rem; position: relative;top:0.25rem;}
.topprice.turngray{color: #c5c3c4;}
.icon_tips{ width:0.75rem; height:0.75rem; background:url(../../../img/icon-tips.png) no-repeat; background-size:100% 100%; display:inline-block; margin-right:0.125rem;position: relative;top:0.0625rem;}
.icon_tips2{background-image: url(../../../img/icon-tips2.png);}
.downbtn{margin:1.25rem 1.25rem 0; padding-bottom: 1.25rem;}
.downbtn .ui-button{display: block;width:100%;}
.downnav{position:fixed; width: 100%;padding:0.625rem 1.25rem;background-color:#fff;z-index:1000;flex-flow:row nowrap;flex-direction:row;flex-wrap: nowrap;left: 0;bottom:0;border-top: solid 1px #f2f2f2;}
.downnav>dl{width:33.333%;color: #9b9b9b;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;text-align: center; font-size: 0.75rem;}
.downnav>dl:nth-child(2){border-left: solid 1px #f2f2f2; border-right: solid 1px #f2f2f2;}
.downnav .icon_nav{width:1.375rem;height: 1.375rem;display:inline-block;background:url(../../../img/icon_nav1.png) no-repeat;background-size: 100% auto;}
.downnav>dl:nth-child(2) .icon_nav{background-image: url(../../../img/icon_nav2.png);}
.downnav>dl:nth-child(3) .icon_nav{background-image: url(../../../img/icon_nav3.png);}
.downnotice{position: absolute;width:100%;margin-top:0.9375rem;left: 0;}
.itemsWhite{border-bottom:solid 0.0625rem #f2f2f2; border-top:solid 0.0625rem #f2f2f2; padding:0.625rem 1.25rem; background-color:#fff;margin-bottom:0.625rem; }
.backnav{position: absolute;width:100%;bottom: 0.625rem;padding: 0 1.25rem; left: 0;}
.backnav>div{width:50%; text-align: center;color:#5d7a8d; padding: 0.625rem 0;}
.backnav>div:nth-child(2){border-left: solid 1px #f2f2f2;}
.commonLinkUl{background-color: #fff;border-bottom: solid 1px #f2f2f2;border-top: solid 1px #f2f2f2; }
.commonLinkUl li{ position:relative; padding-left:1.25rem; }
.commonLinkUl li.g-act-taped{background:#f6f6f6;}
.commonLinkUl li .table{ width:100%; display: table;border-bottom: solid 1px #f2f2f2;padding-right:1.25rem;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.commonLinkUl li:last-child .table{border-bottom: none;}
.commonLinkUl li .cell{ display: table-cell; vertical-align: middle; height: 4.4375rem; }
.commonLinkUl li.hasarrow:after{content: ""; background:url(../../../img/arrow-r.png) 100% 0 no-repeat; width:0.4375rem; height:0.9375rem; background-size:100% 100%; position: absolute;right:1.25rem; top:50%;margin-top: -0.46875rem; }
.commonLinkUl li.hasarrow .table,.commonLinkUl li.hasrightpad .table{padding-right: 2.5rem;}/*无箭头，又想与有箭头的行右对齐时用hasrightpad*/
.commonLinkUl li.noborder .table{border-bottom: none;}/*没有下边框时用noborder*/
.rapay_link .table{overflow: hidden; white-space: nowrap;}
.priceInputWrap{padding:0.625rem 1.25rem 1.875rem;}
.priceInput{text-align: left;padding-left: 0.625rem;position:relative;}
.priceInput input{position: absolute;width:100%;left: 0; top: 0.5625rem;display: block; z-index: 100; background: none; border:none; padding-left:2.5rem;}
.errorshow{position: absolute;font-size: 0.75rem;color: #e05c4d;margin-top: 0.4375rem;}
.getmoneyul li .cell,.smallpadul li .cell{height: 3.75rem;}/*上下padding小时用smallpadul*/
.getmoneyul li.moneytotal{padding: 0 1.25rem 0.9375rem; height: auto;} /*多行有左右padding时候用multirows*/
.commonLinkUl li.multirows{padding: 0 1.25rem 0; height: auto;}
.commonLinkUl li.multirows:last-child{padding-bottom: 0.9375rem;}
.getmoneyul li.moneytotal .table,.commonLinkUl li.multirows .table{padding-right: 0;}
.getmoneyul li.moneytotal .cell p,.commonLinkUl li.multirows .cell p{margin-bottom: 0.1875rem;}
.getmoneyul li.moneytotal .cell p:last-child,.commonLinkUl li.multirows p:last-child{margin-bottom: 0;}
.line-dot{width:100%;height: 3px; background: url(../../../img/line.png) no-repeat;background-size:100% 100%;display: block; margin-bottom: 0.9375rem;}
.line-solid{width:100%;height: 0;font-size:0;border-top: solid 1px #f2f2f2;margin-bottom: 0.9375rem;}
.icon_book{ width:0.875rem; height:0.9375rem; background:url(../../../img/icon_book.png) no-repeat; background-size:100% 100%; display:inline-block; margin-right:0.125rem; vertical-align: middle;}
.getmoneyform{padding-bottom: 3.125rem;}
.paytable{width:100%;border-collapse:collapse;border-spacing:0;}
.paytable td,.paytable th{white-space: nowrap;}
.paytable th{padding-bottom: 0.625rem;font-weight: normal;}
.paytable td{padding:0.3125rem 0;}
.getMoneytable td{color:#5d7a8d; }
.icon_sign{display: inline-block;margin-left:0.3125rem;line-height: 1.0rem;height: 1.0rem; color: #fff;font-size:0.625rem;   padding:0 0.1875rem; vertical-align: middle; }
.sign_blue{background-color: #4ac0f0;}
.sign_orange{background-color: #f5a623;}
.sign_red{background-color: #f85361;}
.infor_paydetail li.multirows .cell p{margin-bottom: 0.3125rem;}

.stepsshow{ padding:3.125rem 0; margin:-2.5rem 1.25rem 0; position:relative;}
.stepsshow .line{ background-color:#4ac0f0; height:0.125rem; line-height:0; width:76%; position:absolute; top:50%; margin-top:-0.0625rem; }
.stepsshow .line1{left:12%;}
.stepsshow .circle_s{ width:0.625rem; height:0.625rem; border-radius:100%;background-color:#4ac0f0; display:block; position:absolute;}
.stepsshow .circle_m{ width:1.25rem; height:1.25rem; background:url(../../../img/icon-ok.png) no-repeat; background-size:100% 100%; display:block;position:absolute;}
.stepsshow .circle_1{ left:12%; top:50%;  margin-top:-0.625rem; margin-left:-0.625rem;}
.stepsshow .circle_3{ right:12%; top:50%;margin-top:-0.3125rem;margin-right:-0.3125rem;}
.stepsshow .words{ text-align:center; width:50%; position:absolute; top:50%; margin-top:0.9375rem;white-space:nowrap;}
.stepsshow .words1{left:0;transform:translate(-25%,0);}
.stepsshow .words2{right:0;transform:translate(25%,0);}
.stepsshow .words .tt1{ font-size:0.75rem; color:#2DA7E0;}
.step2 .line1{background-color:#d8d8d8;}
.step2 .circle_s{ background-color:#C5C3C3;}
.step2 .words:last-child .tt1{ color:#C5C3C3;}
.getmoneytop2{padding-top: 3.125rem; padding-bottom: 6.875rem;}
.getmoneytop2 .backnav > div{padding:0;}
.getmoneytop2 .backnav{bottom: 1.25rem;}