<script type="text/template" data-tpl="tpl-main-view">
	<div class="deal-detail"> 
		<#
			//var tpl = $("[data-tpl='"+ self.initData.orderStatus +"']").size() == 0 ? self.billType : self.initData.orderStatus
			//console.log($("[data-tpl='"+ self.initData.orderStatus +"']").size())
			//self.initData.orderStatus || self.billType
			print(self.render(self.billType, {
				data : self.initData
			}));
		#>
	</div>
</script>
<div class="page">
	
</div>


<!--余额申购V理财 购买失败-->
<script type="text/template" data-tpl="apply_ma_to_rf">

	 <div class="topprice itemswrap">
		 <div class=" items">  
			<p class="tt"> <# print(data.billAmountLabel); #> </p>
			<p class=" bigprice"> <# print(data.billAmount); #> </p>
		 </div>  
	 </div>

	 <div class="itemswrap detail-down">
		 <div class=" items">  
			<p class="tt"> <# print(data.billTypeLabel); #> </p>
			<p class="inner"> <# print(data.billType); #> </p>
		 </div> 
		 <# 
			var isGray = data.operateStateInfos[2].operateShow != "yes";
		 #>
		 <div class="stepsshow <# if(isGray){ #> step2 <# } #>"> <!--未完成请加step2-->
			  <p class="line line1"> </p> <p class=" line line2"> </p>
			  <span class="circle_s circle_1"> </span><span class="circle_s circle_2"> </span><span class="circle_m circle_3"> </span>
			  <ul>
			  
				<li> 
					<p class="tt1"> <# print ( data.operateStateInfos[0].operateTitle ); #> </p>
					<p class="tt2"> <# print ( data.operateStateInfos[0].operateTime ); #> </p>
				</li>
				<li class=" li2"> 
					<p class=" tt1"> <# print ( data.operateStateInfos[1].operateTitle ); #> </p>
					<p class=" tt2"> <# print ( data.operateStateInfos[1].operateTime ); #> </p>
				</li>
				<li> 
					<p class=" tt1"> <# print ( data.operateStateInfos[2].operateTitle ); #> </p>
					<p class=" tt2"> <# print ( data.operateStateInfos[2].operateTime ); #> </p>
				</li>
			  
			  </ul>
		 </div> 
		 
		 <div class="tips-bar">
			<span class="text"><# print(data.tip); #></span>
			<span class="text2">
				<# print(data.subTip); #><a href="tel:<# print(data.tipPhone); #>">&nbsp;<# print(data.tipPhone); #></a>
			</span>
		 </div>
		 
	 </div>
		 

</script>

<!--充值-->
<script type="text/template" data-tpl="recharge_ma">

		 <div class="topprice itemswrap">
			 <div class=" items">  
				<p class="tt"><# print(data.billAmountLabel); #></p>
				<p class=" bigprice"><# print(data.billAmount); #></p>
			 </div>  
		 </div>

		 <div class="itemswrap detail-down">
			 <div class=" items">  
				<p class="tt"> <# print(data.billTypeLabel); #> </p>
				<p class="inner"> <# print(data.billType); #> </p>
			 </div> 
			 <div class=" items">  
				<p class="tt"> <# print(data.rechargeCardLabel); #> </p>
				<p class="inner"> <img src="<# print(data.bankLogoURL); #>" class="bank" /> <span> <# print(data.rechargeCard); #></span> </p>
			 </div>  
			 <div class=" items">  
				<p class="tt"> <# print(data.rechargeResultLabel); #> </p>
				<p class="inner"> <# print(data.rechargeResult); #> </p>
			 </div>   
			 <div class=" items">  
				<p class="tt"> <# print(data.rechargeTimeLabel); #> </p>
				<p class="inner"> <# print(data.rechargeTime); #> </p>
			 </div>  
		 </div>


</script>

<!--余额提现-->
<script type="text/template" data-tpl="withdraw_ma">

	 <div class="topprice itemswrap">
		 <div class=" items">  
			<p class="tt"> <# print(data.billAmountLabel); #> </p>
			<p class=" bigprice"> <# print(data.billAmount); #> </p>
		 </div>  
	 </div>

	 <div class="itemswrap detail-down">
		 <div class=" items">  
			<p class="tt"> <# print(data.billTypeLabel); #> </p>
			<p class="inner"> <# print(data.billType); #> </p> 
		 </div> 
		 <div class=" items">  
			<p class="tt"> <# print(data.withdrawLabel); #> </p>
			<p class="inner"> <img src="<# print(data.bankLogoURL); #>" class="bank" /> <span> <# print(data.withdrawCard); #></span> </p>
		 </div> 
		 <# 
			var isGray = data.operateStateInfos[2].operateShow != "yes";
		 #>
		 <div class="stepsshow <# if(isGray){ #> step2 <# } #>"> 
			<!--未完成请加step2-->
			  <p class="line line1"> </p> <p class=" line line2"> </p>
			  <span class="circle_s circle_1"> </span><span class="circle_s circle_2"> </span><span class="circle_m circle_3"> </span>
			  <ul>
			  
				<li> 
					<p class="tt1"> <# print ( data.operateStateInfos[0].operateTitle ); #> </p>
					<p class="tt2"> <# print ( data.operateStateInfos[0].operateTime ); #> </p>
				</li>
				<li class=" li2"> 
					<p class=" tt1"> <# print ( data.operateStateInfos[1].operateTitle ); #> </p>
					<p class=" tt2"> <# print ( data.operateStateInfos[1].operateTime ); #> </p>
				</li>
				<li> 
					<p class=" tt1"> <# print ( data.operateStateInfos[2].operateTitle ); #> </p>
					<p class=" tt2"> <# print ( data.operateStateInfos[2].operateTime ); #> </p>
				</li>
				
			  </ul>
		 </div>
	 </div>


</script>



<!--工资福利,批量申购-->
<script type="text/template" data-tpl="batch_apply">

	 <div class="topprice itemswrap">
		 <div class=" items">  
			<p class="tt"> <# print(data.billAmountLabel); #> </p>
			<p class=" bigprice"> <# print(data.billAmount); #> </p>
		 </div>  
	 </div>

	 <div class="itemswrap detail-down">
		 <div class=" items">  
			<p class="tt"> <# print(data.billTypeLabel); #> </p>
			<p class="inner"> <# print(data.billType); #> </p>
		 </div> 
		 <# 
			var isGray = data.operateStateInfos[2].operateShow != "yes";
		 #>
		 
		 <div class="stepsshow <# if(isGray){ #> step2 <# } #>">  <!--未完成请加step2-->
			  <p class="line line1"> </p> <p class=" line line2"> </p>
			  <span class="circle_s circle_1"> </span><span class="circle_s circle_2"> </span><span class="circle_m circle_3"> </span>
			  <ul>

				<li> 
					<p class="tt1"> <# print ( data.operateStateInfos[0].operateTitle ); #> </p>
					<p class="tt2"> <# print ( data.operateStateInfos[0].operateTime ); #> </p>
				</li>
				<li class=" li2"> 
					<p class=" tt1"> <# print ( data.operateStateInfos[1].operateTitle ); #> </p>
					<p class=" tt2"> <# print ( data.operateStateInfos[1].operateTime ); #> </p>
				</li>
				<li> 
					<p class=" tt1"> <# print ( data.operateStateInfos[2].operateTitle ); #> </p>
					<p class=" tt2"> <# print ( data.operateStateInfos[2].operateTime ); #> </p>
				</li>
			  
			  
			  </ul>
		 </div>

		 <# if(data.tip){ #>
		 <div class="tips-bar">
			<span class="text"><# print(data.tip); #></span>
		 </div>
		 <# } #>		 
		 
		 
	 </div>
</script>







<!--余额申购V+-->
<script type="text/template" data-tpl="apply_ma_to_v1">
	 <div class="topprice itemswrap">
		 <div class=" items">  
			<p class="tt"> <# print(data.billAmountLabel); #> </p>
			<p class=" bigprice"> <# print(data.billAmount); #> </p>
		 </div>  
	 </div>

	 <div class="itemswrap detail-down">
		 <div class=" items">  
			<p class="tt"> <# print(data.billTypeLabel); #> </p>
			<p class="inner"> <# print(data.billType); #> </p>
		 </div> 
		 <# 
			var isGray = data.operateStateInfos[2].operateShow != "yes";
		 #>
		 
		 <div class="stepsshow <# if(isGray){ #> step2 <# } #>">  <!--未完成请加step2-->
			  <p class="line line1"> </p> <p class=" line line2"> </p>
			  <span class="circle_s circle_1"> </span><span class="circle_s circle_2"> </span><span class="circle_m circle_3"> </span>
			  <ul>

				<li> 
					<p class="tt1"> <# print ( data.operateStateInfos[0].operateTitle ); #> </p>
					<p class="tt2"> <# print ( data.operateStateInfos[0].operateTime ); #> </p>
				</li>
				<li class=" li2"> 
					<p class=" tt1"> <# print ( data.operateStateInfos[1].operateTitle ); #> </p>
					<p class=" tt2"> <# print ( data.operateStateInfos[1].operateTime ); #> </p>
				</li>
				<li> 
					<p class=" tt1"> <# print ( data.operateStateInfos[2].operateTitle ); #> </p>
					<p class=" tt2"> <# print ( data.operateStateInfos[2].operateTime ); #> </p>
				</li>
			  
			  
			  </ul>
		 </div> 
		
		 <# if(data.tip){ #>
		 <div class="tips-bar">
			<span class="text"><# print(data.tip); #></span>
		 </div>
		 <# } #>		 
		 
	 </div>

</script>


<!--v+账户转出到余额-->
<script type="text/template" data-tpl="transfer_v1_to_ma">

	 <div class="topprice itemswrap">
		 <div class=" items">  
			<p class="tt"> <# print(data.billAmountLabel); #> </p>
			<p class=" bigprice"> <# print(data.billAmount); #> </p>
		 </div>  
	 </div>

	 <div class="itemswrap detail-down">
		 <div class=" items">  
			<p class="tt"> <# print(data.billTypeLabel); #> </p>
			<p class="inner"> <# print(data.billType); #> </p>
		 </div> 
		 <# 
			var isGray = data.operateStateInfos[2].operateShow != "yes";
		 #>
		 
		 <div class="stepsshow <# if(isGray){ #> step2 <# } #>">  <!--未完成请加step2-->
			  <p class="line line1"> </p> <p class=" line line2"> </p>
			  <span class="circle_s circle_1"> </span><span class="circle_s circle_2"> </span><span class="circle_m circle_3"> </span>
			  <ul>

				<li> 
					<p class="tt1"> <# print ( data.operateStateInfos[0].operateTitle ); #> </p>
					<p class="tt2"> <# print ( data.operateStateInfos[0].operateTime ); #> </p>
				</li>
				<li class=" li2"> 
					<p class=" tt1"> <# print ( data.operateStateInfos[1].operateTitle ); #> </p>
					<p class=" tt2"> <# print ( data.operateStateInfos[1].operateTime ); #> </p>
				</li>
				<li> 
					<p class=" tt1"> <# print ( data.operateStateInfos[2].operateTitle ); #> </p>
					<p class=" tt2"> <# print ( data.operateStateInfos[2].operateTime ); #> </p>
				</li>
			  
			  
			  </ul>
		 </div> 
		 
		
		 <# if(data.tip){ #>
		 <div class="tips-bar">
			<span class="text"><# print(data.tip); #></span>
		 </div>
		 <# } #>		 
		 
		 
	 </div>

</script>


<!--e账户转余额-->
<script type="text/template" data-tpl="transfer_ea_to_ma">

	 <div class="topprice itemswrap">
		 <div class=" items">  
			<p class="tt"> <# print(data.billAmountLabel); #> </p>
			<p class=" bigprice"> <# print(data.billAmount); #> </p>
		 </div>  
	 </div>

	 <div class="itemswrap detail-down">
		 <div class=" items">  
			<p class="tt"> <# print(data.billTypeLabel); #> </p>
			<p class="inner"> <# print(data.billType); #> </p>
		 </div> 
		<div class=" items">  
			<p class="tt"> <# print(data.timeLabel); #> </p>
			<p class="inner"> <# print(data.time); #> </p>
		 </div>
	 </div>


</script>


<!--余额申购e账户-->
<script type="text/template" data-tpl="apply_ma_to_ea">

	 <div class="topprice itemswrap">
		 <div class=" items">  
			<p class="tt"> <# print(data.billAmountLabel); #> </p>
			<p class=" bigprice"> <# print(data.billAmount); #> </p>
		 </div>  
	 </div>

	 <div class="itemswrap detail-down">
		 <div class=" items">  
			<p class="tt"> <# print(data.billTypeLabel); #> </p>
			<p class="inner"> <# print(data.billType); #> </p>
		 </div> 
		 <# 
			var isGray = data.operateStateInfos[2].operateShow != "yes";
		 #>
		 
		 <div class="stepsshow <# if(isGray){ #> step2 <# } #>">  <!--未完成请加step2-->
			  <p class="line line1"> </p> <p class=" line line2"> </p>
			  <span class="circle_s circle_1"> </span><span class="circle_s circle_2"> </span><span class="circle_m circle_3"> </span>
			  <ul>

				<li> 
					<p class="tt1"> <# print ( data.operateStateInfos[0].operateTitle ); #> </p>
					<p class="tt2"> <# print ( data.operateStateInfos[0].operateTime ); #> </p>
				</li>
				<li class=" li2"> 
					<p class=" tt1"> <# print ( data.operateStateInfos[1].operateTitle ); #> </p>
					<p class=" tt2"> <# print ( data.operateStateInfos[1].operateTime ); #> </p>
				</li>
				<li> 
					<p class=" tt1"> <# print ( data.operateStateInfos[2].operateTitle ); #> </p>
					<p class=" tt2"> <# print ( data.operateStateInfos[2].operateTime ); #> </p>
				</li>
			  
			  
			  </ul>
		 </div> 
		 <# if(data.tip){ #>
		 <div class="tips-bar">
			<span class="text"><# print(data.tip); #></span>
		 </div>
		 <# } #>
		 
	 </div>

</script>

<!--e账户提现-->
<script type="text/template" data-tpl="withdraw_ea">

	 <div class="topprice itemswrap">
		 <div class=" items">  
			<p class="tt"> <# print(data.billAmountLabel); #> </p>
			<p class=" bigprice"> <# print(data.billAmount); #> </p>
		 </div>  
	 </div>

	 <div class="itemswrap detail-down">
		 <div class=" items">  
			<p class="tt"> <# print(data.billTypeLabel); #> </p>
			<p class="inner"> <# print(data.billType); #> </p>
		 </div> 
		  <div class=" items">  
			<p class="tt"> <# print(data.withdrawLabel); #> </p>
			<p class="inner"> <img src="<# print(data.bankLogoURL); #> " class="bank" /> <span>  <# print(data.withdrawCard); #> </span> </p>
		 </div> 
		 <# 
			var isGray = data.operateStateInfos[2].operateShow != "yes";
		 #>
		 <div class="stepsshow <# if(isGray){ #> step2 <# } #>"> <!--未完成请加step2-->
			  <p class="line line1"> </p> <p class=" line line2"> </p>
			  <span class="circle_s circle_1"> </span><span class="circle_s circle_2"> </span><span class="circle_m circle_3"> </span>
			  <ul>
			  
				<li> 
					<p class="tt1"> <# print ( data.operateStateInfos[0].operateTitle ); #> </p>
					<p class="tt2"> <# print ( data.operateStateInfos[0].operateTime ); #> </p>
				</li>
				<li class=" li2"> 
					<p class=" tt1"> <# print ( data.operateStateInfos[1].operateTitle ); #> </p>
					<p class=" tt2"> <# print ( data.operateStateInfos[1].operateTime ); #> </p>
				</li>
				<li> 
					<p class=" tt1"> <# print ( data.operateStateInfos[2].operateTitle ); #> </p>
					<p class=" tt2"> <# print ( data.operateStateInfos[2].operateTime ); #> </p>
				</li>
			  
			  </ul>
		 </div> 
	 </div>
</script>





















<!--e账户转余额-->
<script type="text/template" data-tpl="transfer_ta_to_ma">

	 <div class="topprice itemswrap">
		 <div class=" items">  
			<p class="tt"> <# print(data.billAmountLabel); #> </p>
			<p class=" bigprice"> <# print(data.billAmount); #> </p>
		 </div>  
	 </div>

	 <div class="itemswrap detail-down">
		 <div class=" items">  
			<p class="tt"> <# print(data.billTypeLabel); #> </p>
			<p class="inner"> <# print(data.billType); #> </p>
		 </div> 
		<div class=" items">  
			<p class="tt"> <# print(data.timeLabel); #> </p>
			<p class="inner"> <# print(data.time); #> </p>
		 </div>
	 </div>


</script>


<!--余额申购e账户-->
<script type="text/template" data-tpl="apply_ma_to_ta">

	 <div class="topprice itemswrap">
		 <div class=" items">  
			<p class="tt"> <# print(data.billAmountLabel); #> </p>
			<p class=" bigprice"> <# print(data.billAmount); #> </p>
		 </div>  
	 </div>

	 <div class="itemswrap detail-down">
		 <div class=" items">  
			<p class="tt"> <# print(data.billTypeLabel); #> </p>
			<p class="inner"> <# print(data.billType); #> </p>
		 </div> 
		 <# 
			var isGray = data.operateStateInfos[2].operateShow != "yes";
		 #>
		 
		 <div class="stepsshow <# if(isGray){ #> step2 <# } #>">  <!--未完成请加step2-->
			  <p class="line line1"> </p> <p class=" line line2"> </p>
			  <span class="circle_s circle_1"> </span><span class="circle_s circle_2"> </span><span class="circle_m circle_3"> </span>
			  <ul>

				<li> 
					<p class="tt1"> <# print ( data.operateStateInfos[0].operateTitle ); #> </p>
					<p class="tt2"> <# print ( data.operateStateInfos[0].operateTime ); #> </p>
				</li>
				<li class=" li2"> 
					<p class=" tt1"> <# print ( data.operateStateInfos[1].operateTitle ); #> </p>
					<p class=" tt2"> <# print ( data.operateStateInfos[1].operateTime ); #> </p>
				</li>
				<li> 
					<p class=" tt1"> <# print ( data.operateStateInfos[2].operateTitle ); #> </p>
					<p class=" tt2"> <# print ( data.operateStateInfos[2].operateTime ); #> </p>
				</li>
			  
			  
			  </ul>
		 </div> 
		 <# if(data.tip){ #>
		 <div class="tips-bar">
			<span class="text"><# print(data.tip); #></span>
		 </div>
		 <# } #>
		 
	 </div>

</script>

<!--e账户提现-->
<script type="text/template" data-tpl="withdraw_ta">

	 <div class="topprice itemswrap">
		 <div class=" items">  
			<p class="tt"> <# print(data.billAmountLabel); #> </p>
			<p class=" bigprice"> <# print(data.billAmount); #> </p>
		 </div>  
	 </div>

	 <div class="itemswrap detail-down">
		 <div class=" items">  
			<p class="tt"> <# print(data.billTypeLabel); #> </p>
			<p class="inner"> <# print(data.billType); #> </p>
		 </div> 
		  <div class=" items">  
			<p class="tt"> <# print(data.withdrawLabel); #> </p>
			<p class="inner"> <img src="<# print(data.bankLogoURL); #> " class="bank" /> <span>  <# print(data.withdrawCard); #> </span> </p>
		 </div> 
		 <# 
			var isGray = data.operateStateInfos[2].operateShow != "yes";
		 #>
		 <div class="stepsshow <# if(isGray){ #> step2 <# } #>"> <!--未完成请加step2-->
			  <p class="line line1"> </p> <p class=" line line2"> </p>
			  <span class="circle_s circle_1"> </span><span class="circle_s circle_2"> </span><span class="circle_m circle_3"> </span>
			  <ul>
			  
				<li> 
					<p class="tt1"> <# print ( data.operateStateInfos[0].operateTitle ); #> </p>
					<p class="tt2"> <# print ( data.operateStateInfos[0].operateTime ); #> </p>
				</li>
				<li class=" li2"> 
					<p class=" tt1"> <# print ( data.operateStateInfos[1].operateTitle ); #> </p>
					<p class=" tt2"> <# print ( data.operateStateInfos[1].operateTime ); #> </p>
				</li>
				<li> 
					<p class=" tt1"> <# print ( data.operateStateInfos[2].operateTitle ); #> </p>
					<p class=" tt2"> <# print ( data.operateStateInfos[2].operateTime ); #> </p>
				</li>
			  
			  </ul>
		 </div> 
	 </div>
</script>
