<script type="text/template" data-tpl="tpl-main-view">
<div class="bind-cards">
	<#
		var cardMap = {
			security : [],
			recharge : []
		};
		$.each(self.initData.cards, function(i, card){
			if(card.cardType == "security"){ 
				cardMap.security.push(card);
			}else if(card.cardType == "recharge"){
				cardMap.recharge.push(card);
			}
		});
		
		
	#>
           <!--有银行卡记录-->
		   <# if(self.initData.isBandCard){ #>
           <div class="hascard"> 
				<# if(cardMap.security.length > 0){ #>
                <p class=" tt f14 color-gray"> 安全卡 </p>
                <div class="bankrowwrap"> 
                    <# $.each(cardMap.security, function(i, card){  #>
						
						<div data-card-id="<# print(card.cardId); #>" class=" bankrow"> 
						   <p class=" cell-img cell"> <img src="<# print(self.getBankImgByCode(card.bankCode)); #>" />  </p>
						   <div class=" cell"> 
							   <p class=" f14 color-black"> <# print(card.bankName); #> </p>
							   <p class=" f12 color-gray"> <# print(card.sufCardNo); #> </p>
						   </div>
						</div>
						
					<# }); #>
                </div>
				<# } #>
				<# if(cardMap.recharge.length > 0){ #>	
                <p class=" tt f14 color-gray"> 充值卡 </p>
                <div class="bankrowwrap"> 
				
                    <# $.each(cardMap.recharge, function(i, card){  #>
						
						<div data-card-id="<# print(card.cardId); #>" class=" bankrow"> 
						   <p class=" cell-img cell"> <img src="<# print(self.getBankImgByCode(card.bankCode)); #>" />  </p>
						   <div class=" cell"> 
							   <p class=" f14 color-black"> <# print(card.bankName); #> </p>
							   <p class=" f12 color-gray"> <# print(card.sufCardNo); #> </p>
						   </div>
						</div>
					
					<# }); #>
					
                </div>
				<# } #>
                <div  > 
					
					<#
						var router = self.getApiRouter("mybankRule");
					#>
                    <iframe src="<# print(router.url) #>" style="width:100%; height:7.625rem;" scrolling="no" frameborder="0"></iframe>
                </div>

            </div>
			<# }else{ #>
            <!--没有绑卡记录-->
            <div class="nocard">
                <p><img src="<# print(_g_dir.static_dir) #>img/unbindcard.png" style="width:3.125rem;" /></p>
                <p class="color-gray2 f16 mt10">暂无绑卡记录</p>
            </div>
			<# } #>



        </div>

</script>
		
<div class="page"></div>

	