<script type="text/template" data-tpl="tpl-main-view">
	<div class="product-view">
		
		
		<div id="page-data" class="list-wrap">
			
			<# print(self.render("investList", {
				list : self.investList,
				init : true
			})); #>
			 
		</div>
	</div>
</script>

<script type="text/template" data-tpl="investList">
	<# if(list.length > 0){ #>
		<# if(init){ #>
		<div class="list">
		<# }; #>
			
			<# $.each(list, function(i, o){ #>
			<#
				var isLoanOrderType = (o.billType == "apply_loan" || o.billType == "repay_loan"  );
				var isTaOrderType = o.billType == "transfer_ta_to_ma" || o.billType == "apply_ma_to_ta" || o.billType == "withdraw_ta";
				var canView = o.isViewDetail == "true";
				if(isLoanOrderType){
					canView = false;
				}else if(isTaOrderType){
					canView = false;
				}
			
			#>
			<div class="item" 
				<# if(canView){ #> 
					g-act-tap="true"
					data-order-id="<# print(o.orderId); #>"
				<# } #> 
				data-bill-type="<# print(o.billType); #>" 
			>
				<div class="item-wrap">
					<div class="col-l">
						<div class="text">
							<# print(o.title); #>
						</div>
						<div class="date">
							<# print(o.date); #>
						</div>
					</div>
					<div class="col-r">
						<span class="amount"><# print(o.amount); #></span>
						<# if(canView){ #>
						<span class="arrow"></span>
						<# } #>
					</div>
				</div>
			</div>		
			<# }); #>
			
			
		<# if(init){ #>
		</div>
		<# } #>
		
	<# }else{ #>
		<# if(init){ #>
			<div class="widget-no-data">
				<div class="img"></div>
				<p class="text">暂无记录</p>
			</div>
		<# }else{ #>
		<# } #>
	<# } #>
</script>
<div class="page"></div>