<script type="text/template" data-tpl="tpl-main-view">
	
	<div class="logo"></div>
	<div class="box">
		<div class="item">
			<div class="item-wrap fix">
				<span class="text t-phone">用户名/手机号</span>
				<span class="text2"><# print(self.initData.phone); #></span>
			</div>
		</div>
		<div class="item" g-act-tap="true" data-tap-path="account/bindCards">
			<div class="item-wrap fix">
				<span class="text t-bank">我的银行卡</span>
				<span class="arrow-r"></span>
				<span class="text2"><# print(self.initData.cardNum); #>张</span>
			</div>
		</div>
		 
		<div class="item" g-act-tap="true" data-tap-path="account/invest">
			<div class="item-wrap fix">
				<span class="text t-invest">我的投资</span>
				<span class="arrow-r"></span>
			</div>
		</div>
		 
		<# if(self.initData.isShowPaymentPassword == "yes"){ #>
		<div class="item" id="payPasswdBtn" g-act-tap="true" data-paypasswd-code="<# print(self.initData.paymentPasswordStatusCode); #>" data-dialog="<# print(self.initData.paymentPasswordDialog); #>">
			<div class="item-wrap fix">
				<span class="text t-paypasswd">支付密码</span>
				<span class="arrow-r"></span>
				<span class="rect <# if(self.initData.paymentPasswordStatusCode == "201201"){ #>ui-filter-gray<# } #> ">
					<# print(self.initData.paymentPasswordStatusDescription); #>
				</span>
			</div>
		</div>
		<# } #>
		
		<div class="item" g-act-tap="true" data-tap-path="account/help">
			<div class="item-wrap fix">
				<span class="text t-help">帮助中心</span>
				<span class="arrow-r"></span>
			</div>
		</div>
		
		<div class="item" g-act-tap="true" onclick="javascript:window.location.href='/wallet-h5-client/wxInvite/invite.html'
">
			<div class="item-wrap fix">
				<span class="text t-invite">邀请好友有礼</span>
				<span class="arrow-r"></span>
				<span class="i-redhot"></span>
			</div>
		</div>
		
	</div>
	
	<div class="exit-bar" g-act-tap="true" data-act="exit">退出登录</div>
	<div class="exit-bar-blank"></div>
	
</script>
<div class="page"></div>