<script type="text/template" data-tpl="tpl-main-view">
	<div class="page-account-investDylamic">
		<div class="top">
			<div class="top-wrap">
				<div class="item fix">
					<div class="value">
						<div class="con">
							<p class="text"><# print(self.initData.productCode); #></p>
						</div>
					</div>
					<div class="attr">投资项目</div>
				</div>
				<div class="item fix">
					<div class="value">
						<div class="con">
							<p><# print(self.initData.insurancePolicyNumber); #></p>
						</div>
					</div>
					<div class="attr">保险凭证</div>
				</div>
			</div>
			<div class="wen"></div>
		</div>
		<div class="dylamic-list">
			
			<# if(self.initData.dynamicList.length > 0){ #>
			<ul>
				<# $.each(self.initData.dynamicList, function(i, o){ #>
				<li class="fix  <# if(i > 0 ){ #> item-gray <# } #>">
					<div class="col-desc">
						<div class="con">
							<p class="text"><# print(o.information); #></p>
							<p class="date"><# print(o.time); #></p>
							<#
								var list = (o.dynamicDescription).split("|");
								$.each(list, function(i, o){ 
								
							#>
							<p class="desc">
								<# print(o); #>
							</p>
							<# }); #>
						</div>
					</div>
					<div class="col-icon">
						<span class="icon"></span>
						<span class="split"></span>
					</div>
					
				</li>
				<# }); #>
			</ul>
			<# }else{ #>
			<div class="widget-no-data">
				<div class="img"></div>
				<p class="text">暂无记录</p>
			</div>
			<#
				}
			#>
		</div>
	</div>
</script>
<div class="page"></div>
