<script type="text/template" data-tpl="tpl-main-view">
	<#
		
		var product = self.initData.product;
	#>
	<div class="page-account-investDetail">
		<div class="top-bar">
			<div class="con">
				<h2><# print(self.initData.investmentStatusDescription); #></h2>
				<p>投资本金：<# print(self.initData.investmentPrincipal); #>元</p>
				<p>待收利息：<# print(self.initData.interestReceived); #>元</p>
			</div>
			<div class="wen"></div>
		</div>
		<# if(self.initData.dynamicInformation){ #>
		<div class="dylamic-box" data-tap-path="<# print(self.createURL("account/investDylamic", {orderId : self.orderId})); #>" g-act-tap="true">
			<h2>投资动态</h2>
			<div class="item fix">
				<div class="col-desc">
					<div class="con">
						<p class="text"><# print(self.initData.dynamicInformation); #></p>
						<p class="date"><# print(self.initData.dynamicTime); #></p>
					</div>
				</div>
				<div class="col-icon">
					<span class="icon"></span>
					<span class="split"></span>
				</div>
				<span class="col-arrow"></span>
			</div>
		</div>
		<# } #>
		<# if(product){ #>
		<div class="product-box">
			
			<div class="title" g-act-tap="true" data-tap-path="<# print(self.createURL("invest/show", {id : product.productId})); #>">
				<div class="title-c">
					<span class="text"><# print(product.productCode); #></span>
				</div>
			</div>
			<div class="meta">
				<div class="meta-c">
					<div class="meta-item fix">
						<span class="attr">年化收益</span>
						<span class="value">
							<# 
								var annualYield = Number(product.annualYield) * 100;
								var rs = isNaN(annualYield) ? "0" : Number(annualYield.toFixed(2));
								print(rs);
							#>%
						</span>
					</div>
					<div class="meta-item fix">
						<span class="attr">项目期限</span>
						<span class="value"><# print(product.projectTerm); #></span>
					</div>
					<div class="meta-item fix">
						<span class="attr">还款方式</span>
						<span class="value"><# print(product.paymentWay); #></span>
					</div>
				</div>
			</div>
			<div class="meta">
				<div class="meta-c">
					<div class="meta-item fix">
						<span class="attr">起息时间</span>
						<span class="value"><# print(product.fromInterestTime); #></span>
					</div>
					<div class="meta-item fix">
						<span class="attr">到期时间</span>
						<span class="value"><# print(product.expirationDate); #></span>
					</div>
				</div>
			</div>
			<#
				var type = self.initData.insurancePolicyNumberShowActionType;
			#>
			<div class="safe" <# if(type == "redirect_page" || type == "alert_tip"){  #> g-act-tap="true" <# } #>>
				<div class="con" <# if(type !== "redirect_page" && type !== "alert_tip"){ #> style="background:none;" <# }else{ #> <# } #> >
					<div class="text-1"><# print(self.initData.insurancePolicyNumberTitle); #></div>
					<div class="text-2"><# print(self.initData.insurancePolicyNumberLabel); #>&nbsp;<# print(self.initData.insurancePolicyNumber) #></div>
				</div>
			</div>

		</div>
		<# }; #>
		
		<div class="ext-bar">
			<div class="item" g-act-tap="true" data-tap-path="<# print(self.createURL("account/investRepaymentPlan", {orderId : self.orderId})); #>">
				<div class="item-c fix">
					<p class="text">回款计划</p>
					<span class="arrow"></span>
				</div>
			</div>
			
			<div class="item" g-act-tap="true" data-tap-path="<# print(self.createURL("account/investContractDetail", { orderId:self.orderId })); #>">
				<div class="item-c fix">
					<p class="text">查看合同</p>
					<span class="arrow"></span>
				</div>
			</div>
		</div>		
	</div>
</script>
<div class="page"></div>
