<script type="text/template" data-tpl="tpl-main-view">
	
	<div class="page-account-invest">
		<div class="fix-top"> 
			<div class="top-bar">
				<div class="con fix">
					<div class="col col-l">
						<p class="attr">在投本金(元)</p>
						<p class="value"><# print(self.investmentRecordSummary ? self.investmentRecordSummary.inPrincipalCast : "&nbsp;"); #></p>
					</div>
					<div class="col col-m">
						<p class="attr">待收利息(元)</p>
						<p class="value"><# print(self.investmentRecordSummary ? self.investmentRecordSummary.interestReceived : "&nbsp;"); #></p>
					</div>
					<div class="col col-r">
						<p class="attr">累计收益(元)</p>
						<p class="value"><# print(self.investmentRecordSummary ? self.investmentRecordSummary.accumulatedEarnings : "&nbsp;"); #></p>
					</div>
				</div>
				<div class="wen"></div>
			</div>
			 
			 
			<div class="tab">
				<ul class="fix">
					<li  <# if(self.investmentStatus == "investment"){ #> class="focus" <# } #> g-act-tap="true" data-status="investment">
						投资中
						<span class="blank"></span>
						<span class="bottom"></span>
					</li>
					<li <# if(self.investmentStatus == "pendingPayment"){ #> class="focus" <# } #>  g-act-tap="true"  data-status="pendingPayment">
						待赔付
						<span class="blank"></span>
						<span class="bottom"></span>
					</li>
					<li <# if(self.investmentStatus == "investmentEnd"){ #> class="focus" <# } #>  g-act-tap="true"  data-status="investmentEnd">
						已结束
						<span class="bottom"></span>
					</li>
				</ul>
			</div>
		</div>
		<div class="fix-top-blank"></div> 
		<div class="product-view">
			<div id="page-data" class="list-wrap">
				<ul class="list">
					<# print(self.render("investList", {
						list : self.investList,
						init : true
					})) #>
				</ul>	
				
			</div>
		</div> 
	</div>
</script>
<div class="page">
	<div class="main-view"></div>
</div>
<script type="text/template" data-tpl="investList">
	<# if(list.length > 0){ #>
		<# $.each(list, function(i, o){  #> 
		<li data-order-id="<# print(o.orderId); #>">
			<div class="title fix">
				<div class="invested">
					投资&nbsp;<span class="s-1"><# print(o.investmentAmount); #>元</span>
				</div>
				<div class="state-bar">
					<span class="s-1 <# if( self.investmentStatus == "investmentEnd"){ #> ui-filter-gray <# } #> ">
						<# if(self.investmentStatus == "investment"){ #>
						回款中
						<# }else if(self.investmentStatus == "pendingPayment"){ #>
						待赔付
						<# }else if(self.investmentStatus == "investmentEnd"){ #>
						已回款
						<# } #>
					</span>
					<# if(o.investmentStatusMarkURL){ #>
					<span class="s-2"><img src="<# print(o.investmentStatusMarkURL); #>"></span>
					<# } #>
				</div>
			</div>
			<div class="desc">
				<h2><# print(o.productCode); #></h2>
				<div class="con fix">
					<div class="col-l">
						<p>起息时间&nbsp;<# print(o.fromInterestTime); #></p>
						<p>到期时间&nbsp;<# print(o.expirationDate); #></p>
					</div>
					<div class="col-m">
						<p>已回&nbsp;<span class="s-1"><# print(o.amountReceived); #>元</span></p>
						<p>应回&nbsp;<span class="s-1"><# print(o.amountReceivable); #>元</span></p>
					</div>
					<div class="col-r">
						<# 
							var annualYield = Number(o.annualYield) * 100;
							var rs = isNaN(annualYield) ? "0" : Number(annualYield.toFixed(2));
							print(rs);
						#>%
					</div>
				</div>
			</div>
		</li>
		<# }); #>
	<# }else{ #>
		<# if(init){ #>
		<div class="widget-no-data">
			<div class="img"></div>
			<p class="text">暂无记录</p>
		</div>
		<# } #>
	<# } #>
</script>
