.version.index /* version checker */
{
	color: #000014;
	background-color: #F553E5;
}

@-ms-viewport
{
	width: 320px;
}

@-webkit-viewport
{
	width: 320px;
}

@-o-viewport
{
	width: 320px;
}

@-moz-viewport
{
	width: 320px;
}

@viewport
{
	width: 320px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 320px;
	min-height: 13522px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 29px;
}

#u104-286
{
	z-index: 2;
	width: 280px;
	min-height: 2832px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 20px;
}

#u104-2
{
	text-align: center;
	line-height: 21px;
}

#u104-3
{
	line-height: 21px;
}

#u104-9
{
	text-align: left;
	line-height: 21px;
}

#u104-5,#u104-6,#u104-8,#u104-11,#u104-12,#u104-14,#u104-15,#u104-17,#u104-18,#u104-20,#u104-21,#u104-23,#u104-24,#u104-26,#u104-27,#u104-29,#u104-30,#u104-32,#u104-33,#u104-35,#u104-36,#u104-38,#u104-39,#u104-41,#u104-42,#u104-44,#u104-45,#u104-47,#u104-48,#u104-50,#u104-51,#u104-53,#u104-54,#u104-56,#u104-57,#u104-59,#u104-60,#u104-62,#u104-63,#u104-65,#u104-66,#u104-68,#u104-69,#u104-71,#u104-72,#u104-74,#u104-75,#u104-77,#u104-78,#u104-80,#u104-81,#u104-83,#u104-84,#u104-86,#u104-87,#u104-89,#u104-90,#u104-92,#u104-93,#u104-95,#u104-96,#u104-98,#u104-99,#u104-101,#u104-102,#u104-104,#u104-105,#u104-107,#u104-108,#u104-110,#u104-111,#u104-113,#u104-114,#u104-116,#u104-117,#u104-119,#u104-120,#u104-122,#u104-123,#u104-125,#u104-126,#u104-128,#u104-129,#u104-131,#u104-132,#u104-134,#u104-135,#u104-137,#u104-138,#u104-140,#u104-141,#u104-143,#u104-144,#u104-146,#u104-147,#u104-149,#u104-150,#u104-152,#u104-153,#u104-155,#u104-156,#u104-158,#u104-159,#u104-161,#u104-162,#u104-164,#u104-165,#u104-167,#u104-168,#u104-170,#u104-171,#u104-173,#u104-174,#u104-176,#u104-177,#u104-179,#u104-180,#u104-182,#u104-183,#u104-185,#u104-186,#u104-188,#u104-189,#u104-191,#u104-192,#u104-194,#u104-195,#u104-197,#u104-198,#u104-200,#u104-201,#u104-203,#u104-204,#u104-206,#u104-207,#u104-209,#u104-210,#u104-212,#u104-213,#u104-215,#u104-216,#u104-218,#u104-219,#u104-221,#u104-222,#u104-224,#u104-225,#u104-227,#u104-228,#u104-230,#u104-231,#u104-233,#u104-234,#u104-236,#u104-237,#u104-239,#u104-240,#u104-242,#u104-243,#u104-245,#u104-246,#u104-248,#u104-249,#u104-251,#u104-252,#u104-254,#u104-255,#u104-257,#u104-258,#u104-260,#u104-261,#u104-263,#u104-264,#u104-266,#u104-267,#u104-269,#u104-270,#u104-272,#u104-273,#u104-275,#u104-276,#u104-278,#u104-279,#u104-281,#u104-283
{
	text-align: justify;
	line-height: 21px;
}

#u104-284
{
	font-size: 14px;
	text-align: justify;
}

#u109
{
	z-index: 288;
	width: 33px;
	min-height: 34px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 3px;
}

body
{
	position: relative;
	min-width: 320px;
}

#page .verticalspacer
{
	clear: both;
}

