<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhuanyi.vjwealth.wallet.mobile.order.server.mapper.IOrderInfoQueryMapper">

	<!-- 查询消息列表 -->
      <select id="getOrderInfoByOrderNo" parameterType="java.lang.String" resultType="com.zhuanyi.vjwealth.wallet.mobile.order.dto.WjOrderInfoDTO">
			select 
				w.order_no as orderNo,
				w.order_type as orderType,
				w.order_status as orderStatus,
				w.user_id as userId,
				w.rel_order_no as relOrderNo,
				w.channel_trade_id as borrowCode
			from wj_order w
			where w.order_no=#{orderNo}
     </select>

	
</mapper>