@charset "utf-8";
/**
 * 【用户协议】收益权产品认购协议
*/

.contract{padding:20px;}
.logo{width:100%;heigth:50px;line-height:50px;text-align:center;font-size:21px;}
.logo1{width:100%;heigth:50px;line-height:50px;text-align:center;font-size:16px;}
.bottom{margin-bottom:25px;}
.bottom1{margin-bottom:20px;}
.loan-height{line-height:26px; position:relative;}
h3{width:100%;heigth:50px;line-height:50px;text-align:center;font-weight:bold;}
.height{height:30px;}
.row{text-indent: 2em;}
.loan-bold{font-weight:bold;}
u{text-decoration:underline;width:100px;}
.loan-padding{padding-left:20px;}
table{border-collapse:collapse;width:100%;}
tr{border-bottom:1px solid;border-left:1px solid;border-right:1px solid;}
.table-up{border-top:1px solid;}
td{border-right:1px solid;line-height:26px;}
.td-right{border-right:none;}
.td-width{width:20%;}
.td-width1{width:14%;}