@charset "utf-8";
/**
 * œ˚œ¢œÍ«È
*/
.system{height:40px;padding:14px 0 11px;padding-left:60px;background:url(../img/news-detail/system-messages.png) no-repeat 20px center;background-size:24px 24px;}
.same{line-height:20px;font-size:14px;color:#4a4a4a;}
.size{color:#b8cdd6;font-size:12px;}
.back{height:30px;background:url(../img/news-detail/shadow.png) no-repeat left center;background-size:100% 20px;}
.padding{padding:0 20px;}
.content{color:#4a4a4a;font-size:14px;}