* {font-family: "Helvetica Neue","Heiti Sc";margin: 0;padding: 0;border: 0;font-size:16px;letter-spacing:0.2em;}
a {text-decoration: none;}
ul,li {list-style:none;}
.normalInput {border:1px solid #ccc; }
.focusInput {border:1px solid #FFD42C; }
.ablack {color: #000;}
.ftsize12 {font-size:0.750em;}
body {background: #FBFBFB;}
.hd60px {height:60px;}
.bgblue {background:#4AC0F0;box-shadow:0px 4px 4px 0px #97C0D2;}
.textcenter {text-align:center;}
.xialfd {position:relative;z-index:99;}
.MarginLeftNone {margin-left:0 !important;}
.MarginTopNone {margin-top:0 !important;}
.MarginBottomNone {margin-bottom:0 !important;}
.cboth {clear:both;}
.CheckedInput {float:left;}
.borderBNone {border-bottom:0 !important;}
.borderTNone {border-top:0 !important;}
.Flift {float:left;}
.Fright {float:right;}
.PublicHeaderRightA {position:absolute;right:7.37%;font-size:0.875em;color:#fff;letter-spacing:0.1em;top:22px;}
.PublicBack {width:42px;height:60px;float:left;margin-left:17px;}
.PublicBack img {margin:19px 0 0 14px;widht:13.71px;height:23.03px;}
.PublicInputWFrame {height:auto;border-top:3px solid #F8F8F8;border-bottom:3px solid #F8F8F8;background:#fff;margin:8px 0 8px 0;}
.PublicP {color:#fff;font-weight:bold;font-size:18px;width:72%;float:left;text-align:center;line-height:60px;}
.PublicInputFrame {height:54px;border-top:3px solid #F2F2F2;border-bottom:3px solid #F2F2F2;background:#fff;margin:8px 0 8px 0;}
.PublicInputFrameN {background:#fff;}
.PublicInputFrames {height:auto;border-top:3px solid #F2F2F2;border-bottom:3px solid #F2F2F2;background:#fff;margin:8px 0 8px 0;}
.PublicInputFrame .leftFrame {margin:0 14px 0 0;float:left;}
.PublicInputFrame .leftFrame p {font-size:0.938em;color:#4a4a4a;float:left;margin:18px 0 0 0;}
.PublicMT14 {margin-top:14px !important;}
.PublicInputlink1 {width:54%;float:left;color:#D8D8D8;height:100%;font-size:0.938em;letter-spacing:0.1em;color:#5D7A8D;}
.PublicButton {border-radius:1px;background:#4AC0F0;border:1px solid #D8D8D8;margin-bottom:14px;}
.PublicWbutton {width:85%;height:38px;margin:0 auto;}
.PublicWbutton a {width:100%;display:block;font-size:1.063em;color:#fff;font-weight:bold;text-align:center;line-height:38px;}
.PublicWbuttonTwo {width:71.875%;height:38px;margin:0 auto;}
.PublicWbuttonTwo a {width:45%;display:block;font-size:1.063em;color:#fff;font-weight:bold;text-align:center;line-height:38px;border-radius:1px;background:#4AC0F0;border:1px solid #D8D8D8;}
.PublicPrompt {font-size:0.750em;color:#4AC0F0;float:left;letter-spacing:0.1em !important;}
.PublicPrompt b {font-weight:500;color:#9B9B9B;letter-spacing:0.1em !important;font-size:0.750em;}
.PublicWPrompt {width:85%;margin:0 auto;margin-top:14px;}
.PublicPromptIcon {width:12px;height:12px;float:left;margin-right:4px;}
.PublicFooter {text-align:center;position:fixed;bottom:0;width:100%;height:62px;background:#fff;}
.PublicFooter .ahover {border-top:3px solid #4AC0F0;}
.PublicFooter a {border-top:3px solid #EBEBEB;padding-top:8px;}
.PublicFooter a span {height:29px;display:block;}
.PublicFooter a p {font-size:0.688em;color:#9E9F9E;}
.PublicFooter .ahover p {color:#4AC0F0;}
.PublicFooter a span .FooterImg1 {width:25px;height:24px;}
.PublicFooter a span .FooterImg2 {width:23px;height:23px;}
.PublicFooter a span .FooterImg3 {width:22px;height:18px;}
.PublicFooter a span .FooterImg4 {width:21px;height:26px;}
.PublicFooter a span .FooterImg5 {width:23px;height:21px;}
.PbulickArticleFrame {border-bottom:3px solid #F2F2F2;background:#fff;}
.PbulickArticleFrameBT {border-top:3px solid #F2F2F2;border-bottom:3px solid #F2F2F2;background:#fff;}
.PbulickZXa {width:93.75%;display:block;border-bottom:1px solid #F2F2F2;float:right;padding:18px 0 18px 0;}
.PbulickZXa p {float:left;font-size:0.875em;color:#4A4A4A;letter-spacing:0.1em;margin-left:11px;}
.PbulickZXa img {width:7px;height:14px;float:right;margin-right:26px;margin-top:2px;}
.PbulickZXa pre {float:right;font-size:0.875em;color:#9B9B9B;margin-right:8px;}
.PbulickZXas {padding:10px 0 10px 0;}
.YJdiv {width:20px;height:20px;border-radius:50%;background:#4AC0F0;margin-right:10px;text-align:center;color:#FFFFFF;font-size:0.750em;line-height:22px;letter-spacing:0em;}
.yhzxImg {width:100%;margin:0 auto;margin-top:20px;text-align:center;}
.yhzxImg img {width:100px;height:100px;}
/*tabs style*/
.tabs-style-underline {background:#FBFBFB;}
.tabs-style-underline nav {background:#fff;  }
.tabs-style-underline nav a {padding:0.25em 0 0.5em;border-left:1px solid #e7ecea;-webkit-transition:color 0.2s;transition:color 0.2s;}
.tabs-style-underline nav li a:after {z-index:2;position:absolute;bottom:0;left:0;width:100%;height:6px;background:#4AC0F0;content:'';-webkit-transition:-webkit-transform 0.3s;transition:transform 0.3s;-webkit-transform:translate3d(0,150%,0);transform:translate3d(0,150%,0);}
.tabs-style-underline nav li.tab-current a:after {-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
.tabs-style-underline nav li .borderbbc {height:6px;background:#F2F2F2;width:100%;z-index:1;position:absolute;bottom:0;}
/* Nav */
.tabs nav ul {position:relative;display:-ms-flexbox;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:flex;margin:0 auto;padding:0;max-width:1200px;list-style:none;-ms-box-orient:horizontal;-ms-box-pack:center;-webkit-flex-flow:row wrap;-moz-flex-flow:row wrap;-ms-flex-flow:row wrap;flex-flow:row wrap;-webkit-justify-content:center;-moz-justify-content:center;-ms-justify-content:center;justify-content:center;}
.tabs nav ul li {position:relative;z-index:1;display:block;margin:0;text-align:center;-webkit-flex:1;-moz-flex:1;-ms-flex:1;flex:1;}
.tabs nav a {position:relative;display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;line-height:2.5;color:#BCBCBC;}
.tabs nav a span {vertical-align:middle;font-size:0.875em;}
.tabs nav li.tab-current a {color:#4AC0F0;}
.tabs nav a:focus {outline:none;}
/* Content */
.content-wrap {position:relative;}
.content-wrap section {display:none;margin:0 auto;max-width:1200px;text-align:center;}
.content-wrap section.content-current {display:block;}

/*scroll*/
.conterFarm {height:60px;line-height:60px;text-align:center;width:100%;background:#fff;}
.conterFarm div {width:120px;margin:0 auto;}
.conterFarm img {width:40px;height:40px;float:left;}
.conterFarm b {font-size:0.625em;color:#ccc;float:left;letter-spacing:0.05em;margin-top:-8px;}


/*welcome page*/
.billa {float:right;margin:20px 20px 0 0;}
.swiper-container {height:auto;width:100%;text-align:center;margin:0 auto;position:relative;overflow:hidden;z-index:5;background:#F8F8F8;border-bottom:4px solid #F8F8F8;}
.swiper-wrapper {position:relative;z-index:10;}
.swiper-slide {position:relative;text-align:center;float:left;}
.swiper-slide a{position:relative;width:100%;height:100%;display:block;overflow:hidden;}
.swiper-slide img{width:100%;height:auto;vertical-align:middle;position:relative;}
.pagination{position:absolute;height:1.2em;width:100%;bottom:0.4em;z-index:100;}
.pagination .swiper-pagination-switch{display:inline-block;height:0.4em;width:0.4em;background:#C9C9CB;border-radius:50%;margin-right:1em;}
.pagination .swiper-active-switch{background:#898989;}
.WePSection {border-bottom:1px solid #f8f8f8;padding:11% 9%;}
.WePSection img {width:100%;}
    /*.WePSection img {width:42px;height:42px;float:left;margin-right:12px;}*样式兼容问题，暂时去除/
    /*.WePSection span {border-left:1px solid #DCDCDC;float:left;padding-left:3.75%;}*/
/*.WePSection span p {font-size:1.063em;color:#000;white-space:normal;font-weight:bold;letter-spacing:0.1em;}*/
/*.WePSection span p b {font-size:1.688em;color:#F5A623;letter-spacing:0.1em;}*/
/*.WePSection span pre {color:#9E9F9E;font-size:0.750em;letter-spacing:0.1em;}*/


/*FirstRecharge page*/
.RechargeCard {width:19px;height:13px;float:left;margin:21px 11px 0 30px;}
.RechargeButton {margin-top:134px;}

/*BindingBankCard page*/
.chargeP {padding:14px 0 0 9.375%;font-size:0.938em;color:#9B9B9B;}
.borderBsection {width:95.625%;background:#fff;border-bottom:1px solid #F2F2F2;float:left;margin-left:4.375%;}
.borderBsection p {width:130px;float:left;margin:17px 0 17px 5%;font-size:0.938em;color:#4a4a4a;letter-spacing:0.1em;}
.borderBsection input {width:52%;float:left;color:#5D7A8D;height:52px;font-size:0.938em;letter-spacing:0.1em;}
.borderBsection select {-webkit-appearance:none;width:52%;color:#5D7A8D;background:#fff;height:54px;letter-spacing:0.1em;}
.borderBsection .VerificationButton {width:29.6%;height:21px;float:left;font-size:0.750em;background:#4ac0f0;color:#fff;margin-top:15px;}

/*RechargeCompleted page*/
.reCompleted {width:100%;text-align:center;background:#fff;border-bottom:3px solid #F8F8F8;margin-bottom:39px;}
.reCompleted img {width:75.79px;height:86.1px;margin:49px 0 18px 0;}
.reCompleted h4 {font-size:1.063em;font-weight:inherit;margin-bottom:31px;}
.reCompleted p {font-size:0.938em;color:#9E9F9E; text-align:left;margin:0 0 11px 30px;letter-spacing:0.1em;}
.reCompleted p span {color:#F5A623;letter-spacing:0.1em;}

/*Recharge page*/

/*Withdrawals page*/
.borderBsection span {width:52%;float:left;color:#5D7A8D;line-height:54px;font-size:0.938em;letter-spacing:0.1em;}
.ExplainFont {text-align:center;margin:22px 0 16px 0;}
.ExplainFont a {background:none;color:#4AC0F0;}

/*WithdrawalsSuccess page*/
.StateImg {float:left;margin:33px 17px 34px 30px}
.StateImg img {width:40px;height:245px;}
.StateFont {float:left;margin-top:40px;}
.StateFont div {margin:63px 0 63px 0;}
.StateFont div p {color:#4a4a4a;font-size:0.938em;}
.StateFont div .endP {color:#2DA7E0;}
.StateFont div span {font-size:0.750em;color:#9B9B9B;}

/*OutSuccess*/

/*EAccountOut page*/
.EaoImg {width:39px;height:41px;float:left;margin:11px 20px 7px 30px;}
.EaoImg2 {width:54px;height:24px;float:right;margin:20px 30px 0 0;}
.EaoSpan {margin:12px 0 9px 0;float:left;text-align:left;}
.EaoSpan b {font-size:1.125em;color:#4a4a4a;font-weight:500;}
.EaoSpan i {font-size:0.750em;color:#5D7A8D;font-style:normal;}
.EaoInput {width:60%;float:left;color:#5D7A8D;height:52px;font-size:0.938em;letter-spacing:0.1em;margin-top:5px;}

/*VAdministration page*/
.VAtdiv {width:111px;height:47px;margin:18px auto 5px auto;background:url(../img/jiantoud.png);}
.VAtdiv p {font-size:0.750em;color:#5D7A8D;line-height:85px;letter-spacing:0.1em;}
.mnh3 {font-size:2.750em;color:#4AC0F0;letter-spacing:0.1em;line-height:34px;font-weight:500;}
.VAbdiv {width:111px;height:47px;margin:4px auto 18px auto;background:url(../img/jiantou.png);}
.VAa {height:100%;display:block;padding:20px 23px 0 30px;}
.VAa b {float:left;font-size:0.750em;color:#5D7A8D;font-weight:500;}
.VAa i,.VAa img {float:right;}
.VAa i {font-style:normal;color:#4A4A4A;font-size:1.063em;line-height:17px;margin-right:16px;}
.VAa img {width:8px;height:14px;margin-top:1px;}
.VaNoLoginSection {border-bottom:1px solid #F2F2F2;padding:21px 23px 18px 0;}
.VaNoLoginSection a {display:block;}
.VaNoLoginSection span {font-weight:300;letter-spacing:0em;margin-right:15px;float:left;width:104px;height:37px;border-right:1px solid #D8D8D8;color:#F5A623;font-size:1.875em;line-height:24px;}
.VaNoLoginSection span i {font-style:normal;font-size:0.500em;vertical-align:super;font-weight:100;letter-spacing:0em;}
.VaNoLoginSection .p1 {font-size:0.813em;color:#5D7A8D;letter-spacing:0.1em;}
.VaNoLoginSection .p2 {font-size:0.750em;color:#4AC0F0;margin-top:7px;letter-spacing:0.1em;}
.VaNoLoginSection .rightfx {float:right;width:8px;height:14px;margin-top:-24px;}
.VaNoLoginSection .FIdiv {background:url("../img/rgbgimg.png");width:52px;height:51px;margin:-50px 14px 0 0;overflow:hidden;float:right;text-align:center;padding-top:8px;}
.VaNoLoginSection .FIdiv b {font-size:1.313em;color:#000;letter-spacing:0em;font-weight:normal;}
.VaNoLoginSection .FIdiv b i {font-style:normal;font-size:0.623em;vertical-align:super;font-weight:100;}
.VaNoLoginSection .FIdiv p {font-size:0.500em;color:#9E9F9E;letter-spacing:0em;line-height:10px;}
.VaNoLoginSection .Fdiv {width:71px;float:right;color:#4A4A4A;letter-spacing:0.1em;margin:-38px 14px 0 0;}
.VaNoLoginSection .Fdiv p {white-space:nowrap;font-size:0.938em;}

/*VAdministrationJia page*/
.VAjiap {font-size:0.875em;color:#5D7A8D;letter-spacing:0.1em;margin:0 0 12px 0;}
.VAjiah4 {color:#4AC0F0;font-size:2.750em;letter-spacing:0.05em;font-weight:400;}
.VAjiai {font-style:normal;font-size:0.750em;color:#CACACA;letter-spacing:0.05em;}
.VAjiaspan {font-size:0.623em;color:#5D7A8D;letter-spacing:0.05em;float:left;}
.VAjiaap {float:right;color:#4A4A4A;font-size:1.125em;letter-spacing:0.05em;margin-top:-6px;}
.VAjiatabh3 {font-weight:400;color:#F5A623;letter-spacing:0.05em;}
.VAjiatabh3 b {font-weight:400;color:#F5A623;font-size:1.500em;}
.Vajiatabpre {font-size:0.875em;color:#5D7A8D;letter-spacing:0.05em;margin-top:6px}

/*FinancialInvestment page*/
.FinLiftSection {float:left;width:220px;text-align:left;margin-left:30px;}
.FinLiftSection i {font-style:normal;font-size:0.750em;color:#5D7A8D;width:200px;float:left;letter-spacing:0.1em;}
.FinLiftSection span {width:200px;font-size:4.000em;color:#4A4A4A;float:left;letter-spacing:0.01em;}
.FinLiftSection span b {vertical-align:super;font-weight:400;font-size:0.433em;}
.FinLiftSection p {font-size:0.635em;color:#BCBCBC;letter-spacing:0.05em;line-height:20px;width:200px;}
.FinRightSection {float:right;margin:10px 30px 0 0;}
.FinRightSection img {width:87px;height:106px;}

/*VAdministrationjiaSQ page*/
.vjiasqimg {width:30px;height:30;float:left;margin:18px 8px 12px 30px;}
.VAjiasqSection {text-align:left;padding:15px 30px 0 30px;overflow:scroll;height:150px;background:#fff;border-bottom:1px solid #F2F2F2;}
.VajiasqChargeP {color:#4AC0F0;font-size:0.938em;padding-top:23px;letter-spacing:0.05em;}

/*VAdministrationjiatzSQ page*/
.VajiatzsqP {font-size:0.750em;color:#5D7A8D;letter-spacing:0.1em;}
.VajiatzsqI {font-size:1.125em;color:#F5A623;font-style:normal;letter-spacing:0.1em;}
.VajiaFloatDiv {position:absolute;top:20px;left:30px;text-align:left;}
.VajiaFloatDiv p {font-size:0.750em;color:#4AC0F0;letter-spacing:0.1em;}
.VajiaFloatDiv b {font-size:2.875em;font-weight:300;letter-spacing:0.03em;color:#4A4A4A;}
.VajiaFloatDiv b i {font-style:normal;font-size:0.391em;vertical-align:super;}
.VAjiatzspan {font-size:0.623em;color:#5D7A8D;letter-spacing:0.05em;}
.VAjiaatzp {color:#4A4A4A;font-size:1.063em;letter-spacing:0.05em;margin-bottom:8px;}
.VAatz {height:100%;display:block;padding:6px 23px 0 30px;}


/*UserCenter page*/
.button{float:right;background:url(../img/button.png);background-position:-90px 0;width:50px;height:31px;margin:-3px 22px 0 0;cursor:pointer;-webkit-transition:0.3s ease-in-out;-moz-transition:0.3s ease-in-out;border-radius:32px;}
.button.hover{background-position:0 0;}

/*MessageCenter.html*/
.MessageCLi {float:right;width:83%;padding:15px 8% 15px 3%;border-bottom:1px solid #F2F2F2;text-align:left;overflow:hidden;color:#4A4A4A;}
.MessageCLi span {width:100%;float:left;}
.MessageCLi span p {font-size:0.875em;letter-spacing:0.02em;}
.MessageCLi pre {width:100%;overflow:hidden;font-size:0.875em;letter-spacing:0.02em;line-height:30px;}
.MessageCLi:visited {color:#9B9B9B;}
.shanchu {width:30px;height:30px;float:right;border:0;position:absolute;top:26px;right:5px;display:none;}

/*Eaccount page*/
.EaccountP {font-size:0.750em;color:#5D7A8D;letter-spacing:0.1em;margin-bottom:5px;}
.EaccountP i {font-style:normal;color:#D8D8D8;font-size:1.05em;margin-left:4px;}
.EaccountTabDiv {border-top:1px solid #F2F2F2;}
.EaccountTabDiv nav {width:85.5%;margin:3px auto 8px auto;height:20px;border:1px solid #4AC0F0;border-radius:3px;}
.EaccountTabDiv nav .icon {padding:0;line-height:1.2em;border-left:1px solid #4AC0F0;z-index:3;color:#4AC0F0;}
.EaccountTabDiv nav .icon span {font-size:0.625em;}
.EaccountTabDiv nav li a:after {display:none;}
.EaccountTabDiv .tab-current {color:#fff;background:#4AC0F0;}
.EaccountTabDiv .tab-current .icon {color:#fff;}
.EAccountTabsection {border-bottom:3px solid #F2F2F2;padding-bottom:7px;}
.EAccountTabsection section {width:70.5%;height:auto;}

/*TotalAssets page*/
.TotalAssetsSectiontop {width:85.5%;height:22px;background:#F2F2F2;padding:0 7.25% 0 7.25%;}
.TotalAssetsSectiontop p {color:#9B9B9B;font-size:0.750em;float:left;line-height:24px;white-space:normal;overflow:hidden;}
.TotalAssetsSectiontop .p1 {width:27%;margin-right:17.80%;}
.TotalAssetsSectiontop .p2{width:21.7%;text-align:center;}
.TotalAssetsSectiontop .p3 {float:right;}
.TotalAssetsSectionBottom {width:85.46%;margin-left:4.4%;float:left;padding:14px 7.25% 14px 2.89%;border-bottom:1px solid #F2F2F2;}
.TotalAssetsSectionBottom a {color:#000;}
.TotalAssetsSectionBottom b,.TotalAssetsSectionBottom p {float:left;letter-spacing:0.05em;}
.TotalAssetsSectionBottom p {color:#5D7A8D;width:40%;margin-right:4.83%;}
.TotalAssetsSectionBottom b {font-weight:400;width:21.7%;text-align:center;letter-spacing:0.05em;}
.TotalAssetsSectionBottom i {text-align:right;float:right;font-style:normal;letter-spacing:0.05em;color:#EC7E0B;}
.TotalAssetsSectionNone {width:85.5%;margin:0 auto;padding:23px 0 23px 0;}
.TotalAssetsSectionNone img {width:44px;height:48px;float:left;margin-right:20px;}
.TotalAssetsSectionNone h4 {font-size:1.125em;color:#4A4A4A;font-weight:400;line-height:28px;}
.TotalAssetsSectionNone p {font-size:0.875em;color:#9B9B9B;}
.VajiaFloatDiv .kai {background:url("../img/kai.png") no-repeat;width:29px;height:15.8px;display:block;}
.VajiaFloatDiv .Guan {background:url("../img/guan.png") no-repeat;width:29px;height:15.8px;display:block;}

/*bill page*/
.BillCWDiv {border-top:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;margin-top:8px;background:#fff;}
.BillCWDiv .BillFrem {width:85.1%%;padding:0 7.5% 0 4%;margin-left:3.38%;border-bottom:1px solid #f2f2f2;}
.BillLeftDiv {width:54.2%;float:left;text-align:left;margin:23px 0 23px 0;}
.BillLeftDiv p {font-size:0.875em;color:#9B9B9B;float:left;letter-spacing:0.05em;}
.BillLeftDiv b {font-size:0.875em;font-weight:400;color:#4A4A4A;float:left;margin:0 5px 0 5px;letter-spacing:0.05em;}
.BillLeftDiv i {font-size:0.875em;font-style:normal;color:#4A4A4A;float:left;letter-spacing:0.05em;}
.BillRightDiv {float:right;text-align:right;margin:5px 12px 0 0 ;}
.BillCWDiv img {width:7px;height:14px;float:right;margin-top:27px;}
.BillRightDiv p {font-size:1.500em;color:#4A4A4A;letter-spacing:0.05em;}
.BillRightDiv i {font-size:0.625em;color:#C5C3C3;font-style:normal;letter-spacing:0.05em;}

/*Order page*/
ul.expmenu > li > div.header > .arrow.up { background: url(../img/arrow_d.png) no-repeat;width:13.33px;height:13.33px;display:block;float:left;margin-top:3px;margin-right:6px;}
ul.expmenu > li > div.header > .arrow.down { background: url(../img/arrow_u.png) no-repeat;;width:13.33px;height:13.33px;display:block;float:left;margin-top:3px;margin-right:6px;}


/*
 * CSS Expandable Menu
 * @author: Francisco Neves
 */

/*/!** Reset *!/*/
/** { font-family: "museo500", "Arial"; font-size: 12px; list-style: none; margin: 0; padding: 0; outline: 0; text-decoration: none; box-sizing: border-box !important; -webkit-box-sizing: border-box !important; -moz-box-sizing: border-box !important; -ms-box-sizing: border-box !important; }*/

/*/!***/
 /**  START FREEBIE STYLES*/
 /**!/*/

/*/!*! Font Faces *!/*/
/*@font-face{*/
    /*font-family: 'museo500';*/
    /*src: url('../fonts/MuseoSans_500-webfont.eot');*/
    /*src: url('../fonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),*/
    /*url('../fonts/MuseoSans_500-webfont.woff') format('woff'),*/
    /*url('../fonts/MuseoSans_500-webfont.ttf') format('truetype'),*/
    /*url('../fonts/MuseoSans_500-webfont.svg#museo_sans_500regular') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/

/*/!*! Freebie Skelet *!/*/
/*ul.expmenu { width: 200px; }*/
/*ul.expmenu * { list-style: none; }*/
/*ul.expmenu > li > div.header { padding: 12px; border-bottom: 1px #396e9f solid; }*/
/*ul.expmenu > li:last-child > div.header { border-bottom: none; }*/
/*ul.expmenu > li ul li { background-color: #ececec; padding: 12px; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #fff; color: #727272; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8); }*/
/*ul.expmenu > li ul li:last-child { border-bottom: none; }*/
/*ul.expmenu > li ul li.selected { background-color: #f4f4f4; }*/
/*ul.expmenu div.header*/
/*{*/
    /*color: #203f61;*/
    /*text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);*/

    /*background: #4d7fb8; /!* Old browsers *!/*/
    /*background: -moz-linear-gradient(top, #4d7fb8 0%, #4572a5 100%); /!* FF3.6+ *!/*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d7fb8), color-stop(100%,#4572a5)); /!* Chrome,Safari4+ *!/*/
    /*background: -webkit-linear-gradient(top, #4d7fb8 0%,#4572a5 100%); /!* Chrome10+,Safari5.1+ *!/*/
    /*background: -o-linear-gradient(top, #4d7fb8 0%,#4572a5 100%); /!* Opera 11.10+ *!/*/
    /*background: -ms-linear-gradient(top, #4d7fb8 0%,#4572a5 100%); /!* IE10+ *!/*/
    /*background: linear-gradient(to bottom, #4d7fb8 0%,#4572a5 100%); /!* W3C *!/*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d7fb8', endColorstr='#4572a5',GradientType=0 ); /!* IE6-9 *!/*/
/*}*/
/*ul.expmenu > li > div.header > .label { padding-left: 24px; background: no-repeat; }*/
/*ul.expmenu > li > div.header > .arrow { display: block; width: 16px; height: 16px; background: no-repeat center; float: right; }*/
/*ul.expmenu > li > div.header > .arrow.up { background-image: url(../img/arrow_u.png); }*/
/*ul.expmenu > li > div.header > .arrow.down { background-image: url(../img/arrow_d.png); }*/

/*/!* Mouse Events *!/*/
/*ul.expmenu div.header:hover*/
/*{*/
    /*background: #4571a0; /!* Old browsers *!/*/
    /*background: -moz-linear-gradient(top, #4d7fb8 0%, #4571a0 100%); /!* FF3.6+ *!/*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d7fb8), color-stop(100%,#4571a0)); /!* Chrome,Safari4+ *!/*/
    /*background: -webkit-linear-gradient(top, #4d7fb8 0%,#4571a0 100%); /!* Chrome10+,Safari5.1+ *!/*/
    /*background: -o-linear-gradient(top, #4d7fb8 0%,#4571a0 100%); /!* Opera 11.10+ *!/*/
    /*background: -ms-linear-gradient(top, #4d7fb8 0%,#4571a0 100%); /!* IE10+ *!/*/
    /*background: linear-gradient(to bottom, #4d7fb8 0%,#4571a0 100%); /!* W3C *!/*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d7fb8', endColorstr='#4571a0',GradientType=0 ); /!* IE6-9 *!/*/

    /*cursor: pointer;*/
/*}*/

/*ul.expmenu > li ul li:not(.selected):hover*/
/*{*/
    /*background: #e7e7e7; /!* Old browsers *!/*/

    /*cursor: pointer;*/
/*}*/
/*ul.expmenu > li ul li:not(.selected):active*/
/*{*/
    /*background: #f1f1f1; /!* Old browsers *!/*/

    /*cursor: pointer;*/
/*}*/
/*/!***/
 /**  END FREEBIE STYLES*/
 /**!/*/


/*/!***/
 /**	Not important styles*/
 /**!/*/
/*ul#pagination-freebie { display: table; padding-right: 20px; margin: 20px auto; list-style: none; }*/
/*ul#pagination-freebie:last-child { padding-right: 0; }*/
/*ul#pagination-freebie li { float: left; margin-bottom: 20px }*/
/*ul#pagination-freebie li:last-child { margin-right: 0; }*/

/*div#text { text-align: center; font-size: 48px; width: 610px; margin: 0 auto; margin-top: 50px; margin-top: 80px; }*/
/*div#smalltext { text-align: center; font-size: 15px; width: 600px; margin: 0 auto; }*/
/*div#content { display: table; margin: 0 auto; padding: 30px; }*/