<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuanyi.vjwealth.wallet.mobile.index.server.mapper.IWjActivityInfoMapper">

	<select id="queryActivityList" resultType="com.zhuanyi.vjwealth.wallet.mobile.index.server.dto.WjActivityInfoDTO">
		select `title` title, `sub_title` subTitle, `function_type` functionType, `function_code` functionCode,
		`params` as paramsStr, `detail_url` detailUrl,date_format(`publish_time`,'%Y-%m-%d %H:%i:%S') publishTime, `small_pic` smallPic from wj_activity_info
		where `is_valid`=0
		order by publish_time desc
		LIMIT #{page},10
	</select>
	<!--查询最新上架、可买的新手标-->
	<select id="queryNewestProductFinace" resultType="java.lang.String">
		select product_id as productId from wj_product_finace
		where product_flag='greenhorn'
		and remain_balance>=100
		and is_shelves='yes'
		and is_sold_out='no'
		order by create_date desc
		limit 1
	</select>

	<select id="queryAppHomeActivityList" resultType="com.zhuanyi.vjwealth.wallet.mobile.index.server.dto.WjActivityInfoDTO">
		select
		`title` title,
		`sub_title` subTitle,
		`function_type` functionType,
		`function_code` functionCode,
		`params` as paramsStr,
		`detail_url` detailUrl,date_format(`publish_time`,'%Y-%m-%d %H:%i:%S') publishTime,
		`small_pic` smallPic,
		weixin_link_url as weixinLinkUrl,
		weixin_pic_url as weixinPicUrl
		from wj_activity_info
		where `is_valid` = 0
		and version = #{version}
		order by sort
		LIMIT 0,3
	</select>

</mapper>