<script type="text/template" data-tpl="tpl-main-view">
	<div class="page-login">
		<div class="b-main">
			<div class="widget-passport">
				<form id="loginform">
					<div class="widget-passport-wrap">
						<input type="text" style="display:none;">
						<input type="password" style="display:none;">
						<div class="row fix">
							<div class="input-wrap">
								<div class="con">
									<input placeholder="请输入手机号" maxlength="11" value="" type="tel" id="f-phone" name="phone" class="inp-text">
								</div>
							</div>
							<label class="phone" for="f-phone">手机号</label>
						</div>	
						<div class="row fix">
							<div class="input-wrap">
								<div class="con con-pwd">
									<input placeholder="请输入登录密码" maxlength="12" value="" type="password"  id="f-password" name="password" class="inp-text">
									<span id="eye" class="eye eye-hide">&nbsp;</span>
								</div>
							</div>
							<label class="password" for="f-password">登录密码</label>
						</div>
					</div>
					<div class="tip-bar">
						新用户请点击注册/激活
					</div>
					
					
					<div class="btn-bar">
						<input type="submit" g-act-tap="true" value="登&nbsp;录" id="btn-submit" class="ui-button">
					</div>

					<div class="text-bar fix">
						<div class="col-l">
							<a  data-tap-path="user/getPwd" href="javascript:;">忘记密码？</a>
						</div>
						<div class="col-r">
							<a data-tap-path="user/registerChoose" href="javascript:;">注册/激活</a>
						</div>
					</div>
				</form>	
			</div>
		</div>
	</div>
	
</script>
<div class="page"></div>