<script type="text/template" data-tpl="tpl-main-view">
	
	

	<div class="page-login">
		<div class="b-main">
			<div class="widget-passport">
				<form id="regform">
					<div class="widget-passport-wrap">
						<input type="text" style="display:none;">
						<input type="password" style="display:none;">
						<div class="row fix">
							<div class="input-wrap">
								<div class="con">
									<input placeholder="请输入手机号" maxlength="11" value="" type="tel" id="f-phone" name="phone" class="inp-text">
								</div>
							</div>
							<label class="phone" for="f-phone">手机号</label>
						</div>	
						<div class="row fix">
							<div class="input-wrap">
								<div class="con con-pwd">
									<input placeholder="请设置登录密码" maxlength="12" value="" type="password"  id="f-password" name="password" class="inp-text">
									<span id="eye" class="eye eye-hide">&nbsp;</span>
								</div>
							</div>
							<label class="password" for="f-password">设置密码</label>
						</div>
						<div class="row fix">
							<div class="input-wrap input-wrap-code">
								<div class="con">
									<input placeholder="请输入验证码" maxlength="6" value="" type="tel" id="f-code" name="code" class="inp-text">
								</div>
							</div>
							<label class="msg" for="f-code">验证码</label>
							<span class="code-btn" id="code-btn" g-act-tap="true">发送验证码</span>
						</div>	
					</div>
					<div class="tip-bar">
						如无法收到手机验证码，请选择<span id="code-btn2" class="code-btn2">语音验证码</span>
					</div>
					<div class="btn-bar  btn-bar-2">
						<input type="submit" g-act-tap="true" value="完&nbsp;成" id="btn-submit" class="ui-button">
					</div>
					<# if(self.type == "geren"){ #>
					<div class="agree-bar" id="agree-bar">
						<a data-tap-path="user/registeredAgreement">我同意并已阅读&lt;工资钱包服务协议&gt;</a>
					</div>
					<# } #>
					<input type="hidden" name="type" id="f-type">
				</form>
			</div>
		</div>
	</div>
</script>
<div class="page"></div>