<script type="text/template" data-tpl="tpl-main-view">
	
	<div  class="passport-wrap">
		<div class="box box-2">
			<div class="logel">
				<img src="<# print(_g_dir.static_dir); #>img/logo.png">
			</div>
			<div class="form-wrap">
				<form id="regform">
					<input type="text" style="display:none;">
					<input type="password" style="display:none;">
					<div class="text text-1">
						<div class="tubiao fix">
							<img src="<# print(_g_dir.static_dir); #>img/passport/phone.png" class="phone">
							<div class="inp-wrap">
								<input type="tel" name="phone" id="f-phone" value="" maxlength="11" placeholder="请输入手机号码" class="intext">
							</div>
						</div>
						<div class="tubiao fix">
							<img src="<# print(_g_dir.static_dir); #>img/passport/clock.png" class="password">
							<div class="inp-wrap">
								<input type="password" placeholder="请输入登录密码" name="password" id="f-password" class="intext">
							</div>
							<span id="eye" class="eye eye-hide"></span>
						</div>
						<div class="tubiao fix">
							<img src="<# print(_g_dir.static_dir); #>img/passport/letter.png" class="valid-code">
							<div class="inp-wrap">
								<input type="tel" name="code" id="f-code" value="" maxlength="6" placeholder="请输入验证码" class="intext">
							</div>
							<span class="verification-code" g-act-tap="true" id="code-btn">发送验证码</span>
						</div>
						<div class="tubiao1 fix">
							<div class="allvoice">
								<div class="voice"></div>
								<span class="voice-detail">如无法收到手机验证码，请选择</span>
							</div>
							<div class="all-voice">
								<div class="voice-img"></div>
								<div class="voice-text">语&nbsp;音&nbsp;验&nbsp;证&nbsp;码</div>
							</div>	
						</div>

						<div class="recommender-wrap">
							<div class="tubiao  fix">
								<img src="<# print(_g_dir.static_dir); #>img/passport/person.png" class="friend-phone">
								<div class="inp-wrap">
									
									<input type="tel" name="inviteCode" id="f-inviteCode" value="" maxlength="11" placeholder="填写推荐人手机号" class="intext">
								</div>
								
								<div class="choose">*&nbsp;选填</div>		
							</div>
						</div>							
						
						<input type="submit" id="btn-submit" class="btn" value="下一步">
					</div>

				</form>
			</div>
			
		</div>
	</div>
	<div class="bottom" id="registeredAgreementBtn" >我同意并已仔细阅读&lt;工资钱包服务协议&gt;</div>
			
</script>
<div class="page"></div>