<script type="text/template" data-tpl="tpl-main-view">
	
	<div class="page-bg" id="page-bg">
		<div class="page-item" style="background:url('<# print(_g_dir.static_dir + "img/geren.jpg?t=" + REQUIRE_CONFIG.urlVersion); #>') center 0 no-repeat; background-size:100% 100%;<# if(self.type == "geren") { #> display:block; z-index:1; <# }else{ #> display:none; z-index:0; <# } #> ">
			<p class="s-1">WELCOME CUSTOMER</p>
			<p class="s-2">请选择您所在的用户组</p>
		</div>
		<div class="page-item" style="background:url('<# print(_g_dir.static_dir + "img/qiye.jpg?t=" + REQUIRE_CONFIG.urlVersion); #>') center 0 no-repeat; background-size:100% 100%; <# if(self.type == "qiye") { #> display:block; z-index:1; <# }else{ #> display:none; z-index:0; <# } #> ">
			<p class="s-1">WELCOME CUSTOMER</p>
			<p class="s-2">请选择您所在的用户组</p>
		</div>
	</div>
	
	<div class="swiper-container" id="p-swiper-container" style="display:block;">
		<div class="swiper-wrapper">
			<div class="swiper-slide" >
				<div class="item" >
					<div class="top geren">&nbsp;</div>
					<div class="bottom">
						<div class="ico ico-geren"></div>
						<div class="text">我是个人用户</div>
						<div class="split-bar"></div>
						<div class="btn-bar">
							<a data-type="geren" href="javascript:;">确定</a>
						</div>
					
					</div>
				</div>
			</div>
			<div class="swiper-slide" >
				<div class="item" >
					<div class="top qiye">&nbsp;</div>
					<div class="bottom">
						<div class="ico ico-qiye"></div>
						<div class="text">我是企业绑定的个人用户</div>
						<div class="split-bar"></div>
						<div class="btn-bar">
							<a data-type="qiye" href="javascript:;">确定</a>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>	

</script>
<div class="page"></div>