<script type="text/template" data-tpl="tpl-main-view">

	<div class="recharge-index">
		
		<form id="rechargeForm">
			<div class="b-box">
				<label class="item item_bankInfor">
					<div class="item-wrap fix">
						<div class="col-r">
							<div class="con">
								<div  class="choose selected" id="selectedBankCard">请选择银行卡</div>
							</div>
						</div>
					</div>
				</label>
				<div class="tip2" id="tip2" style="display:none;"></div>
				<label class="item item_inputSum" for="f-money">
					<div class="item-wrap fix">
						<div class="col-r">
							<div class="con">
								<input  type="number" min="0.01"  step="0.01" placeholder="请输入充值金额" class="inp-text"  id="f-money" name="amount" >
							</div>
						</div>
						
						<div class="col-l">
							<span class="text">充值金额：</span>
						</div>
					</div>
				</label>
			</div>
			<p class="tip"  id="rechargeTip"></p>
			<div class="btn-bar">
				<input disabled="disabled" g-act-tap="true" id="btn-submit" type="submit" class="ui-button" value="确认充值">	
			</div>
			<div class="btn-bar2">
				<a href="#account/rechargeLarge" class="btn">大额充值</a>
			</div>
			<div class="recharge-max-bar"  id="rechargeMaxTip">
				<span>限额说明</span>
			</div>
			<input type="hidden" name="cardId" id="selectedBankCardId">
			<input type="hidden" name="bankCode"  id="selectedBankCode">
			<input type="hidden" name="bankName"  id="selectedBankName">
		</form>
		<div class="g-visibility-hidden">
			<div class="widget-query-wrap">
				<div class="query-state query-state-1"></div>
				<div class="query-text">充值处理中...</div>
			</div>		
		</div>
	</div>
	<div class="ui-slidebox backface-visibility" id="ui-slidebox" style="display:none;">
		<div class="alpha" ></div>
		<div class="content backface-visibility" style="display:none; ">
			<div class="list-wrap">
				<div class="list backface-visibility">
					<div class="slide-item">
						<div class="handle">
							<span g-act-tap="true" class="close"></span>
							<span class="text">请选择支付银行</span>
						</div>
						<div id="bindedBanks" class="bank-list">
							<div>
								<#
									print(self.render("tpl-binded-bankList"));
								#>
							</div>
						</div>
					</div>
					<div class="slide-item">
						<div class="handle">
							<span g-act-tap="true" class="back"></span>
							<span class="text">请选择开户银行</span>
						</div>
						<div class="bank-list" id="supportBanks">
							<div>
									<#
										print(self.render("tpl-support-bankList"));
									#>
							</div>
						</div>
					</div>
				</div>
			</div>
		
		</div>
	</div>	
	
	
	<div class="ui-slidebox backface-visibility" id="ui-slidebox2" style="display:none;">
		<div class="alpha" ></div>
		<div class="content backface-visibility" style="display:none; ">
			<div class="list-wrap">
				<div class="list backface-visibility">
					
					<div class="slide-item">
						<div class="handle">
							<span g-act-tap="true" class="close"></span>
							<span class="text">限额说明</span>
						</div>
						<div class="toptips">银行卡支付限额是由银行设置，无法提升。若提示超限，建议使用推荐银行卡或者选择大额充值功能。</div>
						<div class="bank-list bank-list2" id="supportBanks2">
							<div>
								<#
									print(self.render("tpl-support-bankList"));
								#>
							</div>
						</div>
					</div>
				</div>
			</div>
		
		</div>
	</div>		
</script>
<script type="text/template" data-tpl="renderCard">

	<div class="selected-card">
		<div class="thumb">
			<img src="<# print(self.getBankImgByCode(bankCode)); #>">
		</div>
		<div class="desc">
			<# print(bankName); #>
		</div>
	</div>

</script>
<script type="text/template" data-tpl="tpl-support-bankList">
	<#
		var defaultImg = self.getBankImgByCode("99999");
	#>
	<# $.each(self.initData.supportsBanks, function(i, o){ #>
	<div <# if(o.status != "normal" ){ #> style="opacity:0.5;" <# } #> g-act-tap="true" class="bank-item" data-bank-name="<# print(o.bankName); #>" data-bank-code="<# print(o.bankCode); #>" data-item="<# print(o.bankCode); #>" data-min-amount="<# print(o.minBalance); #>" data-max-amount="<# print(o.remainAmount); #>" data-min-balance="<# print(o.minBalance); #>" data-input-tip="<# print(o.tipInput); #>" data-status="<# print(o.status); #>" data-content-tip="<# print(o.tipContent); #>" data-bank-code="<# print(o.bankCode); #>">
		<div class="item-wrap fix">
			<div class="desc">
				<div class="desc-con">
					<p class="bankName">
						<# print(o.bankName); #>
					</p>
					<p class="ext">
						<# print(o.bank_tipContent); #>
					</p>
				</div>
			</div>
			<span class="bank-logo">
				<div class="img-wrap">
					<img onerror="this.src='<# print(defaultImg); #>'; this.onerror = null;" src="<# print(self.getBankImgByCode(o.bankCode)); #>">
				</div>
			</span>
			<# if(o.isRecommend == "1"){ #>
			<span class="icon_sign sign_orange">推荐</span>
			<# } #>
		</div>
	</div>
	<# }); #>
</script>
<script type="text/template" data-tpl="tpl-binded-bankList">
	<#
		var defaultImg = self.getBankImgByCode("99999");
	#>
	<# 
		if(self.initData.isBandCard){ 
	#>
			<# 
				$.each(self.initData.bindedCards, function(i, o){ 
			#>
				<# if(o.status == "normal"){ #>
				<div g-act-tap="true" class="bank-item" data-bank-code="<# print(o.bankCode); #>" data-bank-name="<# print(o.bankName); #>" data-item="<# print(o.cardId); #>" data-min-amount="<# print(o.minBalance); #>" data-max-amount="<# print(o.remainAmount); #>" data-min-balance="<# print(o.minBalance); #>" data-input-tip="<# print(o.tipInput); #>" data-status="<# print(o.status); #>" data-content-tip="<# print(o.tipContent); #>" data-card-id="<# print(o.cardId); #>">
					<div class="item-wrap fix">
						<div class="desc">
							<div class="desc-con">
								<p class="bankName">
									<# print(o.bankName); #>
								</p>
								<p class="ext">
									<# print(o.bank_tipContent); #>
								</p>
							</div>
						</div>
						<span class="bank-logo">
							<div class="img-wrap">
								<img onerror="this.src='<# print(defaultImg); #>'; this.onerror = null;" src="<# print(self.getBankImgByCode(o.bankCode)); #>">
							</div>
						</span>
						<span class="choosed" style="display:none;" ></span>
					</div>
				</div>
				<# } #>
			<# }); #>
			<div g-act-tap="true" id="addbank" class="bank-item add-item" >
				<div class="item-wrap add-bank fix">
					<span>使用新卡付款</span>
				</div>
			</div>
			<# 
				$.each(self.initData.bindedCards, function(i, o){ 
			#>
				<# if(o.status != "normal"){ #>
				<div style="opacity:0.5;" g-act-tap="true" class="bank-item" data-bank-code="<# print(o.bankCode); #>" data-bank-name="<# print(o.bankName); #>" data-item="<# print(o.cardId); #>" data-min-amount="<# print(o.minBalance); #>" data-max-amount="<# print(o.remainAmount); #>" data-min-balance="<# print(o.minBalance); #>" data-input-tip="<# print(o.tipInput); #>" data-status="<# print(o.status); #>" data-content-tip="<# print(o.tipContent); #>" data-card-id="<# print(o.cardId); #>">
					<div class="item-wrap fix">
						<div class="desc">
							<div class="desc-con">
								<p class="bankName">
									<# print(o.bankName); #>
								</p>
								<p class="ext">
									<# print(o.bank_tipContent); #>
								</p>
							</div>
						</div>
						<span class="bank-logo">
							<div class="img-wrap">
								<img onerror="this.src='<# print(defaultImg); #>'; this.onerror = null;" src="<# print(self.getBankImgByCode(o.bankCode)); #>">
							</div>
						</span>
						<span class="choosed" style="display:none;" ></span>
					</div>
				</div>
				<# } #>
			<# }); #>		
		
		
	<# }else{ #>
		<div g-act-tap="true" id="addbank" class="bank-item add-item" >
			<div class="item-wrap add-bank fix">
				<span>使用新卡付款</span>
			</div>
		</div>
	<# } #>	
</script>
<div class="page"></div>