<script type="text/template" data-tpl="tpl-main-view">

	<section class="largeRecharge border-box">
		<div class="toptt">
			<P class="line"></P>
			<span class="words">工资钱包线下充值服务流程</span>
		</div>
		<div class="wuliu">
			<p class="wuliu_tt">
				<span class="icon_step1 icon_steps activeimg"></span>
			</p>
			<div class="block black">
				<p>
					<strong class="tt">致电客服</strong><br/>
					请致电工资钱包客服热线4000078655，<br/>
					将有VIP专员全程协助您完成线下充值。
				</p>
			</div>

			<p class="wuliu_tt mt20">
				<span class="icon_step2 icon_steps activeimg"></span>
			</p>
			<div class="block">
				<p>
					<strong class="tt">注册开户</strong><br/>
					请您在工资钱包平台完成注册并签署《线下充值服务协议》电子合同，同时提供您的身份证照片，VIP专员将为您办理开户。
				</p>
			</div>
			<p class="wuliu_tt mt20">
				<span class="icon_step3 icon_steps activeimg"></span>
			</p>

		</div>
		<div class="block_last">
			<p>
				<strong class="tt">资金划转</strong><br/>
				请在VIP专员的指导下将资金划转至指定账户，即可充值成功。
			</p>
		</div>

		<div class="mid_block">
			<p class="tt">
				<span class="inner">指定账户</span>
			</p>
			<ul class="fix">
				<li>
					<label>账户名称：</label><p class="rightwords">上海蔚捷互联网金融信息服务有限公司</p>
				</li>
				<li>
					<label>银行账号：</label><p class="rightwords">0300 2650 408</p>
				</li>
				<li>
					<label>开户银行：</label><p class="rightwords">上海银行虹口支行</p>
				</li>
			</ul>
		</div>
		<div class="sweettips">
			<div>
				<p class="ml20">
					<strong class="tt">温馨提示</strong>
				</p>

				<ul>
					<li>产品到期赎回时，为保障您的资金安全，钱款将转至您转入资金时使用的银行卡；     </li>
					<li>VIP专员将在产品到期前三个工作日给您致电，您可以选择续投或者赎回；        </li>
					<li>企业用户需要提交营业执照等材料，欢迎拨打4000078655了解详情。</li>
				</ul>
			</div>
			<div class="mt20">
				<p class="ml20">
					<strong class="tt">特别注意</strong>
				</p>
				<p class="pl20 ">如您正在操作线下充值流程</p>
				<ul class="mt10">
					<li>请将所需充值金额转账汇款至上述账户内，并备注工资钱包账户注册手机号码；   </li>
					<li>请将转账汇款回执单拍照或截图，发送至工资钱包微信公众号，并备注工资钱包注册手机号码。</li>
				</ul>
			</div>
		</div>

	</section>

	
</script>
<div class="page"></div>