
<script type="text/template" data-tpl="tpl-main-view">
	
	<div class="recharge-sendcode">
		<form id="recharge-form">
			<p class="amount-bar">
				充值金额&nbsp;<# print(self.amount); #>元
			</p>
			<input type="hidden" name="amount" value="<# print(self.amount); #>">
			<input type="hidden" name="cardId" value="<# print(self.cardId); #>" id="f-cardId">
			<input type="hidden" name="orderNo" id="f-orderNo">
			<div class="b-box">
				<div class="item" >
					<div class="item-wrap fix">
						<div class="col-r">
							<div class="con">
								<div class="gray-tip"><input name="dynamicCode" maxlength="6" type="tel" id="f-dynamicCode" placeholder="请输入验证码" type="text" class="inp-text"></div>
								<span class="code-btn" id="code-btn"  g-act-tap="true">发送验证码</span>
							</div>
						</div>
						
						<div class="col-l">
							<span class="text bank">验证码</span>
						</div>
					</div>
				</div>
			</div>
			<div class="btn-bar">
				<input type="submit" value="完成验证并充值" g-act-tap="true" id="btn-submit" class="ui-button">
			</div>
		</form>
	</div>
</script>

<div class="page"></div>