<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuanyi.vjwealth.wallet.mobile.product.server.mapper.IInvestmentOrderMapper">

       <resultMap type="com.zhuanyi.vjwealth.wallet.mobile.product.server.dto.OrderInitQueryDTO" id="orderInitQuery">
           
           <result column="availableBalance" property="availableBalance" />
           <result column="availableBalancePlaceholderTip" property="availableBalancePlaceholderTip" />
           <result column="isCanBuy" property="isCanBuy" />
           <result column="fromInvestmentAmount" property="fromInvestmentAmount" />
           <result column="incrementAmount" property="incrementAmount" />
           <result column="inputBottomTipContents" property="inputBottomTipContents" />
           <result column="isShowInvestmentIip" property="isShowInvestmentIip" />
           <result column="information" property="information" />
           <result column="token" property="token" />

           <association property="product" javaType="com.zhuanyi.vjwealth.wallet.mobile.product.server.dto.ProductOrderInitQueryDTO">
             <result column="productId" property="productId" />
             <result column="productName" property="productName" />
             <result column="productCode" property="productCode" />
             <result column="projectTerm" property="projectTerm" />
             <result column="remainingInvestment" property="remainingInvestment" />
             <result column="annualYield" property="annualYield" />
             <result column="paymentWay" property="paymentWay" />
           </association>
       </resultMap>
       <!-- 下订单初始化页面 -->
		<select id="queryProductCanBuy" parameterType="java.lang.String" resultMap="orderInitQuery">
			select 
                product_id as productId,
				product_name as productName,
		        CONCAT(product_name,product_id) as productCode,
		        
		        -- 项目期限
		        CASE when (remain_balance &lt; 100 OR raise_progress = 1 OR is_sold_out = 'yes') AND sold_out_time is not null then IFNULL(QUERY_MONTH_AND_DAY(DATE_FORMAT(sold_out_time,'%Y-%m-%d'),end_time),'')
                    ELSE QUERY_MONTH_AND_DAY(DATE_FORMAT(now(),'%Y-%m-%d'),end_time)
		        end as projectTerm,
		        
		        -- 剩余可投金额
		        CASE when remain_balance &lt; 100 OR raise_progress = 1 OR is_sold_out = 'yes' OR DATE_FORMAT(end_time,'%Y-%m-%d %H:%i:%S') &lt; DATE_FORMAT(now(),'%Y-%m-%d %H:%i:%S') then 0
		        ELSE TRUNCATE(remain_balance,0)
		        end as remainingInvestment,
		        
				receive_rate+IFNULL(greenhorn_receive_rate,0) as annualYield,
				IFNULL(QUERY_ITEM_NAME("repayments_type",repayments_type),"")  as paymentWay,
				TRUNCATE(start_money,0) as fromInvestmentAmount,
				TRUNCATE(increase_money,0) as incrementAmount,
                c.*,
				case when wpf.is_sold_out = 'yes' or  wpf.remain_balance &lt; 100 or wpf.is_shelves='no'  then  'false'
				     else  'true'
				end as isCanBuy,
			    CONCAT(TRUNCATE(start_money,0),'元起投',', 投资金额为',TRUNCATE(increase_money,0),'的整数倍') as inputBottomTipContents,
			    uuid() as token,
<!-- 			    IF((select count(1) from wj_user_certification where user_id = #{userId} AND certification_status = 'audit_process')>0,"no","yes") as isShowInvestmentIip, -->
			    'no' as isShowInvestmentIip,
				'' as information
			from  wj_product_finace wpf ,
			       (select TRUNCATE(available_amount,2) as availableBalance ,
                        CONCAT("可用余额",TRUNCATE(available_amount,2),"元") as availableBalancePlaceholderTip 
                        from wj_user_trade_account where user_id =#{userId} and trade_type='ma') c
			where wpf.product_id=#{productId}

		</select>

	<!-- 下订单初始化页面 -->
	<select id="queryProductCanBuyV2" parameterType="java.lang.String" resultMap="orderInitQuery">
		select
		product_id as productId,
		product_name as productName,
		CONCAT(product_name,product_id) as productCode,

		-- 项目期限
		CASE when (remain_balance &lt; 100 OR raise_progress = 1 OR is_sold_out = 'yes') AND sold_out_time is not null then IFNULL(QUERY_MONTH_AND_DAY(DATE_FORMAT(sold_out_time,'%Y-%m-%d'),end_time),'')
		ELSE QUERY_MONTH_AND_DAY(DATE_FORMAT(now(),'%Y-%m-%d'),end_time)
		end as projectTerm,

		-- 剩余可投金额
		CASE when remain_balance &lt; 100 OR raise_progress = 1 OR is_sold_out = 'yes' OR DATE_FORMAT(end_time,'%Y-%m-%d %H:%i:%S') &lt; DATE_FORMAT(now(),'%Y-%m-%d %H:%i:%S') then 0
		ELSE TRUNCATE(remain_balance,0)
		end as remainingInvestment,

		receive_rate+IFNULL(greenhorn_receive_rate,0) as annualYield,
		IFNULL(QUERY_ITEM_NAME("repayments_type",repayments_type),"")  as paymentWay,
		TRUNCATE(start_money,0) as fromInvestmentAmount,
		TRUNCATE(increase_money,0) as incrementAmount,
		c.*,
		case when wpf.is_sold_out = 'yes' or  wpf.remain_balance &lt; 100 or wpf.is_shelves='no' or (wpf.product_flag = 'greenhorn' and (select count(1) from wj_user_action_flag where user_id = #{userId} and is_purchase_v_financial_flag = 'yes') > 0)  then  'false'
		else  'true'
		end as isCanBuy,
		CONCAT(TRUNCATE(start_money,0),'元起投',', 投资金额为',TRUNCATE(increase_money,0),'的整数倍') as inputBottomTipContents,
		uuid() as token,
<!-- 		IF((select count(1) from wj_user_certification where user_id = #{userId} AND (certification_status = 'audit_process' or certification_status = 'audit_success'))>0,"no","yes") as isShowInvestmentIip, -->
		'no' as isShowInvestmentIip,
		<!-- 提示：新手专享 -->
		case when wpf.product_flag = 'greenhorn' and (select count(1) from wj_user_action_flag where user_id = #{userId} and is_purchase_v_financial_flag = 'yes')>0 then '该项目只适用新手'
		     when wpf.is_sold_out = 'yes' or  wpf.remain_balance &lt; 100 or wpf.is_shelves='no' then '卖光了'
		else  ''
		end as information

		from  wj_product_finace wpf ,
		(select TRUNCATE(available_amount,2) as availableBalance ,
		CONCAT("可用余额",TRUNCATE(available_amount,2),"元") as availableBalancePlaceholderTip
		from wj_user_trade_account where user_id =#{userId} and trade_type='ma') c
		where wpf.product_id=#{productId}

	</select>
		
		<!-- 查询用户是否有过投资记录 -->
		<select id="queryWhetherInvestmentRecord" parameterType="java.lang.String" resultType="java.lang.Boolean">
		    
		    SELECT
				count(wir.id)
			FROM
				 wj_investment_record wir
                INNER JOIN wj_order_product wop ON wop.order_no = wir.order_no
				INNER JOIN wj_product_finace wpf ON wpf.product_id = wop.product_id AND wpf.product_category = 'v_financial'
			WHERE
				wir.user_id = #{userId}
		   
		</select>
		
		<!-- 查询用户的投资记录汇总(在投本金,待收利息,累计收益) -->
		<select id="queryUserInInvestment" parameterType="java.lang.String" resultType="com.zhuanyi.vjwealth.wallet.mobile.product.server.dto.InvestmentRecordSummaryQueryDTO">
		    
		    SELECT
				IFNULL((SELECT TRUNCATE (available_amount, 2) FROM wj_user_trade_account WHERE user_id = #{userId} AND trade_type = 'rf'),0) as inPrincipalCast,
				(SELECT
					IFNULL(sum(wrp.repay_interest+wrp.greenhorn_interest),0)
				FROM
					wj_repayment_plan wrp
				INNER JOIN wj_order_product wop ON wop.order_no = wrp.order_no
				INNER JOIN wj_product_finace wpf ON wpf.product_id = wop.product_id AND wpf.product_category = 'v_financial'
				WHERE
				  wrp.user_id=#{userId} and wrp.is_repay='yes') AS accumulatedEarnings,
				
				(SELECT
					IFNULL(sum(wrp.repay_interest+wrp.greenhorn_interest),0)
				FROM
					wj_repayment_plan wrp
				INNER JOIN wj_order_product wop ON wop.order_no = wrp.order_no
				INNER JOIN wj_product_finace wpf ON wpf.product_id = wop.product_id AND wpf.product_category = 'v_financial'
				WHERE
				  wrp.user_id=#{userId}
				 and wrp.is_repay='no'
			     and wrp.is_valid=0
			) AS interestReceived
			FROM DUAL
		   
		</select>
		
		<!-- 查询投资中的投资记录 -->
		<select id="queryUserInvestment" parameterType="java.util.Map" resultType="com.zhuanyi.vjwealth.wallet.mobile.product.server.dto.UserInvestmentListQueryDTO">
		    
		   SELECT
			  TRUNCATE (p.amount, 2) as investmentAmount,
			  p.order_no as orderId,
			  f.product_id as productId,
			  f.product_name as productName,
			  CONCAT(f.product_name,f.product_id) as productCode,
			  f.receive_rate+IFNULL(f.greenhorn_receive_rate,0) as annualYield,
			  DATE_FORMAT(p.interest_start_time,'%Y-%m-%d') as fromInterestTime,
			  DATE_FORMAT(p.interest_end_time,'%Y-%m-%d') as expirationDate,
			  (select IFNULL(sum(repay_principal+repay_interest+greenhorn_interest),0) from wj_repayment_plan wp where wp.user_id=p.user_id and wp.order_no=p.order_no and wp.is_valid=0) as amountReceivable,
			  (select IFNULL(sum(repay_principal+repay_interest+greenhorn_interest),0) from wj_repayment_plan wp where wp.user_id=p.user_id and wp.order_no=p.order_no and wp.is_repay='yes' and wp.is_valid=0) as amountReceived,
			  '' as investmentStatusMarkURL,
			  'State_Returning.png' as investmentStatusIconURL,
			  '应回' as amountReceivableLabel,
			  '已回' as amountReceivedLabel,
			  'false' as isShowAdvancePaymentDate,
			  '提前回款' as advancePaymentDateLabel,
			  '' as advancePaymentDate
			FROM
				wj_order_product p,
				wj_order o,
				wj_product_finace f
			where 
			  p.user_id = #{userId}
			AND p.order_product_status = 'invest_going'
			AND o.order_status = 'apply_ma_to_rf_confirm'
			AND p.order_no = o.order_no
			AND f.product_id = p.product_id
			AND f.product_category = 'v_financial'
			ORDER BY p.create_date desc
         LIMIT #{page},10
		   
		</select>
		
		<!-- 查询投资结束的投资记录 -->
		<select id="queryUserInvestmentEnd" parameterType="java.util.Map" resultType="com.zhuanyi.vjwealth.wallet.mobile.product.server.dto.UserInvestmentListQueryDTO">
		    SELECT
			  TRUNCATE (p.amount, 2) as investmentAmount,
			  p.order_no as orderId,
			  f.product_id as productId,
			  f.product_name as productName,
			  CONCAT(f.product_name,f.product_id) as productCode,
			  f.receive_rate+IFNULL(f.greenhorn_receive_rate,0) as annualYield,
			  DATE_FORMAT(p.interest_start_time,'%Y-%m-%d') as fromInterestTime,
			  DATE_FORMAT(p.interest_end_time,'%Y-%m-%d') as expirationDate,
			  (select IFNULL(sum(repay_principal+repay_interest+greenhorn_interest),0) from wj_repayment_plan wp where wp.user_id=p.user_id and wp.order_no=p.order_no and IFNULL(wp.is_pre_expire,'') &lt;>'yes') as amountReceivable,
			  (select IFNULL(sum(repay_principal+repay_interest+greenhorn_interest),0) from wj_repayment_plan wp where wp.user_id=p.user_id and wp.order_no=p.order_no and wp.is_repay='yes' and wp.is_valid=0) as amountReceived,
			 (case when f.is_pre_expire='yes' then 'State_EarlyReturn.png' else 'State_AlreadyReturn.png' end) as investmentStatusIconURL,
			 '' investmentStatusMarkURL,
			 (case when f.is_pre_expire='yes' then '原计划回款' else '应回' end) as amountReceivableLabel,
			 (case when f.is_pre_expire='yes' then '已提前回款' else '已回' end) as amountReceivedLabel,
			 (case when f.is_pre_expire='yes' then 'true' else 'false' end) as isShowAdvancePaymentDate,
			 '提前回款' as advancePaymentDateLabel,
			 DATE_FORMAT(f.wj_advance_due_date,'%Y-%m-%d') as advancePaymentDate
			FROM
				wj_order_product p,
				wj_order o,
				wj_product_finace f
			where 
			  p.user_id = #{userId}
			AND p.order_product_status in ('invest_end','invest_early_end')
			AND o.order_status = 'apply_ma_to_rf_confirm'
			AND p.order_no = o.order_no
			AND f.product_id = p.product_id
			AND f.product_category = 'v_financial'
			ORDER BY p.create_date desc
            LIMIT #{page},10
		   
		</select>
		
		<!-- 查询待赔付的投资记录 -->
		<select id="queryUserPendingPayment" parameterType="java.util.Map" resultType="com.zhuanyi.vjwealth.wallet.mobile.product.server.dto.UserInvestmentListQueryDTO">
		    
		     SELECT
			  TRUNCATE (p.amount, 2) as investmentAmount,
			  p.order_no as orderId,
			  f.product_id as productId,
			  f.product_name as productName,
			  CONCAT(f.product_name,f.product_id) as productCode,
			  f.receive_rate+IFNULL(f.greenhorn_receive_rate,0) as annualYield,
			  DATE_FORMAT(p.interest_start_time,'%Y-%m-%d') as fromInterestTime,
			  DATE_FORMAT(p.interest_end_time,'%Y-%m-%d') as expirationDate,
			  (select IFNULL(sum(repay_principal+repay_interest+greenhorn_interest),0) from wj_repayment_plan wp where wp.user_id=p.user_id and wp.order_no=p.order_no and wp.is_valid=0) as amountReceivable,
			  (select IFNULL(sum(repay_principal+repay_interest+greenhorn_interest),0) from wj_repayment_plan wp where wp.user_id=p.user_id and wp.order_no=p.order_no and wp.is_repay='yes' and wp.is_valid=0) as amountReceived,
			  '' as investmentStatusMarkURL,
			  'State_Need_Paid.png' as investmentStatusIconURL,
			  '应回' as amountReceivableLabel,
			 '已回' as amountReceivedLabel,
			 'false' as isShowAdvancePaymentDate,
			 '提前回款' as advancePaymentDateLabel,
			 '' as advancePaymentDate

			FROM
				wj_order_product p,
				wj_order o,
				wj_product_finace f
			where 
			    p.user_id = #{userId}
			AND p.order_product_status = 'invest_overdue'
			AND o.order_status = 'apply_ma_to_rf_confirm'
			AND p.order_no = o.order_no
			AND f.product_id = p.product_id
			AND f.product_category = 'v_financial'
			ORDER BY p.create_date desc
            LIMIT #{page},10
		   
		</select>
		
		
		 <!-- 投资详情resultMap -->
		<resultMap type="com.zhuanyi.vjwealth.wallet.mobile.product.server.dto.InvestmentDetailQueryDTO" id="investmentDetailQuery">
           <result column="orderId" property="orderId" />
           <result column="investmentStatusDescription" property="investmentStatusDescription" />
           <result column="investmentStatusMarkURL" property="investmentStatusMarkURL" />
           <result column="investmentPrincipal" property="investmentPrincipal" />
           <result column="interestReceived" property="interestReceived" />
           <result column="dynamicInformation" property="dynamicInformation" />
           <result column="dynamicTime" property="dynamicTime" />
           <result column="insurancePolicyNumberTitle" property="insurancePolicyNumberTitle" />
           <result column="insurancePolicyNumberLabel" property="insurancePolicyNumberLabel" />
           <result column="insurancePolicyNumber" property="insurancePolicyNumber" />
           <result column="insurancePolicyNumberShowActionType" property="insurancePolicyNumberShowActionType" />
           <result column="insurancePolicyNumberShowContent" property="insurancePolicyNumberShowContent" />
           <result column="insurancePolicyNumberShowTitle" property="insurancePolicyNumberShowTitle" />
           
           <association property="product" javaType="com.zhuanyi.vjwealth.wallet.mobile.product.server.dto.ProductInvestmentDetailQueryDTO">
             <result column="productId" property="productId" />
             <result column="productName" property="productName" />
             <result column="productCode" property="productCode" />
             <result column="projectTerm" property="projectTerm" />
             <result column="annualYield" property="annualYield" />
             <result column="paymentWay" property="paymentWay" />
             <result column="fromInterestTime" property="fromInterestTime" />
             <result column="expirationDate" property="expirationDate" />
           </association>
       </resultMap>
        <!-- 投资详情sql -->
		<select id="queryUserInvestmentDetail" parameterType="java.lang.String" resultMap="investmentDetailQuery">
			  SELECT
			        p.order_no as orderId,
					f.product_id as productId,
					f.product_name as productName,
					CONCAT(f.product_name,f.product_id) as productCode,
					QUERY_MONTH_AND_DAY(DATE_FORMAT(p.interest_start_time,'%Y-%m-%d'),DATE_FORMAT(p.interest_end_time,'%Y-%m-%d')) as projectTerm,
					f.receive_rate+IFNULL(f.greenhorn_receive_rate,0) as annualYield,
					IFNULL(QUERY_ITEM_NAME("repayments_type",f.repayments_type),"")  as paymentWay,
					DATE_FORMAT(p.interest_start_time,'%Y-%m-%d') as fromInterestTime,
					DATE_FORMAT(p.interest_end_time,'%Y-%m-%d') as expirationDate,
					(select IFNULL(sum(repay_interest+greenhorn_interest),0) from wj_repayment_plan wp where wp.user_id=p.user_id and wp.order_no=p.order_no and wp.is_repay='no' and wp.is_valid=0) as interestReceived,
					IFNULL(QUERY_ITEM_NAME("order_product_status",p.order_product_status),"")  as investmentStatusDescription,
					IFNULL(QUERY_PARAM_VALUE(p.order_product_status,"xy_image"),'') as investmentStatusMarkURL,
					TRUNCATE (p.amount, 2) as investmentPrincipal,
					IFNULL(i.policy_no,'') as insurancePolicyNumber,
					
					
					CASE WHEN i.policy_no is null or i.policy_no = '' then QUERY_PARAM_VALUE('app_policy_no_policynum','xy_policy')
                         ELSE '保险凭证' 
                         end as insurancePolicyNumberLabel,
                         
				    CASE WHEN i.policy_no is null or i.policy_no = '' then  QUERY_PARAM_VALUE('app_policy_action_type_no','xy_policy')
			             WHEN  (select wpi.has_policy_pic  from wj_policy_info wpi where wpi.order_no = #{orderId} ) = 'yes' then  QUERY_PARAM_VALUE('app_policy_action_type_yes','xy_policy')
						 ELSE  QUERY_PARAM_VALUE('app_policy_action_type_alert','xy_policy')
					end as insurancePolicyNumberShowActionType,
					
                    CASE WHEN i.policy_no is null or i.policy_no = '' then QUERY_PARAM_VALUE('app_policy_no_policynum','xy_policy')
                    	 WHEN  (select wpi.has_policy_pic  from wj_policy_info wpi where wpi.order_no = #{orderId} ) = 'yes' then CONCAT(QUERY_PARAM_VALUE('app_policy_query_redirect','xy_policy'),i.policy_no,".security")
                         ELSE QUERY_PARAM_VALUE ('app_policy_query','xy_policy')
                         end as insurancePolicyNumberShowContent,
                    CASE WHEN i.policy_no is null or i.policy_no = '' then QUERY_PARAM_VALUE('app_policy_content_tip_title','xy_policy')
                         ELSE QUERY_PARAM_VALUE('app_policy_content_url_title','xy_policy')
                         end as insurancePolicyNumberShowTitle,
					'保险公司承保，保障本息到期如约兑付' as insurancePolicyNumberTitle,
					d.dynamicInformation,
					d.dynamicTime
				
				FROM
				    wj_order_product p,
					wj_order o,
					wj_product_finace f,
				    wj_policy_info i,
				    (select action_title as dynamicInformation,date_format(create_date,'%Y-%m-%d %H:%i:%S') as dynamicTime from wj_newest_activity where order_no=#{orderId} ORDER BY create_date DESC LIMIT 0,1) d
				where 
				  p.user_id = #{userId}
				AND p.order_no = #{orderId}
				AND p.order_no = o.order_no
				AND o.order_status = 'apply_ma_to_rf_confirm' 
				AND f.product_id = p.product_id
				AND i.order_no = p.order_no

		</select>
		
		
		
		<!-- 投资动态resultMap -->
		<resultMap type="com.zhuanyi.vjwealth.wallet.mobile.product.server.dto.NewestActivityListDTO" id="investmentNewsFlow">
           <result column="productCode" property="productCode" />
           <result column="insurancePolicyNumber" property="insurancePolicyNumber" />
           <collection property="dynamicList" javaType="java.util.List" ofType="com.zhuanyi.vjwealth.wallet.mobile.product.server.dto.NewestActivityDTO" >
	            <result column="information" property="information" />
		        <result column="time" property="time" />
		        <result column="dynamicDescription" property="dynamicDescription" />
           </collection>
        </resultMap>
       
        <!-- 投资动态 -->
		<select id="queryUserInvestmentNewsFlow" parameterType="java.lang.String" resultMap="investmentNewsFlow">
			  SELECT
					CONCAT(f.product_name,f.product_id) as productCode,
					CASE WHEN i.policy_no is null or i.policy_no = '' then QUERY_PARAM_VALUE('app_policy_no_policynum','xy_policy')
					ELSE i.policy_no
					end as insurancePolicyNumber,
					n.action_title AS information,
					n.action_description AS dynamicDescription,
					date_format(n.create_date,'%Y-%m-%d %H:%i:%S') AS time
				FROM
					wj_order_product p,
					wj_product_finace f,
				    wj_policy_info i,
				    wj_newest_activity n
				  
				where 
				  p.order_no = #{orderId}
				AND f.product_id = p.product_id
				AND i.order_no = p.order_no
				AND n.order_no = p.order_no
			    ORDER BY n.create_date desc

		</select>
		
		
		
		<!-- 还款计划resultMap -->
		<resultMap type="com.zhuanyi.vjwealth.wallet.mobile.product.server.dto.RepaymentPlanListDTO" id="repaymentPlan">
           <result column="investmentPrincipal" property="investmentPrincipal" />
           <result column="interestReceived" property="interestReceived" />
           <result column="repaymentType" property="repaymentType" />
           <collection property="repaymentPlanList" ofType="com.zhuanyi.vjwealth.wallet.mobile.product.server.dto.RepaymentPlanDTO" javaType="java.util.List">
	            <result column="paymentInstallments" property="paymentInstallments" />
		        <result column="paymentDate" property="paymentDate" />
		        <result column="principalAndInterestReceivable" property="principalAndInterestReceivable" />
		        <result column="principalAndInterestDesc" property="principalAndInterestDesc" />
			   <result column="paymentPrincipalAndInterestLabel" property="paymentPrincipalAndInterestLabel" />
			   <result column="isShowAdvancePaymentDesc" property="isShowAdvancePaymentDesc" />
			   <result column="advancePaymentDesc" property="advancePaymentDesc" />
			   <result column="isHighlight" property="isHighlight" />
           </collection>
        </resultMap>

        <!-- 还款计划 -->
		<select id="queryUserInvestmentNewsRepaymentPlan" parameterType="java.lang.String" resultMap="repaymentPlan">
			SELECT
			(select IFNULL(sum(repay_principal),0) from wj_repayment_plan wp where wp.order_no=p.order_no and wp.is_valid=0) as investmentPrincipal,
			(select IFNULL(sum(repay_interest+greenhorn_interest),0) from wj_repayment_plan wp where wp.order_no=p.order_no and wp.is_repay='no' and wp.is_valid=0) as interestReceived,
			IFNULL(QUERY_ITEM_NAME("repayments_type",r.repayment_type),"") as repaymentType,
			r.repayment_time AS paymentDate,
			case when r.repayment_type = 'monthly_interest' then CONCAT('第',r.term,'期',IF(r.is_pre_expire='yes',CONCAT('(',wpf.wj_advance_due_date,'已提前到期)'),''))
			when r.repayment_type = 'repay_maturity' then CONCAT('本息回款',IF(r.is_pre_expire='yes',CONCAT('(',wpf.wj_advance_due_date,'已提前到期)'),''))
			end as paymentInstallments,
			CONCAT("&lt;font color=#9B9B9B>本金&lt;/font> &lt;font color=#FFBD30>",
			r.repay_principal,
			"元&lt;/font> &lt;font color=#9B9B9B> |",IF(r.is_pre_expire='yes' and is_valid=0,'原计划',''),"利息&lt;/font> &lt;font color=#FFBD30>",
			IFNULL((select wp.repay_interest+wp.greenhorn_interest from wj_repayment_plan wp where wp.order_no=p.order_no and r.term=wp.term and wp.is_valid=1 and IFNULL(wp.is_pre_expire,'') &lt;>'yes'),r.repay_interest+r.greenhorn_interest),
			"元&lt;/font>") as principalAndInterestDesc,
			r.repay_principal+r.repay_interest+r.greenhorn_interest as principalAndInterestReceivable,
			(case when r.is_pre_expire='yes' and is_valid=0 then '提前回款' else '应回本息' end) paymentPrincipalAndInterestLabel,
			(case when r.is_pre_expire='yes' and is_valid=0 then 'true' else 'false' end) isShowadvancePaymentDesc,
			(case when is_repay='yes' then 'true' else 'false' end) isHighlight,
			(case when r.is_pre_expire='yes' and is_valid=0 then CONCAT("&lt;font color=#9B9B9B>提前回款&lt;/font> &lt;font color=#FFBD30>",r.repay_interest+r.greenhorn_interest,"元&lt;/font>") else "" end) advancePaymentDesc
			FROM
			wj_order_product p,
			wj_product_finace wpf,
			wj_repayment_plan r
			where
			p.order_no =#{orderId}
			AND r.order_no = p.order_no
			AND p.product_id =wpf.product_id
			and r.id not in(
				select min(id) from wj_repayment_plan wrp  where order_no =p.order_no group by term having count(term) > 1
			)
			ORDER BY r.term
		</select>
		
		
		
		<!-- 查询用户是否可进行实名认证 -->
		<select id="queryUserIsCanAuthenticate" parameterType="java.lang.String" resultType="java.lang.Boolean">
		    
		    SELECT
				count(1)
			FROM
				wj_user_info
			WHERE
				id = #{userId}
			AND indentity_type = '01'
			AND indentity_no != NULL
			AND indentity_no != ''
		   
		</select>
		
		
		<!-- 查询用户实名认证信息 -->
		<select id="realNameAuthenticateInit" parameterType="java.lang.String" resultType="com.zhuanyi.vjwealth.wallet.mobile.product.server.dto.UserCertificationDTO">
		    
		    SELECT
			  i.id as userId,
			  IFNULL(i.real_name,'') as realName,
			  cc.bank_card_no bankCardNo,
			  i.indentity_type as identityType,
			  IFNULL(CONCAT(LEFT(i.indentity_no,4),'**************'),'') as identityNo,
			IFNULL(QUERY_ITEM_NAME("certification_status",c.certification_status),"认证可升级") as certificationContent,
			IFNULL(c.certification_result,'') as certificationContentTip,
			`QUERY_PARAM_VALUE`('app_authenticate_real_name_init','xy_authenticate') as certificationDescription,
			IFNULL(case when ISNULL(c.identify_card_front_file_id) || LENGTH(trim(c.identify_card_front_file_id))&lt;'1' then '200301'
			when ISNULL(identify_card_back_file_id) || LENGTH(trim(c.identify_card_back_file_id)) &lt; '1' then '200301'
			when c.certification_status = 'audit_process' and c.identify_card_front_file_id is not null and identify_card_back_file_id is not null then '200303'
			     when c.certification_status = 'audit_refuse' then '200302'
			     when c.certification_status = 'audit_success' then '200304'
			end,'200301') as isUploadIdentityCard
			
			FROM
				wj_user_info i
                LEFT JOIN wj_user_certification c ON i.id = c.user_id
                LEFT JOIN wj_trade_account_card cc ON i.id = cc.user_id and cc.card_type='security'
			WHERE
				i.id = #{userId}
		   
		</select>

		<!-- 保存实名认证信息 -->
		<insert id="saveUserRealNameCertification" parameterType="java.lang.String">
			INSERT INTO
			wj_user_certification(
			user_id,
			identify_card_front_file_id,
			identify_card_back_file_id,
			certification_status,
			create_date
			)
			VALUES(
			#{userId},
			#{rightSideFileId},
			#{reverseSideFileId},
			'audit_process',
			now()
			)
		</insert>
		
		<!-- 保存实名认证信息 -->
		<delete id="deleteUserCertification" parameterType="java.lang.String">
		    DELETE
			FROM
				wj_user_certification
			WHERE
				user_id = #{userId}
		
		</delete>
		
	<!-- 查询用户工资单列表 -->
	<select id="queryPayRollList" parameterType="java.util.Map" resultType="com.zhuanyi.vjwealth.wallet.mobile.product.server.dto.SalaryBillListQueryDTO">
		SELECT
		s.id as payRollId,
		s.salary_title as  periodName
		FROM
		wj_salary_bill_info s
		WHERE
		s.user_id = #{userId}
		AND s.channel = 'VJ_WALLET'
		ORDER BY
		s.bill_no DESC
		LIMIT #{page},10
	</select>

	<!-- 查询用户工资单列表 -->
	<select id="queryPayRollDetail" parameterType="java.lang.String" resultType="java.util.Map">
		SELECT
		s.salary_detail AS payRollDetail,
		s.id AS id,
		s.salay_month AS salaryMonth,
		s.salary_title AS salaryTitle
		FROM
		wj_salary_bill_info s

		WHERE
		s.id=#{payRollId}
	</select>
		
		
		<!-- 查询用户工资单列表 -->
		<select id="investmentContractTemplate" parameterType="java.lang.String" resultType="java.lang.String">
		    
		    SELECT
				c.contract_content
			FROM
				wj_product_finace f,
				wj_contract_template_info c
			WHERE
				f.product_id = #{productId}
			AND f.contract_template_no = c.template_no

		</select>
		
		<!-- 查询合同的详细信息 -->
		<select id="investmentContractDetail" parameterType="java.lang.String" resultType="com.zhuanyi.vjwealth.wallet.mobile.product.server.dto.ContractDeatilQueryDTO">
		    
		        SELECT
						IFNULL(i.real_name,'') as investName,
						i.id as investUserName,	 
						TRUNCATE(op.amount,2) as investmentAmount,
                        TRUNCATE(op.amount,2)/10000 as investmentAmount2,			
				        TRUNCATE((f.receive_rate)*100,1) AS receiveRate,
                        IFNULL(QUERY_MONTH_AND_DAY(DATE_FORMAT(op.interest_start_time,'%Y-%m-%d'),DATE_FORMAT(op.interest_end_time,'%Y-%m-%d')),'') as projectTerm,
                         CASE WHEN p.policy_no is null or p.policy_no = '' then QUERY_PARAM_VALUE('app_policy_no_policynum','xy_policy')
                         ELSE p.policy_no 
                         end as policyNo,
		                 ci.contract_no  as gzqbNo,
				         op.product_id as productId,
				         f.contract_fixed_content_json as contractFixJson,
				         CONCAT(f.total_financing,"元") as totalAmount,
				         DATE_FORMAT(op.interest_start_time,"%Y-%m-%d") as createDate
					FROM
						wj_order_product op,
		                wj_order o,
						wj_user_info i,
					    wj_product_finace f,
		                wj_policy_info p,
		                wj_contract_info ci
				   WHERE
						op.order_no = #{orderId}
					AND op.order_no = o.order_no
					AND op.user_id = i.id
					AND f.product_id = op.product_id
		            AND p.order_no = op.order_no
		            AND ci.order_no = op.order_no


		</select>

		<select id="isMaintenanceMode"  resultType="java.lang.Boolean">

			SELECT
			count(1) as isMaintenanceMode
			FROM
			comm_params
			WHERE
			param_key = 'yzt_interface_switch' and param_value = 'open'

		</select>


	<!-- 查询合同的详细信息 -->
	<select id="queryInvestmentContractNoByUserIdAndLoanCode" parameterType="java.lang.String" resultType="java.lang.String">

		SELECT
		ci.contract_no  as contractNo
		FROM
		wj_order wod ,wj_contract_info ci
		WHERE
		wod.user_id = #{userId}
		AND wod.channel_trade_id = #{loanCode}
		AND wod.order_type = 'apply_ltb_loan'
		AND ci.order_no = wod.rel_order_no

	</select>
		
</mapper>