<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuanyi.vjwealth.wallet.mobile.product.server.mapper.IProductFinaceWXMapper">

	    <!--V理财-->
		<select id="queryProductList" parameterType="java.lang.Integer" resultType="java.util.Map">
            select pp.*
            from
            (select
            <!-- 产品售光标识：产品剩余份额<100,募集进度为1,已售光,产品过期 -->
            CASE when remain_balance &lt; 100 OR raise_progress = 1 OR is_sold_out = 'yes' OR DATE_FORMAT(end_time,'%Y-%m-%d %H:%i:%S') &lt; DATE_FORMAT(now(),'%Y-%m-%d %H:%i:%S') then 'yes'
            else 'no'
            end as isSoldOut,
            create_date as createDate,
            ordering_weight_value as orderingWeightValue,
            product_id as productId,
            product_name as productName,
            CONCAT(product_name,product_id) as productCode,
            CASE when (remain_balance &lt; 100 OR raise_progress = 1 OR is_sold_out = 'yes' OR DATE_FORMAT(end_time,'%Y-%m-%d %H:%i:%S') &lt; DATE_FORMAT(now(),'%Y-%m-%d %H:%i:%S'))
            AND sold_out_time is not null then IFNULL(QUERY_MONTH_AND_DAY(DATE_FORMAT(sold_out_time,'%Y-%m-%d'),end_time),'')
            ELSE QUERY_MONTH_AND_DAY(DATE_FORMAT(now(),'%Y-%m-%d'),end_time) end as projectTerm,
            CONCAT(TRUNCATE(remain_balance,0),"元") as remainBalance,
            receive_rate+IFNULL(greenhorn_receive_rate,0) as annualYield,
            '当日计息' as interestDate,
            '众安保险保障' as insuranceCompany,
            '' as productSalesMark,

            IFNULL(QUERY_ITEM_NAME("repayments_type",repayments_type),"")  as repayment,

            <!-- 是否为新手标 -->
            case when product_flag = 'common' then 'false'
            when product_flag = 'greenhorn' then 'true'
            end as newPersonMark,

            <!--产品图标：热卖中，已抢光，新手标-->
            case when product_flag = 'common' and is_sold_out = 'no' and remain_balance >= 100 AND raise_progress &lt; 1 AND DATE_FORMAT(end_time,'%Y-%m-%d %H:%i:%S') >= DATE_FORMAT(now(),'%Y-%m-%d %H:%i:%S')  then QUERY_PARAM_VALUE('app_pic_selling',"xy_image")
            when product_flag = 'greenhorn' and is_sold_out = 'no' and remain_balance >= 100 AND raise_progress &lt; 1 AND DATE_FORMAT(end_time,'%Y-%m-%d %H:%i:%S') > DATE_FORMAT(now(),'%Y-%m-%d %H:%i:%S') then QUERY_PARAM_VALUE('app_pic_new',"xy_image")
            ELSE QUERY_PARAM_VALUE('app_pic_finished',"xy_image")
            end as productSalesOrNewPersonMarkURL,

             <!--募集进度 -->
            case when wpf.is_sold_out = 'no' then TRUNCATE(wpf.raise_progress,2)
            when wpf.is_sold_out = 'yes' then '1'
            end as schedule

            from  wj_product_finace wpf
            where is_shelves='yes'
            AND DATE_FORMAT(now(),'%Y-%m-%d %H:%i:%S') >= DATE_FORMAT(start_time,'%Y-%m-%d %H:%i:%S')
            and product_category='v_financial'
            )	pp

            order by pp.isSoldOut asc , pp.orderingWeightValue desc
            LIMIT #{page},10
		</select>


</mapper>