<script type="text/template" data-tpl="tpl-main-view">
	<div class="tabnav fix">
		<a class="active" data-tab-id="queryEAccountDetail">
			<em>明细</em>
			<hr/> 
		</a>
		<a data-tab-id="queryEAccountReciveDetail"> 
			<em>收益</em>
			<hr/>  
		</a>
	</div>
	<div class="billlist" > 
		<div class="tab-1" id="queryEAccountDetail" style="display:block;">	
			<div id="page-data-1">
				<# print(self.render("investList", {
					list : self.investList,
					init : true
				})); #>
			</div>
		</div>	
		<div class="tab-2" id="queryEAccountReciveDetail"  style="display:none;">
			<div id="page-data-2"></div>
		</div>
	</div>
</script>

<script type="text/template" data-tpl="investList">
	<# if(list.length > 0){ #>
		<# if(init){ #>
		
		<ul class="billul list">
		<# }; #>
			
			<# $.each(list, function(i, o){ #>
			
			
			<li class="hasarrow" 
				
				g-act-tap="true"
				data-order-id="<# print(o.orderNo); #>"
				data-bill-type="<# print(o.orderType); #>"
				data-detail="<# print(self.htmlspecialchars(self.json_encode(o))); #>"
				
			>
				<div class="table">
					<div class="cell">  
						<p> <# print(o.title); #> </p>
						<p class="time"> <# print(o.date); #> </p>
					</div>
					<div class="cell">
						<p class="price"> <# print(o.amount); #> </p>
					</div>			
				</div>
			</li>		
			<# }); #>
			
			
		<# if(init){ #>
		</ul>
		<# } #>
		
	<# }else{ #>
		<# if(init){ #>
			<div class="widget-no-data">
				<div class="img"></div>
				<p class="text">暂无记录</p>
			</div>
		<# }else{ #>
		<# } #>
	<# } #>
</script>


<script type="text/template" data-tpl="investList2">
	<# if(list.length > 0){ #>
		<# if(init){ #>
		
		<ul class="billul billul2 list">
		<# }; #>
			
			<# $.each(list, function(i, o){ #>
			<li>
				<div class="table">

					<div class="cell">  
						<p class="time"> <# print(o.reciveDate); #> </p>
					</div>
					<div class="cell">
					  <p class="price"> <# print(o.reciveAmount); #> </p>
					</div>
				
				</div>
			</li>		
			<# }); #>
			
			
		<# if(init){ #>
		</ul>
		<# } #>
		
	<# }else{ #>
		<# if(init){ #>
			<div class="widget-no-data">
				<div class="img"></div>
				<p class="text">暂无记录</p>
			</div>
		<# }else{ #>
		<# } #>
	<# } #>
</script>
<div class="page"></div>