<script type="text/template" data-tpl="tpl-main-view">
	
	<form id="f-form">
		<div class="b-box">
			<label class="item">
				<div class="item-wrap fix">
					<div class="col-r">
						<div class="con">
							<span class="tip"><# print(self.initData.amountAvailable_balance); #><span>
							<span data-tap-path="<# print(self.createURL("account/recharge", {callbackPath:self.path})); #>" class="btn-recharge">充值</span>
						</div>
						
					</div>
					
					<div class="col-l">
						<span class="text bank">账户余额</span>
					</div>
				</div>
			</label>
		
			
			<label class="item" for="f-identityNo">
				<div class="item-wrap fix">
					<div class="col-r">
						<div class="con">
							<div class="gray-tip">
								<input name="money" id="f-money"  data-max="<# print(self.initData.amountAvailable_balance); #>" data-min="<# print(self.initData.min); #>" data-mol="<# print(self.initData.step); #>" placeholder="<# print(self.initData.tipInput); #>"  type="number" min="0.01"  step="0.01" class="inp-text">
							</div>
						</div>
					</div>
					
					<div class="col-l">
						<span class="text bank">转入金额</span>
					</div>
				</div>
			</label>
		</div>
		<# if(self.initData.tipContent){ #>
		<div class="tip-bar">
			<# print(self.initData.tipContent); #>
		</div>
		<# } #>
		<div class="btn-bar">
			<input type="submit" value="确认转入" g-act-tap="true" id="btn-submit" class="ui-button">
		</div>
	</form>	
</script>
<div class="page"></div>
