<script type="text/template" data-tpl="tpl-main-view">
	<#
		var list = self.initData.payRollDetail || [];
	#>
	<# if(list.length > 0){ #>
	<div class="salaryDetail border-box backface-visibility" style="margin-top:24.625rem;">
		<div class="salary-block1">
			<p class="topwords"> </p>
			<p class="dotline-s mt18"></p>
			<div class="cofferow">
				<p class="icon-coffe"></p>
				<div id="printStart" style="display:block;">
					<p class="mt10 f18">请稍候</p>
					<p class="f18">您的工资单正在打印中...</p>
				</div>
				<div id="printEnd" style="display:none;">
					<p class="mt10 f18">你好</p>
					<p class="f18">已为您打印当月工资单...</p>
				</div>
			</div>
			<p class="dotline-s"></p>
			<div class="moneyRow">
				<p class="color-orange f34"><# print(list[0].value); #></p>
				<p class="color-gray"><# print(list[0].key); #></p>
			</div>
		</div>
		<p class="dotline_l"></p>
		<div class="salary-block2">
			 <ul>
				<# $.each(list.slice(1), function(i, o){ #>
				 <li>
					 <p class="tt"><# print(o.key); #></p>
					 <p class="value"><# print(o.value); #></p>
				 </li>
				<# }); #>	
			 </ul>
		</div>
	</div>
	<div class="detail-down"> </div> 
	<# } #>
</script>
<div class="page"></div>