<script type="text/template" data-tpl="tpl-main-view">
	<div class="product-view">
	
		<div class="salarylist" id="page-data">
			<# 
				print(self.render("investList", {
					list : self.investList,
					init : true
				})); 
			#>	
		</div>
	</div>
</script>

<script type="text/template" data-tpl="investList">
	<# if(list.length > 0){ #>
		<# if(init){ #>
		<ul class="salarylistul list">
		<# }; #>
			
			<# $.each(list, function(i, o){ #>
			<li class="hasarrow"
				g-act-tap="true"
				data-id="<# print(o.payRollId); #>"
				data-title="<# print(self.htmlspecialchars(o.periodName)); #>"
			> 
				 <div class="table">
					<p class="cell"><# print(self.htmlspecialchars(o.periodName)); #></p>
				 </div> 
			 </li>
			<# }); #>
		<# if(init){ #>
		</ul>
		<# } #>
	<# }else{ #>
		<# if(init){ #>
		 <div class="widget-no-data">
			<div class="img"></div>
			<div class="text">
				 <p>你的企业还未开通该项服务</p>
				 <p>欢迎您向所在企业HR推荐</p>
			</div>
		</div>
		<# }else{ #>
		<# } #>
	<# } #>
</script>
<div class="page"></div>

