<script type="text/template" data-tpl="tpl-main-view">
	
	<ul class="tab fix" id="tab-labels">
		<li data-target-tab="eaToBank" class="current">
			<span class="text">转出到银行卡</span>
			<span class="border"></span>
		</li>
		<li data-target-tab="eaToMa">
			<span class="text">转出到余额</span>
			<span class="split"></span>
			<span class="border"></span>
		</li>
	</ul>
	<div id="tab-contents">

		<div id="tab-content-eaToBank" style="display:block;">
			<form id="f-eaToBankForm">
				
				<div class="b-box">
					<label class="item2" >
						<div class="item2-wrap fix">
							<div class="col-r">
								<div class="con fix">
									<div class="bank-info">
										<p class="bank-name"><# print(self.withdrawCard.card.ea_bankName); #></p>
										<p class="bank-number"><# print(self.withdrawCard.card.ea_bankSufCardNo); #></p>
									</div>
									<div class="safe">安全卡</div>
								</div>
							</div>
							<div class="col-l">
								<span class="bank-logo">
									<img src="<# print(self.getBankImgByCode(self.withdrawCard.card.bankCode)); #>">
								</span>
							</div>
						</div>
					</label>
					
					<label class="item2" for="f-identityNo">
						<div class="item2-wrap fix">
							<div class="col-r">
								<div class="con">
									<div class="gray-tip">
										<input name="money" id="f-money"  data-min="0.01" data-max="<# print(self.eAccountOutComeBalance.amountAvailable_bank); #>" placeholder="<# print(self.eAccountOutComeBalance.toBank_tipInput); #>"  type="number" min="0.01"  step="0.01" class="inp-text">
									</div>
								</div>
							</div>
							<div class="col-l">
								<span class="money"></span>
							</div>
						</div>
					</label>
					
				</div>
				
				<# if(self.eAccountOutComeBalance.toBank_tipContent){ #>
				<div class="tip-bar">
					<# print(self.eAccountOutComeBalance.toBank_tipContent); #>
				</div>
				<# } #>
				<div class="btn-bar">
					<input type="submit" value="立即转出" g-act-tap="true" id="btn-submit" class="ui-button">
				</div>			
				
			</form>
		</div>
		
		<div style="display:none;"  id="tab-content-eaToMa">
			<form id="f-eaToMaForm">
				
				<div class="b-box">
					<label class="item2">
						<div class="item2-wrap fix">
							<div class="col-r">
								<div class="con">
									<div class="gray-tip">
										<input name="money" id="f-money2" data-max="<# print(self.eAccountOutComeBalance.amountAvailable_balance); #>" data-min="0.01" placeholder="<# print(self.eAccountOutComeBalance.toBalance_tipInput); #>"  type="number" min="0.01"  step="0.01" class="inp-text">
									</div>
								</div>
							</div>
							<div class="col-l">
								<span class="money"></span>
							</div>
						</div>
					</label>					
					
					
				</div>
				<# if(self.eAccountOutComeBalance.toBalance_tipContent){ #>
				<div class="tip-bar">
					<# print(self.eAccountOutComeBalance.toBalance_tipContent); #>
				</div>
				<# } #>
				<div class="btn-bar">
					<input type="submit" value="确认转出" g-act-tap="true" id="btn-submit2" class="ui-button">
				</div>
			</form>
		</div>
				
	</div>	
</script>
<div class="page"></div>
