<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuanyi.vjwealth.wallet.mobile.common.server.mapper.ICommSafeMapper">
		
		
		<select id="queryTtradeSafeSwitch" resultType="java.lang.String">
			SELECT
				IFNULL(
					cc.param_value,
					'{is_reboot:no}'
				) 
			FROM
				comm_params cc
			WHERE
				cc.param_key = 'trade_pay_server'
			AND cc.param_group = 'common_safe'
		</select>
</mapper>