<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuanyi.vjwealth.wallet.mobile.common.server.mapper.IAdvertisementMapper">
		<select id="queryAdvertisementInfo" resultType="com.zhuanyi.vjwealth.wallet.mobile.common.dto.AdvertisementDTO">
			SELECT
				img_url AS imgUrl,
				webp_img_url AS webpImgUrl,
				is_click AS isClick,
				link_url AS linkUrl,
				action_type AS actionType,
				link_title AS linkTitle,
				content AS content,
			    mark AS markStr
			FROM
				wj_advertisement_info
			where banner_type ='home'
			order by sort asc
		</select>
		
		
		<select id="queryAdvertisementBannerInfo" resultType="com.zhuanyi.vjwealth.wallet.mobile.common.dto.AdvertisementBannerDTO">
			SELECT
				img_url AS imgUrl,
				webp_img_url AS webpImgUrl,
				is_click AS isClick,
				link_url AS linkUrl,
				link_title AS linkTitle,
				action_type AS actionType
			FROM
				wj_advertisement_info
			where banner_type ='v_financial'
                  order by sort
		</select>

	<select id="queryV2AdvertisementBannerInfo" resultType="com.zhuanyi.vjwealth.wallet.mobile.common.dto.AdvertisementBannerDTO">
		SELECT
		img_url AS imgUrl,
		webp_img_url AS webpImgUrl,
		is_click AS isClick,
		link_url AS linkUrl,
		link_title AS linkTitle,
		action_type AS actionType
		FROM
		wj_advertisement_info
		where banner_type ='salary_banner'
		order by sort
	</select>
		
		<select id="queryServiceAdvertisementBanner" resultType="com.zhuanyi.vjwealth.wallet.mobile.common.dto.AdvertisementBannerDTO">
			SELECT
				img_url AS imgUrl,
				webp_img_url AS webpImgUrl,
				is_click AS isClick,
				link_url AS linkUrl,
				link_title AS linkTitle,
				action_type AS actionType
			FROM
				wj_advertisement_info
			where banner_type ='service'
                  order by sort
		</select>

	<select id="queryHomeAdvBannerInfoForSHQB" resultType="com.zhuanyi.vjwealth.wallet.mobile.common.dto.AdvertisementBannerDTO">
		SELECT
		img_url AS imgUrl,
		webp_img_url AS webpImgUrl,
		is_click AS isClick,
		link_url AS linkUrl,
		link_title AS linkTitle,
		action_type AS actionType
		FROM shqb_advertisement_info
		where type = 'app' and banner_type ='home'
		and app_type = #{appType}
		order by sort
	</select>

	<select id="queryV3AdvertisementBannerInfo" resultType="com.zhuanyi.vjwealth.wallet.mobile.common.dto.AdvertisementBannerDTO">
		SELECT
		img_url AS imgUrl,
		webp_img_url AS webpImgUrl,
		is_click AS isClick,
		link_url AS linkUrl,
		link_title AS linkTitle,
		action_type AS actionType
		FROM
		wj_advertisement_info
		where banner_type ='salary_banner_sd'
		order by sort
	</select>
		
</mapper>