<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuanyi.vjwealth.wallet.mobile.common.server.mapper.ICommConfigsMapper">

    <resultMap type="com.zhuanyi.vjwealth.loan.common.dto.CommConfigsDTO" id="commConfigsQuery">
        <result column="paramKey" property="paramKey" />
        <result column="paramValue" property="paramValue"/>
    </resultMap>

    <!-- 查询 -->
    <select id="queryCommConfigsByGroupAndKey" resultMap="commConfigsQuery" parameterType="com.zhuanyi.vjwealth.loan.common.dto.CommConfigsDTO">
        select param_key as paramKey,param_value as paramValue from comm_params
        where 1=1
        <if test="query.paramGroup!=null">
          and  param_group=#{query.paramGroup}
        </if>
        <if test="query.paramKeys!=null">
            and param_key in
            <foreach collection="query.paramKeys" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>
</mapper>