<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuanyi.vjwealth.wallet.mobile.common.server.mapper.IHolidayMapper">
		
		
		<select id="queryHolidayList" resultType="com.zhuanyi.vjwealth.wallet.medicalInsurance.server.dto.healthcheck.HolidayDTO">
			select holiday as holiday,holidayDesc as holidayDesc from wj_holidays
		</select>
</mapper>