<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuanyi.vjwealth.wallet.mobile.common.server.mapper.ILogHttpRequestMapper">
		
		<insert id="addLogHttpRequest" parameterType="com.zhuanyi.vjwealth.wallet.mobile.common.dto.LogHttpRequestDTO" 
		useGeneratedKeys="true" keyProperty="id" >
		insert into wj_log_http_request (
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(interfaceType)">
				interface_type , 
			</if>
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(interfaceName)">
				interface_name , 
			</if>
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(interfacePath)">
				interface_path ,
			</if>
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(reqContent)">
				req_content,
			</if>
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(resContent)">
				res_content,
			</if>
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(userId)">
				user_id,
			</if>
			log_time
		)values(
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(interfaceType)">
				#{interfaceType} , 
			</if>
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(interfaceName)">
				#{interfaceName} , 
			</if>
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(interfacePath)">
				#{interfacePath},
			</if>
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(reqContent)">
				#{reqContent},
			</if>
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(resContent)">
				#{resContent},
			</if>
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(userId)">
				#{userId},
			</if>
			now() 
			)
	</insert>
</mapper>