<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhuanyi.vjwealth.wallet.mobile.credit.server.mapper.FinancialLoanMapper">



	    <!-- 投资记录汇总 -->
		<select id="queryFinancialLoanInvestmentSummary" parameterType="java.lang.String" resultType="com.zhuanyi.vjwealth.wallet.mobile.credit.server.dto.financialLoan.FinancialLoanInvestmentSummaryDTO">
	      
				SELECT
				    IFNULL((SELECT TRUNCATE (available_amount, 2) FROM wj_user_trade_account WHERE user_id = #{userId} AND trade_type = 'lf'),0) as inPrincipalCast,
					(SELECT
						IFNULL(sum(wrp.repay_interest+wrp.greenhorn_interest),0)
					FROM
						wj_repayment_plan wrp
					INNER JOIN wj_order_product wop ON wop.order_no = wrp.order_no
					INNER JOIN wj_product_finace wpf ON wpf.product_id = wop.product_id AND wpf.product_category = 'loan_financial'
					WHERE
					  wrp.user_id=#{userId} and wrp.is_repay='no'
					  and wrp.is_valid=0
					  ) AS receive
				FROM DUAL
	      
		</select>


	    <!-- 查询投资中的投资记录 -->
		<select id="queryFinancialLoanInvestmentList" parameterType="java.util.Map" resultType="com.zhuanyi.vjwealth.wallet.mobile.credit.server.dto.financialLoan.FinancialLoanInvestmentDTO">
		    
		   SELECT
			  TRUNCATE (p.amount, 2) as investmentAmount,
			  p.order_no as orderId,
			  f.product_id as productId,
			  f.product_name as productName,
			  CONCAT(f.product_name,f.product_id) as productCode,
			  f.receive_rate+IFNULL(f.greenhorn_receive_rate,0) as annualYield,
			  DATE_FORMAT(p.interest_start_time,'%Y-%m-%d') as fromInterestTime,
			  DATE_FORMAT(p.interest_end_time,'%Y-%m-%d') as expirationDate,
			  (select IFNULL(sum(repay_principal+repay_interest+greenhorn_interest),0) from wj_repayment_plan wp where wp.user_id=p.user_id and wp.order_no=p.order_no and wp.is_valid=0) as amountReceivable,
			  (select IFNULL(sum(repay_principal+repay_interest+greenhorn_interest),0) from wj_repayment_plan wp where wp.user_id=p.user_id and wp.order_no=p.order_no and wp.is_repay='yes' and wp.is_valid=0) as amountReceived,
			  IFNULL(QUERY_PARAM_VALUE(p.order_product_status,"xy_image"),'') as investmentStatusMarkURL,
			  f.is_pre_expire isPreExpire
			FROM
				wj_order_product p,
				wj_order o,
				wj_product_finace f
			where 
			  p.user_id = #{userId}
			AND o.order_status = 'apply_la_to_lf_confirm'
			AND p.order_no = o.order_no
			AND f.product_id = p.product_id
			AND f.product_category = 'loan_financial'
			ORDER BY p.create_date desc
         LIMIT #{page},10
		   
		</select>




	    <!-- 投资详情resultMap -->
		<resultMap type="com.zhuanyi.vjwealth.wallet.mobile.credit.server.dto.financialLoan.FinancialLoanInvestmentDetailDTO" id="investmentDetailQuery">
           <result column="orderId" property="orderId" />
           <result column="investmentStatusDescription" property="investmentStatusDescription" />
           <result column="investmentStatusMarkURL" property="investmentStatusMarkURL" />
           <result column="investmentPrincipal" property="investmentPrincipal" />
           <result column="interestReceived" property="interestReceived" />
           <result column="dynamicInformation" property="dynamicInformation" />
           <result column="dynamicTime" property="dynamicTime" />
           <result column="insurancePolicyNumberTitle" property="insurancePolicyNumberTitle" />
           <result column="insurancePolicyNumberLabel" property="insurancePolicyNumberLabel" />
           <result column="insurancePolicyNumber" property="insurancePolicyNumber" />
           <result column="insurancePolicyNumberShowActionType" property="insurancePolicyNumberShowActionType" />
           <result column="insurancePolicyNumberShowContent" property="insurancePolicyNumberShowContent" />
           <result column="insurancePolicyNumberShowTitle" property="insurancePolicyNumberShowTitle" />

           <association property="product" javaType="com.zhuanyi.vjwealth.wallet.mobile.credit.server.dto.financialLoan.FinancialLoanInvestmentProductDetailDTO">
             <result column="productId" property="productId" />
             <result column="productName" property="productName" />
             <result column="productCode" property="productCode" />
             <result column="projectTerm" property="projectTerm" />
             <result column="annualYield" property="annualYield" />
             <result column="paymentWay" property="paymentWay" />
             <result column="fromInterestTime" property="fromInterestTime" />
             <result column="expirationDate" property="expirationDate" />
           </association>
       </resultMap>
        <!-- 投资详情sql -->
		<select id="queryInvestmentDetailByOrderId" parameterType="java.lang.String" resultMap="investmentDetailQuery">
			  SELECT
			        p.order_no as orderId,
					f.product_id as productId,
					f.product_name as productName,
					CONCAT(f.product_name,f.product_id) as productCode,
					QUERY_MONTH_AND_DAY(DATE_FORMAT(p.interest_start_time,'%Y-%m-%d'),DATE_FORMAT(p.interest_end_time,'%Y-%m-%d')) as projectTerm,
					f.receive_rate+IFNULL(f.greenhorn_receive_rate,0) as annualYield,
					IFNULL(QUERY_ITEM_NAME("repayments_type",f.repayments_type),"")  as paymentWay,
					DATE_FORMAT(p.interest_start_time,'%Y-%m-%d') as fromInterestTime,
					DATE_FORMAT(p.interest_end_time,'%Y-%m-%d') as expirationDate,
					(select IFNULL(sum(repay_interest+greenhorn_interest),0) from wj_repayment_plan wp where wp.user_id=p.user_id and wp.order_no=p.order_no and wp.is_repay='no' and wp.is_valid=0) as interestReceived,
					IFNULL(QUERY_ITEM_NAME("order_product_status",p.order_product_status),"")  as investmentStatusDescription,
					IFNULL(QUERY_PARAM_VALUE(p.order_product_status,"xy_image"),'') as investmentStatusMarkURL,
					TRUNCATE (p.amount, 2) as investmentPrincipal,
					IFNULL(i.policy_no,'') as insurancePolicyNumber,
					
					
					CASE WHEN i.policy_no is null or i.policy_no = '' then QUERY_PARAM_VALUE('app_policy_no_policynum','xy_policy')
                         ELSE '保险凭证' 
                         end as insurancePolicyNumberLabel,
                         
				    CASE WHEN i.policy_no is null or i.policy_no = '' then  QUERY_PARAM_VALUE('app_policy_action_type_no','xy_policy')
			             WHEN  (select wpi.has_policy_pic  from wj_policy_info wpi where wpi.order_no = #{orderId} ) = 'yes' then  QUERY_PARAM_VALUE('app_policy_action_type_yes','xy_policy')
						 ELSE  QUERY_PARAM_VALUE('app_policy_action_type_alert','xy_policy')
					end as insurancePolicyNumberShowActionType,
					
                    CASE WHEN i.policy_no is null or i.policy_no = '' then QUERY_PARAM_VALUE('app_policy_no_policynum','xy_policy')
                    	 WHEN  (select wpi.has_policy_pic  from wj_policy_info wpi where wpi.order_no = #{orderId} ) = 'yes' then CONCAT(QUERY_PARAM_VALUE('app_policy_query_redirect','xy_policy'),i.policy_no,".security")
                         ELSE QUERY_PARAM_VALUE ('app_policy_query','xy_policy')
                         end as insurancePolicyNumberShowContent,
                    CASE WHEN i.policy_no is null or i.policy_no = '' then QUERY_PARAM_VALUE('app_policy_content_tip_title','xy_policy')
                         ELSE QUERY_PARAM_VALUE('app_policy_content_url_title','xy_policy')
                         end as insurancePolicyNumberShowTitle,
					'保险公司承保，保障本息到期如约兑付' as insurancePolicyNumberTitle,
					d.dynamicInformation,
					d.dynamicTime
				
				FROM
				    wj_order_product p,
					wj_order o,
					wj_product_finace f,
				    wj_policy_info i,
				    (select action_title as dynamicInformation,date_format(create_date,'%Y-%m-%d %H:%i:%S') as dynamicTime from wj_newest_activity where order_no=#{orderId} ORDER BY create_date DESC LIMIT 0,1) d
				where 
				  p.user_id = #{userId}
				AND p.order_no = #{orderId}
				AND p.order_no = o.order_no
				AND o.order_status = 'apply_la_to_lf_confirm' 
				AND f.product_id = p.product_id
				AND i.order_no = p.order_no

		</select>


		<!-- 投资动态resultMap -->
		<resultMap type="com.zhuanyi.vjwealth.wallet.mobile.credit.server.dto.financialLoan.FinancialLoanInvestmentNewFlows" id="investmentNewsFlow">
           <result column="productCode" property="productCode" />
           <result column="insurancePolicyNumber" property="insurancePolicyNumber" />
           <collection property="dynamicList" javaType="java.util.List" ofType="com.zhuanyi.vjwealth.wallet.mobile.credit.server.dto.financialLoan.FinancialLoanInvestmentNewestActivityDTO" >
	            <result column="information" property="information" />
		        <result column="time" property="time" />
		        <result column="dynamicDescription" property="dynamicDescription" />
           </collection>
        </resultMap>

        <!-- 投资动态 -->
		<select id="queryInvestmentNewsFlow" parameterType="java.lang.String" resultMap="investmentNewsFlow">
			  SELECT
					CONCAT(f.product_name,f.product_id) as productCode,
					CASE WHEN i.policy_no is null or i.policy_no = '' then QUERY_PARAM_VALUE('app_policy_no_policynum','xy_policy')
					ELSE i.policy_no
					end as insurancePolicyNumber,
					n.action_title AS information,
					n.action_description AS dynamicDescription,
					date_format(n.create_date,'%Y-%m-%d %H:%i:%S') AS time
				FROM
					wj_order_product p,
					wj_product_finace f,
				    wj_policy_info i,
				    wj_newest_activity n
				  
				where 
				  p.order_no = #{orderId}
				AND f.product_id = p.product_id
				AND i.order_no = p.order_no
				AND n.order_no = p.order_no
			    ORDER BY n.create_date desc,n.id desc

		</select>



		<!-- 还款计划resultMap -->
		<resultMap type="com.zhuanyi.vjwealth.wallet.mobile.credit.server.dto.financialLoan.FinancialLoanRepayPlanDTO" id="repaymentPlan">
           <result column="investmentPrincipal" property="investmentPrincipal" />
           <result column="interestReceived" property="interestReceived" />
           <result column="repaymentType" property="repaymentType" />
           <collection property="repaymentPlanList" ofType="com.zhuanyi.vjwealth.wallet.mobile.credit.server.dto.financialLoan.FinancialLoanRepayPlanListDTO" javaType="java.util.List">
			   <result column="paymentInstallments" property="paymentInstallments" />
			   <result column="paymentDate" property="paymentDate" />
			   <result column="principalAndInterestReceivable" property="principalAndInterestReceivable" />
			   <result column="principalAndInterestDesc" property="principalAndInterestDesc" />
			   <result column="paymentPrincipalAndInterestLabel" property="paymentPrincipalAndInterestLabel" />
			   <result column="isShowAdvancePaymentDesc" property="isShowAdvancePaymentDesc" />
			   <result column="advancePaymentDesc" property="advancePaymentDesc" />
			   <result column="isHighlight" property="isHighlight" />
           </collection>
        </resultMap>

        <!-- 还款计划 -->
		<select id="queryInvestmentRepayPlan" parameterType="java.lang.String" resultMap="repaymentPlan">
			  SELECT
			(select IFNULL(sum(repay_principal),0) from wj_repayment_plan wp where wp.order_no=p.order_no and wp.is_valid=0) as investmentPrincipal,
			(select IFNULL(sum(repay_interest+greenhorn_interest),0) from wj_repayment_plan wp where wp.order_no=p.order_no and wp.is_repay='no' and wp.is_valid=0) as interestReceived,
			IFNULL(QUERY_ITEM_NAME("repayments_type",r.repayment_type),"") as repaymentType,
			r.repayment_time AS paymentDate,
			case when r.repayment_type = 'monthly_interest' then CONCAT('第',r.term,'期',IF(r.is_pre_expire='yes',CONCAT('(',wpf.wj_advance_due_date,'已提前到期)'),''))
			when r.repayment_type = 'repay_maturity' then CONCAT('本息回款',IF(r.is_pre_expire='yes',CONCAT('(',wpf.wj_advance_due_date,'已提前到期)'),''))
			end as paymentInstallments,
			CONCAT("&lt;font color=#9B9B9B>本金&lt;/font> &lt;font color=#FFBD30>",
			r.repay_principal,
			"元&lt;/font> &lt;font color=#9B9B9B> |",IF(r.is_pre_expire='yes' and is_valid=0,'原计划',''),"利息&lt;/font> &lt;font color=#FFBD30>",
			IFNULL((select wp.repay_interest+wp.greenhorn_interest from wj_repayment_plan wp where wp.order_no=p.order_no and r.term=wp.term and wp.is_valid=1 and IFNULL(wp.is_pre_expire,'') &lt;>'yes'),r.repay_interest+r.greenhorn_interest),
			"元&lt;/font>") as principalAndInterestDesc,
			r.repay_principal+r.repay_interest+r.greenhorn_interest as principalAndInterestReceivable,
			(case when r.is_pre_expire='yes' and is_valid=0 then '提前回款' else '应回本息' end) paymentPrincipalAndInterestLabel,
			(case when r.is_pre_expire='yes' and is_valid=0 then 'true' else 'false' end) isShowadvancePaymentDesc,
			(case when is_repay='yes' then 'true' else 'false' end) isHighlight,
			(case when r.is_pre_expire='yes' and is_valid=0 then CONCAT("&lt;font color=#9B9B9B>提前回款&lt;/font> &lt;font color=#FFBD30>",r.repay_interest+r.greenhorn_interest,"元&lt;/font>") else "" end) advancePaymentDesc
			FROM
			wj_order_product p,
			wj_product_finace wpf,
			wj_repayment_plan r
			where
			p.order_no =#{orderId}
			AND r.order_no = p.order_no
			AND p.product_id =wpf.product_id
			and r.id not in(
				select min(id) from wj_repayment_plan wrp  where order_no =p.order_no group by term having count(term) > 1
			)
			ORDER BY r.term
		</select>



	<select id="queryFinancialLoanProductList" parameterType="java.lang.Integer" resultType="com.zhuanyi.vjwealth.wallet.mobile.credit.server.dto.financialLoan.FinancialLoanInitiInnerProductDTO">
		select pp.* 
		   from
            (select 
                -- 产品售光标识：产品剩余份额&lt;100,募集进度为1,已售光,产品过期 
			    CASE when remain_balance &lt; 100 OR raise_progress = 1 OR is_sold_out = 'yes' OR DATE_FORMAT(end_time,'%Y-%m-%d %H:%i:%S') &lt; DATE_FORMAT(now(),'%Y-%m-%d %H:%i:%S') then 'yes'
		        else 'no'
		        end as isSoldOut,
                create_date as createDate,
                ordering_weight_value as orderingWeightValue,
				product_id as productId,
				product_name as productName,
                CONCAT(product_name,product_id) as productCode,
		        product_term_type as projectTerm,
		        receive_rate+IFNULL(greenhorn_receive_rate,0) as annualYield,
		        
		        QUERY_PARAM_VALUE('app_pic_insurance_company_img_goldfish',"xy_image") as insuranceCompanyURL,
		        '当日计息' as interestDate,
		        
		        
		        CONCAT("&lt;font color=#9B9B9B>项目期限&lt;/font> &lt;font color=#FFBD30>", 
                      -- 项目期限
                      CASE when (remain_balance &lt; 100 OR raise_progress = 1 OR is_sold_out = 'yes' OR DATE_FORMAT(end_time,'%Y-%m-%d %H:%i:%S') &lt; DATE_FORMAT(now(),'%Y-%m-%d %H:%i:%S')) 
		                  AND sold_out_time is not null then IFNULL(QUERY_MONTH_AND_DAY(DATE_FORMAT(sold_out_time,'%Y-%m-%d'),end_time),'')
                      ELSE QUERY_MONTH_AND_DAY(DATE_FORMAT(now(),'%Y-%m-%d'),end_time) end,"&lt;/font> &lt;font color=#9B9B9B> | 剩余可投&lt;/font> &lt;font color=#FFBD30>",
                      -- 剩余可投金额
                      CASE when remain_balance &lt; 100 OR raise_progress = 1 OR is_sold_out = 'yes' OR DATE_FORMAT(end_time,'%Y-%m-%d %H:%i:%S') &lt; DATE_FORMAT(now(),'%Y-%m-%d %H:%i:%S') then 0
                      ELSE TRUNCATE(remain_balance,0) end,"元&lt;/font>") as remainTermAndAmount,
		        
		        
		        IFNULL(QUERY_ITEM_NAME("repayments_type",repayments_type),"")  as repayment,
		        
				
				-- 产品图标：热卖中，已抢光，新手标
				case when product_flag = 'common' and is_sold_out = 'no' and remain_balance >= 100 AND raise_progress &lt; 1 AND DATE_FORMAT(end_time,'%Y-%m-%d %H:%i:%S') >= DATE_FORMAT(now(),'%Y-%m-%d %H:%i:%S')  then QUERY_PARAM_VALUE('app_pic_selling',"xy_image") 
				     when product_flag = 'greenhorn' and is_sold_out = 'no' and remain_balance >= 100 AND raise_progress &lt; 1 AND DATE_FORMAT(end_time,'%Y-%m-%d %H:%i:%S') > DATE_FORMAT(now(),'%Y-%m-%d %H:%i:%S') then QUERY_PARAM_VALUE('app_pic_new',"xy_image")
				     ELSE QUERY_PARAM_VALUE('app_pic_finished',"xy_image")
				end as productSalesOrNewPersonMarkURL,
				
				-- 募集进度 
				case when wpf.is_sold_out = 'no' then TRUNCATE(wpf.raise_progress,2) 
				     when wpf.is_sold_out = 'yes' then '1'
				end as schedule     
				
			from  wj_product_finace wpf
			where is_shelves='yes'
			AND wpf.product_category = 'loan_financial'
			AND DATE_FORMAT(now(),'%Y-%m-%d %H:%i:%S') >= DATE_FORMAT(start_time,'%Y-%m-%d %H:%i:%S') 
			)	pp	
			
			    order by pp.isSoldOut asc , pp.orderingWeightValue desc 
            LIMIT #{page},10

	</select>

	<select id="queryNewFinancialLoanProductList" parameterType="java.lang.Integer" resultType="com.zhuanyi.vjwealth.wallet.mobile.credit.server.dto.financialLoan.FinancialLoanInitiInnerProductDTO">
    select pp.*
		from
		(select
		-- 产品售光标识：产品剩余份额&lt;100,募集进度为1,已售光,产品过期
		CASE when remain_balance &lt; 100 OR raise_progress = 1 OR is_sold_out = 'yes' OR DATE_FORMAT(end_time,'%Y-%m-%d %H:%i:%S') &lt; DATE_FORMAT(now(),'%Y-%m-%d %H:%i:%S') then 'yes'
		else 'no'
		end as isSoldOut,
		start_time as startTime,
		create_date as createDate,
		ordering_weight_value as orderingWeightValue,
		product_id as productId,
		product_name as productName,
		CONCAT(product_name,product_id) as productCode,
		CASE when (remain_balance &lt; 100 OR raise_progress = 1 OR is_sold_out = 'yes' OR DATE_FORMAT(end_time,'%Y-%m-%d %H:%i:%S') &lt; DATE_FORMAT(now(),'%Y-%m-%d %H:%i:%S'))
		AND sold_out_time is not null then IFNULL(QUERY_MONTH_AND_DAY(DATE_FORMAT(sold_out_time,'%Y-%m-%d'),end_time),'')
		ELSE QUERY_MONTH_AND_DAY(DATE_FORMAT(now(),'%Y-%m-%d'),end_time)
		end as projectTerm,

		-- 剩余可投金额
		CONCAT(TRUNCATE(remain_balance,0),"元") as remainBalance,

		receive_rate+IFNULL(greenhorn_receive_rate,0) as annualYield,

		-- QUERY_PARAM_VALUE('app_pic_insurance_company_img_goldfish',"xy_image") as insuranceCompanyURL,
		'当日计息' as interestDate,
		CONCAT("&lt;font color=#9B9B9B>项目期限&lt;/font> &lt;font color=#FFBD30>",
                      -- 项目期限
                      CASE when (remain_balance &lt; 100 OR raise_progress = 1 OR is_sold_out = 'yes' OR DATE_FORMAT(end_time,'%Y-%m-%d %H:%i:%S') &lt; DATE_FORMAT(now(),'%Y-%m-%d %H:%i:%S'))
		                  AND sold_out_time is not null then IFNULL(QUERY_MONTH_AND_DAY(DATE_FORMAT(sold_out_time,'%Y-%m-%d'),end_time),'')
                      ELSE QUERY_MONTH_AND_DAY(DATE_FORMAT(now(),'%Y-%m-%d'),end_time) end,"&lt;/font> &lt;font color=#9B9B9B> | 剩余可投&lt;/font> &lt;font color=#FFBD30>",
                      -- 剩余可投金额
                      CASE when remain_balance &lt; 100 OR raise_progress = 1 OR is_sold_out = 'yes' OR DATE_FORMAT(end_time,'%Y-%m-%d %H:%i:%S') &lt; DATE_FORMAT(now(),'%Y-%m-%d %H:%i:%S') then 0
                      ELSE TRUNCATE(remain_balance,0) end,"元&lt;/font>") as remainTermAndAmount,
		IFNULL(QUERY_ITEM_NAME("repayments_type",repayments_type),"")  as repayment,

		-- 产品图标：热卖中，已抢光，新手标
		case when product_flag = 'common' and is_sold_out = 'no' and remain_balance &gt;= 100 AND raise_progress &lt; 1 AND DATE_FORMAT(end_time,'%Y-%m-%d %H:%i:%S') &gt;= DATE_FORMAT(now(),'%Y-%m-%d
		%H:%i:%S')  then QUERY_PARAM_VALUE('app_pic_selling',"xy_image")
		when product_flag = 'greenhorn' and is_sold_out = 'no' and remain_balance &gt;= 100 AND raise_progress &lt; 1 AND DATE_FORMAT(end_time,'%Y-%m-%d %H:%i:%S') &gt; DATE_FORMAT(now(),'%Y-%m-%d %H:%i:%S') then QUERY_PARAM_VALUE('app_pic_new',"xy_image")
		ELSE QUERY_PARAM_VALUE('app_pic_finished',"xy_image")
		end as productSalesOrNewPersonMarkURL,

		-- 募集进度
		case when wpf.is_sold_out = 'no' then TRUNCATE(wpf.raise_progress,2)
		when wpf.is_sold_out = 'yes' then '1'
		end as schedule

		from  wj_product_finace wpf
		where is_shelves='yes'
		AND wpf.product_category = 'loan_financial'
		AND DATE_FORMAT(now(),'%Y-%m-%d %H:%i:%S') &gt;= DATE_FORMAT(start_time,'%Y-%m-%d %H:%i:%S')
		)	pp

		order by pp.isSoldOut asc, case when pp.isSoldOut = 'no' then pp.orderingWeightValue else pp.startTime end desc, pp.createDate desc
		LIMIT #{page},10
	</select>



	  <resultMap type="com.zhuanyi.vjwealth.wallet.mobile.credit.server.dto.financialLoan.InvestInitiDTO" id="orderInitQuery">

           <result column="isCanBuy" property="isCanBuy" />
           <result column="fromInvestmentAmount" property="fromInvestmentAmount" />
           <result column="incrementAmount" property="incrementAmount" />
           <result column="inputBottomTipContents" property="inputBottomTipContents" />
           <result column="investmentTip" property="investmentTip" />
           <result column="token" property="token" />

           <association property="product" javaType="com.zhuanyi.vjwealth.wallet.mobile.credit.server.dto.financialLoan.InvestProductInfoDTO">
             <result column="productId" property="productId" />
             <result column="productName" property="productName" />
             <result column="productCode" property="productCode" />
             <result column="projectTerm" property="projectTerm" />
             <result column="remainingInvestmentLabel" property="remainingInvestmentLabel" />
             <result column="remainingInvestment" property="remainingInvestment" />
             <result column="annualYield" property="annualYield" />
             <result column="paymentWay" property="paymentWay" />
           </association>
       </resultMap>
       <!--  理财贷 ：下订单初始化页面 -->
		<select id="queryProductIsCanBuy" parameterType="java.lang.String" resultMap="orderInitQuery">
			select 
                product_id as productId,
				product_name as productName,
		        CONCAT(product_name,product_id) as productCode,
		        
		        -- 项目期限
		        CASE when (remain_balance &lt; 100 OR raise_progress = 1 OR is_sold_out = 'yes') AND sold_out_time is not null then IFNULL(QUERY_MONTH_AND_DAY(DATE_FORMAT(sold_out_time,'%Y-%m-%d'),end_time),'')
                    ELSE QUERY_MONTH_AND_DAY(DATE_FORMAT(now(),'%Y-%m-%d'),end_time)
		        end as projectTerm,
		        
		        -- 剩余可投金额
		        CASE when remain_balance &lt; 100 OR raise_progress = 1 OR is_sold_out = 'yes' OR DATE_FORMAT(end_time,'%Y-%m-%d %H:%i:%S') &lt; DATE_FORMAT(now(),'%Y-%m-%d %H:%i:%S') then 0
		        ELSE TRUNCATE(remain_balance,0)
		        end as remainingInvestment,
		        '剩余可投' as remainingInvestmentLabel,
		        
				receive_rate+IFNULL(greenhorn_receive_rate,0) as annualYield,
				IFNULL(QUERY_ITEM_NAME("repayments_type",repayments_type),"")  as paymentWay,
				
				
				TRUNCATE(start_money,0) as fromInvestmentAmount,
				TRUNCATE(increase_money,0) as incrementAmount,
				case when wpf.is_sold_out = 'yes' or  wpf.remain_balance &lt; 100 or wpf.is_shelves='no'  then  'false'
				     else  'true'
				end as isCanBuy,
				
				TRUNCATE(increase_money,0) as inputBottomTipContents,
				'可得利息将自动存入您的余额，请在理财到期后至余额账户中查看。' as investmentTip,
				wpf.loan_product_id as loanProductId,
				
			    uuid() as token
			   
			from  wj_product_finace wpf 
			where wpf.product_id=#{productId}

		</select>



	    <!-- 查询投资中的投资记录 -->
		<select id="queryUserNameAndIdentyNoByUserId" parameterType="java.lang.String" resultType="java.util.Map">
		    
		   SELECT
				real_name AS userName,
				IFNULL(CONCAT(LEFT(indentity_no,4),'**********',RIGHT(indentity_no,4)),'') AS indentityNo
			FROM
				wj_user_info
			WHERE
				id = #{userId}
		   
		</select>

		<!-- 查询param_value -->
		<select id="getParamsValueByKeyAndGroup" parameterType="java.lang.String" resultType="java.lang.String">
		    
		   select QUERY_PARAM_VALUE(#{key},#{group}) as paramValue from DUAL
		   
		</select>


		<!-- 查询param_value -->
		<select id="queryUserLoanProductInfo" parameterType="java.util.Map" resultType="com.zhuanyi.vjwealth.wallet.mobile.credit.server.dto.financialLoan.FinancialLoanCreditProductInfoDTO">
		    
		       SELECT
				  wd.channel_trade_id AS borrowCode,
				  CONCAT(wf.product_name,wf.product_id) AS productName
				FROM
				wj_order_product wp,	
				wj_order wd,
				wj_product_finace wf
				WHERE
				  wp.user_id = #{userId}
				AND	wd.order_type = 'apply_la_to_lf'
				AND wp.order_no = wd.order_no
				AND wf.product_id = wp.product_id
				ORDER BY wp.create_date DESC
				limit #{page},10
		   
		</select>

		<!-- 查询贷款产品编号-->
		<select id="queryLoanProductIdById" parameterType="java.lang.String" resultType="java.lang.String">
		    
		       select loan_product_id from wj_product_finace where product_id = #{productId}
		   
		</select>

	<!-- 是否提示“需要实名认证”的提示-->
	<select id="getIsShowInvestmentIip" parameterType="java.lang.String" resultType="java.lang.String">
		select IF((select count(1) from wj_user_certification where user_id =#{userId} AND certification_status in('audit_process','audit_success'))>0,"no","yes") as isShowInvestmentIip
		from dual
	</select>


	<!-- 查询贷款产品编号-->
		<select id="queryUserBaseInfoByUserId" parameterType="java.lang.String" resultType="com.zhuanyi.vjwealth.wallet.mobile.credit.server.dto.financialLoan.UserInfoParamDTO">
		    
		       SELECT
		          id as clientId,
				  IFNULL(real_name,'') as clientName,
				  IFNULL(indentity_no,'') as indentityNo,
				  IFNULL(phone,'') as phone,
				  CASE WHEN sex = 'M' then '1'
		               WHEN sex = 'F' then '0'
		               ELSE ''
		          end as sex,
				  (select if(count(1)>0,'1','0') from wj_trade_account_card where user_id = #{userId}) AS bindCardStatus,
				  (select if(count(1)>0,'1','0') from wj_user_certification where user_id = #{userId} AND certification_status = 'audit_success') AS bertificationStatus
				FROM
					wj_user_info
				WHERE
					id = #{userId}
		   
		</select>


		<!-- 查询贷款任务列表的图标 -->
		<select id="queryLoanCommonIcon" parameterType="java.lang.String" resultType="java.util.Map">
		    
		        SELECT
					param_key AS paramKey,
				    param_value AS paramValue
				FROM
					comm_params
				WHERE
					param_key IN ('loan_task_ground_img_card_yes',
				   'loan_task_ground_img_card_no',
				'loan_task_ground_img_card_compelete_big',
				'loan_task_ground_img_card_compelete_small',
				'loan_task_ground_img_invest_yes',
				'loan_task_ground_img_invest_no',
				'loan_task_ground_img_social_yes',
				'loan_task_ground_img_social_no',
				'loan_task_ground_img_invite_register_yes',
				'loan_task_ground_img_invite_register_no')
		   
		</select>




		<!-- 查询用户是否有过投资记录 -->
		<select id="queryIfInvested" parameterType="java.lang.String" resultType="java.lang.String">
		    
		    SELECT
				if(count(wir.id) > 0,'true','false')
			FROM
				 wj_investment_record wir
                INNER JOIN wj_order_product wop ON wop.order_no = wir.order_no
				INNER JOIN wj_product_finace wpf ON wpf.product_id = wop.product_id AND wpf.product_category = 'loan_financial'
			WHERE
				wir.user_id = #{userId}
		   
		</select>


		<!-- 查询产品名称及到期时间 -->
		<select id="queryProductNameAndPeriod" parameterType="java.lang.String" resultType="java.util.Map">
		    
		        SELECT
					product_name AS productName,
					DATE_FORMAT(end_time, "%Y-%m-%d") AS endDate
				FROM
					wj_product_finace
				WHERE
					product_id = #{productId}
		   
		</select>


		<!-- 查询公积金信息的对应展示信息 -->
		<select id="queryCityLabelPkByCityCode" parameterType="java.lang.String" resultType="java.util.Map">
		    
		        SELECT
					label_name AS labelName,
				    label_value AS labelValue
				FROM
					city_label_pk
				WHERE
					city_code = #{cityCode}
		   
		</select>


		<!-- 查询产品期限 -->
		<select id="queryProductPeriodByProductId" parameterType="java.lang.String" resultType="java.lang.String">
		    
		        SELECT
					QUERY_MONTH_AND_DAY (
						DATE_FORMAT(now(), '%Y-%m-%d'),
						end_time
					)
				FROM
					wj_product_finace
				WHERE
					product_id = #{productId}
		   
		</select>


		<!-- 根据借款编号，查询投资的项目期限 -->
		<select id="queryLoanPeriodByBorrowCode" parameterType="java.lang.String" resultType="java.lang.String">
		    
		        SELECT
					QUERY_MONTH_AND_DAY (
						DATE_FORMAT(
							wp.interest_start_time,
							'%Y-%m-%d'
						),
						DATE_FORMAT(
							wp.interest_end_time,
							'%Y-%m-%d'
						)
					)
				FROM
					wj_order wd,
					wj_order_product wp
				WHERE
					wd.channel_trade_id = #{borrowCode}
				AND wd.order_type = 'apply_la_to_lf'
				AND wd.order_no = wp.order_no
		   
		</select>


	<!-- 查看用户是否有安全卡 -->
	<select id="checkIsHaveSecurityCard" parameterType="java.lang.String" resultType="java.lang.Boolean">

		SELECT
			count(1)
		FROM
			wj_trade_account_card
		WHERE
			user_id = #{userId}
		AND card_type = 'security'

	</select>

	<select id="querySurplusSpaceForInviteRegisterUserNum" resultType="int">
		SELECT
		CASE WHEN t.surplus &lt; 0 THEN 0 ELSE t.surplus END
		FROM
		(
		SELECT
			(SELECT IFNULL(param_value,0) FROM comm_params WHERE param_key = 'distribute_gold_fish_user_num')
			-
			(SELECT IFNULL(current_value,0) FROM comm_sequence WHERE NAME = 'invite_register_user_num') surplus
		FROM
			dual
		) t
	</select>

	<!-- 查询用户投资小金鱼限额 add by zhangyingxuan on 20160901 -->
	<select id="queryGoldFishUpperLimitAmount" resultType="java.math.BigDecimal">
		select param_value from comm_params where param_key = 'distribute_gold_fish_upper_limit_amount'
	</select>

	<!-- 查询用户在投的小金鱼金额 add by zhangyingxuan on 20160901 -->
	<select id="queryInvestGoingAmount" parameterType="java.lang.String" resultType="java.math.BigDecimal">
		SELECT
		sum(wop.amount)
		FROM
		wj_investment_record wir
		INNER JOIN wj_order_product wop ON wop.order_no = wir.order_no
		INNER JOIN wj_product_finace wpf ON wpf.product_id = wop.product_id
		AND wpf.product_category = 'loan_financial'
		WHERE
		wop.order_product_status = 'invest_going'
		AND wir.user_id = #{userId}
	</select>

	<select id="queryProductDetailByLoanCode" resultType="com.zhuanyi.vjwealth.wallet.mobile.credit.server.dto.pledgeInvest.ProductDetailDTO">
		select
	       wpf.product_id productId,wpf.product_name productName,wpf.is_pre_expire isPreExpire, wpf.wj_advance_due_date wjAdvanceDueDate
	    from wj_order wod,
			wj_order_product wop,
			wj_product_finace wpf
		WHERE
			wod.rel_order_no=wop.order_no
			and wop.product_id=wpf.product_id
			and wod.order_type = 'apply_ltb_loan'
			and wod.order_status='apply_ltb_loan_confirm'
			AND wod.user_id =#{userId}
			AND wod.channel_trade_id=#{loanCode}
    		limit 1
	</select>

</mapper>