<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhuanyi.vjwealth.wallet.mobile.credit.server.mapper.IFundLoanMapper">

    <select id="queryUserPhoneByUserId" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT
	phone
FROM
	wj_user_info
WHERE
	id = #{userId}
    </select>


    <insert id="insertBankCardBingdingRecord" parameterType="com.zhuanyi.vjwealth.wallet.mobile.credit.server.dto.fundLoan.CheckBingdingBankcardDTO">

        INSERT INTO
        wj_bankcard_bingding_record
        (user_id,
        ower_name,
        owner_identity_no,
        bank_code,
        inner_bank_code,
        bank_province,
        bank_city,
        bank_card_no,
        phone,
        biz_id,
        create_by,
        create_date)
        VALUES (
          #{userId},
          #{ownerName},
          #{ownerIdentity},
          #{bankCode},
           '',
          #{bankProvince},
          #{bankCity},
          #{bankCardNo},
          #{bankReservationPhone},
          #{borrowCode},
          'system',
          now());

    </insert>


    <select id="queryUserBasicInfo" parameterType="java.lang.String" resultType="com.zhuanyi.vjwealth.loan.client.dto.ClientBasicInfoDTO">

        SELECT
			wui.id AS id,
			wui.real_name AS clientName,
			wui.phone,
			wui.indentity_no AS indentityNo
		FROM
			wj_user_info wui
		WHERE
            wui.id = #{userId}

    </select>


</mapper>