<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhuanyi.vjwealth.wallet.mobile.credit.server.mapper.ILoanCommonMapper">

     <select id="queryUserSecurityCardList" resultType="com.zhuanyi.vjwealth.wallet.mobile.credit.server.dto.jd.BindedCardDTO" parameterType="java.lang.String">
          SELECT
             bank_code as bankCode,
             bank_name as bankName,
             bank_card_no as cardNoDesc,
             aside_bank_phone as asideBankPhoneDesc,
             id as cardId
          FROM
              wj_trade_account_card
          WHERE
              user_id = #{userId}
          AND card_type = 'security'
     </select>


    <select id="queryUserRechargeCardByCardNo" resultType="com.zhuanyi.vjwealth.wallet.mobile.credit.server.dto.jd.BindedCardDTO" parameterType="java.lang.String">
        SELECT
        bank_code as bankCode,
        bank_name as bankName,
        bank_card_no as cardNoDesc,
        aside_bank_phone as asideBankPhoneDesc,
        id as cardId
        FROM
        wj_trade_account_card
        WHERE
        user_id = #{userId}
        AND card_type = 'recharge'
        AND bank_card_no = #{cardNo}
    </select>



     <select id="queryUserInfoById" resultType="com.zhuanyi.vjwealth.wallet.mobile.user.dto.UserInfoDTO" parameterType="java.lang.String">
          SELECT
            real_name AS realName,
            indentity_no AS indentityNo
          FROM
              wj_user_info
          WHERE
              id = #{userId}
     </select>


     <select id="queryBankinfoByCardBin" resultType="com.zhuanyi.vjwealth.wallet.mobile.credit.server.dto.jd.BankTypeInfoDTO" parameterType="java.lang.String">
          SELECT
            is_credit AS cardTypeName,
            bank_code AS bankCode,
            bank_unionpay_name AS bankName
          FROM
              wj_bank_bin_info
          WHERE
	          card_bin = #{binNo}
     </select>


    <select id="validatorBankIsNormal" resultType="java.lang.Boolean" parameterType="java.lang.String">
        SELECT
            count(1)
        FROM
            common_withhold_plateform_bank
        WHERE
            plateform_id = #{plateformId}
        AND bank_code =  #{bankCode}
        AND `status` = 'normal';
    </select>




</mapper>