<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhuanyi.vjwealth.wallet.mobile.credit.server.mapper.IMyAllLoanQueryMapper">


	<select id="queryProductNameByOrderNo" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT
		CONCAT(
		wpf.product_name,
		wpf.product_id
		)
		FROM
		wj_order wod,
		wj_product_finace wpf
		WHERE
		wod.order_no = #{orderNo}
		AND wpf.product_id = wod.product_id

	</select>




</mapper>