<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhuanyi.vjwealth.wallet.mobile.credit.server.mapper.IWageAdvanceMapper">

	<select id="queryUserSecurityCardDesc" parameterType="java.lang.String" resultType="java.lang.String">
			SELECT
				CONCAT(
					wac.bank_name,
					"储蓄卡(",
					RIGHT (wac.bank_card_no, 4),
					")"
				)
			FROM
				wj_trade_account_card wac
			WHERE
				wac.card_type = 'security'
			AND wac.user_id = #{userId}

	</select>


	<select id="queryUserCreditIniti" parameterType="java.lang.String" resultType="com.zhuanyi.vjwealth.wallet.mobile.credit.server.dto.wageAdvance.CreditInitiDTO">

		SELECT
		'借款金额' AS  borrowAmountLabel,
		IFNULL(QUERY_PARAM_VALUE('wage_advance_add_amount','wage_advance'),'100')  AS borrowAmountAdd,
		IFNULL(QUERY_PARAM_VALUE('wage_advance_min_amount','wage_advance'),'500.00')  AS borrowAmountMin,
		IFNULL(QUERY_PARAM_VALUE('wage_advance_max_amount','wage_advance'),'')  AS borrowAmountMax,
		CONCAT (IFNULL(QUERY_PARAM_VALUE('wage_advance_min_amount','wage_advance'),'500')  ,'～',IFNULL(QUERY_PARAM_VALUE('wage_advance_max_amount','wage_advance'),'2000')/10000 ,'万') AS  borrowAmountInputTip,
		<![CDATA[ CONCAT ('<font color=#B8CDD6>需为</font><font color=#FFC73D>' ,IFNULL(QUERY_PARAM_VALUE('wage_advance_add_amount','wage_advance') ,'100')  ,'整数</font><font color=#B8CDD6>倍</font>') ]]> AS borrowAmountDesc
		FROM
		DUAL

	</select>



</mapper>