@charset "utf-8";
/**
 * 冻结账单列表
*/
.list{border-bottom:1px solid #f2f2f2;}
.item-wrap{border-bottom:1px solid #f2f2f2;}

.handle{ background:#fbfbfb; box-sizing:border-box; line-height:40px; padding-left:20px;font-size:14px; color:#bcbcbc;}
.item-list{}
.item{padding-left:20px; background:#fff; }
.item.g-act-taped{background:#f6f6f6;}
.item:last-child .item-wrap{border-bottom:0;}
.item-wrap{ height:69px; position:relative;}
.item .col-l{position:absolute; left:0;top:0;}
.item .col-l .text{line-height:22px; font-size:14px;padding-top:15px;}
.item .col-l .date{font-size:10px; line-height:14px; color:#c5c3c3;}
.item .col-r{position:absolute; right:0;top:0;}
.item .col-r .amount{float:left; position:absolute;right:47px; top:0;  line-height:69px;font-size:24px;}
.item .col-r .arrow{ float:left; margin:28px 20px 0 15px;background:url(../img/arrow-r.png) 0 0 no-repeat; width:7px; height:15px; background-size:100% 100%; }