@charset "utf-8";



/*==账户中心 投资详情==*/
.page-account-investDetail{}
.page-account-investDetail .top-bar{ margin-bottom:6px;}
.page-account-investDetail .top-bar .con{padding:18px 0 24px; color:#fff; background:#43C0F2;}
.page-account-investDetail .top-bar h2{font-size:16px; line-height:28px; padding-left:60px; background:url(../img/meiyuan.png) 18px center no-repeat; background-size:32px 19px; }
.page-account-investDetail .top-bar p{font-size:14px; line-height:25px; padding-left:60px;}
.page-account-investDetail .top-bar .wen{height:14px; overflow:hidden; background:url(../img/wen-blue.png) 0 0 repeat-x; background-size:45px 13px;}

.page-account-investDetail .dylamic-box{margin-bottom:10px; border-top:1px solid #f2f2f2; border-bottom:1px solid #f2f2f2;}
.page-account-investDetail .dylamic-box.g-act-taped{background:#f6f6f6!important;}
.page-account-investDetail .dylamic-box{ position:relative; background:#fff; padding:6px 20px 0;}
.page-account-investDetail .dylamic-box h2{line-height:37px; font-size:16px; }
.page-account-investDetail .dylamic-box .item{ position:relative; }
.page-account-investDetail .dylamic-box .item .col-desc{float:left; width:100%;}
.page-account-investDetail .dylamic-box .item .col-desc .con{margin:0 7px 0 20px; padding-left:20px; padding-bottom:10px;}
.page-account-investDetail .dylamic-box .item .col-desc .text{font-size:14px; color:#4ac0f0;line-height:18px;}
.page-account-investDetail .dylamic-box .item .col-desc .date{font-size:12px; color:#9b9b9b;line-height:18px;}
.page-account-investDetail .dylamic-box .item .col-icon{ position:absolute;  left:0;top:0; width:20px;  height:100%; }
.page-account-investDetail .dylamic-box .item .col-icon .icon{ width:20px; height:24px; display:block; background:url(../img/meiyuan2.png) 0 0 no-repeat; background-size:20px 24px; }
.page-account-investDetail .dylamic-box .item .col-icon .split{ position:absolute; background:#f2f2f2; left:50%; margin-left:-1px; width:2px; top:24px; bottom:0; }
.page-account-investDetail .dylamic-box .item .col-arrow{position:absolute; right:0;top:0; width:7px; height:15px; background:url(../img/arrow-r.png) 0 center no-repeat; background-size:100% 100%; overflow:hidden; }

.page-account-investDetail .product-box{border-top:1px solid #f2f2f2; border-bottom:1px solid #f2f2f2; }
.page-account-investDetail .product-box .title-c{border-bottom:1px dashed #E6E6E6;}
.page-account-investDetail .product-box{ margin-bottom:10px; }
.page-account-investDetail .product-box .title{line-height:60px; color:#5d7a8d;  font-size:16px;   }
.page-account-investDetail .product-box .title-c{margin:0 20px;background:url(../img/arrow-r.png) right center no-repeat; padding-right:7px; background-size:7px 15px; }
.page-account-investDetail .product-box .title .text{display:block; width:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.page-account-investDetail .product-box  .meta{}
.page-account-investDetail .product-box  .meta-c{border-bottom:1px solid #f2f2f2; }
.page-account-investDetail .product-box  .meta-c{margin-left:20px; padding:6px 20px 6px 0;}
.page-account-investDetail .product-box  .meta-item{font-size:14px; line-height:25px;}
.page-account-investDetail .product-box  .meta-item .attr{float:left;}
.page-account-investDetail .product-box  .meta-item .value{float:right;color:#5d7a8d;}
.page-account-investDetail .product-box .safe{padding:10px 0; }
.page-account-investDetail .product-box .safe .con{ margin:0 20px; background:url(../img/arrow-r.png) right center no-repeat;background-size:7px 15px;}
.page-account-investDetail .product-box .safe  .text-1{font-size:14px ; line-height:1.5; padding:6px 0;}
.page-account-investDetail .product-box .safe  .text-2{ font-size:12px; color:#5d7a8d; line-height:1.5; padding:6px 0; }

.page-account-investDetail .ext-bar{border-top:1px solid #f2f2f2; border-bottom:1px solid #f2f2f2;}
.page-account-investDetail .ext-bar .item-c{border-bottom:1px solid #f2f2f2;}
.page-account-investDetail .ext-bar .item:last-child .item-c{border-bottom:0;}

.page-account-investDetail .ext-bar .item{padding:0 0 0 20px;}
.page-account-investDetail .ext-bar .item-c{height:48px;}
.page-account-investDetail .ext-bar .item-c .text{float:left; font-size:14px; line-height:48px;}
.page-account-investDetail .ext-bar .item-c .arrow{float:right;width:7px; margin-right:20px; height:15px; margin-top:17px; background:url(../img/arrow-r.png) 0 center no-repeat; background-size:100% 100%; overflow:hidden;}