<script type="text/template" data-tpl="tpl-main-view">
	<style>
		.img-row{position:relative;}
		.img-row img{position:absolute; left:0;right:0;top:0;bottom:0;}
		.img-row-1{padding-top:117.81250000000001%;}
		.img-row-2{padding-top:135.3125%;}
		
	</style>
	<p><img src="<# print(_g_dir.static_dir); #>img/themes/zhongan/zhongan_1.jpg" style="width:100%; display:block; "></p>
	<p><img src="<# print(_g_dir.static_dir); #>img/themes/zhongan/zhongan_2.jpg" style="width:100%; display:block; "></p>
</script>
<div class="page"></div>