<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhuanyi.vjwealth.wallet.mobile.systemMessage.server.mapper.SystemMessageMapper">

	<!-- 查询消息列表 -->
      <select id="querySystemMessageList" resultType="java.util.Map">
			select 
				s.message_no as messageNo,
				s.title as title,
				s.service_type as serviceType,
				'yes' as isClick
			from wj_system_message s
			where 
				s.status='release'
				<if test="@org.apache.commons.lang.StringUtils@isNotBlank(channelType)">
					and s.channel_type like concat('%', #{channelType}, '%') 
				</if>
				AND NOW()>=s.start_time
				AND NOW()&lt;=s.end_time
				<if test="@org.apache.commons.lang.StringUtils@isNotBlank(userId)">
				and NOT EXISTS(  
				      SELECT 1  
				      FROM wj_system_message_user_log  m
				      WHERE m.message_no = s.message_no
						and m.user_id = #{userId}
						and m.service_type='advertisement'
				)
				</if>
			ORDER BY s.priority,s.create_date DESC
     </select>


	<select id="querySystemMessageDetailByMessageNo" parameterType="java.util.Map" resultType="com.zhuanyi.vjwealth.wallet.mobile.systemMessage.server.dto.WjSystemMessageDTO">
			SELECT
				s.message_no as messageNo,
				s.edit_type as editType,
				s.title as title,
				s.content AS content,
				s.content_url AS contentUrl,
				s.service_type as serviceType,
				date_format(s.create_date,'%Y-%m-%d') as createDate,
				date_format(s.release_time,'%Y-%m-%d') as releaseTime
			FROM
				wj_system_message s
			WHERE
				s.message_no = #{messageNo}

	</select>
	
	<!-- 新增系统消息用户查看记录-->
	 <insert id="insertSystemMessageUserLog" parameterType="java.lang.String">
		insert into wj_system_message_user_log (
			message_no,
			user_id,
			read_type,
			service_type,
			create_date
		)
		SELECT 
			#{messageNo} , 
			#{userId} , 
			'read' , 
			#{serviceType} , 
			now() 
		FROM dual  
		WHERE NOT EXISTS(  
		      SELECT 1  
		      FROM wj_system_message_user_log  
		      WHERE message_no = #{messageNo}  
		      	and user_id = #{userId}
		)
	</insert>

</mapper>