*{margin:0;padding:0;}

body{
	font:normal 100% 黑体,'Trebuchet MS',仿宋, Arial, sans-serif,Georgia, serif;
	background-image:url(../images/bg.png);
	background-repeat:repeat-x repeat-y;
	overflow-x:hidden;
}
header{
	background-color:#109cda;
	overflow:hidden;
	position:relative;
}
.head-intro{
	position:absolute;
	bottom:-25%;
	left:10%;
	vertical-align:bottom;
}
.what,.whats{
	color:#fff;
}
.whats{
	font-size: 8vw;
}
.what{
	font-size: 20vw;
	/* letter-spacing: 13px; */
}
.head-right,.head-right img{
	float:right;
}
.head-right{
	width:20%;
}
.head-right img{
	width:100%;
}
.head-right span{
	font-size:19vw;
	color:#f8b600;
}
.container{
}
section{
	position:relative;
}
.wallet-one,.wallet-two,.wallet-three,.wallet-four{
	overflow:hidden;
	position:absolute;
}
.wallet-one,.wallet-two,.wallet-three{
	width:65%;
}
.wallet-one{
	bottom:-40vw;
	left:-5%;
	z-index:-1;
}
.wallet-info,.wallet-two-info,.wallet-three-info,.wallet-four-info{
	background-color:#fff;
	border-radius:100%;
	border:solid 1px #e1f2fd;
	overflow:hidden;
	position:relative;
}
.wallet-info,.wallet-two-info,.wallet-three-info{
	width:99%;
	overflow-x:hidden;
}
.wallet-two-info{
	left: 10%;
}
.wallet-info p,.wallet-two-info p,.wallet-three-info p,.wallet-four-info p{
	width:80%;
	color:#9e9e9f;
	font-size:3.6vw;
}
.wallet-info p{
	padding:55% 5% 22% 13%;
}
.circle{
	width:2vw;
	height:2vw;
	border-radius:100%;
	background-color:#109cda;
	display:inline-block;
}
.one-circle-group{
	position:absolute;
	left:45%;
	top:42%;
}
.wallet-img-one,.wallet-img-two,.wallet-img-three,.wallet-img-four{
	position:absolute;
}
.wallet-img-one{
	right:10%;
	bottom:-35vw;
	width:30%;
}
.wallet-two{
	bottom:-83vw;
	right: 0%;
	z-index:-2;
	overflow-x:hidden;
}
.wallet-two-info p{
	padding:48% 0% 28% 11%;
}
.two-circle-group{
	position:absolute;
	left:45%;
	top:35%;
}
.wallet-img-two{
	left:12%;
	bottom:-66vw;
	width:30%;
}

.wallet-three{
	bottom:-123vw;
	left:-5%;
	z-index:-3;
}
.wallet-three-info p{
	padding:33% 10% 43% 13%;
}
.three-title{
	font-size:6vw;
	color:#109cda;
}
.shouyi{
	font-size:5vw;
	color:#109cda;
}
.wallet-img-three{
	right:7%;
	bottom:-105vw;
	width:35%;
}
.wallet-img-four{
	left:7%;
	bottom:-128vw;
	width:28%;
}

.wallet-four{
	width:78%;
	bottom:-148vw;
	right:0%;
	z-index:-3;
	height:42vw;
}
.wallet-four-info{
	width:125%;
	text-align:center;
}
.wallet-four-info p{
	height:28vw;
	padding:15% 15% 65% 4%;
}