<script type="text/template" data-tpl="tpl-main-view">
	<div class="dynamicState">
		<div class="img-wrap">
			<img class="img-wrap-img" src="static/img/about/top.jpg">
		</div>
		<h2 class="sm-title"><strong>·</strong> 软银中国资本</h2>
		<div class="sm-wrap">
			<div class="sm-wrap-content">
				软银中国资本(SBCVC)成立于2000年，是一家国际顶尖的风险投资和私募股权基金管理公司，致力于在大中华地区投资优秀的高成长、高科技企业，曾成功投资了阿里巴巴、淘宝网、分众传媒等一系列优秀企业；投资阿里巴巴及淘宝网增值1000倍的神话更是VC史上最成功的案列之一。
			</div>
			<div class="sm-wrap-more">
				<p>2015年9月，“工资钱包” 获软银中国资本战略投资，这一举动标志着软银中国资本作为国际顶尖风投机构开始提前布局未来将在中国出现爆发增长的移动金融服务市场。</p>
				<div class="loudspeaker">
					<img src="static/img/about/megaphone.png">
				</div>
			</div>
		</div>
		<h2 class="sm-title"><strong>·</strong> 中国人保财险</h2>
		<div class="sm-wrap">
			<div class="sm-wrap-content">
				中国人民财产保险股份有限公司（PICC P&C，简称“中国人保”）是亚洲最大、世界第二大的财产保险公司。截至2014年，累计承保206.6万亿元，约为同期GDP的3.25倍，也是中国首家年度保费超过2500亿元的保险公司。作为世界500强企业，中国人保财险相继成为2008年北京奥运会、2010年上海世博会、广州亚运会保险合作伙伴；2015年国际权威评级机构穆迪将人保财险评定为Aa3级，为同行业国内最高评级。
			</div>
			<div class="sm-wrap-more">
				<p>工资钱包平台所有账户的资金安全均由中国人保财险全额承保，为客户提供真正安心可靠的个人财富管理服务。
				</p>
				<div class="loudspeaker">
					<img src="static/img/about/megaphone.png">
				</div>
			</div>
		</div>
		<h2 class="sm-title"><strong>·</strong> 华夏银行</h2>
		<div class="sm-wrap">
			<div class="sm-wrap-content">
				华夏银行成立于1992年，总资产超15518亿元；其资产规模位列全球银行第94位，跻身全球银行业百强行列。华夏银行营业网点达到520家，覆盖全国76个中心城市；并与境外1千多家银行建立了代理业务关系，代理行网络遍及五大洲110个国家和地区的320个城市，拥有了覆盖全球主要贸易区的结算网络。                </div>
			<div class="sm-wrap-more">
				<p>2015年，工资钱包与华夏银行正式开展战略合作，双方已在“电子账户、资金监管、系统安全、代发代付”等领域开展了一系列引人瞩目的合作。

				</p>
				<div class="loudspeaker">
					<img src="static/img/about/megaphone.png">
				</div>
			</div>
		</div>
	</div>	
</script>
<div class="page"></div>