@charset "utf-8";
.page-index .focus-container{ position:fixed;left:0;top:0; width:100%; z-index:10; padding-top:28.4375%; }
.page-index .focus-container .wrap{width:100%; height:100%; padding-top:0;  position:absolute; left:0;top:0; }
.page-index .focus-container-blank{padding-top:28.4375%; }
.page-index .my-invest{ background:#fbfbfb ; z-index:11; position:fixed; left:0;top:0; width:100%; height:56px; overflow:hidden; }
.page-index .my-invest-wrap{border-top:1px solid #f0f0f0;border-bottom:1px solid #f0f0f0; background:#fff; height:48px; margin:4px 0 0px;  }
.page-index .my-invest-c.g-act-taped{background:#f6f6f6; }
.page-index .my-invest-c{padding:0 20px;}
.page-index .my-invest .text{float:left;width:100%; line-height:48px; font-size:16px; }
.page-index .my-invest .text .con{margin:0 6px 0 18px; padding-left:12px;}
.page-index .my-invest .icon{float:left;margin-left:-100%;width:18px;height:18px; margin-top:15px;  background:url(../img/money2.png?2) 0 0 no-repeat; background-size:18px 18px;}
.page-index .my-invest .arrow{float:left;margin-left:-6px; width:6px; height:12px; margin-top:18px; overflow:hidden; background:url(../img/arrow-r.png?2) 0 0 no-repeat; background-size:6px 12px;}
.page-index .my-invest-blank{height:56px;overflow:hidden;}


