@charset "utf-8";

.page-invest-show{ font-size:14px;}
/*
.page-invest-show .num-bar{ position:fixed; z-index:20; left:0;top:0; width:100% ;}
*/
.page-invest-show .num-bar .bg{background:#43C0F2; padding-bottom:16px; width:100%; float:left;}
.page-invest-show .num-bar .wen{  background:url(../img/wen2.png?3) 0 0 repeat-x ; background-size:13px 10px; width:100%; float:left; margin-top:-1px;   height:10px; overflow:hidden;   }

.page-invest-show .num-bar .tip{text-align:center; color:#fff; font-size:16px;line-height:42.666666666666664px; height:70.93333333333334px;}
/*
.page-invest-show .num-bar-blank{height:154.66666666666666px; overflow:hidden; }
*/
.page-invest-show .list-wrap{overflow:hidden;width:298.6666666666667px; height:63.46666666666667px;position:relative; margin:0 auto; }
.page-invest-show .list-wrap ul{}
.page-invest-show .list-wrap li{position:absolute;top:0; width:37.86666666666667px; height:63.46666666666667px;line-height:63.46666666666667px; color:#000; text-align:center; font-size:44.8px;  background:url(../img/num-wrap.png) 0 0 no-repeat; background-size:37.86666666666667px 63.46666666666667px; }
.page-invest-show .list-wrap li:nth-child(1){left:0;}
.page-invest-show .list-wrap li:nth-child(2){left:43.2px;}
.page-invest-show .list-wrap li:nth-child(3){left:86.4px;}
.page-invest-show .list-wrap li:nth-child(4){left:129.6px;}
.page-invest-show .list-wrap li:nth-child(5){left:172.8px;}
.page-invest-show .list-wrap li:nth-child(6){left:216px;}
.page-invest-show .list-wrap li:nth-child(7){left:259.2px;}

.page-invest-show .base{background:#fff; padding-top:20px; border-bottom:1px solid #F0F0F0;}
.page-invest-show .base .title{font-size:14px; color:#889DAB; z-index:10;   padding:0 20px 20px 20px; position:relative; }
.page-invest-show .base .title-new{padding-right:100px;}
.page-invest-show .base .newmark{width:73px; height:20px; position:absolute; right:20px; top:0px;   background:url(../img/new_user.png) right center no-repeat; background-size:73px 20px; }
.page-invest-show .base .title .text{white-space:normal;word-break:break-all; color:#5d7a8d; /* width:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; */}

.page-invest-show .base .row{padding:0px 0 15px;}
.page-invest-show .base .row .attr{float:left; color:#A5A5A5; padding-right:10px;font-size:12px;  line-height:19px;}
.page-invest-show .base .row .value{float:left; color:#070707; line-height:19px;font-size:12px;}
.page-invest-show .base .row .left{float:left; width:50%;}
.page-invest-show .base .row .left .attr{padding-left:20px; }
.page-invest-show .base .row .right{float:left; width:50%;}
.page-invest-show .base .row .icon-1, .page-invest-show .base .row .icon-2{padding-left:20px; line-height:20px; color:#5C798D;}
.page-invest-show .base .row .icon-1{background:url(../img/clock.png?201606071417) 20px 50% no-repeat; background-size:18px 18px; padding-left:42px; }
.page-invest-show .base .row .icon-2{background:url(../img/money.png?201606071417) 0 50% no-repeat; background-size:18px 18px; padding-left:22px;}


.page-invest-show .box{padding:0 20px; margin-top:10px; background:#fff; border-top:1px solid #F0F0F0; border-bottom:1px solid #F0F0F0;}
.page-invest-show .box .title{line-height:50px; padding-left:32px; font-size:16px; border-bottom:1px solid #F0F0F0;position:relative;height:50px;}
.page-invest-show .box .title .link{position:absolute;right:-20px;top:0;padding:0 20px;height:50px;line-height:50px;color:#4ac0f0;font-size:14px;}
.page-invest-show .box-insurance .title{background:url(../img/baoxian2.png) 1px 50% no-repeat; background-size:20px auto; }
.page-invest-show .box-intro .title{background:url(../img/intro.png) 2px 50% no-repeat; background-size:18px auto; }
.page-invest-show .box-man .title{background:url(../img/man.png) 0 50% no-repeat; background-size:22px auto; }
.page-invest-show .box-newPerson .title{background:url(../img/newer.png) 1px 50% no-repeat; background-size:20px auto; }

.page-invest-show .box .c{padding:12px 0; line-height:26px; color:#7891A0;}

.page-invest-show .box-man .c{padding:10px 0;}
.page-invest-show .box-man .c .row-1{padding:7px 0;}
.page-invest-show .box-man .c .row-1 .col{float:left; width:33.333333%; }
.page-invest-show .box-man .c .row-1 .sp{float:left; display:inline;}
.page-invest-show .box-man .c .row-1  .attr{color:#A0A0A0; padding-right:15px;}
.page-invest-show .box-man .c .row-1  .value{color:#4a4a4a;}
.page-invest-show .box-man .c .row-1  .icon-wrap{ line-height:20px; padding-left:22px; background:url(../img/gou.png) 0 50% no-repeat; background-size:18px auto;}

.page-invest-show .box-history{font-size:20px; }
.page-invest-show .box-history.g-act-taped{background:#f1f0f0!important;}
.page-invest-show .box-history .c .text{float:left; font-size:16px;}
.page-invest-show .box-history .c .msg{ margin-right:14px; display:inline; width:26px; height:26px; border-radius:13px; background:#4AC0F0; overflow:hidden; color:#fff; font-size:12px; text-align:center; line-height:26px; float:right;}
.page-invest-show .box-history .c .more{float:right;background:url(../img/more.png) 0 center no-repeat; background-size:10px 18px; width:10px; heigh:18px; }


.page-invest-show .download-bar{height:64px;  text-align:center; color:#4AC0F0;line-height:64px; border-top:1px solid #F0F0F0;  position:fixed;left:0;width:100%; bottom:0; background:#fff; z-index:11; font-size:16px; }
.page-invest-show .download-bar.g-act-taped{color:rgba(74,192,240,.4);}
.page-invest-show .s-gray{color:#D8D8D8;}
.page-invest-show .download-bar-blank{height:65px; margin-top:10px; overflow:hidden;}