<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhuanyi.vjwealth.wallet.service.mainbiz.account.server.integration.mapper.ICheckingAccountMapper">
	 
	
	<!-- 插入对账单主信息  -->
	<insert id="insertCheckingAccount" parameterType="com.zhuanyi.vjwealth.wallet.service.mainbiz.account.dto.WjCheckingAccountDTO" 
		useGeneratedKeys="true" keyProperty="id" >
		insert into wj_checking_account (
			check_no,
			file_business_no  , 
			checking_data  , 
			total_num , 
			total_amount  , 
			result,
			trade_platform_type, 
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(createBy)">
				create_by , 
			</if>
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(updateDate)">
				update_date , 
			</if>
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(updateBy)">
				update_by ,
			</if>
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(totalCounterFee)">
				total_counter_fee,
			</if>
			create_date
		)values(
			#{checkNo} , 
			#{fileBusinessNo} , 
			#{checkingData} , 
			#{totalNum} ,
			#{totalAmount} , 
			#{result},
			#{tradePlatformType} , 
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(createBy)">
				#{createBy} , 
			</if>
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(updateDate)">
				#{updateDate} , 
			</if>
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(updateBy)">
				#{updateBy},
			</if>
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(totalCounterFee)">
				#{totalCounterFee},
			</if>
			now() 
			)
	</insert>
	
	<!-- 插入对账单明细信息  -->
	<insert id="insertCheckingAccountDetail" parameterType="com.zhuanyi.vjwealth.wallet.service.mainbiz.account.dto.WjCheckingAccountDetailDTO" >
		insert into wj_checking_account_detail (
			check_no , 
			check_detail_no,
			mer_id  , 
			goods_id , 
			order_id  , 
			check_trade_amount, 
			check_mobile_id  ,
			check_mer_date,
			check_pay_date, 
			amt_type,
			check_gate_id,
			check_settle_date,
			check_trans_type,
			check_trans_status,
			check_bank_check,
			check_product_id,
			check_refund_no,
			check_trans_time,
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(createBy)">
				create_by , 
			</if>
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(updateDate)">
				update_date , 
			</if>
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(updateBy)">
				update_by ,
			</if>
			create_date
		)values(
			#{checkNo} , 
			#{checkDetailNo} , 
			#{merId} , 
			#{goodsId} ,
			#{orderId} , 
			#{checkTradeAmount} , 
			#{checkMobileId} , 
			#{checkMerDate},
			#{checkPayDate} , 
			#{amtType} , 
			#{checkGateId} , 
			#{checkSettleDate} , 
			#{checkTransType} , 
			#{checkTransStatus} , 
			#{checkBankCheck} , 
			#{checkProductId} , 
			#{checkRefundNo} , 
			#{checkTransTime} , 
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(createBy)">
				#{createBy} , 
			</if>
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(updateDate)">
				#{updateDate} , 
			</if>
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(updateBy)">
				#{updateBy},
			</if>
			now() 
	)
	
	</insert>
	
	<!-- 批量插入对账单明细信息  -->
	<insert id="insertCheckingAccountDetailList" parameterType="java.util.List" >
		insert into wj_checking_account_detail (
			check_no , 
			check_detail_no , 
			mer_id  , 
			goods_id , 
			order_id  , 
			check_trade_amount, 
			check_mobile_id  ,
			check_mer_date,
			check_pay_date, 
			amt_type,
			check_gate_id,
			check_settle_date,
			check_trans_type,
			check_trans_status,
			check_bank_check,
			check_product_id,
			check_refund_no,
			check_trans_time,
				create_by , 
			create_date,
			trade_no,
			counter_fee,
			remark1,
			remark2
		)values
		<foreach collection="list" item="item" index="" separator=",">
		(
			#{item.checkNo} , 
			#{item.checkDetailNo} , 
			#{item.merId} , 
			#{item.goodsId} ,
			#{item.orderId} , 
			#{item.checkTradeAmount} , 
			#{item.checkMobileId} , 
			#{item.checkMerDate},
			#{item.checkPayDate} , 
			#{item.amtType} , 
			#{item.checkGateId} , 
			#{item.checkSettleDate} , 
			#{item.checkTransType} , 
			#{item.checkTransStatus} , 
			#{item.checkBankCheck} , 
			#{item.checkProductId} , 
			#{item.checkRefundNo} , 
			#{item.checkTransTime} , 
				#{item.createBy} , 
			now() ,
			#{item.tradeNo} ,
			#{item.counterFee},
			#{item.remark1},
			#{item.remark2}
		)
		</foreach>
	</insert>
	
	<!-- 查询对账单主信息 -->
	 <select id="queryCheckingAccount" parameterType="com.zhuanyi.vjwealth.wallet.service.mainbiz.account.dto.WjCheckingAccountDTO" 
	 	resultType="com.zhuanyi.vjwealth.wallet.service.mainbiz.account.dto.WjCheckingAccountDTO">
		     SELECT
				id AS id,
				check_no as checkNo,
				file_business_no AS fileBusinessNo,
				checking_data AS checkingData,
				total_num as totalNum,
				total_amount as totalAmount,
				result as result,
				trade_platform_type as tradePlatformType
			FROM
				wj_checking_account t
			where  1=1
				and checking_data = #{checkingData}
				<if test="@org.apache.commons.lang.StringUtils@isNotBlank(tradePlatformType)">
					and trade_platform_type = #{tradePlatformType}
				</if>
				
	 </select>
	
	<!-- 查询对账单明细信息 -->
	 <select id="queryCheckingAccountDetailList" parameterType="com.zhuanyi.vjwealth.wallet.service.mainbiz.account.dto.WjCheckingAccountDetailDTO" 
	 	resultType="com.zhuanyi.vjwealth.wallet.service.mainbiz.account.dto.WjCheckingAccountDetailDTO">
		    SELECT
		     	id as id,
		     	check_no as checkNo,
		     	check_detail_no as checkDetailNo,
				order_id AS orderId,
				check_trade_amount AS checkTradeAmount,
				check_mobile_id AS checkMobileId,
				check_gate_id as checkGateId,
				check_trans_status as checkTransStatus
			FROM
				wj_checking_account_detail t
			where  1=1
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(contrastFlag)">
				and contrast_flag = #{contrastFlag}
			</if>
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(checkNo)">
				and check_no = #{checkNo}
			</if>
			order by id 
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(pageSize)">
				<if test="@org.apache.commons.lang.StringUtils@isNotBlank(beginIndex)">
				limit #{beginIndex},#{pageSize}
			</if>
			</if>
			
	 </select>
	 
	 <!-- 查询充值历史数据,比对用-->
	 <select id="queryTradeHistoryListToCheck" parameterType="java.util.Map"
	 	resultType="com.zhuanyi.vjwealth.wallet.service.balance.common.dto.WjEbatongTradeHistoryDTO" >
		select 
			id as id,
			mer_date as merDate,
			out_trade_no as outTradeNo,
			amount as amount,
			bank_code as bankCode,
			card_bind_mobile_phone_no as cardBindMobilePhoneNo,
			token as token,
			recharge_result as rechargeResult,
			user_id as userId,
			pay_type as payType
		from wj_ebatong_trade_history 
		where 1=1
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(today)">
				and mer_date!=#{today}
			</if>
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(yesterday)">
				and mer_date!=#{yesterday}
			</if>
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(payType)">
				and pay_type = #{payType}
			</if>
		    <if test="@org.apache.commons.lang.StringUtils@isNotBlank(contrastFlag)">
				and contrast_flag = #{contrastFlag}
			</if>
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(outTradeNo)">
				and out_trade_no = #{outTradeNo}
			</if>
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(rechargeResult)">
				and recharge_result = #{rechargeResult}
			</if>
	</select>
	
	<!-- 插入对账差错信息  -->
	<insert id="insertCheckingAccountError" parameterType="com.zhuanyi.vjwealth.wallet.service.mainbiz.account.dto.WjCheckingAccountErrorDTO" 
		useGeneratedKeys="true" keyProperty="id" >
		insert into wj_checking_account_error (
			check_no  , 
			check_detail_no  , 
			user_id , 
			trade_no  , 
			error_message, 
			order_no  ,
			order_amount,
			check_trade_amount,
			trade_platform_type,
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(createBy)">
				create_by , 
			</if>
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(updateDate)">
				update_date , 
			</if>
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(updateBy)">
				update_by ,
			</if>
			create_date
		)values(
			#{checkNo} , 
			#{checkDetailNo} , 
			#{userId} ,
			#{tradeNo} , 
			#{errorMessage} , 
			#{orderNo} , 
			#{orderAmount},
			#{checkTradeAmount} , 
			#{tradePlatformType} ,
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(createBy)">
				#{createBy} , 
			</if>
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(updateDate)">
				#{updateDate} , 
			</if>
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(updateBy)">
				#{updateBy},
			</if>
			now() 
			)
	</insert>
	
	<!-- 更新对账单明细,对账标志-->
	<update id="updateCheckingAccountDetailWithContrast" parameterType="java.lang.Long">
		update wj_checking_account_detail
		   set 
		   contrast_flag='Y',
		   update_date=now()
		where
		   id=#{id}
	</update>
	<!-- 更新充值历史,对账标志-->
	<update id="updateTradeHistoryWithContrast" parameterType="java.lang.Long">
		update wj_ebatong_trade_history
		   set 
		   contrast_flag='Y',
		   update_date=now()
		where
		   id=#{id}
	</update>
	<!-- 更新对账主表-->
	<update id="updateCheckingAccount" parameterType="com.zhuanyi.vjwealth.wallet.service.mainbiz.account.dto.WjCheckingAccountDTO">
		update wj_checking_account
		   set 
		    <if test="@org.apache.commons.lang.StringUtils@isNotBlank(result)">
				result=#{result},
			</if>
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(startData)">
				start_data=#{startData},
			</if>
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(finishData)">
				finish_data=#{finishData},
			</if>
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(totalAmount)">
				total_amount=#{totalAmount},
			</if>
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(totalNum)">
				total_num=#{totalNum},
			</if>
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(totalCounterFee)">
				total_counter_fee =#{totalCounterFee},
			</if>
		   update_date=now()
		where
		   id=#{id}
	</update>
	
	<!-- 查询对账单明细单日未对账总数 -->
	 <select id="queryCheckingAccountDetailSum" parameterType="java.lang.String" 
	 	resultType="java.lang.Integer">
		     SELECT
		     	count(1)
			FROM
				wj_checking_account_detail t
			where  1=1
				and contrast_flag = 'N'
				and check_no = #{checkNo}
	 </select>
	 
	 <!-- 分页查询对账单明细信息 
	<select id="queryCheckingAccountDetailPage"
		resultType="com.zhuanyi.vjwealth.wallet.service.mainbiz.account.dto.WjCheckingAccountDetailDTO" 
		parameterType="com.zhuanyi.vjwealth.wallet.service.mainbiz.account.dto.WjCheckingAccountDetailDTO" useCache="false">
		 <include refid="common.pre" />
		SELECT
	     	id as id,
	     	account_id as accountId,
			order_id AS orderId,
			check_trade_amount AS checkTradeAmount,
			check_mobile_id AS checkMobileId,
			check_gate_id as checkGateId,
			check_trans_status as checkTransStatus
		FROM
			wj_checking_account_detail t
		where  1=1
		<if test="@org.apache.commons.lang.StringUtils@isNotBlank(contrastFlag)">
			and contrast_flag = #{contrastFlag}
		</if>
		<if test="@org.apache.commons.lang.StringUtils@isNotBlank(accountId)">
			and account_id = #{accountId}
		</if>
		order by id 
		<include refid="common.suf" />
	</select>
	--> 
	
	<!-- 查询订单中金额 -->
	 <select id="queryPriceInOrderByOrderNo" parameterType="java.lang.String" 
	 	resultType="java.lang.String">
<!-- 		    select w.price from wj_order w -->
<!-- 			WHERE w.order_no=#{orderNo} -->
<!-- 			and w.order_type='recharge_ma' -->
<!-- 			and w.order_status='recharge_ma_confirm' -->
		SELECT
			m.total_price
		FROM
			wj_payment_trade_record m
		WHERE
			m.trade_no = #{orderNo}
		AND m.trade_stauts = 'trade_success'
	 </select>
	 
	 <!-- 修改订单比对标记 -->
	 <update id="updateOrderWithContrast" parameterType="java.lang.String">
		    update wj_payment_trade_record w
		    set w.confrim_balance_flag = 'Y'
			WHERE w.trade_no = #{orderNo}
	 </update>
	 
	 <select id="queryOrderInfoToCheck" parameterType="java.util.Map"  resultType="com.zhuanyi.vjwealth.wallet.service.mainbiz.user.dto.MBOrderInfoDTO">
		    SELECT
				o.user_id as userId
				,o.order_no as orderNo
				,o.price as price
				,o.total_price as totalPrice
				,o.trade_account_card_id as tradeAccountCard
				,o.order_type as orderType
				,o.order_status as orderStatus
			FROM
				wj_payment_trade_record p,wj_order o
			WHERE
						p.trade_no=#{tradeNo}
				AND p.rel_biz_order_no=o.order_no
				and p.trade_stauts = 'trade_success'
				AND p.confrim_balance_flag = #{contrastFlag}
				<if test="@org.apache.commons.lang.StringUtils@isNotBlank(yesterday)">
					and p.create_date  &lt; #{yesterday}
				</if>
				<if test="@org.apache.commons.lang.StringUtils@isBlank(yesterday)">
					and p.create_date &lt; #{today}
				</if>
			
	 </select>
</mapper>