<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuanyi.vjwealth.wallet.service.mainbiz.user.server.integration.mapper.IMBUserPaymentPasswordMapper">


		
		<!-- 更新支付密码 -->
		<update id="updateUserPaymentPassword" parameterType="java.lang.String" >
		    
		    update wj_payment_password  set password=#{password} where user_id=#{userId} ;
		   
		</update>
		
		<!-- 更新验证支付密码失败次数 -->
		<update id="updateUserPaymentPasswordValidationFailures" parameterType="java.lang.String" >
		    
		    update wj_payment_password  set payment_validation_failures=#{failures},failure_reason = #{reason} where user_id=#{userId} ;
		   
		</update>
		
		<!-- 更新支付密码鉴权校验的失败次数 -->
		<update id="updateUserPaymentPasswordAuthorizationFailures" parameterType="java.lang.String" >
		    
		    update wj_payment_password  set authorization_form_validation_failures=#{failures},failure_reason = #{reason} where user_id=#{userId} ;
		   
		</update>
		
		<!-- 更新支付密码状态 -->
		<update id="updateUserPaymentPasswordState" parameterType="java.lang.String" >
		    
		    update wj_payment_password  set state=#{state} where user_id=#{userId} ;
		   
		</update>
		
		<!-- 由于输错支付密码锁定账户 -->
		<update id="lockUserPaymentPasswordForCheck" parameterType="java.lang.String" >
		    
		    update wj_payment_password  set state='lock',payment_validation_failures = QUERY_PARAM_VALUE('vj_payment_password_max_input_frequency','wallet_payment_password') where user_id=#{userId} ;
		   
		</update>
		
		<!--由于支付密码鉴权失败锁定账户 -->
		<update id="lockUserPaymentPasswordForAuthorization" parameterType="java.lang.String" >
		    
		    update wj_payment_password  set state='lock',authorization_form_validation_failures = QUERY_PARAM_VALUE('vj_authorization_form_validation_max_input','wallet_payment_password') where user_id=#{userId} ;
		   
		</update>
		
		<!-- 解锁支付密码 -->
		<update id="unlockUserPaymentPassword" parameterType="java.lang.String" >
		    
		    update wj_payment_password  
		    set    state='normal',
		           payment_validation_failures = 0,
		           authorization_form_validation_failures=0,
		           failure_reason = ''
		     where user_id=#{userId};
		   
		</update>
		
		<!-- 删除支付密码 -->
		<delete id="deleteUserPaymentPassword" parameterType="java.lang.String">
		
		     DELETE from wj_payment_password where user_id=#{userId} AND password=#{password}
		   
		</delete>
		
		
		<!-- 新增支付密码 -->
		<insert id="saveUserPaymentPassword" parameterType="java.lang.String" >
		    
		   insert into 
		           wj_payment_password (user_id,password,state,switch,payment_validation_failures,authorization_form_validation_failures,create_date) 
		   VALUES(#{userId},#{password},'normal','open',0,0,now());
		   
		</insert>
		
		<!-- 删除支付密码 -->
		<delete id="deleteUserPaymentPasswordByUserId" parameterType="java.lang.String">
		
		     DELETE from wj_payment_password where user_id=#{userId}
		   
		</delete>
		

</mapper>
