<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Mapper接口 -->
<mapper namespace="com.zhuanyi.vjwealth.wallet.service.mainbiz.user.server.integration.mapper.IMBUserInviteMapper">
    <select id="queryUserIdByInviteCode" resultType="String">
        SELECT user_id from wj_user_invite_info where LOWER(invite_code) = #{inviteCode}
    </select>

    <select id="queryUserInviteInfoByUserId" resultType="com.zhuanyi.vjwealth.wallet.service.mainbiz.user.dto.MBUserInviteDTO">
        select
          id,
          invite_code 'inviteCode',
          invite_url 'inviteUrl',
          qrcode_path 'qrcodePath',
          recommended_user_id recommendUserId
        from
          wj_user_invite_info
        where user_id = #{userId}
    </select>
    <select id="queryEventInfo" parameterType="java.lang.String" resultType="java.util.HashMap">
       SELECT
			phone
		FROM
			wj_user_info
		WHERE
		id =  #{userId}
    </select>
    
    <select id="queryRecommendUserIdByUserId" parameterType="java.lang.String" resultType="java.lang.String">
        select
          recommended_user_id recommendUserId
        from
          wj_user_invite_info
        where user_id = #{userId}
    </select>

    <insert id="createUserInviteInfo">
        insert into wj_user_invite_info
        (
          user_id,
          recommended_user_id,
          invite_url,
          qrcode_path,
          channel_no,
          channel_user_id,
          invite_code,
          activity_code,
          create_date
        )
        values
        (
          #{userId},
          #{recommendUserId,jdbcType=VARCHAR},
          #{inviteUrl,jdbcType=VARCHAR},
          #{qrcodeNo,jdbcType=VARCHAR},
          #{channelNo,jdbcType=VARCHAR},
          #{channelUserId,jdbcType=VARCHAR},
          #{inviteCode,jdbcType=VARCHAR},
          #{activityCode,jdbcType=VARCHAR},
          now()
        )
    </insert>

    <update id="updateUserInviteInfo">
        update wj_user_invite_info
        set
          invite_url = #{inviteUrl,jdbcType=VARCHAR},
          qrcode_path = #{qrcodeNo,jdbcType=VARCHAR},
          invite_code = #{inviteCode,jdbcType=VARCHAR}
        where user_id = #{userId}
    </update>

    <select id="queryRecommendUserList" resultType="Map">
        SELECT
            CONCAT(
				LEFT (wj_user_info.phone, 3),
				'****',
				RIGHT (wj_user_info.phone, 4)
			) AS phone,
			ifnull(wj_user_info.real_name,'未认证') realName,
            date_format(IFNULL(wj_user_invite_info.create_date,now()),'%Y-%m-%d') inviteDate
        FROM
            wj_user_invite_info,
            wj_user_info
        WHERE
            wj_user_invite_info.user_id = wj_user_info.id
        AND recommended_user_id = #{userId}
        order by wj_user_invite_info.create_date desc
        LIMIT #{page},10
    </select>

    <select id="queryDicItems" resultType="Map">
        SELECT item_id,item_name  FROM wj_dic_item
        where type_id = #{typeId}
    </select>

    <select id="queryUserShareInfo" resultType="com.zhuanyi.vjwealth.wallet.service.mainbiz.user.dto.UserShareInfoDTO">
      SELECT
          QUERY_ITEM_NAME('weixin_share','share_title') shareTitle,
          QUERY_ITEM_NAME('weixin_share','share_desc') shareDesc,
          QUERY_ITEM_NAME('weixin_share','share_link') shareLink,
          QUERY_ITEM_NAME('weixin_share','share_pic') sharePic
    </select>

    <select id="queryMarketUserShareInfo" resultType="com.zhuanyi.vjwealth.wallet.service.mainbiz.user.dto.UserShareInfoDTO">
        SELECT
        QUERY_ITEM_NAME('weixin_share_market','share_title') shareTitle,
        QUERY_ITEM_NAME('weixin_share_market','share_desc') shareDesc,
        QUERY_ITEM_NAME('weixin_share_market','share_link') shareLink,
        QUERY_ITEM_NAME('weixin_share_market','share_pic') sharePic
    </select>

    <select id="queryFriendHelpUserShareInfo" resultType="com.zhuanyi.vjwealth.wallet.service.mainbiz.user.dto.UserShareInfoDTO">
        SELECT
        QUERY_ITEM_NAME('weixin_share_friendhelp','share_title') shareTitle,
        QUERY_ITEM_NAME('weixin_share_friendhelp','share_desc') shareDesc,
        QUERY_ITEM_NAME('weixin_share_friendhelp','share_link') shareLink,
        QUERY_ITEM_NAME('weixin_share_friendhelp','share_pic') sharePic
    </select>

    <select id="queryRecommendUserCount" resultType="int">
        select count(id) from wj_user_invite_info where recommended_user_id = #{userId}
    </select>

    <select id="queryUserRealNameById" resultType="String">
        select ifnull(real_name,CONCAT(
				LEFT (wj_user_info.phone, 3),
				'****',
				RIGHT (wj_user_info.phone, 4)
			)) from wj_user_info where id = #{userId}
    </select>

    <select id="queryDistributeGoldFishUserNum" resultType="int">
        SELECT param_value FROM comm_params where param_key='distribute_gold_fish_user_num' and param_group='financial_loan'
    </select>

    <select id="queryUserIsBankCard" resultType="boolean">
        SELECT
        case when COUNT(1) &gt;= 1 then TRUE  ELSE FALSE END
        FROM
        wj_trade_account_card wt,
        wj_user_info wu
        WHERE
        wu.id = wt.user_id
        AND card_type = 'recharge'
        AND is_valid = 'yes'
        AND	wt.user_id = #{userId}
    </select>

    <select id="queryInviteRegisterDistributeGoldFishSwitch" resultType="boolean">
        SELECT
        CASE
        WHEN param_value='open' THEN
        TRUE
        ELSE
        FALSE
        END switch
        FROM
        comm_params
        WHERE
        param_key = 'distribute_gold_fish_switch'
        AND param_group = 'financial_loan'
    </select>

    <select id="queryFriendHelpActivityCode" resultType="string">
        SELECT QUERY_PARAM_VALUE('friendhelp_activitycode','weixin')
    </select>

    <select id="queryRecommendUserListByActivityCode" resultType="string">
        select user_id from wj_user_invite_info
        where recommended_user_id = #{userId}
        <if test="activityCode != null and activityCode != ''">
            AND activity_code = #{activityCode}
        </if>
    </select>

</mapper>