<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Mapper接口 -->
<mapper namespace="com.zhuanyi.vjwealth.wallet.service.mainbiz.user.server.integration.mapper.IMBUserMapper">

	<!-- 检测登录for app -->
	<select id="loginForApp" resultType="com.zhuanyi.vjwealth.wallet.service.mainbiz.user.dto.MBLoginUserDTO">
		SELECT
		    ui.id     'userId',
		    ui.phone  'phone',
		    ui.password 'password',
		    ui.is_sign 'sign',
		    ui.user_status 'userStatus'
		FROM
		    wj_user_info ui
		WHERE
		    ui.phone = #{phone}
	</select>
	
	<!-- 登录后更新uuid -->
	<update id="updateLoginUUID">
		UPDATE wj_user_info 
			SET
		 	login_uuid=#{uuid},
		 	last_login_time=now()
	 	WHERE phone = #{phone}
	 		  and password = #{encodePassword}
	</update>
	
	<!-- 检测登录for wx -->
	<select id="loginForWX" resultType="com.zhuanyi.vjwealth.wallet.service.mainbiz.user.dto.MBLoginUserDTO">
		SELECT
		    ui.id     'userId',
		    ui.phone  'phone'
		FROM
		    wj_user_info ui
		WHERE
		    ui.phone = #{phone}
	</select>
	
	<!-- 微信端登录后更新uuid -->
	<update id="updateLoginWXUUID">
		UPDATE wj_user_info 
			SET
		 	${channel}=#{uuid},
		 	last_login_time=now()
	 	WHERE phone = #{phone}
	</update>

	<!-- 微信端登录后更新uuid -->
	<update id="updateLoginWXUUIDByPassword">
		UPDATE wj_user_info
		SET
		${channel}=#{uuid},
		last_login_time=now()
		WHERE phone = #{phone} and password = #{encodePassword}
	</update>
	
	<!-- 检测登录状态 for app -->
	<select id="checkLoginForApp" resultType="java.lang.Integer">
		SELECT
		    count(1) as 'counts'
		FROM
		    wj_user_info ui
		WHERE ui.phone = #{phone}
			and ui.login_uuid = #{uuid}
	</select>
	
	<!-- 检测手机号数量 -->
	<select id="queryUserCountByPhone" resultType="java.lang.Integer">
		SELECT
		    count(1) as 'counts'
		FROM
		    wj_user_info ui
		WHERE ui.phone = #{phone}
	</select>
	
	<!-- 创建用户 -->
	<insert id="createUserInfo">
		insert into wj_user_info
		(
		        id,
		        phone,
		        password,
		        create_date
		)
		values
		(
		      #{userId},
		      #{phone}, 
		      #{encodePassword}, 
		      now() 
		)
	</insert>


	<!-- 创建用户，包含渠道来源 -->
	<insert id="createUserInfoByChannel">
		insert into wj_user_info
		(
		id,
		phone,
		password,
		channel_no,
		create_date
		)
		values
		(
		#{userId},
		#{phone},
		#{encodePassword},
		#{channel},
		now()
		)
	</insert>

	
	<!-- 创建用户账户 -->
	<insert id="createUserAccountInfo">
		insert into wj_user_trade_account
		(
		        id,
		        user_id,
		        trade_type,
		        create_date
		)
		values
		(
		      #{accountId},
		      #{userId}, 
		      #{tradeType}, 
		      now() 
		)
	</insert>
	
	<!-- 更新密码 -->
	<update id="updateUserPassword">
		UPDATE wj_user_info 
			SET
		 	password=#{encodePassword},
		 	update_date = now()
	 	WHERE phone = #{phone}
	</update>
	
	<!-- 更新未激活账户变成激活用户 -->
	<update id="updateActivateUserInfo">
		UPDATE wj_user_info 
			SET
		 	password=#{encodePassword},
		 	is_sign='1',
		 	update_date = now()
	 	WHERE phone = #{phone}
	</update>
	
	<!-- 创建交易锁信息 -->
	<insert id="addUserTransLockInfo">
		insert into wj_biz_lock_info
		 (
		        biz_id,
		        biz_type,
		        lock_flag,
		        create_date
		)
		values (
		        #{userId},
		        'trans',
		        '0',
		        now()
		)
	</insert>

	<select id="queryPhoneByUserId" resultType="java.lang.String">
		SELECT
			phone
		FROM
			wj_user_info
		WHERE
			id = #{userId}
	</select>

	<select id="queryUserIdByPhone" resultType="java.lang.String">
		SELECT
			id
		FROM
			wj_user_info
		WHERE
			phone = #{phone}
	</select>

	<select id="queryUserById" parameterType="java.lang.String" resultType="com.zhuanyi.vjwealth.wallet.service.mainbiz.user.dto.MBUserDTO">
		select
		   phone,
		   email,
		   real_name 'realName',
		   indentity_no 'indentityNo',
		   is_open_ta isOpenTa
		FROM
			wj_user_info
		where
		    id = #{userId}
	</select>

	<update id="updateTaAccountStatus" parameterType="java.lang.String">
		update wj_user_info
		set is_open_ta = 1
		where id=#{userId}
	</update>

	<!-- 商户钱包用户登录后更新uuid -->
	<update id="updateLoginUUIDFromSHQB">
		UPDATE wj_user_info
		SET
		login_uuid=#{uuid},
		last_login_time=now()
		WHERE phone = #{phone}
	</update>

	<select id="queryUserByPhone" resultType="com.zhuanyi.vjwealth.wallet.service.mainbiz.user.dto.MBUserDTO">
		select
			id,
			phone,
			real_name realName,
			indentity_no indentityNo
		from wj_user_info
		where phone = #{phone}
	</select>
	
	<select id="queryUserDetailByPhone" resultType="com.zhuanyi.vjwealth.wallet.service.mainbiz.user.dto.MBUserDetailDTO">
		SELECT 
		  `id`,
		  `phone`,
		  `password`,
		  `real_name` as realName,
		  `indentity_type` as indentityType,
		  `indentity_no` as indentityNo,
		  `sex`,
		  `user_status` as userStatus,
		  `email`,
		  `is_sign` as isSign,
		  `wallet_bank_card_no` as walletBankCardNo,
		  `channel_no` as channelNo,
		  `enterprise_no` as enterpriseNo,
		  `create_date` as createDate,
		  `create_by` as createBy,
		  `update_date` as updateDate,
		  `update_by` as updateBy,
		  `is_open_ta` as isOpenTa
		FROM `wj_user_info`
		where phone = #{phone} and `user_status` = '00'  LIMIT 1
	</select>

	<select id="queryUserByIdentityNo" resultType="com.zhuanyi.vjwealth.wallet.service.mainbiz.user.dto.MBUserDTO">
		select
			phone,
			real_name realName,
			indentity_no indentityNo
		from wj_user_info
		where indentity_no = #{identityNo}
		LIMIT 0,1
	</select>

	<insert id="createUnActiveUser">
		insert into wj_user_info
		(
	        id,
	        phone,
	        real_name,
	        indentity_type,
	        indentity_no,
	        sex,
	        enterprise_no,
	        is_sign,
	        create_date
		)
		values
		(
	      	#{userId},
	      	#{phone},
      		#{realName},
      		'01',
   			#{identityNo},
   			#{sex},
		 	#{enterpriseNo},
	        '0',
	    	 now()
		)
	</insert>

    <select id="queryUserInviteInfoByUserId" resultType="Map">
        SELECT user_id userId,invite_code inviteCode FROM wj_user_invite_info WHERE user_id = #{userId}
    </select>

    <insert id="createUserInviteInfo">
        insert into wj_user_invite_info(user_id,invite_code,invite_url,create_date) VALUES (#{userId},#{inviteCode},#{inviteUrl},now())
    </insert>
    <update id="updateUserInviteInfo">
        update wj_user_invite_info set invite_code = #{inviteCode} where user_id = #{userId}
    </update>

    <!-- 微信端登录后更新uuid -->
	<update id="updateUserChannel" parameterType="java.lang.String">
		UPDATE wj_user_info
		SET
		channel_no= #{channel},
		wx_fesco_uuid = #{openId}
		WHERE phone = #{phone} and password = #{encodePassword}
	</update>

	<select id="queryHouseFundLoanIntentionSMSLink" resultType="string">
		select QUERY_PARAM_VALUE('house_fund_loan_intention_link','house_fund_loan')
	</select>

	<!-- 创建用户 -->
	<insert id="createUserInfoWithUUID">
		insert into wj_user_info
		(
		id,
		phone,
		password,
		login_uuid,
		create_date
		)
		values
		(
		#{userId},
		#{phone},
		#{encodePassword},
		#{uuid},
		now()
		)
	</insert>
	<select id="queryUserInfoByPhone"  resultType="com.zhuanyi.vjwealth.wallet.service.mainbiz.user.dto.MBLoginUserDTO">
		select id userId,login_uuid as uuid from wj_user_info
		WHERE phone = #{phone}
	</select>
	<update id="updateLoginUUIDByPhone">
		UPDATE wj_user_info
			SET
		 	login_uuid = #{uuid},
		 	last_login_time = now()
	 	WHERE phone = #{phone}
	</update>

	<select id="queryENUserChannelNo" resultType="string">
		SELECT wj_enterprise_info.channel_no from wj_user_info,wj_enterprise_info where wj_user_info.enterprise_no = wj_enterprise_info.id and wj_user_info.phone = #{phone}
	</select>


	<update id="updateUserBasicInfo">
		UPDATE wj_user_info
		SET
		real_name = #{realName},
		indentity_no = #{certNo},
		indentity_type = '01'
		WHERE id = #{userId}
	</update>


	<select id="queryUserBankCardInfoByCardId" parameterType="java.lang.String" resultType="com.zhuanyi.vjwealth.wallet.service.mainbiz.user.dto.BankCardBasicInfoDTO">

		SELECT
			wac.user_id AS userId,
			wac.bank_code AS bankNo,
			wac.bank_name AS bankName,
			wui.indentity_type AS certificateType,
			wui.indentity_no AS certificateNo,
			wac.aside_bank_phone AS userTel,
			wac.card_ower AS username,
			wac.bank_card_no AS cardNo
		FROM
			wj_trade_account_card wac,
			wj_user_info wui
		WHERE
			wac.user_id = #{userId}
		AND wac.user_id = wui.id
		AND wac.id = #{cardId}

	</select>


	<select id="validatorCardIsSecurity" parameterType="com.zhuanyi.vjwealth.wallet.service.mainbiz.user.dto.ValidatorCardIsSecurityParamDTO" resultType="java.lang.Boolean">

		SELECT
		count(1)
		FROM
		wj_trade_account_card
		WHERE
			 user_id = #{userId}
		AND bank_card_no = #{cardNo}
		AND aside_bank_phone = #{phone}
		AND card_ower = #{userName}
		AND card_type = 'security'

	</select>

	<select id="isExistCertNo" parameterType="java.lang.String" resultType="java.lang.Boolean">

		select count(1) from wj_user_info where indentity_no = #{cerNo}

	</select>

	<select id="queryUserSecurityCardInfo" parameterType="java.lang.String" resultType="java.util.Map">   
        SELECT
		  id AS cardId, 
		  CONCAT(bank_name,'(尾号',RIGHT (bank_card_no,4),')')  AS ma_bankFullName,
		  bank_name as ea_bankName,
		  CONCAT( '尾号',RIGHT (bank_card_no,4)) as  ea_bankSufCardNo,
		  card_type AS cardType,
		  bank_code AS bankCode,
		  bank_card_no cardNo
		FROM
			wj_trade_account_card
		WHERE
			user_id = #{userId}
		AND card_type='security'
		AND is_valid='yes'
		LIMIT 0,1
     </select>

</mapper>