<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Mapper接口 -->
<mapper namespace="com.zhuanyi.vjwealth.wallet.service.mainbiz.user.server.integration.mapper.IMBUserAccountBalanceMapper">
	
	<!-- 账户平账查询 -->
	<select id="queryUserAccountBalance" parameterType="java.lang.String" resultType="java.math.BigDecimal">
	select
	(
	select IFNULL( sum(total_price),0) from wj_order
	 where user_id = #{userId} and
	  ( (order_type = 'recharge_ma' and order_status = 'recharge_ma_confirm' ) or (  order_type = 'batch_apply' and order_status = 'batch_apply_confirm' ) )
	) 
	-
	(
	 select IFNULL( sum(total_price) ,0) from wj_order where  user_id = #{userId} and (
	   (order_type = 'withdraw_ea' and order_status in ('withdraw_ea_success' , 'withdraw_ea_process') )
	 or (order_type = 'withdraw_ma' and order_status in ( 'withdraw_ma_success' ) )  )
	) 
	+
	(
	 select IFNULL( sum(product_receive), 0) from fund_user_receive where user_id = #{userId}
	) 
	-
	(select IFNULL( sum(available_amount + frozen_amount  ), 0) from wj_user_trade_account where user_id = #{userId} ) 
	
	from dual 
	</select>
	
	
	<!-- 用户交易上锁 -->
	<update id="updateUserAccountLock" parameterType="java.lang.String">
		update wj_biz_lock_info locks
		set locks.lock_flag = '1'
		where locks.biz_id = #{userId}
		and locks.biz_type = 'trans'
		and locks.lock_flag = '0'
	</update>
	
	
	
	<!--检查用户是否存在-->
	<select id="countUserExits" parameterType="java.lang.String" resultType="java.lang.Integer">
		select count(1) from wj_user_info w
		where w.id=#{userId}
	</select>
	
	<!--检查用户是否上锁-->
	<select id="countUserTransLock" parameterType="java.lang.String" resultType="java.lang.Integer">
		select count(1) from wj_biz_lock_info locks
		where locks.biz_id = #{userId}
		and locks.biz_type = 'trans'
		and locks.lock_flag = '1'
	</select>
	
	 
	 
</mapper>