<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Mapper接口 -->
<mapper namespace="com.zhuanyi.vjwealth.wallet.service.mainbiz.user.server.integration.mapper.IMBUserFescoMapper">
     <select id="queryFescoUserCountByphone" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT
			count(1)
		FROM
			wj_fesco_user_info
		WHERE phone = #{phone} and user_type = '1'
     </select>
     
     <select id="queryFescoUserCountByOpenId" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT
			count(1)
		FROM
			wj_fesco_user_info
		WHERE open_id = #{openId}
     </select>
     
     <insert id="insertFescoUserInfo" parameterType="com.zhuanyi.vjwealth.wallet.service.mainbiz.user.dto.FescoUserInfoDTO">
		INSERT INTO
		WJ_FESCO_USER_INFO(
			user_name,
			user_id,
			open_id,
			phone,
			user_type,
			mail,
			work_date,
			work_state,
			indentity_type,
			indentity_no,
			local_area,
			node_type,
			marital,
			education,
			gender,
			age,
			birth_date,
			health,
			address,
			payroll_credit,
			entry_time,
			content,
			remark,
			create_by,
			create_date,
			update_date,
			update_by
		)VALUES(
			#{userName},
			#{userId},
			#{openId},
			#{phone},
			#{userType},
			#{mail},
			#{workDate},
			#{workState},
			#{indentityType},
			#{indentityNo},
			#{localArea},
			#{nodeType},
			#{marital},
			#{education},
			#{gender},
			#{age},
			#{birthDate},
			#{health},
			#{address},
			#{payrollCredit},
			#{entryTime},
			#{content},
			#{remark},
			#{createBy},
			now(),
			now(),
			#{updateBy}
		)
	</insert>
	
	<update id="updateFescoUserInfo" parameterType="com.zhuanyi.vjwealth.wallet.service.mainbiz.user.dto.FescoUserInfoDTO">
		UPDATE 
		    WJ_FESCO_USER_INFO 
		SET user_name =	#{userName},
			user_id = #{userId},
			user_type =	#{userType},
			mail = #{mail},
			work_date =	#{workDate},
			work_state = #{workState},
			indentity_type = #{indentityType},
			indentity_no = #{indentityNo},
			local_area = #{localArea},
			node_type =	#{nodeType},
			marital = #{marital},
			education =	#{education},
			gender = #{gender},
			age = #{age},
			birth_date = #{birthDate},
			health = #{health},
			address = #{address},
			payroll_credit = #{payrollCredit},
			entry_time = #{entryTime},
			content = #{content},
			remark = #{remark},
			update_date = now()
	 	WHERE open_id = #{openId}
	</update>
	
	<select id="queryFescoUsers" resultType="com.zhuanyi.vjwealth.wallet.service.mainbiz.user.dto.FescoUserInfoDTO">
        SELECT
			t1.phone,
			t2.id as userId
		FROM
			wj_fesco_user_info t1, wj_user_info t2
		WHERE t1.phone = t2.phone
     </select>
     
     <!-- 查询param_value -->
	<select id="getParamsValueByKeyAndGroup" parameterType="java.lang.String" resultType="java.lang.String">
	   select QUERY_PARAM_VALUE(#{key},#{group}) as paramValue from DUAL
	</select>
	
	<update id="updateFescoPhoneByOpenId" parameterType="com.zhuanyi.vjwealth.wallet.service.mainbiz.user.dto.FescoUserInfoDTO">
		UPDATE 
		    WJ_FESCO_USER_INFO 
		SET user_id = #{userId},
			phone = #{phone},
			update_date = now()
	 	WHERE open_id = #{openId} and user_type = '0'
	</update>
</mapper>