@charset "utf-8";
/**
 * 小金鱼公积金&社保等表单页
*/
.border-box{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.flex-box{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex}
.f9{font-size: 9px;}
.f10{font-size: 10px;}
.f11{font-size: 11px!important;}
.f12{font-size: 12px;}
.f16{font-size: 16px;}
.f18{font-size: 18px;}
.f20{font-size: 20px;}
.f24{font-size:24px;}
.color_blue{ color:#5d7a8d; }
.color_blue2{color:#4ac0f0; }
.color_blue3{color:#5d7a8d;}
.color_gray2{ color:#c5c3c3!important; }
.color_gray{color: #a7a7a7!important;}
.color_gray3{color: #9b9b9b;}
.color_gray4{color:#f1f1f1;}
.color_gray5{color:#d8d8d8!important;}
.color_orange{color:#f5a623;}
.color_black{color: #4a4a4a;}
.color_black000{color:#000;}
.mt2{margin-top:2px;}
.mt5{margin-top: 5px;}
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.mt50{margin-top:50px;}
.mt80{margin-top: 80px;}
.plr20{padding: 0 20px;}
.pb10{padding-bottom: 10px;}
.pt10{padding-top: 10px;}
.pt15{padding-top: 15px;}
.pl10{padding-left: 10px;}
.fb{font-weight: bold;}
.vm{vertical-align: middle;}
.completeInfor{min-height: 100%; font-size:14px; color: #4a4a4a; padding-bottom: 20px;}
.completeInfor *{line-height: 1.5em;}
.commonLinkUl{background-color: #fff;border-bottom: solid 1px #f2f2f2;border-top: solid 1px #f2f2f2;  }
.commonLinkUl li{ position:relative; padding-left:48px; }
.commonLinkUl li.g-act-taped{background:#f6f6f6;}
.commonLinkUl li .table{ width:100%; display: table;border-bottom: solid 1px #f2f2f2;padding-right:20px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.commonLinkUl li:last-child .table{border-bottom: none;}
.commonLinkUl li .cell{ display: table-cell; vertical-align: middle; height: 71px; }
.commonLinkUl li.hasarrow:after{content: ""; background:url(../../../img/arrow-r.png) 100% 0 no-repeat; width:7px; height:15px; background-size:100% 100%; position: absolute;right:20px; top:50%;margin-top: -7.5px; }
.commonLinkUl li.edit:after{background-image: url(../../../img/icon_edit.png);width:14px;height: 15px;}
.commonLinkUl li.hasarrow .table,.commonLinkUl li.hasrightpad .table{padding-right: 40px;}/*无箭头，又想与有箭头的行右对齐时用hasrightpad*/
.commonLinkUl li.noborder .table{border-bottom: none;}/*没有下边框时用noborder*/
.smallpadul li .cell{height: 50px;}/*上下padding小时用smallpadul*/
.commonLinkUl li.multirows{padding: 10px 20px 0 48px; height: auto;}
.commonLinkUl li.multirows .table{padding-right: 0;padding-bottom: 10px;}
.commonLinkUl li.multirows:last-child .table{margin-bottom:15px;}
.commonLinkUl li.multirows .cell p{margin-bottom: 5px;}
.commonLinkUl li.multirows p:last-child{margin-bottom: 0;}
.commonLinkUl input{font-size:14px;color:#5d7a8d;text-align: right;display: block;width:100%;border:none;background: none;}
.confirmul li,.confirmul li.multirows{ padding-left:1.25rem; }
.confirmul .ul_tt{width:40%;}
.confirmul .ul_words{width:60%;}
.line-dot{width:100%;height: 3px; background: url(../../../img/line.png) repeat-x;background-size:auto 100%;display: block;}
.completeInfor .tt{ color:#5d7a8d; padding: 13px 0;position: relative;z-index: 101;font-size: 16px;}
.ulwrap{position: relative;}
.leftline{position: absolute;height: 100%;top:20px;left:29px;width:0;border-left: solid 2px #eff6f9;z-index: 100;}
.stepicon{position: absolute;left: -28px;top:50%;margin-top:-12px; width:20px;height: 24px; background: url(../../../img/step1.png) no-repeat;background-size:100% 100%;display: block;z-index: 101px}
.step2{background-image: url(../../../img/step2.png);}
.step3{background-image: url(../../../img/step3.png);}
.step1_dis{background-image: url(../../../img/step1_dis.png);}
.step2_dis{background-image: url(../../../img/step2_dis.png);}
.step3_dis{background-image: url(../../../img/step3_dis.png);}
.ul_tt{width:26%;white-space: nowrap;}
.ul_inputwrap{width:74%;}
.downbtn{padding:20px;}
.downbtn .ui-button{display: block;width:100%;}
.downbtn2{margin:30px 0 0; padding-bottom: 5px }
.insuranceUl li{padding-left: 20px;}
.insurancewrap{position: relative;padding-bottom: 80px; padding-top:20px;}
.insurancewrap .downbtn{position: absolute;bottom: 20px;left: 0; margin:0; padding:0 20px; width:100%;}
.qaul{margin-top: 20px;border-top: solid 1px #f2f2f2;border-bottom: solid 1px #f2f2f2;}
.qaul li{background: #fff;}
.qatt,.innertt{height: 50px;line-height: 50px;padding-left: 20px;position: relative;color: #000;}
.qa-item:first-child .qatt:after{content: ""; background:url(../../../img/arrow-down.png) 0 100% no-repeat; width:14px; height:7px; background-size:100% 100%; position: absolute;right:20px; top:50%;margin-top: -3px; }
.turnup:after{transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg)}
.qa-item{border-bottom:1px solid #f2f2f2;}
.qa-item:last-child, .qa-item-noborder{border-bottom:0;} 
.answer{}
.answer .inner{margin-left:20px;border-top: solid 1px #f2f2f2;padding: 10px 20px 10px 0;}
.answer .link{padding:10px 20px;border-top: solid 1px #f2f2f2;white-space: normal;word-break:break-all;word-wrap:break-word;}
.sweetTips{background: #f8f8f8;color:#5d7a8d;font-size:12px; padding:10px 20px 20px; margin-top: 20px; border-top: solid 1px #f2f2f2; border-bottom: solid 1px #f2f2f2;}
.sweetTips ul{ /*padding-left: 20px; */}
.sweetTips ul li{ /* list-style-type:disc;list-style-position: outside; */ color:#5d7a8d; padding-bottom:6px;}

/*底部选择城市*/
.wigetshadow{background-color:#000; opacity:0.4; position: fixed;left: 0;top:0;bottom: 0;right:0; z-index: 10;}
.downWiget{position: fixed;left: 0; height:408px; bottom: 0;right:0;overflow: hidden; z-index: 11;}
.chooseProvince{position: relative;height:100%; width:100%;}
.proviceulwrap{position: absolute;bottom:0;top:42px;right:0px; left:0; overflow:hidden; background-color: #fff;z-index: 40;}
.chooseProvince .close{width:55px;height: 40px;z-index: 100; background: url(../../../img/goldfish/close_blue2.png) no-repeat 50% 50%;background-size: 13px 13px;position: absolute;right:0px;top:0px;}
.chooseProvincett{background-color:#fbfbfb; color:#5d7a8d; line-height:40px; border-top:solid 1px #fff;border-bottom: solid 1px #f2f2f2;padding-left: 20px;}
.chooseProvince .code-wrap{top:42px;bottom:0; right:0;  width:30px; z-index:41; position:absolute; }
.chooseProvince .rightfix{z-index:42; width:30px;overflow: hidden; text-align: center; color:#4ac0f0; right:0;top:0; position: absolute;}
.chooseProvince .rightfix span{display: block;line-height:20px;white-space: nowrap; font-size: 10px;}
.chooseProvince .hot{padding:10px 30px 20px;}
.chooseProvince .hotlinks{margin-left: -10px;}
.chooseProvince .hotlinks a{display:inline-block; text-align: center; white-space: nowrap; color:#4ac0f0;border:solid 1px #eef6f9;max-width:86px;min-width: 50px;width:19.8%; line-height: 26px;margin:0 0 10px 10px; }
.proviceul li{}
.proviceul .provicett{background-color: #fbfbfb; border-top: solid 1px #f2f2f2; color:#5d7a8d;line-height: 30px;padding-left: 20px;}
.proviceul .block{padding-left: 20px;}
.proviceul .blockinner{border-bottom: solid 1px #f2f2f2;line-height: 40px;}
.proviceul .blockinner:last-child{border-bottom:0;}

.ui-button{ height:40px; line-height:40px; border-radius:5px; font-size:17px;}