@charset "utf-8";
/**
 *投资动态
*/
.border-box{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.f12{font-size: 12px;}
.ml5{margin-left: 5px;}
.topinforwrap{padding:0 20px;background:#fff url(../../../img/wen4.png) repeat-x 0 100%;background-size: auto 11px;padding-bottom: 10px;}
.topinfor{padding:10px 0 5px; font-size:16px;}
.lefttt,.rightwords{padding:8px 0 7px ; line-height: 22px;}
.lefttt{padding-right:4px;width:70px; float: left;}
.rightwords{margin-left: 70px;padding-left: 10px; color:#5d7a8d;background: url(../../../img/goldfish/lineCol_dot.png) repeat-y 0 0; background-size: 4px auto;}
.lefttt p:nth-child(2),.rightwords p:nth-child(2){margin-top:10px;}
.wuliu{ margin:35px 20px 0 30px; border-left: 2px solid #eff6f9; padding-left:22px;position: relative;}
.wuliu_tt{ position:relative; height:0px; width:100%;}
.wuliu .block{padding-bottom:20px;}
.wuliu .block:last-child{}
.wuliu .block .tt,.block_last .tt{font-size:16px;display: inline-block; padding-bottom:2px;margin-bottom: 2px; color:#9b9b9b;}
.wuliu .block .color_blue2{color:#4ac0f0;}
.block_last{position: absolute;}
.block_last p{ margin:5px 0 22px;}
.smallwords{font-size:12px;color:#9b9b9b; line-height: 1.5em;}
.wuliu .block p:nth-child(3){margin-top:2px;}
.block_last .smallwords{}
.wuliu p{margin:-2px 0 0;}
.wuliu_tt .icon_rmb{background: url(../../../img/goldfish/meiyuan.png) no-repeat;width:20px;height:24px;background-size:100% 100%; display: block;position:absolute; left:-33px; top:-3px;}
.wuliu_tt .icon_rmbGray{background-image: url(../../../img/goldfish/rmb_gray.png);}

