@charset "utf-8";
/**
 * 小金鱼首页
*/
.border-box{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.flex-box{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex}
.text-shadow{ -webkit-text-shadow: 0 0 2px rgba(0,0,0,.1);-moz-text-shadow: 0 0 2px rgba(0,0,0,.1);text-shadow: 0 0 2px rgba(0,0,0,.1);}
.f12{font-size:12px;}
.f42{font-size: 42px;}
.color_orange{color:#f5a623;}
.mt15{margin-top: 15px;}
.navlistwrap,.taskCard{padding:20px;}
.icon_tips{ width:12px; height:12px; background:url(../../../img/icon-tips.png) no-repeat; background-size:100% 100%; display:inline-block; margin-right:2px;position: relative;top:1px;}
.navlist li{margin-bottom: 10px;}
.navlist li .inner{background-color: #fff; display: block;-webkit-box-shadow:0 0 3px rgba(0, 0, 0, .1);  -moz-box-shadow:0 0 3px rgba(0, 0, 0, .1);  box-shadow:0 0 3px rgba(0, 0, 0, .2);}
.navlist li img{width:100%; display: block;}
.navlist li .downbox{line-height: 1.5em; text-align: center; color:#5d7a8d;padding:5px 0;}
.tasklist li .inner{padding: 8px 0; position: relative;}
.tasklist li .inner:before{content: "";width:100%;position: absolute;height: 8px;top:0;left: 0; z-index: 100; background: url(../../../img/goldfish/taskbg_top.png) repeat-x; background-size: auto 8px;}
.tasklist li .inner:after{content: "";width:100%;position: absolute;height: 8px;left:0;bottom:0; z-index: 101; background: url(../../../img/goldfish/taskbg_down.png) repeat-x; background-size: auto 8px;}
.tasklist li .items{background: url(../../../img/goldfish/taskbg_mid.png); background-size: 5px 5px;-webkit-box-shadow: 0 0 2px rgba(0,0,0,.1);-moz-box-shadow: 0 0 2px rgba(0,0,0,.1);box-shadow: 0 0 2px rgba(0,0,0,.1);text-align: center;padding:24px 0;position: relative;}
.tasklist li .price{width:80%; margin:0 auto;display: table; height: 90px;color:#fff;background-color: #4ac0f0;border-radius: 5px 5px 0 0;
-webkit-box-shadow: 0 -1px 2px rgba(0,0,0,.1);-moz-box-shadow: 0 -1px 2px rgba(0,0,0,.1);box-shadow: 0 -1px 2px rgba(0,0,0,.1);}
.tasklist li .price .cell{display: table-cell;vertical-align: middle;}
.tasklist li .shadowline{background: url(../../../img/goldfish/task_bottom2.png) no-repeat; width:86%; height: 10px;position: absolute;left: 7%;background-size:100% 100%;}
.tasklist li .shadowcicle{width:8px;height: 10px;position: absolute;}
.tasklist li .shadowline,.tasklist li .shadowcicle{margin-top:-5px;}
.tasklist li .cicle_left{background: url(../../../img/goldfish/task_bottom1.png) no-repeat;background-size:100% 100%;left: 7%;margin-left: -8px;}
.tasklist li .cicle_right{background: url(../../../img/goldfish/task_bottom3.png) no-repeat;background-size:100% 100%;right: 7%;margin-right: -8px;}
.tasklist li .words{margin-top:10px; color:#5d7a8d;}
.tasklist li .arrow{background: url(../../../img/arrow-down.png) no-repeat; width:8px; height: 3px;background-size:100% 100%; display: block;position: absolute; left: 50%;margin-left: -4px;margin-top:10px;}
.tasklist .turngray .price{background-color: #d8d8d8;}
.tasklist .turngray .words{ color:#c3c3c3; }
.taskStatus{width:54px;height: 60px;position: absolute;right:10%;top:24px;text-align: center; }
.status_doing{height: 81px;background: url(../../../img/goldfish/task_doing.png) no-repeat; background-size: 100% 100%;} /*信息审核中*/
.status_failed{background: url(../../../img/goldfish/task_failed.png) no-repeat; background-size: 100% 100%;} /*信息有误*/
.status_finished{background: url(../../../img/goldfish/task_finished.png) no-repeat; background-size: 100% 100%;} /*信息成功领取*/
.status_finishedTimes{width:88px;background: url(../../../img/goldfish/task_finished_times.png) no-repeat; background-size: 100% 100%;margin-top:-16px; margin-right: -22px; color:#fff;padding-top:11px; -webkit-text-shadow: 0 0 2px rgba(0,0,0,.1);-moz-text-shadow: 0 0 2px rgba(0,0,0,.1);text-shadow: 0 0 2px rgba(0,0,0,.1);-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;} /*信息成功领取次数*/
.tasklist li .unit{position: relative;top:-4px;font-size:12px;}
.tasklist li .times{font-size:26px; }
.tasklist li .bigprice{font-size:40px;}
@media only screen and (max-width: 375px){
	.tasklist li .bigprice{font-size:30px;}
}

.dialog-time-wallet .fix-dialog-wrap{margin:0;border-radius:0;background:none;}
.dialog-time-wallet .c .text-wrap{padding:0;}
.dialog-time-wallet .c .bg{ width:270px; height:366px; position:relative; margin:0 auto;  }
.dialog-time-wallet .c .bg img{width:100%; height:100%; position:absolute;z-index:1; left:0;top:0; border-radius:7px; }
.dialog-time-wallet .c .bg .alpha{background:url(about:blank);position:absolute;z-index:2;width:100%; height:100%;left:0;top:0;}
.dialog-time-wallet .c .bg .close{position:absolute;right:0;top:0;z-index:3; width:38px; height:38px; line-height:38px; text-align:center;   font-size:38px; -webkit-transform:rotate(45deg);  transform:rotate(45deg); color:#D8D8D8;}
.dialog-time-wallet .c .bg .btn{width:234px;height:40px; z-index:4;  text-align:center; font-size:16px; line-height:40px; position:absolute; bottom:40px;left:18px; background:#4AC0F0;border-radius:5px; color:#fff; }
