@charset "utf-8";
/**
 * 投资记录列表
*/
.billlist{ z-index:1; position:relative; font-size: 14px;}
.billul{background-color: #fff;border-bottom: solid 1px #f2f2f2; }
.billul li{ position:relative; padding-left:20px;}
.billul li:active{background:#f6f6f6;}
.billul li .table{ width:100%; display: table;border-bottom: solid 1px #f2f2f2;padding-right: 20px;  box-sizing:border-box; }
.billul li:last-child .table{border-bottom: none;}
.billul li .cell{ display: table-cell; vertical-align: middle; height: 71px; color:#9b9b9b;}
.billul li .time{font-size:10px;color:#c5c3c3; margin-top: 2px; }
.billul li .price{font-size:24px; text-align: right; color:#4a4a4a;}