@charset "utf-8";
/**
 *投资详情
*/
.border-box{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.color_blue{ color:#5d7a8d; }
.color_blue2{color:#4ac0f0; }
.color_gray{color:#9b9b9b;}
.f12{font-size: 12px;}
.mt2{margin-top:2px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.investDetail{padding-bottom: 20px;min-height: 100%;}
.commonLinkUl{background-color: #fff;border-bottom: solid 1px #f2f2f2;border-top: solid 1px #f2f2f2;  }
.commonLinkUl li{ position:relative; padding-left:20px; }
.commonLinkUl li.g-act-taped{background:#f6f6f6;}
.commonLinkUl li .table{ width:100%;padding-right: 40px; display: table;border-bottom: solid 1px #f2f2f2;padding-right:20px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.commonLinkUl li .cell{ display: table-cell; vertical-align: middle; height: 71px; }
.commonLinkUl li.multirows .cell p{margin-bottom: 5px;}
.commonLinkUl li.multirows p:last-child{margin-bottom: 0;}
.smallpadul li .cell{height: 50px;}
.icon_arrow{background:url(../../../img/arrow-r.png) 100% 0 no-repeat; width:7px; height:15px; background-size:100% 100%; position: absolute;right:20px; top:50%;margin-top: -8px; }
.line-dot{width:100%;height: 3px; background: url(../../../img/line.png) repeat-x;background-size:auto 3px;display: block; margin-bottom: 15px;}
.line-dot2{height: 3px; background: url(../../../img/dot_w.png) repeat-x;background-size:4px 3px;display: block;}
.topinforwrap{padding:0 20px;color: #fff;background:#42c0f2 url(../../../img/wen-blue.png) repeat-x 0 100%;background-size: auto 11px;padding-bottom: 10px;}
.topinfor{padding:10px 0 15px;}
.icon_dolar{width:32px;height: 19px;display: inline-block; background: url(../../../img/goldfish/icon_dolar.png) no-repeat;background-size: 100% 100%; float: left;}
.top_right{margin-left: 42px; color:#fff; margin-top:-2px; line-height: 1.5em;}
.top_right .tt{font-size:16px; }
.dynamictt{font-size: 16px;padding:10px 0 0 0;}
.dynamic{border-left: 2px solid #eff6f9;padding-left: 20px; position: relative;margin:10px 0 10px;}
.moneyicon{position: absolute;left: -11px;top:-3px;width:20px;height: 24px; background: url(../../../img/goldfish/meiyuan.png) no-repeat;background-size:100% 100%;display: block;z-index: 101px}
.dynamicwrap{margin-top:5px;}
.dynamicwrap li{padding-left: 30px;}
.arrowwrap,.outer{padding-left: 20px; padding-right:20px;}
.arrowwrap,.hasAarrow{position: relative;padding-right:40px;}
.hasAarrow:after{content:"";background:url(../../../img/arrow-r.png) 100% 0 no-repeat; width:7px; height:15px; background-size:100% 100%; position: absolute;right:20px; top:50%;margin-top: -8px; }
.downtt{color:#5d7a8d;font-size:16px;}
.arrowwrap .inner,.outer .inner{display: table-cell;height: 60px;vertical-align: middle;}
.downwarp{margin-top:10px;}
.downwarp li{padding-left: 0;}
.downinfor{padding-left: 20px;}
.downinfor .table{padding:10px 0;}
.g-act-taped{background-color:#f6f6f6;}
