@charset "utf-8";
/**
 * v信贷个人中心
*/
.border-box{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.flex-box{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex}
.f12{font-size: 12px;}
.f20{font-size: 20px;}
.color_blue2{color:#4ac0f0; }
.color_gray2{ color:#c5c3c3; }
.color_blue{ color:#5d7a8d; }

.completeInfor{min-height: 100%;font-size:14px; color: #4a4a4a;}
.investList{line-height: 1.5em;}
.investList li{background-color: #fff; position:relative; padding-left:20px;margin-bottom: 10px; border-top: solid 1px #f2f2f2;border-bottom: solid 1px #f2f2f2; }
.investList li:nth-child(1){border-top:none;}
.investList li.g-act-taped{background:#f6f6f6;}
.investList li .table{ width:100%; display: table;padding-right:20px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.investList li:last-child .table{border-bottom: none;}
.investList li .cell{ display: table-cell; vertical-align: middle; height: 50px; }
.investList .investRowWrap{padding:10px 20px 0 0; height: auto;}
.investList .investRowWrap .table{padding-right: 0;padding-bottom: 10px;}
.investList .investRowWrap .cell p{}
.investList .investRowWrap p:last-child{margin-bottom: 0;}
.investList li .toptt{border-bottom: solid 1px #f2f2f2 !important;}
.line-dot{width:100%;height: 3px; background: url(../../../img/line.png) repeat-x;background-size:auto 3px;display: block; margin-bottom: 15px;}
.line-dot2{height: 3px; background: url(../../../img/dot_w.png) repeat-x;background-size:4px 3px;display: block;}
.innertt{border-top: solid 1px #f2f2f2;}
.tabnav{ width:100%;border-bottom: solid 1px #f2f2f2;border-top:solid 1px #f2f2f2;background-color: #fff;display: table;margin-top: 5px;line-height: 1.5em;}
.tabnav>div{ display:table-cell; width:50%; text-align: center; vertical-align:middle; height:50px;vertical-align: middle; position: relative;color:#bcbcbc;}
.tabnav>div .inner{ display: block; position: relative;z-index: 1000;line-height: 36px}
.tabnav>div .inner:nth-child(1){border-right:solid 1px #f2f2f2;}
.tabnav>div .inner span{display: inline-block;position: relative;}
.tabnav>div .inner span .redround{background-color:#f85361; position: absolute;right: -8px;top:0; width:4px;height:4px;border-radius: 100% 100%;}
.tabnav>div .solidLine{ display: none;border-top:solid 2px #4ac0f0; position: absolute; bottom: -1px; left: 0;width:100%; }
.tabnav>div.active{color: #4ac0f0; }
.tabnav>div.active .solidLine{ display: block; }
.topinforwrap{padding:0 20px;color: #fff;background:#42c0f2 url(../../../img/wen-blue.png) repeat-x 0 100%;background-size: auto 11px;padding-bottom: 10px;line-height: 1.5em;}
.topinfor{flex-flow:row nowrap;flex-direction:row;flex-wrap: nowrap;width:100%;padding:15px 0;position: relative;}
.topinfor>div{width:50%;}
.topinfor .midline{border-left: solid 1px #40b6e6;height: 36px; position: absolute;top:50%;margin-top:-18px;font-size:0;left: 50%;}
.topinfor>div p:nth-child(2){margin-top: 5px;}
.sign_state{width:60px;height:22px; overflow:hidden; vertical-align:middle; font-size: 12px; background-size:100% 100%; line-height:22px; text-align: center; display: inline-block;}
.sign_state img{width:60px; height:22px; display:block;}
.state_doing{background-image:url(../../../img/round_border.png); color:#ffbd30;}
.state_done{background-image:url(../../../img/round_border2.png); color:#c3c3c3;}


.bigPersent{ color:#ffbd30; font-size:24px; }
.downtips{padding:10px 20px 20px; color:#f5a623; font-size: 12px;}
.icon_tips{ width:12px; height:12px; background:url(../../../img/icon-tips.png) no-repeat; background-size:100% 100%; display:inline-block; margin-right:2px;position: relative;top:1px;}
.loanDetail li .cell{height: 25px;}
.loanDetail li:nth-child(1){padding:15px 0 15px 20px;}
.table_loanList{color:#5d7a8d;}
.loanDetail .table_loanList .cell{}
.tabshow{margin-bottom: 50px; }
.table_loanInfor{font-size:12px;margin-top:5px;}

@media only screen and (max-width: 350px){
	.table_loanInfor{font-size:11px;}
	.bigPersent{font-size:22px;}
}

