@charset "utf-8";
/**
 * 小金鱼任务列表
*/
.border-box{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.flex-box{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex}
.color_blue{ color:#5d7a8d; }
.color_blue2{color:#4ac0f0; }
.color_orange{color:#f5a623;}
.f12{font-size: 12px;}
.mt10{margin-top: 10px;}
.mt15{margin-top:15px;}
.getmoneytop{background-color: #fff;position: relative;padding:20px 0 100px;}
.getmoneytop .inner{padding:20px 20px 0; }
.topprice{background: url(../../../img/line_six.png) repeat-x; background-size: auto 100%;text-align: center; overflow: hidden;margin-top: 15px; }
.topprice,.priceInput input{ line-height: 44px; font-size:44px;color: #4ac0f0;}
.topprice{font-size:0;}
.topprice span{display: inline-block;line-height:68px; vertical-align: bottom;font-size:44px;}
.topprice .unit{font-size:30px; position: relative;top:4px;}
.topprice.turngray{color: #c5c3c4;}
.icon_tips{ width:12px; height:12px; background:url(../../../img/icon-tips.png) no-repeat; background-size:100% 100%; display:inline-block; margin-right:2px;position: relative;top:1px;}
.icon_qa{width:12px; height:12px; background:url(../../../img/goldfish/fl_question_mark.png) no-repeat; background-size:100% 100%; display:inline-block; margin-left:2px;position: relative;top:1px;}
.about-fish{height:56px;  line-height:56px; width:80px; overflow:hidden; position:absolute; left:50%; top:0; margin-left:-40px;}


.downnav{height: 72px;background: url(../../../img/goldfish/tasktop_bg.png) repeat-x;background-size: auto 72px;position: absolute;width:100%;left: 0;bottom: -1px;z-index: 100;}
.downnav .table{display: table;width:100%;padding:15px 0;}
.downnav .cell{vertical-align: middle;text-align: center; color:#4ac0f0; display: table-cell;font-size: 12px;}
.downnav .cell:nth-child(2){border-left: solid 1px #f2f2f2; border-right:solid 1px #f2f2f2;}
.downnav .cell .innerblock{display: inline-block;position: relative;}
.downnav .cell .redCircle{width:6px;height: 6px;border-radius: 100% 100%;display: inline-block;background-color: #ff6975; position: absolute;right:0;top:-3px;display:block;}
.downnav .cell .roundNum{width:15px;height: 15px;border-radius: 100% 100%;text-align: center;color: #fff;background-color:#f5a623;line-height: 15px;position: absolute;right:-7px;top:-7px;display:block;}
.downnav .cell .done{width:35px;height: 17px;background: url(../../../img/goldfish/fl_completion.png) no-repeat;background-size: 100% 100%;position: absolute;right:-23px;top:-10px;display:none;}
.downnav .turngray{color:#c3c3c3;}
.downnav .turngray .done{display: block;}
.icon_nav1{width:20px;height: 16px;background: url(../../../img/goldfish/fl_card.png) no-repeat;}
.icon_nav2{width:20px;height: 16px;background: url(../../../img/goldfish/fl_fund_icon.png) no-repeat;}
.icon_nav3{width:20px;height: 16px;background: url(../../../img/goldfish/fl_money_icon.png) no-repeat;}
.downnav .turngray .icon_nav1{background-image: url(../../../img/goldfish/fl_gray_card.png);}
.icon_nav{background-size: 100% 100%;display: inline-block; }
.backToTask{position: absolute;right:0;top:0;display: block;padding:0 20px; line-height:56px; }
.icon_task{width:13px; height:12px; background:url(../../../img/goldfish/icon_task.png) no-repeat; background-size:100% 100%; display:inline-block; margin-left:2px;position: relative;top:1px;}

.widget-task-list{padding:10px 0 0px;}
.widget-task-list .invest-item{position:relative; width:100%; margin-bottom:12px;  }
.widget-task-list .invest-item .top{background:#fff;}
.widget-task-list .invest-item .bottom{background:url(../../../img/wen.png) 0 bottom repeat-x;background-size:36px 17px; height:17px; overflow:hidden;}
.widget-task-list .title{ margin:0 20px;  background:url(../../../img/dot.png) 0 bottom repeat-x;background-size:5px 3px;  line-height:44px; color:#5E7B8E; font-size:14px;  }
.widget-task-list .title span{width:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; display:block;}
.widget-task-list .con{padding-left:20px; z-index:2; position:relative;}
.widget-task-list .progress-bar{position:absolute; right:0px; top:64px; width:80px; height:80px; z-index:1;}
.widget-task-list .progress-bar canvas{position:absolute; background:none; width:80px; height:80px; left:0; top:0; z-index:1;}
.widget-task-list .progress-bar .alpha{position:absolute; left:0;top:0; width:80px; height:80px; z-index:2; }
.widget-task-list .progress-bar .text-bar{text-align:center; position:absolute; width:80px;  left:0px; top:0px; }
.widget-task-list .progress-bar .text-bar .s-1{color:#4a4a4a; font-size:20px; line-height:20px; padding-top:25px; }
.widget-task-list .progress-bar .text-bar .s-2{color:#9b9b9b; font-size:10px;}
.widget-task-list .rate-bar{height:45px; overflow:hidden;}
.widget-task-list .rate-bar .rate{font-size:32px; color:#FFBD30;float:left; padding-right:6px; line-height:64px; }
.widget-task-list .rate-bar .text{font-size:12px; color:#4a4a4a; float:left; line-height:76px; }
.widget-task-list .meta-1{color:#9b9b9b; font-size:12px;  line-height:44px;}
.widget-task-list .meta-1 .s-1{color:#FFBE31; }
.widget-task-list .meta-2{color:#9b9b9b; font-size:11px; line-height:14px; }
.widget-task-list .meta-2 .col{float:left; padding:0 18px; }
.widget-task-list .meta-2  .icon-1{ background:url(../../../img/clock.png) 0 center no-repeat; background-size:13px 13px;  }
.widget-task-list .meta-2 .icon-2{ background:url(../../../img/money.png) 0 center no-repeat; background-size:13px 13px; }
.widget-task-list .state{position:absolute; right:0; top:-7px; width:76px;  height:71px; z-index:2;}
.widget-task-list .state-1{background:url(../../../img/state-1.png) 0 0 no-repeat; background-size:76px 71px;}
.widget-task-list .state-2{background:url(../../../img/state-2.png) 0 0 no-repeat; background-size:76px 71px;}
.widget-task-list .state-3{background:url(../../../img/state-3.png) 0 0 no-repeat; background-size:76px 71px;}
.widget-task-list .icon_insurance{background: url(../../../img/goldfish/fl_insurance.png) 0 0 no-repeat;background-size:100% 100%;width:78px;height:17px;display: inline-block;margin-left: 5px;margin-top:28px;}

.commonitems{padding:0 0 0 20px;width:100%;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background: #fff; border-bottom: solid 1px #f2f2f2;border-top:solid 1px #f2f2f2;height: 60px; position:relative;}
.commonitems.g-act-taped{background:#f6f6f6;}
.commonitems .table{width:100%;display:table;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; height: 58px;}
.commonitems .cell{display: table-cell;vertical-align: middle;}
.hasarrow:after{content: ""; background:url(../../../img/arrow-r.png) 100% 0 no-repeat; width:7px; height:15px; background-size:100% 100%; position: absolute;right:20px; top:50%;margin-top: -7.5px; }
.hasarrow .table{padding-right: 40px;}
.icon_fish{width:27px;height: 19px;background: url(../../../img/goldfish/fl_fish.png) no-repeat;background-size: 100% 100%;display: inline-block;vertical-align: middle;position: relative;top:-2px;}

