@charset "utf-8";
/**
 * v信贷提示
*/
.color_gray{color: #a7a7a7;}
.color_black{color:#4a4a4a;}
.f16{font-size: 16px;}
.f14{font-size: 14px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.msg-wrap{text-align: center;font-size:14px;margin-bottom:40px;padding:50px 0; border-bottom: solid 1px #f2f2f2;}
.hasDownWen{background:#fff url(../../../img/wen4.png) repeat-x 0 100%;background-size: auto 18px; border-bottom: none;}
.msg-wrap .state{height:87px;margin:0 auto;overflow:hidden;width:76px}
.msg-wrap .state-success1{background: url(../../../img/meiyuan-big.png) no-repeat scroll 0 0/100% 100%}
.msg-wrap .state-success2{background: url(../../../img/ok-big.png) no-repeat scroll 0 0/100% 100%}
.msg-wrap .text{font-size:16px;line-height:96px;text-align:center}
.btn-bar{padding:0 20px}
.bigwords{text-align: center;font-size:16px;color:#000;margin-top:20px;}
.smallwords{color:#5d7a8d; text-align: center;font-size:12px;line-height: 1.5em;}
.smallwords p{ margin-top:3px; }

