html,body{font-family:arial,'microsoft yahei',sans-serif;color:#333;height:100%;}
* {margin:0;padding:0;border:0;}
a{color:inherit;text-decoration:none;}
ol,ul{margin:0;padding:0;list-style:none;}
iframe{border:0;}
a,button,input,select,textarea{outline:0;}
textarea{overflow:auto;resize:vertical;cursor:text;}
::-webkit-input-placeholder{color:#ccc;}
::-moz-placeholder{color:#ccc;opacity:1;}
button,input[type=button],input[type=submit],input[type=reset]{-webkit-appearance:none;}
body{background-color:#fff;}

/****** 通用类{ ******/
/* 浮动 */
.fl{float:left;_display:inline;}
.fr{float:right;_display:inline;}
/* 清除浮动 */
.clearfix{*zoom:1;}
.clearfix:after{content:'';display:block;clear:both;}
/* 行内块元素 */
.inblock{display:inline-block;*zoom:1;*display:inline;vertical-align:middle;}
/* 省略号（单行） */
.ellipsis-single{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
/* 省略号（多行） */
.ellipsis-more{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;/*height:3em;-webkit-line-clamp:2;*/}
/****** 通用类} ******/

/*index页面*/
html{position:relative;}
.index{background:url(../img/index/background.png) repeat;background-size:20px;}
.img-wrap{width:84%;margin:30px auto 25px;}
.img-wrap-img{width:100%;height:auto}
.words{width:84%;margin:0 auto;font-size:14px;color:#5d7a8d;line-height:22px;margin-bottom:15px;text-align:justify;}
.line-wrap{width:84%;margin:0 auto}
.line-wrap-img{width:100%}
.list{width:84%;margin:0 auto;font-size:14px;color:#5d7a8d;padding-bottom:13%;letter-spacing:1px}
.list span{padding-left:20px;text-align:center;line-height:25px; }
.list span.list-left{background:url(../img/index/Polygon.png) no-repeat 5px center;background-size:8px;}
.list span.list-right{padding-left:30px;background:url(../img/index/Line2.png) no-repeat 10px center;background-size:10px;}
.bottom-img {width:100%;height:auto;width:12%;position:absolute;right:5px ;bottom:0}

@media screen and (min-width: 600px){
    .words,.list span{
        font-size:20px;
        line-height:35px;
    }
}

@media screen and (min-height:640px){
   .bottom-img{
        position: fixed
    }
}

@media screen and (max-width: 350px){
    .question p span{
        font-size:14px;}
    .list span.list-right{
        padding-left:20px;
         background:url(../img/index/Line2.png) no-repeat 5px center;background-size:10px;
    }
    .list{letter-spacing:0}
}

/*协议*/
.protocol{font-size:10px;background:#f8f8f8;}
.PublicArticle{width:auto;padding:8px 20px 14px 20px;text-align:justify}
.xieyibt {color:#333;margin-top:25px;letter-spacing:0.1em;font-size:1.6em;line-height:2rem}
.xieyip {margin:14px 30px 14px 30px;font-size:1.4em;color:#333;letter-spacing:0em;line-height:28px;}
.title{text-align:center;font-size:2em;color:#333;font-weight:600}
.title2{text-align:center;font-size:1.6em;color:#333;font-weight:600;margin-top:25px}
.decoration{background:#f8f8f8;border-bottom:1px solid #000;width:175px;display: inline-block; }
.xieyip,.xieyibt{margin:8px 0;}
.center{text-align:center}
.numberWrap {position: relative; margin-bottom: 20px;font-size: 1em;border-bottom: 1px solid #dfdfdd;padding-top: 5px;}
.noUnderline{display: inline-block;min-width: 175px;vertical-align: middle;}
.commonwords{font-size:1.4em;color:#333;letter-spacing:0em;line-height:28px;}
.commonwords>div,.huaxiaContract>div{margin-top:15px;}
.commonwords .underLine{border-bottom:1px solid #000;display: inline-block;padding:0 5px;line-height: 28px; text-align: center;}
.commonwords .underLine em{font-style:normal;}
.line_l{min-width: 150px;}
.line_m{min-width: 100px;}
.line_s{min-width:50px;}
.huaxiaContract p{text-indent: 2em;}
/*detail页面*/
.detail{text-align:justify;color:#5d7a8d;}
.detail .img-wrap{margin:0 auto;padding-top:30px;padding-bottom:15px;}
.detail .question{margin:6% 8% 3%;}
.question p span{white-space:nowrap;line-height:40px;display:inline-block;background:url("../img/detail/Group%203@3x.png")no-repeat left center ;background-size:100% 40px ;padding:0 10px 0 25px;}
.answer{padding:0 8%;font-size:14px;line-height:20px;margin-bottom:8%}
.detail-bottom{width:100%;height:8px;background:url("../img/detail/detailbottom.png");background-size:27px 8px;}


/*dynamicState页面*/
.dynamicState{font-size:10px}
.dynamicState .img-wrap{width:100%;margin-top:0;margin-bottom:30px;}
.dynamicState .sm-title{font-size:1.6em;background:#e9f7f6;line-height:35px;letter-spacing:2px;text-indent:5.5%;color:#5d7a8d;}
.dynamicState .sm-wrap{padding:0 5.5%;color:#5d7a8d;font-size:1.4em;text-align:justify;}
.dynamicState .sm-wrap-content{line-height:25px;padding-top:20px;padding-bottom:20px; }
.dynamicState .sm-wrap-more{border:5px solid #edf3f9;border-radius:10px;padding:18px 8px;line-height:22px;color:#3366cc;position:relative;margin-bottom:20px}
.dynamicState .loudspeaker{width:24px;height:23px;position:absolute;top:-13px; left:10px;}
.dynamicState .loudspeaker img{width:100%;height:100%}

/*table样式*/
table{display:block;width:100%;margin-bottom:0;border-collapse:collapse;font-size:1em;}
table td{border:1px solid #c7c7c7;color:#333;padding:12px 8px;}
table td:nth-child(1){width:25%;white-space:nowrap;}
table td:nth-child(2){width:75%;word-break:break-all;}
.sp-table{width:100%;white-space:nowrap; overflow:auto;}
.sp-table2,.sp-table3{width:100%;white-space:nowrap; overflow:auto;}
.sp-table2 tr:last-child td{white-space:initial}
.sp-table td:nth-child(2){width:40%}
.sp-table td:nth-child(1){width:auto}
.sp-table2 td:nth-child(1){width:20%}
.sp-table2 td:nth-child(2){width:40%}
.sp-table2 .width-15{width:15%}
.sp-table3 td{width:auto!important}
.plan-table td:nth-child(1){width:auto}
.plan-table td:nth-child(2){width:auto}

/*AboutGoldfish页面*/
.AboutGoldfish{margin:0 auto;}
.AboutGoldfish h2{text-align:center;padding-top:30px;padding-bottom:30px;background:url("../img/AboutGoldfish/Line@3x.png")no-repeat center 65px ;background-size:125px 4px}
.AboutGoldfish .question span{background:url("../img/AboutGoldfish/Group%208@3x.png")no-repeat left center ;background-size:100% 43px;height:43px;line-height:43px}
.AboutGoldfish .question{background:url("../img/AboutGoldfish/Group%204@3x.png") no-repeat left bottom;background-size:100% 15px;padding-bottom:14px;}
.AboutGoldfish .bottom-img-wrap {width:100%;height:auto;position:absolute;bottom:0}
.AboutGoldfish .answer p{padding-left:25px;text-indent:-17px;}
.AboutGoldfish .question p span{padding-left:10px;}
@media screen and (max-height:650px){
    .AboutGoldfish .bottom-img-wrap {
        position:inherit;
        margin-top:20px;
        margin-bottom:-10px;
    }
}

/*timewallet页面*/
.head-h2{position:absolute;left:50%; top:45%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);-mos-transform:translate(-50%,-50%);line-height:30px;color:#5e7887;font-size:20px;}
.timewallet .header{ position:relative;margin-bottom:2%}
.timewallet{max-width:890px;margin:0 auto;}
.timewallet-wrap{padding:0 8%}
.timewallet .headpic{width:100%;height:auto;}
.timewallet-title{font-weight:600;display:inline-block;font-size:17px;padding:40px 20px  3%;color:#5e7887;background:url("../img/timewallet/Line@3x.png") no-repeat 20px  67px;background-size:100% auto}
.timewallet-p{font-size:14px;padding:3% 20px  3%;color:#5e7887;line-height:24px;}
.timewallet-div-first{background:url("../img/timewallet/Group@3x.png") no-repeat left 5px;background-size:37px 36px }
.timewallet-div-second{background:url("../img/timewallet/Group%207@3x.png") no-repeat left  5px;background-size:276px 27px}
.timewallet-div-third{background:url("../img/timewallet/Group%206@3x.png") no-repeat left 5px;background-size:276px 27px }
.timewallet .footpic{width:10%;height:10%;padding-bottom:20px;}
.timewallet .footpic img{width:31;height:31px;}
.timewallet .footpic-line{width:80%;height:14px;margin-top:10px;padding-bottom:20px;}
.timewallet .footpic-line img{width:100%;height:100%;}
.align-center{text-align:center}

/*salary-priority页面*/
.salary-priority .timewallet-div-first{background:url("../img/salary-priority/Group%2012@3x.png") no-repeat left 0;background-size:48px 34px}
.salary-priority .timewallet-div-second{background:url("../img/salary-priority/Group%2013@3x.png") no-repeat left 0;background-size:297px 35px}
.salary-priority .timewallet-div-third{background:url("../img/salary-priority/Group%2014@3x.png") no-repeat left 0;background-size:272px 32px }
.salary-priority .bottom-line{height:55px;line-height:55px;background:#fff;font-size:12px;text-align:center;color:#8bb9de;border-top:1px solid #e4eeed}
.salary-priority .header{margin-top:10px}