<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhuanyi.vjwealth.wallet.mobile.mySalaryPlan.server.mapper.MySalaryPlanMapper">

    <!-- 查询ta账户的万分收益及七日年化利率-->
     <select id="queryTAccountFundWanInfo" resultType="java.util.Map">
         SELECT
			fwr.wan_receive AS receiveRate
		FROM
			fund_wan_receive fwr
		WHERE
			fwr.trade_type = 'ta'
		and	fwr.wan_receive_date = date_sub(curdate(),interval 1 day)
     </select>

</mapper>