@charset "utf-8";
.wrap{
/*background:url(../../../img/passport/bg.png) 0 0 repeat-x #4AC0F0;*/
background:-moz-linear-gradient(top, #81E1F9, #4BC1EF);  	
background:-webkit-gradient(linear, 0 0, 0 bottom, from(#81E1F9), to(#4BC1EF));  
padding-bottom:50px;
}
.passport-wrap{padding:75px 20px 0;}
.form-wrap{padding: 110px 0 0;}
.box{width: 100%;height: 337px;position: relative;background-color: #fff;border-radius: 5px;}
.box-2{height:435px}
.logel{width: 80px;height:80px;position: absolute;top:-24px; left:50%;  margin-left:-40px;}
.logel img{width: 100%;}
.text{height:170px;}
.tubiao{height:50px;line-height:50px; margin:0 24px; border-bottom: 1px solid #F2F2F2;position: relative;}
.tubiao  img{ position:absolute; left:10px; }
.tubiao  img.phone{width:14px;height:23px; top: 13px;}
.tubiao  img.password{width:16px;height:21px; top: 15px;}
.tubiao  img.valid-code{width:18px;height:13px; top: 21px;}
.tubiao  img.friend-phone{width:18px;height:18px; top: 16px;}

.inp-wrap{position:absolute;right:0; left:44px; top:0; height:50px; }
.intext{width:100%; height:20px; line-height:20px; padding:15px 0 15px;  outline: none; border:none;}


.eye{position:absolute; right:0px;top:13px; width:33px; height:33px; overflow:hidden;}
.eye-show{ background:url(../../../img/passport/eye.png) 0 0 no-repeat; background-size:66px 33px;}
.eye-hide{ background:url(../../../img/passport/eye.png) -33px 0 no-repeat; background-size:66px 33px;}

.tubiao1{line-height:20px;font-size: 14px; margin-top:10px; margin:9px 24px 0;}

.passrord{letter-spacing:2px;height:40px;line-height: 40px;float:left;color:#4AC0F0;}
.zhuce{width: 36px;height: 40px;line-height: 40px;float:right;color:#4AC0F0;}
.btn{height:50px;width:100%; line-height: 40px;color:#4AC0F0;font-size: 16px;position: absolute;bottom:0px;left:0px;    background-color: #fff;border: none;border-top: 1px solid #F2F2F2;border-radius: 0 0 5px 5px;}
.btn[disabled]{ color:#D8D8D8!important;  }


.box-1{height: 385px;}

#mail{width: 19px;height:13px;}
.verification-code{width: 90px;height:28px; line-height: 28px; text-align: center; background-color: #4AC0F0;border: none;border-radius: 4px;font-size: 12px;color:#fff;position: absolute;right:0;top:14px;}
.verification-code.g-act-taped{background:#0879b2;}
.voice{height: 20px;width: 12px;float:left;background:url(../../../img/passport/tip.png) 0 center no-repeat; background-size:12px 12px;}
.allvoice{float:left;height:20px;font-size: 12px;}

.voice-detail{float:left;padding-left: 5px;color:#5D7A8D;line-height:20px;}
.all-voice{height:20px; line-height:20px;  position:relative;  color:#F5A623; font-size: 12px; padding-left:37px;float:left;}
.voice-img{width:19px;height:13px; position: absolute; left:14px; top:3px;background:url(../../../img/passport/yuyin.png) 0 0 no-repeat; background-size:19px 13px; }
.voice-text{ height:20px;float:left;}



.re-intext{float:left;width: 56%;outline: none;border:none;padding-left: 29px;height: 43px;background-color:#FBFBFB;}
.bottom{color:#fff;width:100%;height:35px;line-height:35px;text-align:center;font-size:12px;letter-spacing:3px;}
.text-1{}
.recommender-wrap{position:relative;height:52px; margin:10px 0; }
.recommender-wrap .tubiao{margin:0 0; position:absolute; height:50px;background:#FBFBFB;  border-top:1px solid #F2F2F2; border-bottom:1px solid #F2F2F2; left:0;  right:0;}
.recommender-wrap .intext{background:none;}
.recommender-wrap .friend-phone{left:35px;}
.recommender-wrap .inp-wrap{left:72px;}
.choose{height:24px; text-align:center; font-size:12px; line-height:24px; width:46px;float:right;margin-right:24px;background:url(../../../img/passport/kuang.png)0 0 no-repeat;background-size:46px 24px;color: #d8d8d8;background-position:0 0;margin-top:13px;position:relative;}


.window{width:272px;height:260px;background-color:#fff;border-radius: 5px;position:fixed;top:50%;left:50%;margin-left:-136px;margin-top:-130px;}
.window-logo{width:63px;height:68px;margin:0 auto;margin-top: 37px;}
.window-logo1{ color:#5d7a8d;font-size:16px;margin-top: 23px;margin-bottom: 10px; text-align:center; }
.window-logo2{ text-align:center;color:#9b9b9b;}
.define{height:50px;color:#4ac0f0;font-size:16px;line-height:50px;text-align:center;outline:none;border:none;width: 100%;border-top: 1px solid #F2F2F2;border-radius: 0 0 5px 5px;position: absolute;bottom: 0;left: 0; background:#fff;}