<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="common">
	<!-- MySql 分页插件 -->
	<sql id="pre">
		<if test="doAount == true">
			SELECT COUNT(*) as totalRecordNum FROM (
		</if>
	</sql>
	<sql id="suf">
		<if test="doAount == true">
			) _a
		</if>
		<if test="doAount == false">
			limit #{beginIndex},#{pageSize}
		</if>
	</sql>
</mapper>