<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuanyi.vjwealth.wallet.mobile.account.server.mapper.IPSAccountMapper">
	<sql id="field">
			 T.id as id,
			T.user_id as  userId,
			T.available_amount as  availableAmount,
			T.frozen_amount as  frozenAmount,
			T.trade_type as  tradeType,
			T.no_agree as  noAgree,
			T.trade_account_status as  tradeAccountStatus
	</sql>
	
	<select id="queryIPSAccountInfo" parameterType="java.lang.String" resultType="java.util.Map">
			SELECT
				<include refid="com.zhuanyi.vjwealth.wallet.mobile.account.server.mapper.IPSAccountMapper.field" />
			FROM wj_user_trade_account t
			WHERE t.user_id= #{userId}
			AND T.trade_type= #{tradeType}
			AND T.trade_account_status= #{tradeAccountStatus}
			
	</select>

	<select id="queryMerType" parameterType="java.lang.String" resultType="java.util.Map">
		select t.param_key as "key",t.param_value as "value" from comm_params t where t.param_group= #{paramGroup}	
	</select>

		<insert id="saveRechargeHistoryIPS" parameterType="java.lang.String">
		INSERT INTO wj_ebatong_trade_history (
				customer_id,
				card_no,
				out_trade_no,
				amount,
				bank_code,
				card_bind_mobile_phone_no,
				result,
				error_message,
				send_json,
				return_json,
				token,
				dynamic_code,
				create_by,
				create_date,
				update_by,
				update_date,
				recharge_result,
				recharge_send_json,
				recharge_return_json,
				user_id,
				notice_send_json,
				contrast_flag,
				mer_date,
				pay_type,
				plateform_id,
				bind_pay_type,
				notice_error_message,
				status,
				source,
				operation_type
			)
			VALUES
			(
				#{cardId},
				#{cardNo},
				#{tradeNo},
				#{amount},
				#{bankCode},
				#{asidePhone},
				#{result},
				#{message},
				null,
				null,
				NULL,
				NULL,
				NULL,
				now(),
				NULL,
				NULL,
				'F',
				#{requestJson},
				#{responseJson},
				#{userId},
				'',
				'N',
				DATE_FORMAT(now(),'%Y%m%d'),
				'70',
				'paychannel007',
				'Y',
				NULL,
				#{status},
				#{source},
				#{operationType}
			)
	</insert>
	
	<update	id="updateHistoryIPS" parameterType="java.lang.String">
		update wj_ebatong_trade_history set 
		notice_send_json = #{sendJson},
		status = #{status},
		out_trade_no = #{tradeNo},
		error_message = #{message}
		where card_no = #{orderNo}
 	</update>
 	
 	<!-- ma 账户余额增加 -->
	<update id="addMaAccountAmountByRecharge" parameterType="java.lang.String">
		UPDATE wj_user_trade_account w
		SET available_amount = available_amount + (
			SELECT
				m.total_price
			FROM
				wj_order m
			WHERE
				m.order_no = #{orderNo}
			AND m.order_type = 'recharge_ma'
			AND w.user_id=m.user_Id
		)
		WHERE
			w.user_id =( SELECT
				m.user_Id
			FROM
				wj_order m
			WHERE
				m.order_no = #{orderNo}
			AND m.order_type = 'recharge_ma'
			AND w.user_id=m.user_Id)
		AND w.trade_type = 'ma'
	</update>
	
	<update id="updateRrechargeOrderFail" >
		update wj_order o
		set o.order_status = 'recharge_ma_fail',
		o.title = '充值失败',
		o.channel_trade_id = #{tradeNo}
		where 
		o.order_no = #{orderNo}
		and o.order_status ='recharge_ma_confirm_dispose' and o.user_id=#{userId}
	</update>
	
	 	 <update id="updatePCRechargeOrderSuccess" parameterType="java.lang.String"   >
			update wj_order 
			set order_status='recharge_ma_confirm',
			title='充值成功',
			channel_trade_id = #{tradeNo}
			where order_no=#{orderNo}
			and order_status ='recharge_ma_confirm_dispose' and user_id=#{userId} 
	  </update>
	  
	   	 <update id="updatePaymentTradeStatusSuccess" parameterType="java.lang.String"   >
			update wj_payment_trade_record 
			set trade_stauts='trade_success',
			rel_biz_order_status='biz_success',
			rel_biz_mesage='充值成功',
			trade_no=#{tradeNo}
			where rel_biz_order_no=#{orderNo}
	  </update>
	  
	   	 <update id="updatePaymentTradeStatusFail" parameterType="java.lang.String"   >
			update wj_payment_trade_record 
			set trade_stauts='trade_fail',
			rel_biz_order_status='biz_fail',
			rel_biz_mesage='充值失败',
			trade_no=#{tradeNo}			
			where rel_biz_order_no=#{orderNo}
	  </update>
	  
	  	<insert id="saveRechargeOrder" parameterType="java.lang.String">
		INSERT INTO wj_order (
			user_id,
			order_no,
			title,
			total_price,
			price,
			fee,
			virtual_amount,
			activity_amount,
			order_status,
			product_id,
			trade_account_id,
			trade_account_card_id,
			order_type,
			order_token,
			channel_trade_id,
			create_date,
			create_by,
			time_financial_approval,
			time_confirm,
			contrast_flag,
			rel_order_no,
			is_redeem,
			is_apply
		)
		VALUES
			(
			#{userId},
			#{orderNo},
			'充值中',
			#{totalPrice},
			#{totalPrice},
			'0.0000',
			'0.0000',
			'0.0000',
			'recharge_ma_confirm_dispose',
			NULL,
			#{ipsAcctNo},
			#{cardId},
			'recharge_ma',
			NULL,
			NULL,
			now(),
			'SYSTEM',
			NULL,
			NULL,
			'N',
			NULL,
			'N',
			'N'
		)
	</insert>
	  
	<select id="queryBanks" parameterType="java.lang.String" resultType="java.util.Map">
		select w.bank_name as bankName,w.bank_code as bankCode,w.card_type as cardType,w.bizId from ips_bank_info w
	</select>
</mapper>