<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuanyi.vjwealth.wallet.mobile.product.server.mapper.IUserAccountQueryMapper">

		<select id="queryMAccountInfo" parameterType="java.lang.String" resultType="com.zhuanyi.vjwealth.wallet.mobile.product.server.dto.account.UserMAccountHomeDTO">
		  select 
		    -- 余额
		   (SELECT TRUNCATE (available_amount, 2) FROM wj_user_trade_account WHERE user_id = #{userId} AND trade_type = "ma") as amountAvailable,
		
		    -- 总资产，冻结金额
		    mm.*,
		
		    -- 累计收益
		       (SELECT
					 TRUNCATE (IFNULL(sum(ur.product_receive),0),2) 
				 FROM
					 fund_user_receive ur,
					 wj_user_trade_account trade
				 WHERE  
					trade.user_id = #{userId}
				  AND ur.user_id = trade.user_id
			      AND ur.trade_type = trade.trade_type
				  AND ur.batch_status = 'success'
			  	  AND trade.trade_type in ('ta','v1','rf','lf')) as allAreadyReceive,
		
		    -- 昨日收益
		    (SELECT
					TRUNCATE (IFNULL(sum(ur.product_receive),0),2) 
				FROM
					fund_user_receive ur,
					wj_user_trade_account trade
				WHERE
					trade.user_id = #{userId}
				  AND ur.user_id = trade.user_id
			    AND ur.trade_type = trade.trade_type
				  AND ur.batch_status = 'success'
				  AND ur.receive_date= DATE_FORMAT(TIMESTAMPADD(DAY,-1,now()),"%Y-%m-%d")
				  AND trade.trade_type in ('ta','v1','rf','lf')) as yesterdayReceive,
		
		    -- 投资金额
		       (SELECT
					TRUNCATE (sum(available_amount),2)
				FROM
					wj_user_trade_account 
				WHERE
					user_id = #{userId}
				AND trade_type IN ("ta","v1",'rf','lf')) as investmentAmount,
		
		    -- 是否是工资的用户
		    (select IF(count(*) > 0,'yes','no') from wj_user_channel_ref where user_id = #{userId} AND user_type in('wallet','salary_bill')) as isSign,
		    -- 是否显示v1菜单（v1账户为零且冻结金额也为0，则不显示）
		    (select IF(available_amount=0 AND frozen_amount=0,'no','yes') from wj_user_trade_account where user_id = #{userId} AND trade_type = 'v1') as isShowV1
       FROM 

		       (SELECT
					TRUNCATE (sum(available_amount+frozen_amount), 2) as totalAccountAmount,
					TRUNCATE (sum(frozen_amount), 2) as amountFrozen
				FROM
					wj_user_trade_account
				WHERE
					user_id = #{userId}
					AND trade_type in ('ma','ta','v1','rf','lf')) mm
				 

		</select>
		
		
		<select id="queryEAccountInfo" parameterType="java.lang.String" resultType="com.zhuanyi.vjwealth.wallet.mobile.product.server.dto.account.UserEAccountHomeDTO">
		    select 
			     -- e账户金额 及冻结金额
			     ee.*,
			     aa.*,
			
			      -- 累计收益
			       (SELECT
						TRUNCATE (IFNULL(sum(ur.product_receive),0), 2)  
					FROM
							fund_user_receive ur,
							wj_user_trade_account trade
					WHERE
						ur.user_id = trade.user_id
					AND ur.trade_type=trade.trade_type
				    AND ur.batch_status = 'success'
					AND trade.user_id = #{userId}
				    AND trade.trade_type='ea') as allAreadyReceive,
			  IFNULL((SELECT
						TRUNCATE (fu.product_receive, 2) 
					FROM
						wj_user_trade_account wa,
						fund_user_receive fu
					WHERE	
					    wa.user_id=fu.user_id
					AND wa.trade_type=fu.trade_type
					AND fu.batch_status='success'
					AND wa.trade_type = 'ea'
					AND wa.user_id = #{userId}
					AND fu.receive_date = DATE_FORMAT(TIMESTAMPADD(DAY,-1,now()),"%Y-%m-%d")),0) as yesterdayReceive,
					
			   -- 是否是工资的用户
		      (select IF(count(*) > 0,'yes','no') from wj_user_channel_ref where user_id = #{userId} AND user_type in('wallet','salary_bill')) as isSign
			 
			FROM
			
			   (SELECT
						TRUNCATE (wa.available_amount, 2) AS totalAccountAmount,
						TRUNCATE (
							IFNULL(sum(o.total_price), 0),
							2
						) AS amountFrozen
					FROM
						wj_user_trade_account wa
					LEFT JOIN wj_order o ON o.user_id = wa.user_id
					AND o.order_type IN (
						'withdraw_ea',
						'apply_ma_to_ea'
					)
					AND o.order_status IN (
						'withdraw_ea_process',
						'withdraw_ea_unknown',
						'apply_ma_to_ea_noconfirm'
					)
					WHERE
						wa.user_id =#{userId}
					AND wa.trade_type = 'ea'
			    ) ee,
	        (SELECT
				fwr.wan_receive AS everyReceiveRate,
				fwr.week_receive_rate AS weekReceiveRate
			FROM
				fund_wan_receive fwr
			WHERE
				fwr.trade_type = 'ea'
			ORDER BY
				fwr.wan_receive_date DESC
			LIMIT 0,1) aa

		</select>
		
		<select id="queryTAccountInfo" parameterType="java.lang.String" resultType="com.zhuanyi.vjwealth.wallet.mobile.product.server.dto.account.UserTAccountHomeDTO">
			SELECT
			IFNULL(
			(
			SELECT
			TRUNCATE (
			IFNULL(sum(ur.product_receive), 0),
			2
			)
			FROM
			fund_user_receive ur,
			wj_user_trade_account trade
			WHERE
			ur.user_id = trade.user_id
			AND ur.trade_type = trade.trade_type
			AND ur.batch_status = 'success'
			AND trade.user_id =#{userId}
			AND trade.trade_type = 'ta'
			),
			0
			) AS allAreadyReceive,
			--  累计收益
			IFNULL(
			(
			SELECT
			TRUNCATE (
			IFNULL(fu.product_receive, 0),
			2
			)
			FROM
			wj_user_trade_account wa,
			fund_user_receive fu
			WHERE
			wa.user_id = fu.user_id
			AND wa.trade_type = fu.trade_type
			AND fu.batch_status = 'success'
			AND wa.trade_type = 'ta'
			AND wa.user_id =#{userId}
			AND fu.receive_date = DATE_FORMAT(
			TIMESTAMPADD(DAY ,- 1, now()),
			"%Y-%m-%d"
			)
			LIMIT 1
			),
			0
			) AS yesterdayReceive,
			-- 是否是工资的用户
			(
			SELECT

			IF (count(*) > 0, 'yes', 'no')
			FROM
			wj_user_channel_ref
			WHERE
			user_id = #{userId}
			AND user_type IN ('wallet', 'salary_bill')
			) AS isSign,
			TRUNCATE (ta.available_amount, 2) taAvailableAmount,
			--  持有金额
			TRUNCATE (pf.remain_balance, 2) maAvailableAmount,
			-- 剩余可投
			pf.project_contents productInfo,
            ee.amountFrozen frozenAmount,
			ee.*,
			aa.*
			FROM
			wj_product_finace pf,
			wj_user_trade_account ta,
			(
			SELECT
			TRUNCATE (wa.available_amount, 2) AS totalAccountAmount,
			TRUNCATE (
			IFNULL(sum(o.total_price), 0),
			2
			) AS amountFrozen
			FROM
			wj_user_trade_account wa
			LEFT JOIN wj_order o ON o.user_id = wa.user_id
			AND o.order_type IN (
			'withdraw_ta',
			'apply_ma_to_ta'
			)
			AND o.order_status IN (
			'withdraw_ta_process',
			'withdraw_ta_unknown',
			'apply_ma_to_ta_noconfirm'
			)
			WHERE
			wa.user_id =#{userId}
			AND wa.trade_type = 'ta'
			) ee,
			(
			SELECT
			truncate(fwr.wan_receive, 2) AS everyReceiveRate,
			truncate(fwr.week_receive_rate, 2) AS weekReceiveRate
			FROM
			fund_wan_receive fwr
			WHERE
			fwr.trade_type = 'ta'
			ORDER BY
			fwr.wan_receive_date DESC
			LIMIT 0,
			1
			) aa
			WHERE
			pf.product_id = 'tfax'
			AND ta.user_id =#{userId}
			AND ta.trade_type = 'ta'
		</select>

	<!--个人中心-我的-->
	<select id="queryPersonalCenterInfo" resultType="com.zhuanyi.vjwealth.wallet.mobile.product.server.dto.account.PersonalCenterDTO">
		select
		-- 余额
		(
			SELECT TRUNCATE (available_amount, 2) FROM wj_user_trade_account
			WHERE user_id =#{userId} AND trade_type = "ma"
		) as availableBalance,
		-- 总资产，冻结金额
		mm.*,
		-- 累计收益
		(
			SELECT
			TRUNCATE (IFNULL(sum(ur.product_receive),0),2)
			FROM
			fund_user_receive ur,
			wj_user_trade_account trade
			WHERE
			trade.user_id = #{userId}
			AND ur.user_id = trade.user_id
			AND ur.trade_type = trade.trade_type
			AND ur.batch_status = 'success'
			AND trade.trade_type in ('ta','v1','rf','lf')
		) as totalRevenue,
		-- 定期投资金额
		(
			SELECT TRUNCATE (sum(available_amount),2)
			FROM
			wj_user_trade_account
			WHERE
			user_id =#{userId}
			AND trade_type IN ('rf')
		) as regularAmount,
		-- 活期投资金额
		(
			SELECT TRUNCATE (sum(available_amount),2)
			FROM
			wj_user_trade_account
			WHERE
			user_id =#{userId}
			AND trade_type IN ("ta","v1")
		) as currentAmount
		FROM (
			SELECT
			TRUNCATE (sum(IFNULL(available_amount,0)+IFNULL(frozen_amount,0)),2) as totalAssets,
			TRUNCATE (sum(IFNULL(frozen_amount,0)), 2) as freezingAmount
			FROM
			wj_user_trade_account
			WHERE
			user_id =#{userId}
			AND trade_type in ('ma','ta','v1','rf','lf')
		) mm
	</select>

	<select id="queryTaReceiveRate" resultType="java.lang.String">
		select truncate(fwr.week_receive_rate, 2) AS receiveRate from fund_wan_receive fwr where fwr.trade_type = 'ta'
		ORDER BY fwr.wan_receive_date DESC LIMIT 0,1
	</select>

	<select id="queryCountUserNum" resultType="java.lang.String">
		select Format(sum(num),0) as num from(
			select count(*) num from wj_user_info
			union all
			select param_value as num from comm_params
			where param_key='sum_user' and param_group='wallet_mobile'
		) t
	</select>

	<select id="queryNewHandFinancialReceiveRate" resultType="Map">
		SELECT
		TRUNCATE ((receive_rate+IFNULL(greenhorn_receive_rate,0)) * 100, 2) as rate,
		product_flag as productFlag,
		CASE when remain_balance &lt; 100 OR raise_progress = 1 OR is_sold_out = 'yes' OR DATE_FORMAT(end_time,'%Y-%m-%d %H:%i:%S')  &lt; DATE_FORMAT(now(),'%Y-%m-%d %H:%i:%S') then 'yes' else 'no'
		end as isSoldOut,
		product_id productId,
		product_name productName
		FROM wj_product_finace
		WHERE
			is_shelves = 'yes'
			AND product_category = 'v_financial'
			AND DATE_FORMAT(now(), '%Y-%m-%d %H:%i:%S') &gt;= DATE_FORMAT(start_time,'%Y-%m-%d %H:%i:%S')
			AND product_flag='greenhorn'
		ORDER BY
			isSoldOut ASC,
			CASE WHEN isSoldOut = 'no' THEN ordering_weight_value ELSE start_time END DESC,
			create_date DESC
		LIMIT 0,1
	</select>

	<select id="queryMyAssets" resultType="com.zhuanyi.vjwealth.wallet.mobile.index.server.dto.MyAssetsDTO">
		SELECT TRUNCATE (IFNULL(available_amount,0), 2) amount,'定期' AS label,'circle_icon_regular' as icon,'circle_color_regular' as color
		FROM wj_user_trade_account
		WHERE
			trade_type = 'rf'
			AND user_id = #{userId}
		UNION ALL
		SELECT TRUNCATE (SUM(IFNULL(available_amount,0)), 2),'活期' AS label,'circle_icon_current' as icon,'circle_color_current' as color
		FROM wj_user_trade_account
		WHERE
			trade_type in ('ta','v1')
			AND user_id = #{userId}
		UNION ALL
		SELECT TRUNCATE (SUM(IFNULL(available_amount,0)), 2),'余额' AS label,'circle_icon_available' as icon,'circle_color_available' as color
		FROM wj_user_trade_account
		WHERE
			trade_type = 'ma'
			AND user_id = #{userId}
		UNION ALL
		SELECT TRUNCATE (SUM(IFNULL(frozen_amount,0)), 2),'冻结' AS label,'circle_icon_frozen' as icon,'circle_color_frozen' as color
		FROM wj_user_trade_account
		WHERE
			trade_type in ('ma','ta','v1','rf','lf')
			AND user_id = #{userId}
	</select>

	<select id="queryUserHasTaAmount" resultType="Boolean">
		SELECT case when SUM(available_amount) > 0 then true else false end from wj_user_trade_account where user_id = #{userId} and trade_type in ('ea','ta')
	</select>
	
	<select id="queryEventInfo" parameterType="java.lang.String" resultType="java.util.HashMap">
		SELECT
			m.phone,
			p.receive_rate AS receiveRate,
			CONCAT(TRUNCATE (p.receive_rate * 100, 2)) AS yearRate,
			DATE_FORMAT(w.interest_end_time,'%Y-%m-%d') AS interestEndTime
		FROM
			wj_order_product w,
			wj_product_finace p,wj_user_info m
		where w.order_no=#{orderNo}
		and w.product_id=p.product_id
		and w.user_id=m.id
	</select>
</mapper>