<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuanyi.vjwealth.wallet.mobile.account.server.mapper.IV1ApplyMapper">
	
	<!-- v1理财减少真实份额用到的参数 -->
	<select id="queryV1RealApplyParamInfo"  resultType="com.zhuanyi.vjwealth.wallet.mobile.account.server.dto.V1ApplyDTO" >
		SELECT
			T.v1_real_apply_remain_amount as  v1RealApplyRemainAmount,			
			T.apply_threshold_limit as applyThresholdLimit<!--阀值-->
		FROM wj_v1_mock_info T
	</select>

	<!-- 更新real剩余份额为0 -->
	<update id="updateRealRemainAmountToZero" >
		UPDATE wj_v1_mock_info
			SET v1_real_apply_remain_amount = 0
	</update>
	
	
	<!-- 更新mock剩余份额为0 -->
	<update id="updateMockRemainAmountToZero" >
		UPDATE wj_v1_mock_info
			SET v1_mock_apply_remain_amount = 0
	</update>
	
	
	<!-- 减少real份额 -->
	<update id="subtractionRealRemainAmount"  parameterType="java.lang.Double">
		UPDATE wj_v1_mock_info
			SET v1_real_apply_remain_amount = v1_real_apply_remain_amount-#{realApplyAmount}
	</update>
		
</mapper>