<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhuanyi.vjwealth.wallet.mobile.account.server.mapper.VAccountQueryMapper">
     <!-- 获取V+理财资产 -->
     <select id="queryVAccountInfo" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT
			TRUNCATE (wa.available_amount, 2) as investmentAmount
		FROM
			wj_user_trade_account wa
		WHERE
			wa.user_id = #{userId}
		AND wa.trade_type = "v1"
     
     </select>

     
     <!-- 获取V+理财的总收益 -->
     <select id="queryVAccountTotalReceive" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT
				TRUNCATE (IFNULL(sum(ur.product_receive),0),2) as allReceive
		FROM
				fund_user_receive ur,
				wj_user_trade_account trade
		WHERE
			ur.user_id = trade.user_id
		AND ur.trade_type=trade.trade_type
	    AND ur.batch_status = 'success'
		AND trade.user_id = #{userId}
	    AND trade.trade_type='v1'
     </select>
	 
	      <!-- 查询v+账户的待确定份额-->
     <select id="queryVAccountWaitForSureAmount" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT
			TRUNCATE (IFNULL(sum(total_price),0),2) as waitForSureAmount
		FROM
			wj_order
		WHERE
			user_id = #{userId}
		AND order_status='apply_ma_to_v1_noconfirm'
		AND order_type='apply_ma_to_v1'
     
     </select>
	 
	      
      <!-- 查询v+账户的已确定份额-->
     <select id="queryVAccountAlreadySureAmount" parameterType="java.lang.String" resultType="java.util.Map">
		
		SELECT
			TRUNCATE (wa.available_amount, 2) as haveBeenSureAmount
		FROM
			wj_user_trade_account wa
		WHERE
			wa.user_id = #{userId}
		AND wa.trade_type = "v1"
     
     </select>
	 
	      <!-- 获取v+账户的昨日收益 -->
     <select id="queryVAccountYestodayReceive" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
			TRUNCATE (fu.product_receive,2) as yesterdayReceive
		FROM
			wj_user_trade_account wa,
			fund_user_receive fu
		WHERE	
		    wa.user_id=fu.user_id
		AND wa.trade_type=fu.trade_type
		AND fu.batch_status='success'
		AND wa.trade_type = 'v1'
		AND wa.user_id = #{userId}
		AND fu.receive_date = #{receiveDate}
     
     </select>
     
	 
	 

      <!-- 查询v+账户的资金信息-->
     <select id="queryVAccountOtherInfo" parameterType="java.lang.String" resultType="java.util.Map">
       SELECT
			TRUNCATE (wa.available_amount, 2) AS totalAmount,
			TRUNCATE (
				IFNULL(sum(o.total_price), 0),
				2
			) AS amountFrozenAmount
		FROM
			wj_user_trade_account wa
		LEFT JOIN wj_order o ON o.user_id = wa.user_id
		AND o.order_type IN (
			'transfer_v1_to_ma',
			'apply_ma_to_v1'
		)
		AND o.order_status IN (
			'transfer_v1_to_ma_noconfirm',
			'apply_ma_to_v1_noconfirm'
		)
		WHERE
			wa.user_id = #{userId}
		AND wa.trade_type = "v1"
     
     </select>
	 
	 
	 
     <!-- 查询v+账户的万分收益及七日年化利率-->
     <select id="queryVAccountFundWanInfo" resultType="java.util.Map">
        SELECT
			fwr.wan_receive AS everyReceiveRate,
			fwr.week_receive_rate AS weekReceiveRate
		FROM
			fund_wan_receive fwr
		WHERE
			fwr.trade_type = 'v1'
		ORDER BY
			fwr.wan_receive_date DESC
		LIMIT 0,1
     
     </select>
	 
	 
	   <!-- V+账户提现(转账)前查询,可用余额-->
     <select id="queryVAccountCanUseAmount" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT
			TRUNCATE (wa.available_amount,2) as amountAvailable
		FROM
			wj_user_trade_account wa
		WHERE
			wa.user_id = #{userId}
		AND wa.trade_type = 'v1'
     
     </select>
	 
	 
	 
	  <!-- v+账户最低申购份额 -->
      <select id="queryVAccountMinApplyAmount" resultType="java.math.BigDecimal">
           SELECT
				TRUNCATE (cp2.param_value, 2) AS minApply
			FROM
				comm_params cp2
			WHERE
			    cp2.param_group = 'mock_task'
			AND cp2.param_key = 'v1_apply_min_limit'
     </select>
     
      <!-- v+理财剩余总盘数 (废弃)-->
      <select id="queryVAccountAllleftAmount" resultType="java.util.Map">
           SELECT
				CONCAT(TRUNCATE (cp.param_value, 2),'元') AS allLeft
			FROM
				comm_params cp
			WHERE
				cp.param_group = 'mock_task'
			AND cp.param_key = 'remainTotalAmount'
     </select>
     
     <!-- 获取V+理财资产总转出 -->
      <select id="queryVAccountOutcomeAmount" parameterType="java.lang.String" resultType="java.util.Map">
          SELECT
				TRUNCATE (IF(sum(total_price),sum(total_price),0),2) outcomeAmount
			FROM
				wj_order
			WHERE
				order_type = 'transfer_v1_to_ma'
			AND order_status = 'transfer_v1_to_ma_confirm'
			AND user_id=#{userId}
     </select>
     
      <!-- 获取V+理财资产总转入 -->
      <select id="queryVAccountIncomeAmount" parameterType="java.lang.String" resultType="java.util.Map">
          SELECT
				TRUNCATE (IF(sum(total_price),sum(total_price),0),2) incomeAmount
			FROM
				wj_order
			WHERE
				order_type = 'apply_ma_to_v1'
			AND order_status IN (
				'apply_ma_to_v1_noconfirm',
				'apply_ma_to_v1_confirm'
			)
			AND user_id=#{userId}
     </select>
	 
	 
	  
     
     <!-- v理财剩余份额 -->
      <select id="queryVProductLeft" resultType="java.util.Map">
        <![CDATA[
			 SELECT
				CONCAT(
					TRUNCATE (
			
						IF (
							m.remainTotalAmount < cp.param_value,
							0,
							m.remainTotalAmount
						),
						2
					),
					'元'
				) AS remainTotalAmount
			FROM
				(
					SELECT
			
					IF (
						v1_real_apply_remain_amount < 0,
						'0',
						v1_real_apply_remain_amount
					) +
					IF (
						v1_mock_apply_remain_amount < 0,
						'0',
						v1_mock_apply_remain_amount
					) AS remainTotalAmount
					FROM
						wj_v1_mock_info
				) m,
				(
					SELECT
						param_value
					FROM
						comm_params cp
					WHERE
						cp.param_key = 'v1_apply_min_limit'
				) cp
				]]>	
     </select>
	 
	 
	   
     <!-- v+账户账单明细-->
     <select id="queryVAccountBillDetail" parameterType="java.util.Map" resultType="java.util.Map">
       SELECT
			TRUNCATE (o.total_price, 2) AS 'amount',
		    date_format(o.create_date,'%Y-%m-%d %H:%i:%S') AS 'date',
			o.title AS 'title',
            IF(card.bank_name IS NULL,'',CONCAT(card.bank_name,'(尾号',RIGHT(card.bank_card_no,4),')')) AS bank,
			IF(card.bank_code IS NULL,'',card.bank_code) AS bankCode,
			o.order_type AS orderType,
			o.order_status AS orderStatus,
			'金额' AS amountTitle,
			'类型' AS typeTitle,o.order_no as 'orderNo'
		FROM
			wj_order o
            LEFT JOIN wj_trade_account_card card on o.trade_account_card_id=card.id
		WHERE
			o.user_id = #{userId}
		AND o.order_type in ('transfer_v1_to_ma','apply_ma_to_v1')
		AND o.order_status in ('apply_ma_to_v1_noconfirm','apply_ma_to_v1_failconfirm','apply_ma_to_v1_confirm',	                           
		                       'transfer_v1_to_ma_noconfirm','transfer_v1_to_ma_confirm','transfer_v1_to_ma_fail')
		ORDER BY
			o.create_date DESC
		LIMIT #{page},10
     
     </select>
     
	 
	   <!-- 获取v+账户历史收益列表-->
     <select id="queryVAccountReciveDetail" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
			TRUNCATE (ur.product_receive, 2) + '' AS 'reciveAmount',
			date_format(ur.receive_date, '%Y-%m-%d') AS 'reciveDate'
		FROM
			fund_user_receive ur,
			wj_user_trade_account trade
		WHERE
			trade.user_id = #{userId}
		AND trade.trade_type = 'v1'
		AND ur.user_id = trade.user_id
		AND ur.trade_type=trade.trade_type
		AND ur.batch_status = 'success'
		AND ur.product_receive > 0
		ORDER BY
			ur.create_date DESC
		LIMIT #{page},10
     
     </select>
     
     
      <!-- v账户冻结金额详细-->
      <select id="queryVAccountFrozenDetail" parameterType="java.util.Map" resultType="java.util.Map">
           SELECT
				TRUNCATE (o.total_price, 2) AS 'amount',
				date_format(o.create_date,'%Y-%m-%d %H:%i:%S') AS 'date',
				o.title AS 'title',
                IF(card.bank_name IS NULL,'',CONCAT(card.bank_name,'(尾号',RIGHT(card.bank_card_no,4),')')) AS bank,
			  IF(card.bank_code IS NULL,'',card.bank_code) AS bankCode,
			  o.order_type AS orderType,
			  o.order_status AS orderStatus,
			  '金额' AS amountTitle,
			  '类型' AS typeTitle,
			  o.order_no as 'orderNo'
			FROM
				wj_order o
                LEFT JOIN wj_trade_account_card card on o.trade_account_card_id=card.id
			WHERE
				o.user_id = #{userId}
			AND o.order_type IN (
				'transfer_v1_to_ma',
				'apply_ma_to_v1'
			)
			AND o.order_status IN (
				'transfer_v1_to_ma_noconfirm',
				'apply_ma_to_v1_noconfirm'
			)
			ORDER BY
			    o.create_date DESC
			LIMIT #{page},10    
     </select>
     
        
     <!-- 获取真实份额-->
     <select id="queryVAccountRealRemianTotalAmount" resultType="java.math.BigDecimal">
  	   <![CDATA[
			SELECT
			IF (
				v1_real_apply_remain_amount < 0,
				'0',
				v1_real_apply_remain_amount
			) AS remainTotalAmount
			FROM
				wj_v1_mock_info	]]>
     </select>
     
    
     
     <!-- 查询个人可申购的份额(个人可申购份额>总盘数,取总盘数 )-->
     <select id="queryVAccountCanApplyRemainAmount" parameterType="java.lang.String"  resultType="java.math.BigDecimal">
       <![CDATA[
			SELECT
				CASE
			WHEN cc.remainAmount > cc.remainTotalAmount THEN
				cc.remainTotalAmount
			WHEN cc.remainAmount < cc.minApply THEN
				0
			ELSE
				cc.remainAmount
			END AS canApplyRemainAmountBigDecimal
			FROM
				(
					SELECT
						(
							(
								SELECT
									cp.param_value AS limitValue
								FROM
									comm_params cp
								WHERE
									cp.param_key = 'v1_apply_limit_amount'
								AND cp.param_group = 'mock_task'
							) - (
								SELECT
									IFNULL(sum(o.total_price), 0) AS totalApplyPrice
								FROM
									wj_order o
								WHERE
									o.order_type = 'apply_ma_to_v1'
								AND o.user_id = #{userId}
								AND o.order_status IN (
									'apply_ma_to_v1_noconfirm',
									'apply_ma_to_v1_confirm'
								)
							) + (
								SELECT
									IFNULL(sum(o.total_price), 0) AS totalTransferPrice
								FROM
									wj_order o
								WHERE
									o.order_type = 'transfer_v1_to_ma'
								AND o.user_id = #{userId}
								AND o.order_status IN (
									'transfer_v1_to_ma_confirm'
								)
							) - (
								SELECT
									IFNULL(sum(c.product_receive), 0)
								FROM
									fund_user_receive c
								WHERE
									c.user_id = #{userId}
								AND c.trade_type = 'v1'
							)
						) AS remainAmount,
						(
							SELECT
			
							IF (
								v1_real_apply_remain_amount < 0,
								'0',
								v1_real_apply_remain_amount
							) AS remainTotalAmount
							FROM
								wj_v1_mock_info
						) AS remainTotalAmount,
						(
							SELECT
								TRUNCATE (cp2.param_value, 2)
							FROM
								comm_params cp2
							WHERE
								cp2.param_group = 'mock_task'
							AND cp2.param_key = 'v1_apply_min_limit'
						) AS minApply
					FROM
						DUAL
				) cc
     ]]>
     </select>
     
     
     
</mapper>