<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Mapper接口 -->
<mapper namespace="com.zhuanyi.vjwealth.wallet.service.mainbiz.plan.server.mapper.IWjSalaryPlanRecordMapper">

    <select id="queryWjSalaryPlanRecordByPlanId" resultType="com.zhuanyi.vjwealth.wallet.service.mainbiz.plan.server.dto.WjSalaryPlanRecordDTO">
       select id,r.plan_id planId,r.user_id userId,r.amount,r.aside_bank_phone asideBankPhone,
			r.bank_card_no bankCardNo,r.bank_code bankCode,r.bank_name bankName,
			r.card_ower cardOwer,r.create_by createBy,r.create_date createDate,
			r.record_date recordDate,r.record_status recordStatus,r.update_by updateBy,
			r.update_date updateDate
      from wj_salary_plan_record  r
      where r.plan_id=#{planId}
      and exists(
			select * from wj_salary_plan wsp where is_valid=0 and r.plan_id=wsp.id
		)
      order by id desc
    </select>

    <select id="queryWjSalaryPlanInfo" resultType="com.zhuanyi.vjwealth.wallet.service.mainbiz.plan.server.dto.WjSalaryPlanRecordDTO">
       select id,r.plan_id planId,r.user_id userId,r.amount,r.aside_bank_phone asideBankPhone,
        r.bank_card_no bankCardNo,r.bank_code bankCode,r.bank_name bankName,
        r.card_ower cardOwer,r.create_by createBy,r.create_date createDate,
        r.record_date recordDate,r.record_status recordStatus,r.update_by updateBy,
        r.update_date updateDate
        from wj_salary_plan_record  r
        where r.user_id=#{userId}
        and exists(
			select * from wj_salary_plan wsp where is_valid=0 and r.plan_id=wsp.id
			<if test="planStatus!=null">
               and wsp.plan_status=#{planStatus}
            </if>
		)
        order by id desc
		limit 1
    </select>

    <insert id="insertWjSalaryPlanRecordByPlanId">
         insert into wj_salary_plan_record(
            plan_id,
            user_id,
            record_date,
            amount,
            record_status,
            card_ower,
            bank_card_no,
            aside_bank_phone,
            bank_name,
            bank_code,
            create_by,
            create_date
            )
          select 
            plan.id,
            plan.user_id,
            #{param.recordDate},
            amount,
            #{param.recordStatus},
            card_ower,
            card.bank_card_no,
            aside_bank_phone,bank_name,
            bank_code,plan.user_id,
            now()
          from wj_salary_plan plan,wj_trade_account_card card
          where 
              card_id=card.id
          and plan.id= #{param.planId}
    </insert>

    <update id="updateSalaryPlanRecordStatus">
        update wj_salary_plan_record
        set
          update_date=now(),
          record_status=#{param.recordStatus}
        where id = #{param.id}
    </update>




</mapper>