.version.index /* version checker */
{
	color: #00001A;
	background-color: #F41AE9;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1080px;
	min-height: 1920px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u80
{
	z-index: 2;
	width: 33px;
	min-height: 34px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -100px;
}

#u110-286
{
	z-index: 3;
	width: 1060px;
	min-height: 2832px;
	background-color: transparent;
	font-size: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 10px;
}

#u110-2
{
	text-align: center;
	line-height: 45px;
}

#u110-3
{
	line-height: 45px;
}

#u110-9
{
	text-align: left;
	line-height: 45px;
}

#u110-5,#u110-6,#u110-8,#u110-11,#u110-12,#u110-14,#u110-15,#u110-17,#u110-18,#u110-20,#u110-21,#u110-23,#u110-24,#u110-26,#u110-27,#u110-29,#u110-30,#u110-32,#u110-33,#u110-35,#u110-36,#u110-38,#u110-39,#u110-41,#u110-42,#u110-44,#u110-45,#u110-47,#u110-48,#u110-50,#u110-51,#u110-53,#u110-54,#u110-56,#u110-57,#u110-59,#u110-60,#u110-62,#u110-63,#u110-65,#u110-66,#u110-68,#u110-69,#u110-71,#u110-72,#u110-74,#u110-75,#u110-77,#u110-78,#u110-80,#u110-81,#u110-83,#u110-84,#u110-86,#u110-87,#u110-89,#u110-90,#u110-92,#u110-93,#u110-95,#u110-96,#u110-98,#u110-99,#u110-101,#u110-102,#u110-104,#u110-105,#u110-107,#u110-108,#u110-110,#u110-111,#u110-113,#u110-114,#u110-116,#u110-117,#u110-119,#u110-120,#u110-122,#u110-123,#u110-125,#u110-126,#u110-128,#u110-129,#u110-131,#u110-132,#u110-134,#u110-135,#u110-137,#u110-138,#u110-140,#u110-141,#u110-143,#u110-144,#u110-146,#u110-147,#u110-149,#u110-150,#u110-152,#u110-153,#u110-155,#u110-156,#u110-158,#u110-159,#u110-161,#u110-162,#u110-164,#u110-165,#u110-167,#u110-168,#u110-170,#u110-171,#u110-173,#u110-174,#u110-176,#u110-177,#u110-179,#u110-180,#u110-182,#u110-183,#u110-185,#u110-186,#u110-188,#u110-189,#u110-191,#u110-192,#u110-194,#u110-195,#u110-197,#u110-198,#u110-200,#u110-201,#u110-203,#u110-204,#u110-206,#u110-207,#u110-209,#u110-210,#u110-212,#u110-213,#u110-215,#u110-216,#u110-218,#u110-219,#u110-221,#u110-222,#u110-224,#u110-225,#u110-227,#u110-228,#u110-230,#u110-231,#u110-233,#u110-234,#u110-236,#u110-237,#u110-239,#u110-240,#u110-242,#u110-243,#u110-245,#u110-246,#u110-248,#u110-249,#u110-251,#u110-252,#u110-254,#u110-255,#u110-257,#u110-258,#u110-260,#u110-261,#u110-263,#u110-264,#u110-266,#u110-267,#u110-269,#u110-270,#u110-272,#u110-273,#u110-275,#u110-276,#u110-278,#u110-279,#u110-281,#u110-283
{
	text-align: justify;
	line-height: 45px;
}

#u110-284
{
	text-align: justify;
	line-height: 36px;
}

body
{
	position: relative;
	min-width: 1080px;
}

#page .verticalspacer
{
	clear: both;
}

