@charset "utf-8";

/*==账户中心 绑卡==*/
.recharge-bind{}

.b-box{border-top:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2; background:#fff;  }
.b-box .item-wrap{border-bottom:1px solid #f2f2f2;}
.b-box .item:last-child .item-wrap{border-bottom:0;}

.amount-bar{line-height:40px; padding-left:20px; color:#9b9b9b; font-size:15px; }
.b-box .item{padding-left:16px; display:block; font-size:15px;}
.b-box .item-wrap{height:52px; overflow:hidden;}
.b-box .item .col-l{float:left; width:113px;  margin-left:-100%;}
.b-box .item .col-l .text{ padding-left:4px; line-height:52px; }
.b-box .item .col-r{width:100%; float:left; }
.b-box .item .col-r .con{margin:0 0 0 113px;line-height:52px; height:52px; position:relative;}
.b-box .item .col-r .inp-text{border:0; width:100%; background:none; font-size:15px; height:20px; line-height:20px; padding:16px 0;}
.b-box .item .col-r .gray-tip{color:#d8d8d8; }
.b-box .item .col-r .bank-name{color:#5d7a8d; }
.unbind-tip{color:#d8d8d8; padding:10px 0 10px 30px;}
.btn-bar{padding:20px 20px 0;}
.ui-button{display:block;width:100%; }
.code-btn{width:78px;  border-radius:3px;  height:24px; overflow:hidden; text-align:center; line-height:24px; background:#4ac0f0; font-size:12px; color:#fff; position:absolute; right:15px; top:14px; }
.code-btn.g-act-taped{background:#0879b2;}
.tip{line-height:39px; text-align:center; font-size:12px;}
.tip a{color:#4ac0f0; }