@charset "utf-8";

/*==账户中心 充值第一步==*/
.b-box{}
.b-box .item-wrap{}
.b-box .item:last-child .item-wrap{border-bottom:0;}
.recharge-index{ padding-top:20px;}
.b-box{}
.b-box .item{padding-left:20px; display:block; font-size:15px;background:#fff; border-top:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;  }
.b-box .item_bankInfor{}
.b-box .item_inputSum{margin-top:10px;}
.b-box .item-wrap{height:62px; overflow:hidden;}

.b-box .item .col-l{float:left; width:90px; margin-left:-100%;}
.b-box .item .col-l .text{ line-height:58px; }
.b-box .item .col-l .bank{background:url(../img/recharge-bank.png) 0 center no-repeat; background-size:19px 14px;}
.b-box .item .col-l .money{background:url(../img/recharge-money.png) 0 center no-repeat; background-size:19px 14px;}
.b-box .item .col-r{width:100%; float:left; }
.b-box .item .col-r .con{margin:0 20px 0 90px;line-height:62px;}
.b-box .item .col-r .choose{color:#5d7a8d;height:62px; position:relative; background:url(../img/arrow-down.png) right center no-repeat; background-size:14px 7px; }
.b-box .item .col-r .selected{font-size:15px;}
.b-box .item .col-r .inp-text{border:0; width:100%; background:none; font-size:15px; height:20px; line-height:20px;  padding:19px 0; }
.b-box .item_bankInfor .col-r .con{margin-left:0;}

.selected-card{height:62px; position:relative; }
.selected-card .thumb{position:absolute;width:40px; height:40px; left:0; top:11px;}
.selected-card .thumb img{width:40px; height:40px; }
.selected-card .desc{position:absolute;left:50px;right:0;line-height:62px; }

.tip2{ color:#5d7a8d; font-size:12px; height:20px; margin-top:10px;  line-height:20px; padding-left:20px; }



.tip{padding:0 20px; margin-top:10px;  font-size:12px; color:#aaa; line-height:16px;}
.btn-bar{padding:65px 20px 0;}
.btn-bar .ui-button{width:100%;}
.btn-bar2{padding:12px 20px 0px;}
.btn-bar2 .btn{text-align:center; font-size:17px; height:38px; border-radius:5px; display:block; line-height:38px; border:1px solid #42C0F2; color:#42C0F2; }

.recharge-max-bar{line-height:39px; text-align:center; margin-top:30px; font-size:12px; color:#4ac0f0;}


.bank-list .item-wrap{border-bottom:1px solid #f2f2f2;position: relative;}
.bank-list{position:absolute; left:0;right:0;top:45px; bottom:0; overflow:hidden;background: #fff;}
.bank-list2{top:90px;border-top:solid 1px #f2f2f2;}
.bank-list .bank-item{padding-left:15px; height:49px; overflow:hidden;}
.bank-list .bank-item.g-act-taped{background:#f2f2f2;}
.bank-list .desc{float:left;width:100%;}
.bank-list  .bankName{font-size:14px; line-height:20px; padding-top:7px;color:#535353;}
.bank-list  .ext{font-size:12px;color:#9b9b9b;}
.bank-list .desc-con{margin-left:40px; }
.bank-list .bank-logo{float:left;width:30px;margin-left:-100%; }
.bank-list .bank-logo .img-wrap{width:30px;height:48px;text-align:center; vertical-align:middle; display:table-cell; }
.bank-list .bank-logo img{max-width:30px; max-height:30px;  vertical-align:middle; }
.bank-list .add-item{}
.bank-list .add-item .add-bank{background: url(../../../img/icon_add.png) no-repeat 0 50%; background-size: 15px 15px; padding-left: 20px;margin-left: 3px; color:#f5a623;font-size: 16px;}
.bank-list .add-item .item-wrap{line-height:48px;}
.bank-list .add-item .text{float:left; font-size:14px; }
.bank-list .add-item .arrow{float:right;width:38px; height:48px; line-height:48px; background:url(../img/arrow-r.png) center center no-repeat; background-size:8px 14px;  }
.bank-list .choosed{display: block; background: url(../../../img/icon_gou.png) no-repeat; width: 12px; height: 10px;background-size: 100% 100%;position: absolute;right:20px; top:50%;margin-top:-5px;}
.icon_sign{display: inline-block;line-height: 16px;height: 16px; color: #fff;font-size:10px;  padding:0 3px;position: absolute;right:20px;top:50%;margin-top:-8px; }
.sign_orange{background-color: #f5a623;}

.toptips{margin:0 15px;border-top:dashed 1px #f2f2f2;color: #9b9b9b;font-size:12px;padding:5px 0;}

/*==银行卡弹出==*/
.ui-slidebox{width:100%; height:100%; z-index:100; position:fixed;left:0;top:0; }
.ui-slidebox .alpha{background:#000; opacity:0; position:absolute; left:0;top:0; width:100%; height:100%;z-index:2;}
.ui-slidebox .content{position:absolute; left:0; bottom:0; width:100%; height:315px; background:#fbfbfb; z-index:3;}
.ui-slidebox .content .list-wrap{position:relative; left:0;top:0; width:100%; height:100%; overflow:hidden; }
.ui-slidebox .content .list{ position:absolute; left:0; top:0;height:100%;}
.ui-slidebox .content .slide-item{position:relative; width:100%;  float:left; height:100%;}
.ui-slidebox .handle{height:45px;position:relative; }
.ui-slidebox .handle .close{width:45px; height:45px;   left:0px; top:0px; position:absolute; background:url(../img/close.png) center center no-repeat; opacity:1; background-size:18px 18px; }
.ui-slidebox .handle .close.g-act-taped{opacity:0.5;}
.ui-slidebox .handle .back{width:45px; height:45px; left:0px; top:0px; position:absolute; background:url(../img/arrow-l.png) center center no-repeat; opacity:1; background-size:9.5px 17.5px; }
.ui-slidebox .handle .back.g-act-taped{opacity:0.5;}
.ui-slidebox .handle .text{ display:block; text-align:center; line-height:45px;font-size:16px; color:#535353; }
