<script type="text/template" data-tpl="tpl-main-view">
	
	<ul class="tab fix" id="tab-labels" style="display:none;">
		<li data-target-tab="ma" class="current">
			<span class="text">余额提现</span>
			<span class="split"></span>
			<span class="border"></span>
		</li>
		<li data-target-tab="ea">
			<span class="text">活期提现</span>
			<span class="border"></span>
		</li>
	</ul>
	<div id="tab-contents">
		<div style="display:block;"  id="tab-content-ma">
			<form id="f-form">
				
				<input type="hidden" name="bankCode" value="<# print(self.initData.card.bankCode); #>">
				<input type="hidden" name="cardId" value="<# print(self.initData.card.cardId); #>">
				<input type="hidden" name="cardType" value="<# print(self.initData.card.cardType); #>">
				<div class="b-box">
					<label class="item">
						<div class="item-wrap fix">
							<div class="col-r">
								<div class="con">
									<span class="tip"><# print(self.initData.ma_amountAvailable); #><span>
								</div>
							</div>
							
							<div class="col-l">
								<span class="text bank">可用余额</span>
							</div>
						</div>
					</label>
					<label class="item">
						<div class="item-wrap fix">
							<div class="col-r">
								<div class="con">
									<span class="tip"><# print(self.initData.card.ma_bankFullName); #><span>
								</div>
							</div>
							
							<div class="col-l">
								<span class="text bank">提现银行卡</span>
							</div>
						</div>
					</label>
					
					
					
					<label class="item" for="f-identityNo">
						<div class="item-wrap fix">
							<div class="col-r">
								<div class="con">
									
									<div class="gray-tip"><input name="money" id="f-money"  data-max="<# print(self.initData.ma_amountAvailable); #>" data-min="0.01" placeholder="<# print(self.initData.ma_to_bank_tipInput); #>"  type="number" min="0.01"  step="0.01"  class="inp-text"></div>
								</div>
							</div>
							
							<div class="col-l">
								<span class="text bank">提现金额</span>
							</div>
						</div>
					</label>
					
				</div>
				<div class="tip-bar">
					<# print(self.initData.ma_to_bank_tipContent); #>
				</div>
				
				
				<div class="btn-bar">
					<input type="submit" value="提现申请" g-act-tap="true" id="btn-submit" class="ui-button">
				</div>
			</form>
		</div>
		
		<div id="tab-content-ea" style="display:none;">
			<form id="f-eaForm">
				
				<div class="b-box">
					<label class="item2" >
						<div class="item2-wrap fix">
							<div class="col-r">
								<div class="con fix">
									<div class="bank-info">
										<p class="bank-name"><# print(self.initData.card.ea_bankName); #></p>
										<p class="bank-number"><# print(self.initData.card.ea_bankSufCardNo); #></p>
									</div>
									<div class="safe">安全卡</div>
								</div>
							</div>
							<div class="col-l">
								<span class="bank-logo">
								 
									<img src="<# print(self.getBankImgByCode(self.initData.card.bankCode)); #>">
								</span>
							</div>
						</div>
					</label>
					
					<label class="item2" for="f-identityNo">
						<div class="item2-wrap fix">
							<div class="col-r">
								<div class="con">
									<div class="gray-tip">
										<input name="money" id="f-money2"  data-min="0.01" placeholder="<# print(self.initData.ea_to_bank_tipInput); #>"  type="number" min="0"  step="0.01" class="inp-text">
									</div>
								</div>
							</div>
							<div class="col-l">
								<span class="money"></span>
							</div>
						</div>
					</label>
					
				</div>
				<div class="tip-bar">
					<# print(self.initData.ea_to_bank_tipContent); #>
				</div>
				
				
				<div class="btn-bar">
					<input type="submit" value="立即提现" g-act-tap="true" id="btn-submit2" class="ui-button">
				</div>			
				
			</form>
		</div>
	</div>	
</script>
<div class="page"></div>
