<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.zhuanyi.vjwealth.wallet.service.mainbiz.payment.server.withhold.integration.mapper.IMBTradeRecordMapper">


	<!-- 查询订单信息 -->
	<select id="queryCallBackParamByTradeNo" parameterType="java.lang.String"
		resultType="com.zhuanyi.vjwealth.wallet.service.mainbiz.payment.server.withhold.bo.PaymentCallBackParamBO">
		SELECT
			m.user_id AS userId,
			m.order_no AS orderNo,
			m.order_type AS orderType,
			p.rel_biz_order_status AS relBizOrderStatus,
			p.trade_stauts AS tradeStatus
		FROM
			wj_order m,
			wj_payment_trade_record p
		WHERE
			m.order_no = p.rel_biz_order_no
		AND p.trade_no = #{tradeNo}
	</select>
	
	<select id="queryForBatchChangeStatus" resultType="com.zhuanyi.vjwealth.wallet.service.mainbiz.payment.server.withhold.bo.PaymentCallBackParamBO" parameterType="int">
		SELECT
		    p.trade_no tradeNo,
			m.user_id AS userId,
			m.order_no AS orderNo,
			m.order_type AS orderType,
			p.rel_biz_order_status AS relBizOrderStatus,
			p.trade_stauts AS tradeStatus
		FROM
			wj_order m,
			wj_payment_trade_record p
		WHERE
			m.order_no = p.rel_biz_order_no
		AND p.trade_stauts = 'trade_process'
		AND p.create_date &lt; (
			SELECT
				DATE_SUB(SYSDATE(), INTERVAL 10 MINUTE)
			FROM
				DUAL
		)
	</select>

	<select id="countTradeRecordExitsByTradeNo" resultType="java.lang.Integer">
		SELECT
			COUNT(1)
		FROM
			wj_payment_trade_record t
		WHERE
			t.trade_no = #{tradeNo}
	</select>
	
	<select id="queryTradeRecordByTradeNo" resultType="com.zhuanyi.vjwealth.wallet.service.mainbiz.payment.server.withhold.bo.TradeRecordBO">
		SELECT
			t.id 'id',
			t.trade_no 'tradeNo',
			t.total_price 'totalPrice',
			t.price 'price',
			t.fee 'fee',
			t.trade_stauts 'tradeStatus',
			t.rel_biz_order_no 'relBizOrderNo',
			t.rel_biz_order_status 'relBizOrderStatus',
			t.rel_biz_mesage 'relBizMessage',
			t.create_by 'createBy',
			t.create_date 'createDate',
			t.update_by 'updateBy',
			t.update_date 'updateDate'
		FROM
			wj_payment_trade_record t
		WHERE
			t.trade_no = #{tradeNo}
	</select>

	<select id="queryTradeRecordByOrderNo" resultType="com.zhuanyi.vjwealth.wallet.service.mainbiz.payment.server.withhold.bo.TradeRecordBO">
		SELECT
			t.id 'id',
			t.trade_no 'tradeNo',
			t.total_price 'totalPrice',
			t.price 'price',
			t.fee 'fee',
			t.trade_stauts 'tradeStatus',
			t.rel_biz_order_no 'relBizOrderNo',
			t.rel_biz_order_status 'relBizOrderStatus',
			t.rel_biz_mesage 'relBizMessage',
			t.create_by 'createBy',
			t.create_date 'createDate',
			t.update_by 'updateBy',
			t.update_date 'updateDate'
		FROM
			wj_payment_trade_record t
		WHERE
			t.rel_biz_order_no = #{relBizOrderNo}
	</select>
	
	<insert id="insertTradeSuccessRecord">
		INSERT INTO wj_payment_trade_record (
			trade_no,
			total_price,
			price,
			fee,
			bank_card_no,
			confrim_balance_flag,
			trade_stauts,
			rel_biz_order_no,
			rel_biz_order_status,
			rel_biz_mesage,
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(platformId)">
			plateform_id,
			</if>
			create_date
		)
		VALUES
		(
			#{tradeNo},
			#{amount},
			#{amount},
			0,
			#{bankCardNo},
			'N',
			'trade_success',
			#{relBizOrderNo},
			'biz_success',
			'充值成功',
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(platformId)">
			#{platformId},
			</if>
			now()
		)
	</insert>

	<insert id="insertTradeRecord">
		INSERT INTO wj_payment_trade_record (
			trade_no,
			total_price,
			price,
			fee,
			bank_card_no,
			confrim_balance_flag,
			trade_stauts,
			rel_biz_order_no,
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(platformId)">
			plateform_id,
			</if>
			create_date
		)
		VALUES
		(
			#{tradeNo},
			#{amount},
			#{amount},
			0,
			#{bankCardNo},
			'N',
			'trade_process',
			#{relBizOrderNo},
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(platformId)">
			#{platformId},
			</if>
			now()
		)
	</insert>

	<update id="updateTradeRecordSuccess">
		UPDATE wj_payment_trade_record SET 
			rel_biz_order_status = #{relOrderStatus}, 
			trade_stauts = 'trade_success',
		 	rel_biz_mesage =#{relBizMessage}
		WHERE
			trade_no =#{tradeNo}
	</update>
	
	<update id="updateTradePlatformAndBizOrder">
		UPDATE wj_payment_trade_record SET 
			plateform_id = #{platformId}
			<if test="@org.apache.commons.lang.StringUtils@isNotBlank(relBizOrderNo)">
			, rel_biz_order_no =#{relBizOrderNo}
			</if>
		WHERE
			trade_no =#{tradeNo}
	</update>

	<update id="updateTradeRecordFail">
		UPDATE wj_payment_trade_record SET 
			rel_biz_order_status = #{relOrderStatus},
			trade_stauts = 'trade_failed',
		 	rel_biz_mesage =#{relBizMessage}
		WHERE
			trade_no =#{tradeNo}
	</update>


</mapper>