<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rqb.ips.depository.platform.mapper.IpsOpenUsersMapper">
	<!-- ips传入json数据 -->
	<insert id="insertInfo" parameterType="java.util.Map">
		INSERT INTO
		wj_ebatong_trade_history (
		create_date,
		operation_type,
		notice_send_json
		)
		VALUES
		(
		NOW(),
		'user_register',
		#{json}
		)
	</insert>
	<!-- ips传入json数据 -->
	<insert id="insertJsons" parameterType="java.util.Map">
		INSERT INTO
		wj_ebatong_trade_history (
		status,
		source,
		operation_type,
		create_date,
		recharge_send_json,
		recharge_return_json
		)
		VALUES
		(
		#{status},
		#{source},
		#{operationType},
		NOW(),
		#{sendJson},
		#{returnJson}
		)
	</insert>
	<!-- 红包金额 -->
	<select id="queryPacketValue" parameterType="java.lang.String"
		resultType="java.util.Map">
		SELECT
		package_amount AS packMoney
		FROM
		rqb_package_info
		WHERE
		user_id = #{rqbUserId}
		AND rel_order_no = #{packetBillNo}
	</select>
	<!-- 下单金额 -->
	<select id="queryFreezeMoney" parameterType="java.lang.String"
		resultType="java.util.Map">
		SELECT
		total_price AS freMoney
		FROM
		wj_order
		WHERE
		user_id
		=#{rqbUserId}
		AND order_no = #{bidBillNo}
	</select>
	<!-- ips查询冻结交易状态 -->
	<select id="queryThredStatus" parameterType="java.lang.String"
		resultType="java.util.Map">
		SELECT
		order_status AS sttStatus
		FROM
		wj_order
		WHERE
		user_id = #{id}
		AND order_no = #{bidBillNo}
	</select>
<!-- ips查询红包冻结交易状态 -->
	<select id="queryPacketThredStatus" parameterType="java.lang.String"
		resultType="java.util.Map">
		SELECT
		order_status AS pttStatus
		FROM
		wj_order
		WHERE
		user_id = #{id}
		AND order_no = #{packetBillNo}
	</select>

	<!-- ips查询id -->
	<select id="queryUserId" parameterType="java.lang.String"
		resultType="java.util.Map">
		SELECT
		wj.user_id AS userId
		FROM
		wj_user_trade_account wj
		INNER JOIN rqb_package_info rq ON rq.user_id = wj.user_id
		WHERE
		wj.id =
		#{ipsAcctNo}
	</select>

	<!-- 跟新红包变成可用 -->
	<update id="updateRqbPacketIsUse" parameterType="java.lang.String">
		update
		rqb_package_info
		set is_use='Y'
		where user_id=#{rqbUserId}
	</update>

	<!-- 查询锁 -->
	<select id="queryProductInfor" resultType="int">
		SELECT lock_version
		FROM wj_product_finace WHERE product_id=#{productId}
	</select>

	<!--ips冻结回调更新订单状态 -->
	<update id="updateIpsOrderStatus" parameterType="java.lang.String">
		UPDATE wj_order
		wj
		SET wj.order_status =#{trdStatus},
		wj.update_by = 'ips',
		wj.time_confirm = now(),
		wj.update_date =NOW()
		WHERE
		wj.order_no=#{bidBillNo};
	</update>

	<!--ips紅包冻结回调更新订单状态 -->
	<update id="updateIpsOrderStatusIps" parameterType="java.lang.String">
		UPDATE
		wj_order
		wj
		SET wj.order_status =#{trdStatus},
		wj.update_by = 'ips',
		wj.time_confirm = now(),
		wj.update_date =NOW()
		WHERE
		wj.order_no=#{packetBillNo};
	</update>

	<!-- ips订单号落地 -->
	<update id="updateIpsBillNo" parameterType="java.lang.String">
		UPDATE
		wj_order
		SET
		channel_trade_id =#{ipsBidBillNo}
		WHERE
		user_id = #{rqbUserId}
		AND
		order_no = #{bidBillNo}
		AND product_id = #{productId}
	</update>
	<!-- ips异步订单号落地 -->
	<update id="updateyibuIpsBillNo" parameterType="java.lang.String">
		UPDATE
		wj_order
		SET
		channel_trade_id =#{ipsBidBillNo}
		WHERE
		user_id = #{id}
		AND
		order_no = #{bidBillNo}
		AND product_id = #{productId}
	</update>
	<!-- ips红包异步订单号落地 -->
	<update id="updateyibuIpsPacketBillNo" parameterType="java.lang.String">
		UPDATE
		wj_order
		SET channel_trade_id =#{ipsPacketBillNo}
		WHERE
		user_id = #{id}
		AND order_no = #{packetBillNo}
		AND product_id = #{productId}
	</update>
	<!-- ips红包订单号落地 -->
	<update id="updateIpsPacketBillNo" parameterType="java.lang.String">
		UPDATE
		wj_order
		SET channel_trade_id =#{ipsPacketBillNo}
		WHERE
		user_id = #{rqbUserId}
		AND order_no = #{packetBillNo}
		AND product_id = #{productId}
	</update>



</mapper>