<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuanyi.vjwealth.wallet.service.mainbiz.rqjf.server.mapper.IAccumulateMapper">

	
	<insert id="saveAccumulateDetail" parameterType="java.lang.String">
		INSERT INTO rqb_home_accumulate_detail (
			trade_no,
			trade_price,
			trade_type,
			create_date,
			create_by
		)
		VALUES
			(
				#{tradeNo},
				#{tradePrice},
				#{tradeType},
				now(),
				'SYSTEM'
			)
	</insert>
	
	<update  id="updateFinancesAccumulate" parameterType="java.lang.String">
		update rqb_home_accumulate
		set total=total+#{tradePrice} ,
		count=count+1
		where accumulate_type='year_finances'
	</update>
	
	<update  id="updateLoanAccumulate" parameterType="java.lang.String">
		update rqb_home_accumulate
		set total=total+#{tradePrice} ,
		count=count+1
		where accumulate_type='year_loan'		
	</update>
	
	<update  id="updateAccumulateYearAccumulate" parameterType="java.lang.String">
		update rqb_home_accumulate
		set total=total+#{tradePrice} ,
		count=count+1
		where accumulate_type='accumulate_year'		
	</update>
	
	

	
	
</mapper>