<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuanyi.vjwealth.wallet.service.mainbiz.rqjf.server.mapper.ICommissionMapper">

	
	<insert id="saveCommissionApply" parameterType="java.lang.String">
		INSERT INTO rqb_ckb_commission (
				trade_no,
				rel_trade_no,
				user_id,
				recommender_user_id,
<!-- 				order_no, -->
				trade_type,
				trade_price,
				apply_status,
				create_date,
				create_by
				
			)
			VALUES
			(
	
					get_full_seq_nextval('TR','rqb_ckb_commission'),
					#{relTradeNo},
					#{userId},
					#{recommenderUserId},
<!-- 					#{orderNo}, -->
					#{tradeType},
					#{tradePrice},
					'process',
					now(),
					'SYSTEM'
		
			)
		
	</insert>
	
	
	
</mapper>