<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuanyi.vjwealth.wallet.service.mainbiz.user.server.integration.mapper.ICouponMapper">

		<select id="checkRedPackageValid" parameterType="java.lang.String" resultType="java.util.HashMap">
		SELECT
			p.package_mark AS packageMark,
			package_amount AS packageAmount,
			<!-- 红包标记  yes no  红包金额 -->
			<!-- 投的金额-起步金额 -->
			(#{investmentAmt}-t.start_amount) as validateAmount,
<!-- 			TIMESTAMPDIFF(DAY,now(),t.end_time) as validateTime, -->
			<!--计算红包是否过期 计算两个个时间差   天    现在的时间 now - 结束时间   -->
			TIMESTAMPDIFF(DAY,DATE_FORMAT(now(),'%Y-%m-%d'),DATE_FORMAT(t.end_time,'%Y-%m-%d')) as validateTime,
			<!-- 是否使用 -->
			t.is_use as isUse 
		from rqb_package_info t,wj_product_finace p
			WHERE
				t.user_id = #{userId}
			AND t.package_id = #{packageId}
			AND p.product_id = #{productId}
			AND t.is_valid = 'Y'
	</select>
	
	<select id="checkCouponsValid" parameterType="java.lang.String" resultType="java.util.HashMap">
		SELECT
			p.coupon_mark AS couponMark,
			t.add_profit as addProfit,
			TRUNCATE ((TIMESTAMPDIFF(DAY,DATE_FORMAT(p.interest_date, '%Y-%m-%d'),DATE_FORMAT(p.end_time, '%Y-%m-%d'))+1) / 30,0) - t.start_period_start AS validateProfit,
<!-- 			TIMESTAMPDIFF(DAY,  now(),t.end_time) AS validateTime, -->
			TIMESTAMPDIFF(DAY,DATE_FORMAT(now(),'%Y-%m-%d'),DATE_FORMAT(t.end_time,'%Y-%m-%d')) as validateTime,
			t.is_use AS isUse
		FROM
			rqb_coupons_info t,
			wj_product_finace p
		WHERE
			t.user_id = #{userId}
		AND t.coupons_id = #{couponsId}
		AND p.product_id = #{productId}
		AND t.is_valid = 'Y'
	</select>
	
	<update id="updatePackageIsUse" parameterType="java.lang.String" >
		update rqb_package_info w
		set is_use='Y',rel_order_no=#{relOrderNo}
		where package_id=#{packageId}
	</update>
	
	
	<update id="updateCouponsIsUse" parameterType="java.lang.String" >
		update rqb_coupons_info w
		set is_use='Y',rel_order_no=#{relOrderNo}
		where coupons_id=#{couponsId}
	</update>
	
	
	
</mapper>