<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuanyi.vjwealth.wallet.service.mainbiz.rqjfmsg.server.mapper.IMessageMapper">

	<select id="getMessageTemplateInfo" parameterType="java.lang.String" resultType="java.util.HashMap">
		select t.title,t.content from rqb_message_push_template t
		where t.template_no=#{templateNo}
		and t.is_valid='Y'
	</select>
	
	<select id="countTemplate" parameterType="java.lang.String" resultType="java.lang.Integer">
		select count(1) from rqb_message_push_template t
		where t.template_no=#{templateNo}
		and t.is_valid='Y'
	</select>
	

	<insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.zhuanyi.vjwealth.wallet.service.mainbiz.rqjfmsg.server.dto.MessageDTO"  >
		INSERT INTO
		wj_user_message_info(
			title,
			sub_title,
			sub_title_type,
			content_type,
			content,
			corner_url,
			type,
			is_show,
			send_date,
			create_by,
			create_date
		)
		VALUES(
		 	#{title},
		 	#{subTitle},
		 	#{subTitleType},
		 	#{contentType},
		 	#{content},
		 	#{cornerUrl},
		 	#{messageType},
		 	'yes',
		 	now(),
			'SYSTEM',
			now()
		)
	</insert>
	
	
	
	 <insert id="insertWjuserMessageRef" parameterType="java.lang.String" >
	    insert into wj_user_message_ref(
	        message_id,
	        user_id,
	        read_type,
	        create_date,
	        create_by)
	    VALUES (
	        #{messageId},
	        #{userId},
	        'unread',
	        now(),
        	'system'
         )
	  </insert>  
  
	

	
	
</mapper>