<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuanyi.vjwealth.wallet.service.mainbiz.rqjf.server.mapper.IRegistSendRecommenderMapper">
	
		<insert id="insertRqbPackageInfo" parameterType="java.lang.Object">
		INSERT INTO
		rqb_package_info(
			user_id,
			package_id,
			package_amount,
			start_amount,
			start_time,
			end_time,
			is_use,
			is_valid,
			channel_from,
			create_by,
			create_date
		)
		VALUES(
		 	#{userId},
			get_full_seq_nextval('PI','rqb_package_info_package_id'),
		 	#{packageAmount},
		 	#{startAmount},
		 	#{startTime},
		 	#{endTime},
		 	'N',
		 	'Y',
		 	'recommend',
			'SYSTEM',
			now()
		)
	</insert>
	
</mapper>