<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhuanyi.vjwealth.wallet.mobile.user.server.integration.mapper.MessageMapper">

	<!-- 查询消息列表 -->
      <select id="queryUserMessageList" parameterType="java.util.Map" resultType="java.util.Map">
			select
				w.id as messageId,
				w.title as title,
				w.sub_title_type as messageType,
				IF(STRCMP('text',sub_title_type),'',w.sub_title) as description,
                IF(STRCMP('graphic',sub_title_type),'',w.sub_title) as imageUrl,
				w.corner_url as subscriptUrl,
				date_format(w.create_date, '%Y-%m-%d') as messageDate,
				w.read_type as readType,
				'立即查看' as urlLabel
			from wj_user_message w
			 where w.user_id=#{userId}
			and w.type=#{messageType}
			and w.is_show='yes'
			ORDER BY w.create_date desc
			LIMIT #{page},10
     </select>


	<select id="queryUserMessageDetailByMessageId" parameterType="java.util.Map" resultType="com.zhuanyi.vjwealth.wallet.mobile.user.dto.MessageDTO">
			SELECT
				m.content_type AS contentType,
				m.title AS title,
				date_format(m.create_date, '%Y-%m-%d')  AS messageDate,
				m.content AS content,
				m.corner_url as cornerUrl
			FROM
				wj_user_message m
			WHERE
				m.id = #{messageId}
			AND m.user_id = #{userId}
	</select>

     <!-- 将消息更新为已读 -->
      <update id="updateUserMessageReadTypeByMessageId" parameterType="java.lang.String">
           UPDATE wj_user_message
			SET read_type = 'read'
			WHERE
				id = #{messageId}
     </update>

     <!-- 将消息更新为已读 -->
      <update id="updateUserMessageReadTypeByUserIdAndMessageId" parameterType="java.lang.String">
           UPDATE wj_user_message
			SET read_type = 'read'
			WHERE
				id = #{messageId}
				AND user_id = #{userId}
     </update>

     <!-- 将消息更新为已读 批量 -->
      <update id="updateUserMessageReadTypeByMessageIds" >
           UPDATE wj_user_message
			SET read_type = 'read'
			WHERE
				id  in
		  <foreach item="item" index="index" collection="array"
				   open="(" separator="," close=")">
			  #{item}
		  </foreach>
     </update>


	<!-- 删除消息，更新消息为不显示 -->
	<update id="deleteUserMessageByMessageId" parameterType="java.lang.String">
		UPDATE wj_user_message
		SET is_show='no'
		WHERE id=#{messageId}
	</update>

	<!-- 删除消息，更新消息为不显示 -->
	<update id="deleteMessageByUserIdAndMessageId" parameterType="java.lang.String">
		UPDATE wj_user_message
		SET is_show='no'
		WHERE id=#{messageId} AND user_id = #{userId}
	</update>

	<!-- 删除消息，更新消息为不显示 批量 -->
	<update id="deleteUserMessageByMessageIds" >
		UPDATE wj_user_message
		SET is_show='no'
		WHERE id in
		<foreach item="item" index="index" collection="array"
				 open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>

	<!-- 删除消息，更新消息为不显示 批量 -->
	<update id="deleteMessageByUserIdAndMessageIds" parameterType="java.util.Map">
		UPDATE wj_user_message
		SET is_show='no'
		WHERE user_id = #{userId} AND id in
		<foreach item="item" index="index" collection="messageIdsArray"
				 open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>
	 
<!-- V32版本######start -->
	<!-- 查询消息列表 -->
      <select id="queryUserMessageListV32" parameterType="java.util.Map" resultType="java.util.Map">
      		select
				info.id as messageId,
				info.title as title,
				info.sub_title_type as messageType,
				IF(STRCMP('text',info.sub_title_type),'',info.sub_title) as description,
                IF(STRCMP('graphic',info.sub_title_type),'',info.sub_title) as imageUrl,
				info.corner_url as subscriptUrl,
				date_format(info.create_date, '%Y-%m-%d') as messageDate,
				ref.read_type as readType,
				'立即查看' as urlLabel
			from wj_user_message_info info
			INNER JOIN wj_user_message_ref ref ON info.id=ref.message_id
			 where ref.user_id=#{userId}
			and info.type=#{messageType}
			and info.is_show='yes'
			ORDER BY info.create_date desc
			LIMIT #{page},10
     </select>
     
     <select id="queryUserMessageDetailByMessageIdV32" parameterType="java.util.Map" resultType="com.zhuanyi.vjwealth.wallet.mobile.user.dto.MessageDTO">
     		SELECT
				info.content_type AS contentType,
				info.title AS title,
				date_format(info.create_date, '%Y-%m-%d')  AS messageDate,
				info.content AS content,
				info.corner_url as cornerUrl,
				case when info.type = 'personal' then '/static/h5/img/xiaoxiic.png' else '/static/h5/img/xiaoxiic_sys.png' end iconPath
			FROM wj_user_message_info info
			INNER JOIN wj_user_message_ref ref ON info.id=ref.message_id
			WHERE
				info.id = #{messageId}
			AND ref.user_id = #{userId}
	</select>
     
    <!-- 将消息更新为已读 -->
     <update id="updateUserMessageReadTypeByUserIdAndMessageIdV32" parameterType="java.lang.String">
          UPDATE wj_user_message_ref
		SET read_type = 'read'
		WHERE
			message_id = #{messageId}
			AND user_id = #{userId}
    </update>
     
    <!-- 删除消息，更新消息为不显示 批量 -->
	<update id="deleteMessageByUserIdAndMessageIdsV32" parameterType="java.util.Map">
		UPDATE wj_user_message_ref
		SET is_show='no'
		WHERE user_id = #{userId} AND message_id in
		<foreach item="item" index="index" collection="messageIdsArray"
				 open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>

	<select id="queryUserHasNewMsgFlag" resultType="boolean">
		SELECT count(1) FROM wj_user_message_ref WHERE read_type = 'unread' AND user_id = #{userId}
	</select>
<!-- V32版本######end -->
</mapper>