<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhuanyi.vjwealth.wallet.mobile.common.server.mapper.IUserLogsMapper">
  
     <!-- 保存用户反馈信息 -->
     <insert id="saveUserOperateLogs" parameterType="com.zhuanyi.vjwealth.wallet.mobile.common.dto.UserLogsDTO">
		INSERT INTO
		wj_user_visitor_logs(
			request_header,
			handler_message,
			exception_meesage,
			consuming_time,
			url,
			uri,
			request_params,
			vistor_time,
			user_channel_type,
			ip,
			create_date
		)
		VALUES(
			#{requestHeader},
			#{handlerMessage},
			#{exceptionMeesage},
			#{consumingTime},
		 	#{url},
		 	#{uri},
		 	#{requestParams},
		 	#{vistorTime},
		 	#{userChannelType},
		 	#{ip},
		 	now()
		)
	</insert>
	
	<select id="queryLogsSwitch" resultType="java.lang.String">
		select IFNULL(cp.param_value,'close') as paramValue from comm_params cp 
		where cp.param_group='common_logs'
		and cp.param_key='log_switch'
	</select>

</mapper>