<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.zhuanyi.vjwealth.wallet.mobile.user.server.integration.mapper.IUserQueryMapper">

	<!-- 查询用户的安全卡(1张) -->
	<select id="queryUserSecurityCardInfo" parameterType="java.lang.String"
		resultType="java.util.Map">
		SELECT
		id AS cardId,
		CONCAT(bank_name,'(尾号',RIGHT (bank_card_no,4),')') AS ma_bankFullName,
		bank_name as ea_bankName,
		CONCAT( '尾号',RIGHT (bank_card_no,4)) as ea_bankSufCardNo,
		card_type AS cardType,
		bank_code AS bankCode
		FROM
		wj_trade_account_card
		WHERE
		user_id = #{userId}
		AND card_type='security'
		AND is_valid='yes'
		LIMIT 0,1
	</select>


	<!-- 查询用户的充值卡 以及 限额(多张) -->
	<select id="queryUserRechargeCardInfo" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		SELECT

		case when (cc.balanceDayLimit - IFNULL(oo.rechargeAmount,0)
		)>cc.balancePerLimit
		then CONCAT('本次可充值',TRUNCATE(cc.balancePerLimit,2),'元')
		else CONCAT( '本次可充值',TRUNCATE((cc.balanceDayLimit -
		IFNULL(oo.rechargeAmount,0) ),2),'元')
		end as tipInput,


		case when (cc.balanceDayLimit - IFNULL(oo.rechargeAmount,0)
		)>cc.balancePerLimit
		then cc.balancePerLimit
		else (cc.balanceDayLimit - IFNULL(oo.rechargeAmount,0) )
		end as remainAmount,

		cc.bank_tipContent ,

		'1' as minBalance,
		cc.cardId,
		cc.bankName,
		cc.cardType,
		cc.bankCode,
		cc.status,

		CONCAT('充值金额至少1元,单笔限额',cc.balancePerLimit,'元',',每日限额',balanceDayLimit,'元')
		as tipContent
		FROM
		(
		SELECT
		card.id AS cardId,
		CONCAT(card.bank_name,'(尾号',RIGHT (card.bank_card_no, 4),')') AS bankName,
		card.card_type AS cardType,
		card.bank_code AS bankCode,
		bl.`status`,
		bl.balance_per_limit AS balancePerLimit,
		bl.balance_day_limit AS balanceDayLimit,
		CASE
		WHEN bl. STATUS != 'normal' THEN
		bl.status_desc
		ELSE
		CONCAT('单笔限额',bl.balance_per_limit,'元',',每日限额',bl.balance_day_limit,'元')

		END AS 'bank_tipContent'
		FROM
		wj_trade_account_card card,
		wj_bank_balance_limit bl
		WHERE
		user_id =#{userId}
		AND card.is_valid = 'yes'
		AND card.card_type = 'recharge'
		AND card.bank_code = bl.bank_code
		) cc
		LEFT JOIN (
		SELECT
		IFNULL(sum(total_price), 0) AS rechargeAmount,
		w.trade_account_card_id
		FROM
		wj_order w
		WHERE
		user_id =#{userId}
		AND order_type = 'recharge_ma'
		AND order_status =
		'recharge_ma_confirm'
		AND date_format(create_date, '%Y-%m-%d') =
		date_format(now(), '%Y-%m-%d')
		GROUP BY w.trade_account_card_id
		) oo ON
		oo.trade_account_card_id = cc.cardId
	</select>

	<!-- 查询用户的充值卡 以及 限额(多张)V3.2版本 -->
	<select id="queryUserRechargeCardInfoV32" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		SELECT
		case when (cc.balanceDayLimit - IFNULL(oo.rechargeAmount,0)
		)>cc.balancePerLimit
		then CONCAT('本次可充值',TRUNCATE(cc.balancePerLimit,2),'元')
		else CONCAT( '本次可充值',TRUNCATE((cc.balanceDayLimit -
		IFNULL(oo.rechargeAmount,0) ),2),'元')
		end as tipInput,

		case when (cc.balanceDayLimit - IFNULL(oo.rechargeAmount,0)
		)>cc.balancePerLimit
		then cc.balancePerLimit
		else (cc.balanceDayLimit - IFNULL(oo.rechargeAmount,0) )
		end as remainAmount,

		cc.bank_tipContent ,

		cc.balanceMinLimit as minBalance,

		cc.cardId,
		cc.bankName,
		cc.cardType,
		cc.bankCode,
		cc.`status`,

		CONCAT('充值金额至少',cc.balanceMinLimit,'元,单笔限额',cc.balancePerLimit,'元',',每日限额',balanceDayLimit,'元')
		as tipContent
		FROM
		(
		SELECT
		card.id AS cardId,
		CONCAT(card.bank_name,'(尾号',RIGHT (card.bank_card_no, 4),')') AS bankName,
		card.card_type AS cardType,
		card.bank_code AS bankCode,
		bl.`status`,
		TRUNCATE(bl.single_limit,0)AS balancePerLimit,
		TRUNCATE(bl.perday_limit,0)AS balanceDayLimit,

		case
		WHEN IFNULL(bl.single_min_limit,0)&lt;1
		THEN '1'
		ELSE TRUNCATE(bl.single_min_limit,1)
		END as balanceMinLimit,

		CASE
		WHEN bl.`STATUS` != 'normal' THEN
		bl.status_desc
		ELSE
		CONCAT('单笔限额',TRUNCATE(bl.single_limit,0),'元',',每日限额',TRUNCATE(bl.perday_limit,0),'元')
		END AS 'bank_tipContent'
		FROM
		wj_trade_account_card card,
		wj_currently_recharge_bank crb,
		common_pay_plateform_bank bl
		WHERE
		user_id =#{userId}
		AND card.is_valid = 'yes'
		AND card.card_type = 'recharge'
		AND card.bank_code = crb.bank_code
		AND crb.bank_code = bl.bank_code
		AND crb.plateform_id = bl.plateform_id
		) cc
		LEFT JOIN (
		SELECT
		IFNULL(sum(total_price), 0) AS rechargeAmount,
		w.trade_account_card_id
		FROM
		wj_order w
		WHERE
		user_id =#{userId}
		AND order_type = 'recharge_ma'
		AND order_status =
		'recharge_ma_confirm'
		AND date_format(create_date, '%Y-%m-%d') =
		date_format(now(), '%Y-%m-%d')
		GROUP BY w.trade_account_card_id
		) oo ON
		oo.trade_account_card_id = cc.cardId
	</select>

	<!-- 查询用户的充值卡 是否支持易宝 以及 限额(多张)V3.6版本 -->
	<select id="queryUserRechargeCardInfoV36" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		SELECT
		case when (ucard.perday_limit -
		IFNULL(tr.totalAmount, 0))>ucard.single_limit
		then
		CONCAT('本次可充值',TRUNCATE(ucard.single_limit,2),'元')
		else
		CONCAT('本次可充值',TRUNCATE((ucard.perday_limit - IFNULL(tr.totalAmount,
		0)),2),'元')
		end as tipInput,
		(CASE WHEN (ucard.perday_limit -
		IFNULL(tr.totalAmount, 0)) > ucard.single_limit THEN
		ucard.single_limit
		ELSE (ucard.perday_limit - IFNULL(tr.totalAmount,
		0))
		END) remainAmount,
		(case when ucard.isSupportCard='true' then
		ucard.bank_tipContent else '暂不支持' end) bank_tipContent,
		ucard.single_min_limit as minBalance,
		ucard.id as cardId,
		CONCAT(ucard.bank_name,'(尾号',RIGHT (ucard.bank_card_no, 4),')') AS
		bankName,
		'recharge' as cardType,
		ucard.bank_code bankCode,
		ucard.`status`,
		CONCAT('充值金额至少',ucard.single_min_limit,'元,单笔限额',ucard.single_limit,'元',',每日限额',ucard.perday_limit,'元')
		as tipContent,
		ucard.isSupportCard 'isYeepSupport'
		FROM
		(
		SELECT
		userCards.*, com_bank.plateform_name,
		TRUNCATE(com_bank.single_limit,0) single_limit,
		case
		WHEN
		IFNULL(com_bank.single_min_limit,0)&lt;1
		THEN '1'
		ELSE
		TRUNCATE(com_bank.single_min_limit,1)
		END as single_min_limit,
		com_bank.perday_limit,
		com_bank.`status`,
		CASE
		WHEN com_bank.`STATUS` !=
		'normal' THEN
		com_bank.status_desc
		ELSE
		CONCAT('单笔限额',TRUNCATE(com_bank.single_limit,0),'元',',每日限额',TRUNCATE(com_bank.perday_limit,0),'元')
		END AS 'bank_tipContent'
		FROM
		(
		SELECT
		w.id,
		w.bank_code,
		w.bank_card_no,
		w.user_id,
		w.card_type,
		w.bank_name,
		CASE
		WHEN bindCard.card_no IS NULL
		THEN
		'false'
		ELSE
		'true'
		END 'isSupportCard',
		bindCard.platform_id
		FROM
		wj_trade_account_card w
		INNER JOIN (SELECT * FROM wj_pay_bind_card_ref
		WHERE platform_id = (SELECT platform_id FROM
		wj_currently_withhold_routing_for_loan WHERE biz_type =
		'salary_plan_bankcard_withhold' ORDER BY priority desc LIMIT 0,1))
		bindCard
		ON w.bank_card_no = bindCard.card_no
		WHERE
		w.user_id =#{userId}
		AND w.card_type = 'recharge'
		AND w.is_valid = 'yes'
		AND bindCard.is_bind
		= 'yes'
		) userCards
		LEFT JOIN common_withhold_plateform_bank com_bank ON
		(
		userCards.bank_code = com_bank.bank_code
		AND com_bank.plateform_id =
		userCards.platform_id
		)
		) ucard
		LEFT JOIN (
		SELECT
		SUM(IFNULL(total_price,
		0)) totalAmount,
		mm.bank_card_no,
		mm.plateform_id platfId
		FROM
		wj_payment_trade_record mm
		WHERE
		mm.trade_stauts = 'trade_success'
		AND
		DATE_FORMAT(mm.create_date, '%Y%m%d') = DATE_FORMAT(now(), '%Y%m%d')
		GROUP BY
		mm.bank_card_no,
		mm.plateform_id
		) tr ON (
		tr.bank_card_no =
		ucard.bank_card_no
		AND tr.platfId = ucard.platform_id
		)
	</select>

	<!--查询用户当日成功充值的总金额 -->
	<select id="queryUserRechargeSuccessOneDay" parameterType="java.lang.String"
		resultType="java.lang.String">
		SELECT
		sum(total_price)
		FROM
		wj_order
		WHERE
		user_id = #{userId}
		AND order_type = 'recharge_ma'
		AND order_status =
		'recharge_ma_confirm'
		AND date_format(create_date, '%Y-%m-%d') =
		date_format(now(), '%Y-%m-%d')
	</select>


	<!-- 查询用户的所有银行卡 (多张) -->
	<select id="queryUserAllCardInfo" parameterType="java.lang.String"
		resultType="java.util.Map">
		SELECT
		card.id AS cardId,
		CONCAT('尾号',RIGHT (card.bank_card_no, 4)) AS 'sufCardNo',
		card.bank_name AS bankName,
		card.card_type AS cardType,
		card.bank_code AS bankCode,
		'normal' as status
		FROM
		wj_trade_account_card card
		WHERE
		card.user_id = #{userId}
		AND card.is_valid='yes'
	</select>


	<!-- 查询用户的所有银行卡 数量 -->
	<select id="queryUserAllCardNum" parameterType="java.lang.String"
		resultType="java.util.Map">
		SELECT
		count(1) as cardNum
		FROM
		wj_trade_account_card
		WHERE
		user_id = #{userId}
		AND is_valid='yes'
	</select>



	<!-- 用户个人消息 -->
	<select id="queryUserPersonalMessageList" parameterType="java.util.Map"
		resultType="java.util.Map">
		SELECT
		id,
		title,
		sub_title AS subTitle,
		read_type AS readType,
		date_format(create_date,'%Y-%m-%d') AS createDate
		FROM
		wj_user_message
		WHERE
		user_id = #{userId}
		AND type = 'personal'
		AND is_show='yes'
		order by create_date DESC
		LIMIT #{page},10

	</select>

	<!-- 用户系统消息 -->
	<select id="queryUserSystemMessageList" parameterType="java.util.Map"
		resultType="java.util.Map">
		SELECT
		id,
		title,
		sub_title AS subTitle,
		read_type AS readType,
		date_format(create_date,'%Y-%m-%d') AS createDate
		FROM
		wj_user_message
		WHERE
		user_id = #{userId}
		AND type = 'system'
		AND is_show='yes'
		order by create_date DESC
		LIMIT #{page},10

	</select>


	<!-- 根据消息主键查询 -->
	<select id="queryUserMessageById" parameterType="java.lang.String"
		resultType="java.util.Map">
		SELECT
		content,
		CASE
		WHEN type = 'system' THEN
		'系统消息'
		ELSE
		'个人消息'
		END AS type,
		DATE_FORMAT(create_date,'%Y-%m-%d') AS createDate
		FROM
		wj_user_message
		WHERE
		id = #{id}
		AND is_show='yes'
	</select>


	<!-- 查询用户消息数 <select id="queryUserMessageNum" parameterType="java.lang.String" 
		resultType="java.util.Map"> SELECT count(1) as userMessageNum FROM wj_user_message 
		WHERE user_id = #{userId} and is_show='yes' and read_type='unread' </select> -->
	<!-- v3.2版,查询用户消息数 -->
	<select id="queryUserMessageNum" parameterType="java.lang.String"
		resultType="java.util.Map">
		select
		count(1) as userMessageNum
		from
		wj_user_message_ref r
		LEFT JOIN
		wj_user_message_info info
		on r.message_id=info.id
		WHERE
		r.user_id = #{userId}
		and info.is_show='yes'
		and r.read_type='unread'

	</select>



	<!-- 将消息更新为已读 -->
	<update id="updateUserMessageReadById" parameterType="java.lang.String">
		UPDATE wj_user_message
		SET read_type = 'read'
		WHERE
		id = #{id}

	</update>


	<!-- 查询用户手机号和头像文件id -->
	<select id="queryUserPhoneAndHeadPictureId" parameterType="java.lang.String"
		resultType="java.util.Map">
		SELECT
		concat (LEFT(phone,3),'****',RIGHT(phone,4)) AS phone,
		head_sculpture_id AS headSculptureId
		FROM
		wj_user_info
		WHERE
		id = #{userId}

	</select>


	<!-- 查询用户手机号和实名认证标示 -->
	<select id="queryUserPhoneAndIsShowCerty" parameterType="java.lang.String"
		resultType="java.util.Map">
		SELECT
		concat (LEFT(phone,3),'****',RIGHT(phone,4)) AS
		phone,
		CASE WHEN indentity_type = '01' AND indentity_no is NOT NULL AND
		indentity_no != '' then 'yes'
		ELSE 'no'
		END AS 'isShowCerty'
		FROM
		wj_user_info
		WHERE
		id = #{userId}

	</select>


	<!-- 查询用户手机号,实名认证标示,是否是工资单用户 -->
	<select id="queryUserPhoneAndIsShowCertyAndIsInvestment"
		parameterType="java.lang.String" resultType="java.util.Map">
		SELECT
		concat
		(LEFT(phone,3),'****',RIGHT(phone,4)) AS phone,
		IF((SELECT count(1)
		FROM wj_investment_record WHERE user_id = #{userId})>0,"yes","no") as
		isShowInvertmentRecord,

		CASE WHEN
		IFNULL(QUERY_PARAM_VALUE("vj_payment_password_switch","wallet_payment_password"),'')
		= 'open'
		AND indentity_type = '01' AND indentity_no is NOT NULL AND indentity_no
		!= ''
		then 'yes'
		ELSE 'no' END as isShowPaymentPassword,
		CASE WHEN indentity_type = '01' AND
		indentity_no is NOT NULL AND indentity_no != '' then 'yes'
		ELSE 'no'
		END AS 'isShowCerty'
		FROM
		wj_user_info
		WHERE
		id = #{userId}

	</select>


	<!-- 查询用户是否是工资单用户 -->
	<select id="getIsSign" parameterType="java.lang.String"
		resultType="java.lang.String">
		SELECT
		CASE WHEN is_sign = '1' then 'yes'
		ELSE 'no'
		END AS isSign
		FROM
		wj_user_info
		WHERE
		id = #{userId}

	</select>

	<!-- 查询银行卡限额列表V3.2 -->
	<select id="queryAllSupportBankListV32"
		resultType="com.zhuanyi.vjwealth.wallet.service.balance.common.dto.BankBalanceLimitDTO">
		select
		tem.bank_code AS bankCode,
		tem.bank_name AS bankName,
		TRUNCATE(tem.single_limit,0)AS remainAmount,

		case
		WHEN IFNULL(tem.single_min_limit,0)&lt;1
		THEN '1'
		ELSE TRUNCATE(tem.single_min_limit,1)
		END as minBalance,

		tem.`status` as status,
		tem.isRecommend as isRecommend,
		CASE
		WHEN tem.`STATUS` != 'normal'
		THEN tem.status_desc
		ELSE
		CONCAT('单笔限额:', TRUNCATE(tem.single_limit,0),'元',',每日限额:',
		TRUNCATE(tem.perday_limit,0) ,'元')
		END AS 'bank_tipContent',
		CONCAT('充值金额至少',tem.singleMinLimit,'元,单笔限额:', TRUNCATE(tem.single_limit,0),'元,每日限额:',
		TRUNCATE(tem.perday_limit,0),'元' ) as 'tipContent',
		CONCAT('本次最多可充值:', TRUNCATE(tem.single_limit,0),'元') as 'tipInput'
		FROM
		(
		SELECT
		t.bank_code ,
		t.bank_name ,
		t.single_limit,
		t.single_min_limit,
		t.`status` ,
		t.status_desc,
		t.perday_limit,
		crb.is_recommend as isRecommend,
		case
		WHEN IFNULL(t.single_min_limit,0)&lt;1
		THEN '1'
		ELSE TRUNCATE(t.single_min_limit,1)
		END as singleMinLimit
		FROM
		wj_currently_recharge_bank crb
		INNER JOIN
		common_pay_plateform_bank t
		ON crb.bank_code=t.bank_code AND crb.plateform_id=t.plateform_id and
		t.`STATUS` != 'disable'
		INNER JOIN
		common_pay_plateform b
		ON b.`STATUS`='normal' AND b.plateform_id=t.plateform_id
		ORDER BY sort desc
		)tem
	</select>

	<!-- 查询银行卡限额列表V3.6 -->
	<select id="queryAllSupportBankListV36"
		resultType="com.zhuanyi.vjwealth.wallet.service.balance.common.dto.BankBalanceLimitDTO">
		select
		tem.bank_code AS bankCode,
		tem.bank_name AS bankName,
		TRUNCATE(tem.single_limit,0)AS remainAmount,
		case
		WHEN
		IFNULL(tem.single_min_limit,0)&lt;1
		THEN '1'
		ELSE
		TRUNCATE(tem.single_min_limit,1)
		END as minBalance,

		tem.`status` as
		status,
		tem.isRecommend as isRecommend,
		CASE
		WHEN tem.`STATUS` !=
		'normal'
		THEN tem.status_desc
		ELSE
		CONCAT('单笔限额:',
		TRUNCATE(tem.single_limit,0),'元',',每日限额:',
		TRUNCATE(tem.perday_limit,0) ,'元')
		END AS 'bank_tipContent',
		CONCAT('充值金额至少',tem.singleMinLimit,'元,单笔限额:',
		TRUNCATE(tem.single_limit,0),'元,每日限额:',
		TRUNCATE(tem.perday_limit,0),'元' ) as 'tipContent',
		CONCAT('本次最多可充值:',
		TRUNCATE(tem.single_limit,0),'元') as 'tipInput'
		FROM
		(
		SELECT
		t.bank_code
		,
		t.bank_name ,
		t.single_limit,
		t.single_min_limit,
		t.`status` ,
		t.status_desc,
		t.perday_limit,
		0 as isRecommend,
		(case when
		t.`status`='normal' then 0 else 1 end) as sort,
		case
		WHEN
		IFNULL(t.single_min_limit,0)&lt;1
		THEN '1'
		ELSE
		TRUNCATE(t.single_min_limit,1)
		END as singleMinLimit
		FROM
		( SELECT * FROM
		wj_currently_withhold_bank_for_loan
		WHERE plateform_id = (
		SELECT platform_id FROM wj_currently_withhold_routing_for_loan
		WHERE biz_type = 'salary_plan_bankcard_withhold'
		ORDER BY priority DESC LIMIT 0,1
		)
		) wl
		INNER JOIN
		common_withhold_plateform_bank t
		ON
		wl.bank_code=t.bank_code AND wl.plateform_id=t.plateform_id and
		t.`STATUS` != 'disable'
		INNER JOIN
		common_pay_plateform b
		ON
		b.`STATUS`='normal' AND b.plateform_id=t.plateform_id
		)tem
		ORDER BY
		sort,tem.single_limit desc;
	</select>

	<select id="queryMyInvitePageInfo" resultType="Map">
		SELECT
		<if
			test="userChannelType != null and userChannelType != '' and userChannelType == 'IOS'">
			IFNULL(QUERY_ITEM_NAME('app_pic_myinvite','top_pic_url_ios'),"") as
			topPicUrl,
			IFNULL(QUERY_ITEM_NAME('app_pic_myinvite','bottom_pic_url_ios'),"")
			as bottomPicUrl,
			IFNULL(QUERY_ITEM_NAME('app_pic_myinvite','top_pic_url_ios_new'),"")
			as topPicUrlNew,
			IFNULL(QUERY_ITEM_NAME('app_pic_myinvite','bottom_pic_url_ios_new'),"")
			as bottomPicUrlNew,
		</if>
		<if
			test="userChannelType != null and userChannelType != '' and userChannelType == 'Android'">
			IFNULL(QUERY_ITEM_NAME('app_pic_myinvite','top_pic_url_andriod'),"")
			as topPicUrl,
			IFNULL(QUERY_ITEM_NAME('app_pic_myinvite','bottom_pic_url_andriod'),"")
			as bottomPicUrl,
			IFNULL(QUERY_ITEM_NAME('app_pic_myinvite','top_pic_url_andriod_new'),"")
			as topPicUrlNew,
			IFNULL(QUERY_ITEM_NAME('app_pic_myinvite','bottom_pic_url_andriod_new'),"")
			as bottomPicUrlNew,
		</if>
		IFNULL(QUERY_ITEM_NAME('app_pic_myinvite','share_for_text'),"") as
		shareForText,
		IFNULL(QUERY_ITEM_NAME('app_pic_myinvite','qrcode_text'),"") as
		qrcodeText,
		IFNULL(QUERY_ITEM_NAME('app_pic_myinvite','recommend_text'),"") as
		recommendText
	</select>

	<select id="queryUserAllUsableCashCouponNum" parameterType="String"
		resultType="Map">
		SELECT
		count(1) as cashCouponNum
		FROM
		wj_coupon_user,
		wj_coupon
		WHERE
		wj_coupon_user.wj_coupon_id = wj_coupon.id
		AND wj_coupon.`status` = 'coupon_unused'
		AND
		wj_coupon.isvalid = 'Y'
		AND wj_coupon.expire_day &gt;= curdate()
		AND
		wj_coupon_user.wj_user_info_id = #{userId}
	</select>

	<select id="queryPolicyPicUrlByPolicyNo" parameterType="java.lang.String"
		resultType="java.lang.String">
		SELECT
		policy_pic_url AS policyPicUrl
		FROM
		wj_product_finace
		WHERE
		policy_no = #{policyNo}
		LIMIT 0, 1;
	</select>

	<select id="queryUserPhoneNo" parameterType="java.lang.String"
		resultType="java.lang.String">
		SELECT user_name  AS userName FROM wj_user_info;
	</select>

	<select id="existUserByPhone" resultType="boolean">
		SELECT COUNT(id) FROM
		wj_user_info where phone = #{phone}
	</select>

	<select id="queryUserIdByPhone" resultType="string">
		SELECT id FROM
		wj_user_info WHERE phone = #{phone}
	</select>
	
	<!--查询用户开户信息 -->
	<select id="queryUserIsOpenAccount" parameterType="java.lang.String"
		resultType="boolean">
	SELECT
	COUNT(*)
	FROM
	wj_user_trade_account ta
	WHERE
	ta.trade_type = 'ips'
	AND ta.trade_account_status = '1'
	AND ta.user_id =#{userId}


	</select>
	
	
	<!--平台下用户登录接口,查询用户信息 -->
	<select id="queryUserInforByUserId"   parameterType="java.lang.String"
	 
	 resultType="java.util.Map">
		
	SELECT
	ui.user_name AS userName,

	ta.trade_type AS tradeType

	FROM
	wj_user_info ui
	INNER JOIN wj_user_trade_account ta ON ui.id = ta.user_id
	WHERE
	ui.id =#{userId} AND ta.trade_type='ips' and ta.trade_account_status='1' LIMIT 0,1


	</select>
	
	
	
	
</mapper>