<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhuanyi.vjwealth.wallet.mobile.user.server.integration.mapper.IUserInviteInfoMapper">

   <!-- 查询用户推荐人ID-->
     <select id="queryRecommendUserIdByUserId" parameterType="java.lang.String" resultType="java.lang.String">
       		select recommended_user_id as recommendedUserId from wj_user_invite_info
       		where user_id=#{userId}
     </select>
     
   	<!--检查推荐用户是否存在-->
     <select id="queryRecommenderExitByPhone" parameterType="java.lang.String" resultType="java.lang.Integer">
       		select count(1) from wj_user_info w
			where w.phone=#{phone}
     </select>
     
     <!--推荐人不能是自己-->
     <select id="querytRecommenderIsSelfByPhone" parameterType="java.lang.String" resultType="java.lang.Integer">
       		select count(1) from wj_user_info w
			where w.phone=#{phone}
			and w.id =#{userId}
     </select>
     
  	 <!-- 查询推荐用户id-->
     <select id="queryRecommendUserIdByPhone" parameterType="java.lang.String" resultType="java.lang.String">
       		select w.id from wj_user_info w
			where w.phone=#{phone}
     </select>
</mapper>